<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Master Sales Price List" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
                  <div class="col-12 md:col-9">
                    <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
                    <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3">Price Type</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.priceTypeCode" placeholder="Enter Price Type" @change="searchChange('price-type')" :class="{ 'p-invalid': isError && form.priceTypeCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('price-type')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.priceTypeName" placeholder="item Price Type Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Effective Date</label>
                  <div class="col-12 md:col-9">
                    <Calendar id="icon" v-model="form.effectiveDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.effectiveDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Ref No</label>
                  <div class="col-12 md:col-9">
                    <InputText type="text" v-model="form.refNo" placeholder="Enter refNo" autofocus :class="{ 'p-invalid': submitted && !form.refNo }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
                  <div class="col-12 md:col-9">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemSubCategoryCode" header="Item Sub Category" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemDivisionCode" header="Item Division" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="unitOfMeasureCode" header="UoM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="priceList" header="Price List" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">Rp. {{ decimalCurrency(slotProps.data.priceList) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import BlockUI from 'primevue/blockui';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpItem from '@/components/lookup/master/LookUpItem';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    form: {
      code: '',
      effectiveDate: store.state.currentDate,
      priceTypeCode: '',
      priceTypeName: '',
      refNo: '',
      remark: '',
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (!this.form.code) {
          this.isConfirm = true;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == true) {
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },

    remove(row) {
      this.detail.splice(row.index, 1);
    },
    async getData(data) {
      let temp = await this.master.dataMaster('price-list', { code: data });

      this.form = temp.data;
      // console.log(this.form);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.master.searchMaster('price-list/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.accountCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Account Code can't be null!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.effectiveDate = moment(this.form.effectiveDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listPriceListItem = this.detail.map((item) => {
          return {
            itemCode: item.itemCode,
            priceList: item.priceList,
          };
        });
        if (this.submitted) {
          await this.master.updateMaster('price-list', formSubmit);
        } else {
          await this.master.saveMaster('price-list', formSubmit);
        }
        this.cancel();
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'price-type':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Price Type', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.priceTypeCode = data.code;
                this.form.priceTypeName = data.name;
              }
            },
          });
          break;

        default:
          break;
      }
    },
    async searchChange(master) {
      let data = null;
      switch (master) {
        case 'price-type':
          data = await this.master.dataMaster(master, { code: this.form.itemCode });
          this.form.priceTypeCode = data.code;
          this.form.priceTypeName = data.name;
          break;
        default:
          break;
      }
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItem, {
        props: { header: 'Search Master Item', style: { width: '90vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let item = {
                itemCode: datas.code,
                itemName: datas.name,
                itemSubCategoryCode: datas.itemSubCategoryCode,
                itemDivisionCode: datas.itemDivisionCode,
                priceList: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
              };
              this.detail.push(item);
            });
          }
        },
      });
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'priceList':
          this.detail[index].priceList = data['priceList'];
          break;
        default:
          break;
      }
    },

    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
