<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Customer JN Address</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <div class="col-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Code *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="customer.code" placeholder="Enter code" disabled="true" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
                  <small class="p-invalid" v-if="submitted && !customer.code">Code is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Name *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="customer.name" placeholder="Enter name" disabled="true" autofocus :class="{ 'p-invalid': isError && !form.code }" />
                  <small class="p-invalid" v-if="isError && !customer.name">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Address *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="customer.address" disabled="true" placeholder="Enter address" autofocus :class="{ 'p-invalid': isError && !form.address }" />
                  <small class="p-invalid" v-if="isError && !customer.address">Address is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">City *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="customer.cityCode" placeholder="Enter city" disabled="true" :class="{ 'p-invalid': isError && form.cityCode != '' }" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="customer.cityName" placeholder="city name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Province</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="customer.provinceCode" placeholder="Province code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="customer.provinceName" placeholder="Province name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Island</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="customer.islandCode" placeholder="Island code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="customer.islandName" placeholder="Island name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Country</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="customer.countryCode" placeholder="Country code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="customer.countryName" placeholder="Country name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Phone1 *</label>
                <div class="col-12 md:col-4">
                  <div class="p-inputgroup">
                    <InputText type="text" v-model="customer.phone1" placeholder="Enter Phone1" disabled="true" />
                    <small class="p-invalid" v-if="submitted && !customer.phone1">Phone1 is required.</small>
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="customer.phone2" placeholder="Enter Phone 2" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Email</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="customer.emailAddress" placeholder="Enter Email Address" disabled="true" />
                  <small class="p-invalid" v-if="submitted && !customer.emailAddress">Email is required.</small>
                </div>
              </div>
            </div>

            <div class="col-12 md:col-6">
              <h4><b>Invoice</b></h4>

              <div class="field grid mt-3">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Code *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.code" placeholder="Enter Code" disabled autofocus :class="{ 'p-invalid': isError && !form.code }" />
                  <small class="p-invalid" v-if="isError && !form.code">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Name *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.name" placeholder="Enter name" autofocus :class="{ 'p-invalid': isError && !form.name }" />
                  <small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Address *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.address" placeholder="Enter address" autofocus :class="{ 'p-invalid': isError && !form.address }" />
                  <small class="p-invalid" v-if="isError && !form.address">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">City *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.cityCode" placeholder="Enter city" @change="searchChange('city')" :class="{ 'p-invalid': isError && form.cityCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('city')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.cityName" placeholder="city name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Country</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.countryCode" placeholder="Country code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.countryName" placeholder="Country name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Phone1 *</label>
                <div class="col-12 md:col-4">
                  <div class="p-inputgroup">
                    <InputText type="text" v-model="form.phone1" placeholder="Enter Phone1" />
                    <small class="p-invalid" v-if="submitted && !form.phone1">Phone1 is required.</small>
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.phone2" placeholder="Enter Phone 2" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Email </label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.emailAddress" placeholder="Enter Email" autofocus :class="{ 'p-invalid': isError && !form.emailAddress }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Contact person </label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.contactPerson" placeholder="Enter Contact Person" autofocus :class="{ 'p-invalid': isError && !form.contactPerson }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Status </label>
                <div class="col-12 md:col-9">
                  <input type="checkbox" id="checkbox" v-model="form.billToStatus" />
                  <label for="checkbox">Bill To</label>

                  <input type="checkbox" id="checkbox" v-model="form.shipToStatus" />
                  <label for="checkbox">Ship To</label>
                </div>
              </div>
              <h4 class="mt-5"><b>Tax Invoice</b></h4>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">NPWP Status *</label>
                <div class="col-6 md:col-4">
                  <input type="radio" value="1" v-model="form.npwpStatus" />
                  <label>Yes</label>

                  <input type="radio" value="0" v-model="form.npwpStatus" />
                  <label>No</label>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">NPWP * </label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.npwp" placeholder="Enter NPWP" autofocus :class="{ 'p-invalid': isError && !form.npwp }" />
                  <small class="p-invalid" v-if="isError && !form.npwp">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Name * </label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.npwpName" placeholder="Enter NPWP Name" autofocus :class="{ 'p-invalid': isError && !form.npwpName }" />
                  <small class="p-invalid" v-if="isError && !form.npwpName">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Address * </label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.npwpAddress" placeholder="Enter NPWP Address" autofocus :class="{ 'p-invalid': isError && !form.npwpAddress }" />
                  <small class="p-invalid" v-if="isError && !form.npwpAddress">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">NPWP City *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.npwpCityCode" placeholder="Enter NPWP City" @change="searchChange('npwp-city')" :class="{ 'p-invalid': isError && form.npwpCityCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('npwp-city')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.npwpCityName" placeholder="city name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">NPWP Province</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.npwpProvinceCode" placeholder="NPWP Province code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.npwpProvinceName" placeholder="NPWP Province name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">NPWP Country</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.npwpCountryCode" placeholder="NPWP Country code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.npwpCountryName" placeholder="NPWP Country name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Zip Code * </label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.npwpZipCode" placeholder="Enter NPWP Zip Code" autofocus :class="{ 'p-invalid': isError && !form.npwpZipCode }" />
                  <small class="p-invalid" v-if="isError && !form.npwpZipCode">Name is required.</small>
                </div>
              </div>
              <div class="field grid mt-5">
                <div class="col-12 md:col-3 mt-5 md:mb-0"></div>
                <div class="col-6 md:col-3">
                  <Button label="Save" class="p-button-warning" @Click="submit"></Button>
                </div>
                <div class="col-6 md:col-3">
                  <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    customer: {
      code: null,
      name: null,
      address: null,
      businessEntityCode: null,
      businessEntityName: null,
      cityCode: null,
      cityName: null,
      provinceCode: null,
      provinceName: null,
      islandCode: null,
      islandName: null,
      countryCode: null,
      countryName: null,
      npwpCityCode: null,
      npwpCityName: null,
      zipCode: null,
      phone1: null,
      phone2: null,
      emailAddress: null,
    },
    form: {
      code: 'AUTO',
      name: null,
      customerCode: null,
      address: null,
      cityCode: null,
      cityName: null,
      countryCode: null,
      countryName: null,
      phone1: null,
      emailAddress: null,
      contactPerson: null,
      shipToStatus: false,
      billToStatus: false,
      npwpStatus: 1,
      npwp: null,
      npwpName: null,
      npwpAddress: null,
      npwpCityCode: null,
      npwpCityName: null,
      npwpProvinceCode: null,
      npwpProvinceName: null,
      npwpCountryCode: null,
      npwpCountryName: null,
      npwpZipCode: null,
    },
  }),
  created() {
    if (getParam('code')) {
      this.customer.code = getParam('code');
      this.getDataCustomer(getParam('code'));
    }

    if (getParam('customerAddressCode')) {
      this.submitted = true;
      this.form.code = getParam('customerAddressCode');
      this.getDataCustomerAddres(getParam('customerAddressCode'));
    }
  },
  mounted() {},
  methods: {
    async getDataCustomer(data) {
      let temp = await this.master.dataMaster('customer', { code: data });
      this.customer = temp.data;
    },
    async getDataCustomerAddres(data) {
      let temp = await this.master.dataMaster('customer-jn-address', { code: data });
      this.form = temp.data;
      this.getDataCustomer(this.form.customerCode);
      this.form.shipToStatus = temp.data.shipToStatus === 1 ? true : false;
      this.form.billToStatus = temp.data.billToStatus === 1 ? true : false;
    },
    async submit() {
      let BreakException = [];
      this.isError = false;

      // start validasi
      if (!this.form.code) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.name) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.address) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Address can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.cityCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "City  can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.phone1) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Phone 1 Position can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.npwpStatus) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "NPWP Status Position can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.npwpAddress) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "NPWP Address Status Position can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.npwpCityCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "NPWP City Address Status Position can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.npwpZipCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "NPWP Zip Address Status Position can't be null!", life: 3000 });
        throw BreakException;
      }
      // end vaidasi
      this.form.customerCode = this.customer.code;
      if (this.submitted) {
        await this.master.updateMaster('customer-jn-address', this.form);
      } else {
        await this.master.saveMaster('customer-jn-address', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
    async searchChange(master) {
      var data = null;
      switch (master) {
        case 'city':
          data = await this.master.dataMaster(master, { code: this.form.cityCode });
          this.form.cityCode = data.data.code;
          this.form.cityName = data.data.name;
          this.form.countryCode = data.data.countryCode;
          this.form.countryName = data.data.countryName;
          break;
        case 'npwp-city':
          data = await this.master.dataMaster('city', { code: this.form.npwpCityCode });
          this.form.npwpCityCode = data.data.code;
          this.form.npwpCityName = data.data.name;
          this.form.npwpProvinceCode = data.data.provinceCode;
          this.form.npwpProvinceName = data.data.provinceName;
          this.form.npwpCountryCode = data.data.countryCode;
          this.form.npwpCountryName = data.data.countryName;
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'city':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search city', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.cityCode = data.code;
                this.form.cityName = data.name;
                this.form.countryCode = data.countryCode;
                this.form.countryName = data.countryName;
              }
            },
          });
          break;
        case 'npwp-city':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search NPWP City', style: { width: '50vw' }, modal: true },
            data: { module: 'city' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.npwpCityCode = data.code;
                this.form.npwpCityName = data.name;
                this.form.npwpProvinceCode = data.provinceCode;
                this.form.npwpProvinceName = data.provinceName;
                this.form.npwpCountryCode = data.countryCode;
                this.form.npwpCountryName = data.countryName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
  },
};
</script>
