<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Sales Return By Invoice" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>SRT No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" @date-select="setDueDate()" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>INV No*</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.invoiceSalesOrderCode" placeholder="Enter inv" @change="searchChange('inv')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('inv')" />
                    </div>
                  </div>
                  <label class="col-12 mb-2 md:col-4">Customer</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.customerCode" placeholder="customer" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.customerName" placeholder="customer name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerAddress" placeholder="customer address" disabled="true" />
                    </div>
                  </div>
                  <label class="col-12 mb-2 md:col-4">Sales Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.salesPersonCode" placeholder="sales person" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.salesPersonName" placeholder="sales person name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Bill To</label>
                  <div class="col-6 md:col-4 pt-1">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billToCode" placeholder="Enter bill to" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4 pt-1">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Currency</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.currencyCode" placeholder="currency" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4"><b>Exchange Rate * </b></label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputNumber v-model="form.exchangeRate" placeholder="exchange rate" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Payment Term</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Due Date</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.dueDate == '' }" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Tax Invoice No</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.customerTaxInvoiceNo" placeholder="tax invoice no" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Tax Invoice Date</label>
                  <div class="col-12 md:col-4">
                    <Calendar id="icon" v-model="form.customerTaxInvoiceDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.customerTaxInvoiceDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookUpMaster('item-inv')" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="vendorInvoiceItemDetailCode" header="Vendor Invoice Detail Code" style="white-space: nowrap; width: 15rem" :hidden="true"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark *" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="quantity" header="Quantity *" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText
                  v-model="data[field]"
                  @keypress="onCellEditInit(data, field, index)"
                  @keyup="onCellEditInit(data, field, index)"
                  @keydown="onCellEditInit(data, field, index)"
                  @change="onCellEditInit(data, field, index)"
                  style="text-align: right"
                />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.nettPrice < 1 }">Rp. {{ decimalCurrency(slotProps.data.nettPrice) }}</span>
              </template>
            </Column>
            <Column field="totalAmount" header="Total Amount" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.totalAmount < 1 }">Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</span>
              </template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 md:col-12 m-0 p-0">
              <div class="col-12 m-0 p-0">
                <div class="field grid">
                  <Divider />
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.totalTransactionAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Type</label>
                  <div class="col-1 md:col-2 m-0 p-0 px-1"><InputText v-model="form.discountTypeCode" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                  <div class="col-2 md:col-2 m-0 p-0 px-1">
                    <InputText v-model="form.discountTypeName" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.discountAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.taxBaseAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Vat</label>
                  <div class="col-1 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.vatPercent)" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                  <div class="col-2 md:col-2 m-0 p-0 px-1">
                    <InputNumber :value="decimalCurrency(form.vatAmount)" minFractionDigits="0" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.grandTotalAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpCustomerInvoice from '@/components/lookup/sales/LookUpCustomerInvoice';
import LookUpItemCustomerInvoice from '@/components/lookup/sales/LookUpItemCustomerInvoice';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    form: {
      code: null,
      branchCode: null,
      transactionDate: store.state.currentDate,
      paymentTermCode: null,
      salesPersonCode: null,
      dueDate: store.state.currentDate,
      customerTaxInvoiceDate: store.state.currentDate,
      warehouseCode: null,
      invoiceSalesOrderCode: null,
      refNo: null,
      remark: null,
      totalTransactionAmount: 0,
      grandTotalAmount: 0,
      discountAmount: 0,
      taxBaseAmount: 0,
      vatPercent: 0,
      vatAmount: 0,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.paymentTermName == '' || this.form.paymentTermName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.invoiceSalesOrderCode == '' || this.form.invoiceSalesOrderCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "INV No can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.clear();
          this.detail = [];
        } else {
          if (getParam('code')) {
            // this.searchChange('inv');
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    remove(row) {
      this.detail.splice(row.index, 1);
      this.calculationSummary();
    },
    clear() {
      this.form.totalTransactionAmount = 0;
      this.form.grandTotalAmount = 0;
      this.form.discountAmount = 0;
      this.form.taxBaseAmount = 0;
      this.form.vatPercent = 0;
      this.form.vatAmount = 0;
    },
    async getData(data) {
      let temp = await this.sales.dataSales('sales-return', { code: data });
      this.form = temp.data;
      this.setDueDate();
    },
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-return/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.customerTaxInvoiceDate = moment(this.form.customerTaxInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listSalesReturnDetail = this.detail;
        if (this.submitted) {
          await this.sales.updateSales('sales-return', formSubmit);
        } else {
          await this.sales.saveSales('sales-return', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'inv':
          temp = await this.sales.dataSales('sales-return/inv', { code: this.form.invoiceSalesOrderCode });
          if (temp) {
            this.form = temp.data;
            this.form.transactionDate = store.state.currentDate;
            this.form.customerTaxInvoiceDate = store.state.currentDate;
          } else {
            this.form = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'inv':
          this.$dialog.open(LookUpCustomerInvoice, {
            props: { header: 'Search Customer Invoice', style: { width: '90vw' }, modal: true },
            data: { module: 'sales-return/inv' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form = data;
                this.form.transactionDate = store.state.currentDate;
                this.form.customerTaxInvoiceDate = store.state.currentDate;
              }
            },
          });
          break;
        case 'item-inv':
          this.$dialog.open(LookUpItemCustomerInvoice, {
            props: { header: 'Search Master Item Customer Invoice', style: { width: '90vw' }, modal: true },
            data: { module: 'sales-return/item-inv', code: this.form.invoiceSalesOrderCode },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    customerInvoiceItemDetailCode: datas.code,
                    itemCode: datas.itemCode,
                    itemName: datas.itemName,
                    itemAlias: datas.itemAlias,
                    quantity: datas.quantity,
                    unitOfMeasureCode: datas.unitOfMeasureCode,
                    nettPrice: datas.nettPrice,
                    totalAmount: datas.totalAmount,
                    remark: '',
                  };
                  this.detail.push(detail);
                  this.calculationSummary();
                });
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          // temp = await this.master.dataMaster('bank', {code:newValue});
          // data['itemCode'] = this.detail[index].itemCode = temp.data.code;
          // data['itemName'] = this.detail[index].itemName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      console.log([data, field, index]);
      switch (field) {
        case 'quantity':
          this.detail[index].totalAmount = data['quantity'] * data['nettPrice'];
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    calculationSummary() {
      this.form.totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.totalAmount;
      });
      this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
