<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Master Branch</div>
          </div>
        </div>
        <Toast />

        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <template v-slot:end>
              <div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="printData" /></div>
              <div class="col-4 p-1 m-0"><FileUpload mode="basic" accept="xlsx/*" :maxFileSize="1000000" label="Import" chooseLabel="Import" class="p-button-warning text-center" /></div>
              <div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport" /></div>
            </template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <label class="col-3">Search</label>
              <div class="field grid col-12 p-0 m-1">
                <div class="field grid col-4 p-0 m-1">
                  <div class="col-12 p-0 m-0"><InputText type="text" v-model="searchCode" placeholder="By code" class="p-inputtext-sm" /></div>
                </div>
                <div class="field grid col-4 p-0 m-1">
                  <div class="col-12 p-0 m-0"><InputText type="text" v-model="searchName" placeholder="By name" class="p-inputtext-sm" /></div>
                </div>
                <div class="field grid col-8 md:col-4 p-0 m-0">
                  <SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name" />
                </div>
              </div>
            </template>
            <template v-slot:end>
              <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :resizableColumns="true"
              columnResizeMode="fit"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 mb:12 m-0 py-0 p-2"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="10"
              :rowsPerPageOptions="[10, 20, 50, 100]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="name" header="Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="address" header="Address" style="white-space: nowrap"></Column>
              <Column field="cityCode" header="City Code" style="white-space: nowrap"></Column>
              <Column field="cityName" header="City Name" style="white-space: nowrap"></Column>
              <Column field="countryCode" header="Country Code" style="white-space: nowrap"></Column>
              <Column field="countryName" header="Country Name" style="white-space: nowrap"></Column>
              <Column field="zipCode" header="Zip Code" style="white-space: nowrap"></Column>
              <Column field="phone1" header="Phone 1" style="white-space: nowrap"></Column>
              <Column field="phone2" header="Phone 2" style="white-space: nowrap"></Column>
              <Column field="fax" header="Fax" style="white-space: nowrap"></Column>
              <Column field="emailAddress" header="Email" style="white-space: nowrap"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap"></Column>
              <Column field="activeStatus" header="Status" style="white-space: nowrap; display: flex; justify-content: center">
                <template #body="slotProps">
                  <span :class="'p-tag p-component p-tag-' + status(slotProps.data.activeStatus, false)">{{ status(slotProps.data.activeStatus, true) }}</span>
                </template>
              </Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { BaseMasterUrl } from '@/api/endpoint/base';

export default {
  data: () => ({
    master: new MasterControllers(),
    baseImport: BaseMasterUrl() + '/branch/imports?',
    baseExport: BaseMasterUrl() + '/branch/exports?',
    basePrint: BaseMasterUrl() + '/branch/print?',
    rdbStatus: { name: 'Active', value: true },
    rdbOptions: [
      { name: 'Active', value: true },
      { name: 'InActive', value: false },
      { name: 'All', value: 'All' },
    ],
    code: null,
    list: [],
    searchCode: '',
    searchName: '',
    meta: {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    loading: true,
    selectedRows: null,
    selectAll: false,
    isdelete: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 10,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    beforeUpload(request) {
      request.xhr.setRequestHeader('Authorization', 'Bearer ' + store.state.token);
      return request;
    },
    onImport() {
      this.$toast.add({ severity: 'info', summary: 'Success', detail: 'File Uploaded', life: 3000 });
    },
    onExport() {
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        title: 'master-branch',
        code: this.searchCode,
        name: this.searchName,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let path = Object.keys(field)
        .map((key) => key + '=' + field[key])
        .join('&');
      window.open(this.baseExport + path);
    },
    onPrint() {
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        name: this.searchName,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let path = Object.keys(field)
        .map((key) => key + '=' + field[key])
        .join('&');
      window.open(this.basePrint + path);
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        name: this.searchName,
        activeStatus: this.rdbStatus.value,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      this.selectedRows = null;
      let temp = await this.master.searchMaster('branch', field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    createData() {
      this.$router.push({ path: '/master/branch/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/master/branch/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.master.deleteMaster('branch', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      this.code = event.data.code;
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
  },
};
</script>
