<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">GENERADE JSON</div>
					</div>
				</div>
				<div class="col-12 grid ">
					<div class="col-6 md:col-3">
						<Button label="ADD PARAMS" class="p-button-success" @click="addMore()"></Button>
					</div>
					<div class="col-6 md:col-3">
						<Button label="ADD PAGING" class="p-button-success" @click="addPaging()"></Button>
					</div>
				</div>
				<form class="col-12 md:col-12">
					<div v-for="(course, index) in courses" :key="index">
						<div class="field grid">
							<label class="col-12 mb-2 md:col-2 md:mb-0">Params {{index+1}}</label>
							<div class="col-5 md:col-4">
								<InputText type="text" v-model="course.column" placeholder="column" @keyup="json()" @change="json()"/>
							</div>
							<div class="col-5 md:col-4">
								<InputText type="text" v-model="course.value" placeholder="value" @keyup="json()" @change="json()"/>
							</div>
							<div class="col-2 md:col-2">
								<Button label="delete" class="p-button-warning" @click="remove(index)" v-show="index != 0"></Button>
							</div>
						</div>
					</div>
				</form>
				<Fieldset class="mt-2" legend="Output JSON Line" :toggleable="true" v-model:collapsed="isCollapsed">
					<pre v-html="JSON.stringify(JSON.stringify(this.jsonBeauty), null, 2)"></pre>
				</Fieldset>
				<Fieldset class="mt-2" legend="Output JSON Beauty" :toggleable="true" v-model:collapsed="isCollapsed">
					<pre>{{JSON.parse(JSON.stringify(this.jsonBeauty))}}</pre>
				</Fieldset>
			</div>
		</div>
	</div>
</template>

<script>
import Fieldset from 'primevue/fieldset';
export default {
	components: {
		Fieldset,
	},
	name: "HelloWorld",
	data() {
		return {
			jsonBeauty: '{"id":1,"name":"A green door","price":12.50,"tags":["home","green"]}',
			courses: [
				{column:"code",value:""},
			],
		};
	},
	methods: {
		addMore() {
			this.courses.push({column:"code",value:""});
			this.json();
		},
		addPaging() {
			this.courses.push({column:"page",value:"0"});
			this.courses.push({column:"size",value:"10"});
			this.courses.push({column:"sort",value:"code,ASC"});
			this.json();
		},
		remove(index) {
			this.courses.splice(index, 1);
			this.json();
		},
		json(){
			let form = {}
			this.courses.forEach((item) => {
				form[item.column] = item.value;
			});
			this.jsonBeauty = form;
		},
	},
};
</script>
