<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Vendor Down Payment" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-8">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>VDP No *</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Vendor</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.vendorCode" placeholder="Enter Vendor" @change="searchChange('vendor')" :class="{ 'p-invalid': isError && form.paymentTermName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vendor')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.vendorName" placeholder="Name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Contact Person</label>
                <div class="col-6 md:col-8">
                  <InputText v-model="form.vendorContactPerson" placeholder="Enter Contact Person" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Address</label>
                <div class="col-6 md:col-8">
                  <InputText v-model="form.vendorAddress" placeholder="Enter Address" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Phone 1</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText type="text" v-model="form.vendorPhone1" placeholder="Enter Phone 1" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.vendorPhone2" placeholder="Enter Phone 2" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Tax Invoice No</label>
                <div class="col-6 md:col-8">
                  <InputText v-model="form.taxInvoiceNo" placeholder="Enter Tax Invoice" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                  </div>
                </div>
                <div class="col-6 md:col-2">
                  <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                </div>
                <div class="col-6 md:col-2">
                  <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Exchange Rate *</b></label>
                <div class="col-6 md:col-8 mt-1">
                  <InputNumber v-model="form.exchangeRate" @input="blurEventHandler($event, 'exchangeRate')" inputClass="text-right" mode="decimal" :minFractionDigits="2" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Total Transaction *</b></label>
                <div class="col-6 md:col-8 mt-1">
                  <InputNumber v-model="form.totalTransactionAmount" @input="blurEventHandler($event, 'totalTransactionAmount')" inputClass="text-right" mode="decimal" :minFractionDigits="2" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">VAT %</label>
                <div class="col-6 md:col-2 mt-1">
                  <InputNumber v-model="form.vatPercent" @input="blurEventHandler($event, 'vatPercent')" inputClass="text-right" mode="decimal" :minFractionDigits="2" />
                </div>
                <div class="col-6 md:col-6 mt-1">
                  <InputNumber v-model="form.vatAmount" @input="blurEventHandler($event, 'vatAmount')" inputClass="text-right" mode="decimal" :minFractionDigits="2" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Grand Total</label>
                <div class="col-6 md:col-8 mt-1">
                  <InputNumber v-model="form.grandTotalAmount" @input="blurEventHandler($event, 'grandTotalAmount')" inputClass="text-right" mode="decimal" :minFractionDigits="2" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Refno</label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"></label>
                <div class="col-12 md:col-8 py-1">
                  <div class="field grid">
                    <div class="col-6 md:col-4"><Button label="Save" class="p-button-warning" @Click="submit"></Button></div>
                    <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </Panel>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingPrqDetails: false,
    loadingVdpDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      taxInvoiceDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: null,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      vendorCode: null,
      vendorName: null,
      vendorContactPerson: null,
      vendorAddress: null,
      vendorPhone1: null,
      vendorPhone2: null,
      taxInvoiceNo: null,
      exchangeRate: decimalCurrency(1),
      refNo: null,
      remark: null,
      totalTransactionAmount: decimalCurrency(0),
      vatPercent: decimalCurrency(0),
      vatAmount: decimalCurrency(0),
      grandTotalAmount: decimalCurrency(0),
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.finance.dataFinance('vendor-down-payment', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.dueDate = moment(temp.data.dueDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.taxInvoiceDate = moment(temp.data.taxInvoiceDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async submit() {
      this.isError = false;

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.taxInvoiceDate = moment(this.form.taxInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listVendorDownPaymentPaid = this.detail;
        formSubmit.listVendorDownPaymentUsed = this.detail;
        if (this.submitted) {
          await this.finance.updateFinance('vendor-down-payment', formSubmit);
        } else {
          await this.finance.saveFinance('vendor-down-payment', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'vendor':
          temp = await this.master.dataMaster(master, { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
            this.form.vendorContactPerson = temp.data.defaultContactPersonCode;
            this.form.vendorAddress = temp.data.address;
            this.form.vendorPhone1 = temp.data.phone1;
            this.form.vendorPhone2 = temp.data.phone2;
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
            this.form.vendorContactPerson = null;
            this.form.vendorAddress = null;
            this.form.vendorPhone1 = null;
            this.form.vendorPhone2 = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'vendor':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
                this.form.vendorContactPerson = data.defaultContactPersonCode;
                this.form.vendorAddress = data.address;
                this.form.vendorPhone1 = data.phone1;
                this.form.vendorPhone2 = data.phone2;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    blurEventHandler: function (e, input) {
      this.form[input] = e.value;
      this.calculationSummary();
    },
    calculationSummary() {
      this.form.vatAmount = (parseFloat(this.form.vatPercent) * (parseFloat(this.form.totalTransactionAmount) * parseFloat(this.form.exchangeRate))) / 100;
      this.form.grandTotalAmount = parseFloat(this.form.totalTransactionAmount) * parseFloat(this.form.exchangeRate) + parseFloat(this.form.vatAmount);
    },
    onChangeVatPercent() {
      if (this.form.vatPercent !== 0) {
        this.form.vatPercent = decimalCurrency(this.form.vatPercent);
        this.form.vatAmount = (this.form.vatPercent * this.form.totalTransactionAmount) / 100;
        let totalTransactionAmount = Number(this.form.totalTransactionAmount);
        let vatAmount = Number(this.form.vatAmount);
        this.form.grandTotalAmount = totalTransactionAmount + vatAmount;
      } else {
        this.form.vatPercent = 0;
        this.form.vatAmount = 0;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
