<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Vendor Down Payment</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <!-- <template v-slot:end>
							<div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
							<div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
							<div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div>
						</template> -->
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">VDP No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Code" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchVendorCode" placeholder=" Vendor Code" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchVendorName" placeholder=" Vendor Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0"></div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="min-width: 7em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="branchCode" header="Branch" style="min-width: 15em" :sortable="true"></Column>
              <Column field="code" header="VDP No" style="min-width: 15em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="branchCode" header="Branch" style="min-width: 10em" :sortable="true"></Column>
              <Column field="vendorCode" header="Vendor Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="vendorName" header="Vendor Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="currencyCode" header="Giro No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="min-width: 12em" :sortable="true"></Column>
              <Column field="amount" header="Amount" style="min-width: 10em" :sortable="true"></Column>
              <Column field="VATPercent" header="VAT Percent" style="min-width: 10em" :sortable="true"></Column>
              <Column field="VATAmount" header="VAT Amount" style="min-width: 10em" :sortable="true"></Column>
              <Column field="totalTransactionAmount" header="Total" style="min-width: 10em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { BaseFinanceUrl } from '@/api/endpoint/base';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    finance: new FinanceControllers(),
    baseImport: BaseFinanceUrl() + '/vendor-down-payment/imports?',
    baseExport: BaseFinanceUrl() + '/vendor-down-payment/exports?',
    basePrint: BaseFinanceUrl() + '/vendor-down-payment/print?',
    code: null,
    vendorCode: null,
    vendorName: null,
    refNo: null,
    remark: null,
    list: [],
    // listDetail: [],
    searchCode: '',
    searchVendorCode: '',
    searchVendorName: '',
    searchRefNo: '',
    searchRemark: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    dueStartDate: store.state.periodStartDate,
    dueEndDate: store.state.periodEndDate,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    isdelete: false,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      // this.listDetail = [];
      const field = {
        code: this.searchCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        vendorCode: this.searchVendorCode,
        vendorName: this.searchVendorName,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('vendor-down-payment', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    // async getListDetail() {
    //   this.listDetail = [];
    //   if (this.code == null) {
    //     return false;
    //   }
    //   this.loadingDetails = true;
    //   this.meta.page = this.meta.page ? this.meta.page : 0;
    //   const field = {
    //     headerCode: this.code,
    //     page: this.meta.page,
    //     size: this.meta.rows,
    //     sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
    //   };
    //   let temp = await this.finance.searchFinance('vendor-down-payment/detail', field);
    //   this.loadingDetails = false;
    //   return (this.listDetail = temp.data);
    // },
    createData() {
      this.$router.push({ path: '/finance/vendor-down-payment/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/finance/vendor-down-payment/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.finance.deleteFinance('vendor-down-payment', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        // this.form =event.data;
        // this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      // this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
