<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Adjustment Out" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">ADJ-OUT No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Warehouse</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" placeholder="Enter warehouse" @change="searchChange('look-up')" :class="{ 'p-invalid': isError && form.warehouseName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('look-up')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.warehouseName" placeholder="warehouse name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5" hidden="true">
                    <InputText v-model="form.rackDockInCode" placeholder="RackDockInCode" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5" hidden="true">
                    <InputText v-model="form.rackDockInName" placeholder="RackDockInName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="Enter Ref No" :class="{ 'p-invalid': isError && form.name != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        <div class="col-12 p-2 m-0">
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <div class="field grid">
                  <div class="col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.reasonCode" placeholder="Enter reason" @change="searchChange('approval-reason')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('approval-reason')" />
                    </div>
                  </div>
                  <div class="col-4">
                    <InputText v-model="form.reasonName" placeholder="reason name" disabled="true" />
                  </div>
                  <div class="col-4">
                    <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
                  </div>
                </div>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span></template
              >
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="reasonCode" header="Reason" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpItemDetail('reason', data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="reasonName" header="Reason Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: left" /></template
            ></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { getParam, decimalCurrency, removeCommas, uniqueElementsBy } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpItemForAdj from '@/components/lookup/master/LookUpItemForAdj';
import LookUpWarehouseForAdj from '@/components/lookup/master/LookUpWarehouseForAdj';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import moment from 'moment';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    listDetail: [],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      reasonCode: null,
      reasonName: null,
      warehouseCode: null,
      warehouseName: null,
      unitOfMeasureCode: null,
      rackDockInCode: null,
      rackDockInName: null,
      refNo: null,
      remark: null,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    addrow() {
      let detail = {
        code: '',
        itemCode: '',
        itemName: '',
        unitOfMeasureCode: '',
        quantity: 0,
        rackCode: '',
      };
      this.detail.push(detail);
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItemForAdj, {
        props: { header: 'Search Master Item', style: { width: '50vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                reasonCode: this.form.reasonCode,
                reasonName: this.form.reasonName,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                rackCode: this.form.rackDockInCode,
                rackName: this.form.rackDockInName,
              };
              !this.detail ? (this.detail = []) : this.detail.push(detail);
            });
            this.detail = uniqueElementsBy(this.detail, (a, b) => a.code == b.code);
          }
        },
      });
    },
    remove(index) {
      this.detail.splice(index, 1);
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('adjustment-out', { code: data });
      this.form = temp.data;
      this.form.branchCode = temp.data.branchCode;
      this.form.warehouseCode = temp.data.warehouseCode;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('adjustment-out/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      const data = this.detail.map((row) => {
        return {
          ...row,
          reasonName:row.reasonName,
          rackCode: this.form.rackDockInCode,
          rackName: this.form.rackDockInName,
        }
      });

      return (this.detail=data);
      // this.detail = temp.data;
      // this.detail.map((item) => {
      //     return {
      //       ...item
      //     };
      //   })
      // return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (parseInt(datas.quantity) < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listAdjustmentOutItemDetail = this.detail;
        if (this.submitted) {
          await this.inventory.updateInventory('adjustment-out', formSubmit);
        } else {
          await this.inventory.saveInventory('adjustment-out', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'approval-reason':
          temp = await this.master.dataMaster('inventory-adj-reason', { code: this.form.reasonCode });
          if (temp) {
            this.form.reasonCode = temp.data.code;
            this.form.reasonName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'look-up':
          temp = await this.master.dataMaster(master, { code: this.form.warehouseCode });
          if (temp) {
            this.form.warehouseCode = temp.data.code;
            this.form.warehouseName = temp.data.name;
            this.form.rackDockInCode = temp.data.rackDockInCode;
            this.form.rackDockInName = temp.data.rackDockInName;
          } else {
            this.form.warehouseCode = null;
            this.form.warehouseName = null;
            this.form.rackDockInCode = null;
            this.form.rackDockInName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'approval-reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'inventory-adj-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.reasonCode = data.code;
                this.form.reasonName = data.name;
              }
            },
          });
          break;
        case 'look-up':
          this.$dialog.open(LookUpWarehouseForAdj, {
            props: { header: 'Search Master Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
                this.form.rackDockInCode = data.rackDockInCode;
                this.form.rackDockInName = data.rackDockInName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpItemDetail(modules, data, field, index) {
      if (modules == 'reason') {
        this.$dialog.open(LookupMaster, {
          props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
          data: { module: 'inventory-adj-reason' },
          onClose: (options) => {
            const data = options.data;
            if (data) {
              this.detail[index].reasonCode = data.code;
              this.detail[index].reasonName = data.name;
            }
          },
        });
      }
    },
    async onCellEditComplete(event) {
      let { data, index, newValue, field } = event;
      switch (field) {
        case 'reasonCode':
          data = await this.master.dataMaster('inventory-adj-reason', { code: newValue });
          data['reasonCode'] = this.detail[index].reasonCode = data.data.code;
          data['reasonName'] = this.detail[index].reasonName = data.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, index) {
      this.detail[index].quantity = data['quantity'];
      this.detail[index].reasonCode = data['reasonCode'];
      this.detail[index].remark = data['remark'];
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
