<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Inventory Adjustment Reason" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-2 md:mb-0"><b>Code *</b></label>
                  <div class="col-12 md:col-10">
                    <InputText type="text" v-model="form.code" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-2 md:mb-0"><b>Name *</b></label>
                  <div class="col-12 md:col-10">
                    <InputText type="text" v-model="form.name" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
                  <div class="col-12 md:col-10">
                    <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
                  <div class="col-12 md:col-10">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="Branch Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="name" header="Branch Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="accountCode" header="Account Code" style="white-space: nowrap; width: 10rem; text-align: left">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCOA(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="accountName" header="Account Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookUpChartOfAccount from '@/components/lookup/master/LookUpChartOfAccount';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    form: {
      code: '',
      name: '',
      remark: '',
      activeStatus: true,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (!this.form.code) {
          this.isConfirm = true;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (!this.form.name) {
          this.isConfirm = true;
          this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == true) {
          this.remove();
        } else {
          this.getListDetail();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },

    remove(row) {
      this.detail.splice(row.index, 1);
    },
    async getData(data) {
      let temp = await this.master.dataMaster('inventory-adj-reason', { code: data });

      this.form = temp.data;
      // console.log(this.form);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      if (getParam('code')) {
        const field = {
          headerCode: this.form.code,
          page: 0,
          size: 1000,
          sort: 'code,ASC',
        };
        let temp = await this.master.searchMaster('inventory-adj-reason/detail', field);
        this.detail = temp.data.map((item) => {
          return {
            code: item.branchCode,
            name: item.branchName,
            accountCode: item.chartOfAccountCode,
            accountName: item.chartOfAccountName,
          };
        });

        this.loadingDetails = false;
      } else {
        const field = {
          code: '',
          name: '',
          activeStatus: true,
          page: 0,
          size: 1000,
          sort: 'code,ASC',
        };
        let temp = await this.master.searchMaster('branch', field);
        this.loadingDetails = false;
        return (this.detail = temp.data);
      }
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          console.log(datas);
          if (datas.accountCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Account Code can't be null!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        //Add Grid Detail
        formSubmit.listInventoryAdjReasonJnBranch = this.detail.map((item) => {
          return {
            branchCode: item.code,
            chartOfAccountCode: item.accountCode,
          };
        });
        if (this.submitted) {
          await this.master.updateMaster('inventory-adj-reason', formSubmit);
        } else {
          await this.master.saveMaster('inventory-adj-reason', formSubmit);
        }
        this.cancel();
      }
    },

    lookUpCOA(data, field, index) {
      this.$dialog.open(LookUpChartOfAccount, {
        props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].accountCode = data.code;
            this.detail[index].accountName = data.name;
          }
        },
      });
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'accountCode':
          this.detail[index].accountCode = data['accountCode'];
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      switch (field) {
        case 'accountCode':
          data = await this.master.dataMaster('chart-of-account', { code: newValue });
          data['accountCode'] = this.detail[index].accountCode = data.data.code;
          data['accountCode'] = this.detail[index].accountName = data.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
