<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Cash Payment" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Cash Payment No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="Enter Vendor" @change="searchChange('vendor')" :disabled="isUpdate" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vendor')" :disabled="isUpdate" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Cash Account *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.cashAccountCode" placeholder="Enter Cash Account" @change="searchChange('cash-account')" :class="{ 'p-invalid': isError && form.cashAccountName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('cash-account')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.cashAccountName" placeholder="Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.cashAccountChartOfAccountCode" placeholder="BBM Chart Of Account Code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.cashAccountChartOfAccountName" placeholder="BBM Chart Of Account Name" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Type *</b></label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton name="type" value="1" v-model="form.transactionType" :disabled="isUpdate" />
                      <label for="1">Regular</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton name="type" value="0" v-model="form.transactionType" :disabled="isUpdate" />
                      <label for="0">Deposit</label>
                    </div>
                  </div>
                </div>

                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Exchange Rate</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputNumber v-model="form.exchangeRate" mode="decimal" :minFractionDigits="2" :maxFractionDigits="5" class="p-inputnumber-sm" inputClass="text-right" :disabled="this.form.currencyCode == 'IDR'" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Amount</label>
                  <div class="col-6 md:col-4 mt-1">
                    <InputNumber v-model="form.totalTransactionAmount" mode="decimal" :minFractionDigits="2" :maxFractionDigits="5" class="p-inputnumber-sm" inputClass="text-right" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 mt-1">
                    <InputNumber v-model="form.totalTransactionAmountIDR" mode="decimal" :minFractionDigits="2" :maxFractionDigits="5" class="p-inputnumber-sm" inputClass="text-right" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
                <div class="field grid" style="visibility: hidden">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" :disabled="confirmDisable" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 p-0 m-0"
            :lazy="true"
            ref="dt"
            selectionMode="single"
            :rowHover="true"
            :scrollable="true"
            :value="detailPrq"
            :loading="loadingPrqDetails"
          >
            <template #header>
              <div class="table-header">
                <Button icon="pi pi-search" label="Search Payment Request" class="p-button-sm p-button-warning" style="width: 10rem; margin-right: 70em" @Click="lookupAddPrq" />
              </div>
            </template>
            <Column header="#" style="min-width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removePrq(index)" />
              </template>
            </Column>
            <Column field="Index" header="No" style="min-width: 7em">
              <template #body="{ index }">{{ index + 1 }}</template>
            </Column>
            <Column field="branchCode" header="Branch" style="min-width: 15em"></Column>
            <Column field="paymentRequestCode" header="PYM-RQ No" style="min-width: 15em"></Column>
            <Column field="transactionDate" header="Transaction Date" style="min-width: 12em"></Column>
            <Column field="currencyCode" header="Currecny" style="min-width: 10em"></Column>
            <Column field="totalTransactionAmount" header="Total Transaction" style="min-width: 12em; justify-content: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalTransactionAmount) }}</template>
            </Column>
            <Column field="transactionType" header="Type" style="min-width: 10em"></Column>
            <Column field="refNo" header="Ref No" style="min-width: 10em"></Column>
            <Column field="remark" header="Remark" style="min-width: 10em"></Column>
          </DataTable>

          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">DOCUMENT DETAIL</label>
                &nbsp;
                <Button icon="pi pi-plus" label="AddRow Other" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addrow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column field="Index" header="No" style="min-width: 8rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="paymentRequestCode" header="PYQ No" style="min-width: 12rem"></Column>
            <Column field="paymentRequestDetailCode" header="PYQ Detail" style="min-width: 12rem"></Column>
            <Column field="documentNo" header="Document No" style="min-width: 12rem"></Column>
            <Column field="documentType" header="document Type" style="min-width: 12rem" :hidden="true"></Column>
            <Column field="documentDate" header="Document Date" style="min-width: 12rem"></Column>
            <Column field="chartOfAccountCode" header="Chart Of Account Code" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCoaDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyCode" header="Currency Code" style="min-width: 12rem"></Column>
            <Column field="exchangeRate" header="ExchangeRate" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.exchangeRate < 1 }">{{ decimalCurrency(slotProps.data.exchangeRate) }}</span>
              </template>
            </Column>
            <Column field="amountForeign" header="Amount (Foreign)" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.amountForeign < 1 }">{{ decimalCurrency(slotProps.data.amountForeign) }}</span>
              </template>
            </Column>
            <Column field="amountIDR" header="Amount (IDR)" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.amountIDR < 1 }">{{ decimalCurrency(slotProps.data.amountIDR) }}</span>
              </template>
            </Column>
            <Column field="balanceForeign" header="Balance (Foreign)" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.balanceForeign < 1 }">{{ decimalCurrency(slotProps.data.balanceForeign) }}</span>
              </template>
            </Column>
            <Column field="balanceIDR" header="Balance (IDR)" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.balanceIDR < 1 }">{{ decimalCurrency(slotProps.data.balanceIDR) }}</span>
              </template>
            </Column>
            <Column field="debit" header="Debit (Foreign)" style="min-width: 12rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.debit < 1 }">{{ decimalCurrency(slotProps.data.debit) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="credit" header="Credit (Foreign)" style="min-width: 12rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.credit < 1 }">{{ decimalCurrency(slotProps.data.credit) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="debitIDR" header="Debit (IDR)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.debitIDR < 1 }">{{ decimalCurrency(slotProps.data.debitIDR) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="creditIDR" header="Credit (IDR)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.creditIDR < 1 }">{{ decimalCurrency(slotProps.data.creditIDR) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" /></template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-4 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-8" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-8 m-0 p-0">
                <div class="field grid m-0 p-0">
                  <Divider />
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold"></label>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Foreign</label>
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">IDR</label>
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.debitForeign)" style="text-align: right" v-model="form.debitForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.debitIDR)" style="text-align: right" v-model="form.debitIDR" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.creditForeign)" style="text-align: right" v-model="form.creditForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.creditIDR)" style="text-align: right" v-model="form.creditIDR" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Ballance</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.balanceForeign)" style="text-align: right" v-model="form.balanceForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.balanceIDR)" style="text-align: right" v-model="form.balanceIDR" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-4 m-0 p-0">
                <div class="field grid m-0 p-0">
                  <Divider />
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0" />
                <div class="col-12 md:col-12 field grid m-0 p-0" />
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 mt-1" style="text-align: right; font-weight: bold">Forex Gain / Loss</label>
                  <div class="col-12">
                    <InputText :value="decimalCurrency(forexGainLoss)" style="text-align: right" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpPaymentRequest from '@/components/lookup/finance/LookUpPaymentRequest';
import { getParam, decimalCurrency, removeCommas, removeElementsBy, removeElementsFor } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
// import LookUpFinanceRequest from '@/components/lookup/finance/LookUpFinanceRequest';
// import LookUpFinanceDestination from '@/components/lookup/master/LookUpFinanceDestination';
export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    isUpdate: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingPrqDetails: false,
    loadingVdpDetails: false,
    selectedPaymentType: { name: 'GIRO', code: 'GIRO' },
    listPaymentType: [
      { name: 'GIRO', code: 'GIRO' },
      { name: 'TRANSFER', code: 'TRANSFER' },
      { name: 'OTHER', code: 'OTHER' },
    ],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      vendorCode: null,
      vendorName: null,
      cashAccountCode: null,
      cashAccountName: null,
      cashAccountBBMVoucherNo: null,
      cashAccountChartOfAccountCode: null,
      cashAccountChartOfAccountName: null,
      transactionType: '1',
      exchangeRate: decimalCurrency(1),
      refNo: null,
      remark: null,
      discountChartOfAccountCode: '',
      discountChartOfAccountName: '',

      totalTransactionAmount: 0,
      totalTransactionAmountIDR: 0,
      creditForeign: 0,
      creditIDR: 0,
      debitForeign: 0,
      debitIDR: 0,
      balanceForeign: 0,
      balanceIDR: 0,
    },
    forexGainLoss: 0,
    detail: [],
    detailPrq: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.isUpdate = true;
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.branchCode || !this.form.cashAccountCode || !this.form.currencyCode || (this.form.currencyCode != 'IDR' && !this.form.exchangeRate);
    },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.isConfirm == false) {
          this.form.totalTransactionAmount = 0;
          this.form.totalTransactionAmountIDR = 0;
          this.resetSummary();
          this.detail = [];
          this.detailPrq = [];
        } else {
          if (getParam('code')) {
            this.form.code = getParam('code');
            this.getListPrqDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
      // let BreakException = [];
      // try {
      //   if (this.form.branchName == '' || this.form.branchName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.paymentTermName == '' || this.form.paymentTermName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.currencyName == '' || this.form.currencyName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.vendorName == '' || this.form.vendorName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Vendor can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.billToName == '' || this.form.billToName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Bill To can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.shipToName == '' || this.form.shipToName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Ship To can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.isConfirm == false) {
      //     this.clear();
      //     this.detail = [];
      //     this.detailPrq = [];
      //     this.detailVdp = [];
      //   } else {
      //     if (getParam('code')) {
      //       this.form.code = getParam('code');
      //       this.getData(getParam('code'));
      //       this.getListPrqDetail();
      //       this.getListVdpDetail();
      //       this.getListDetail();
      //     }
      //   }
      // } catch (e) {
      //   if (e !== BreakException) throw e;
      // }
    },
    addrow() {
      let detail = {
        documentNo: '',
        documentDate: '',
        chartOfAccountCode: '',
        chartOfAccountName: '',
        currencyCode: this.form.currencyCode,
        exchangeRate: 1,
        departmentCode: '',
        departmentName: '',
        dueDate: '',
        amountForeign: 0,
        amountIDR: 0,
        transactionStatus: 'Other',
        debit: 0,
        credit: 0,
        balanceForeign: 0,
        debitIDR: 0,
        creditIDR: 0,
        balanceIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
    },
    lookupAddPrq() {
      this.$dialog.open(LookUpPaymentRequest, {
        props: { header: 'Search Payment Request', style: { width: '85vw' }, modal: true },
        data: {
          headerCode: this.form.code == null ? '' : this.form.code,
          vendorCode: this.form.vendorCode == null ? '' : this.form.vendorCode,
          transactionType: this.form.transactionType === '1' ? 'Regular' : 'Deposit',
          module: 'cash-payment/look-up-prq',
        },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let prq = {
                code: '',
                paymentRequestCode: datas.code,
                branchCode: datas.branchCode,
                transactionDate: datas.transactionDate,
                currencyCode: datas.currencyCode,
                totalTransactionAmount: datas.totalTransactionAmount,
                transactionType: datas.transactionType,
                refNo: datas.refNo,
                remark: datas.remark,
                amountForeign: 0,
                amountIDR: 0,
                balanceForeign: 0,
                balanceIDR: 0,
                debit: 0,
                debitIDR: 0,
                credit: 0,
                creditIDR: 0,
              };
              this.checkExistingItem(prq);
              this.detailPrq.push(prq);
              this.calculationSummary();
            });
            this.getTotaTransactionAmount();
            this.getNewListItemPrq();
          }
        },
      });
    },
    checkExistingItem(selected) {
      this.detailPrq.forEach((datas) => {
        if (selected.paymentRequestCode == datas.paymentRequestCode) {
          let add = {
            code: '',
            paymentRequestCode: selected.code,
            branchCode: selected.branchCode,
            transactionDate: selected.transactionDate,
            currencyCode: selected.currencyCode,
            totalTransactionAmount: selected.totalTransactionAmount,
            transactionType: selected.transactionType,
            remark: selected.remark,
            refNo: selected.refNo,
          };
          this.detail.replace(add);
        }
      });
    },
    lookUpCoaDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].chartOfAccountCode = data.code;
            this.detail[index].chartOfAccountName = data.name;
          }
        },
      });
    },
    removePrq(row) {
      // let prqCode = [];
      // this.detailPrq.forEach((datas) => {
      //   prqCode = datas.purchaseRequestCode;
      // });
      // this.detailPrq.splice(row.index, 1);
      // let deleteIndex = this.detail.findIndex((item) => item.purchaseRequestCode === prqCode);
      // this.remove(deleteIndex);
      this.detail = removeElementsBy(this.detail, this.detailPrq[row], (a, b) => a.paymentRequestCode != b.paymentRequestCode);
      this.detailPrq.splice(row, 1);
      this.getTotaTransactionAmount();
      this.calculationSummary();
    },
    remove(row) {
      this.detail.splice(row, 1);
      this.detailPrq = removeElementsFor(this.detailPrq, this.detail, (a, b) => a.paymentRequestCode == b.paymentRequestCode);
      this.getTotaTransactionAmount();
      this.calculationSummary();
    },
    resetSummary() {
      this.form.totalTransactionAmount = 0;
      this.form.creditForeign = 0;
      this.form.creditIDR = 0;
      this.form.debitForeign = 0;
      this.form.debitIDR = 0;
      this.form.balanceForeign = 0;
      this.form.balanceIDR = 0;
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('cash-payment', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.dueDate = moment(temp.data.dueDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.transactionType = temp.data.transactionType === 'Regular' ? '1' : '0';
      this.form.totalTransactionAmount = 0;
      this.form.totalTransactionAmountIDR = 0;
      this.form.debitForeign = 0;
      this.form.creditForeign = 0;
      this.form.debitIDR = 0;
      this.form.creditIDR = 0;
      this.form.balanceForeign = 0;
      this.form.balanceIDR = 0;
      this.forexGainLoss = 0;
    },

    getTotaTransactionAmount() {
      this.form.totalTransactionAmount = 0;
      this.form.totalTransactionAmountIDR = 0;
      let totalTransactionAmount = 0;
      this.detailPrq.forEach((datas) => {
        totalTransactionAmount += datas.totalTransactionAmount;
      });
      this.form.totalTransactionAmount = totalTransactionAmount;
      this.form.totalTransactionAmountIDR = totalTransactionAmount * this.form.exchangeRate;
    },
    // GET ITEM PRQ NEW
    async getNewListItemPrq() {
      this.detail = [];
      this.loadingDetails = true;

      let prmCode = [];
      this.detailPrq.forEach((datas) => {
        prmCode.push(datas.paymentRequestCode);
      });

      let prm = {
        detailCode: prmCode,
        page: 0,
        size: 1000,
        sort: 'paymentRequestDetailCode,ASC',
      };

      let temp = await this.finance.searchFinance('cash-payment/detail-prq', prm);
      this.loadingDetails = false;
      this.detail = temp.data;
      this.detail = this.detail.map((item) => {
        return {
          paymentRequestCode: item.paymentRequestCode,
          paymentRequestDetailCode: item.paymentRequestDetailCode,
          documentNo: item.documentNo,
          documentBranchCode: item.documentBranchCode,
          documentDate: item.documentDate,
          documentType: item.documentType,
          currencyCode: item.currencyCode,
          exchangeRate: item.exchangeRate,
          departmentCode: item.departmentCode,
          chartOfAccountCode: item.chartOfAccountCode,
          chartOfAccountName: item.chartOfAccountName,
          transactionStatus: item.transactionStatus,
          amountForeign: item.amountForeign,
          amountIDR: item.amountIDR,
          balanceForeign: item.balanceForeign,
          balanceIDR: item.balanceIDR,
          debit: item.debitForeign,
          credit: item.creditForeign,
          debitIDR: item.debitIDR,
          creditIDR: item.creditIDR,
          remark: item.remark,
        };
      });
      this.calculationSummary();
      return this.detail;
    },
    // GET ITEM PRQ NEW

    async getListPrqDetail() {
      this.detailPrq = [];
      this.loadingPrqDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('cash-payment/prq', field);
      this.selectedRows = null;
      this.loadingPrqDetails = false;
      this.detailPrq = temp.data;
      this.getListDetail();
      this.getTotaTransactionAmount();
      this.calculationSummary();
      return this.detailPrq;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('cash-payment/detail', field);
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary();
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.chartOfAccountCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : COA can't be Empty!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transactionType = this.form.transactionType === '1' ? 'REGULAR' : 'DEPOSIT';
        //Add Grid Detail
        this.detail = this.detail.map((item) => {
          return {
            documentCode: item.documentNo,
            paymentRequestDetailCode: item.paymentRequestDetailCode,
            branchCode: this.form.branchCode,
            documentBranchCode: item.documentBranchCode,
            documentDate: moment(item.documentDate == '' ? '01-01-1900' : item.documentDate, 'DD-MM-YYYY').format('YYYY-MM-DD'),
            documentType: item.documentType,
            currencyCode: item.currencyCode,
            exchangeRate: item.exchangeRate,
            chartOfAccountCode: item.chartOfAccountCode,
            transactionStatus: item.transactionStatus,
            credit: item.credit,
            creditIDR: item.creditIDR,
            debit: item.debit,
            debitIDR: item.debitIDR,
            remark: item.remark,
          };
        });

        this.detailPrq = this.detailPrq.map((item) => {
          return {
            paymentRequestCode: item.paymentRequestCode,
          };
        });

        formSubmit.listCashPaymentDetail = this.detail;
        formSubmit.listCashPaymentJnPaymentRequest = this.detailPrq;
        if (this.submitted) {
          await this.finance.updateFinance('cash-payment', formSubmit);
        } else {
          await this.finance.saveFinance('cash-payment', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
            this.form.exchangeRate = this.form.currencyCode == 'IDR' ? 1 : 0;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
            this.form.exchangeRate = 0;
          }
          break;
        case 'vendor':
          temp = await this.master.dataMaster(master, { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
          }
          break;
        case 'chart-of-account':
          temp = await this.master.dataMaster(master, { code: this.form.discountChartOfAccountCode });
          if (temp) {
            this.form.discountChartOfAccountCode = temp.data.code;
            this.form.discountChartOfAccountName = temp.data.name;
          } else {
            this.form.discountChartOfAccountCode = null;
            this.form.discountChartOfAccountName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'cash-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Cash Account', style: { width: '50vw' }, modal: true },
            data: { module: 'cash-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.cashAccountCode = data.code;
                this.form.cashAccountName = data.name;
                this.form.cashAccountBBMVoucherNo = data.bkkVoucherNo;
                this.form.cashAccountChartOfAccountCode = data.chartOfAccountCode;
                this.form.cashAccountChartOfAccountName = data.chartOfAccount.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
                this.form.exchangeRate = this.form.currencyCode == 'IDR' ? 1 : 0;
              } else {
                this.form.exchangeRate = 0;
              }
            },
          });
          break;
        case 'vendor':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
              }
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'debit':
          this.detail[index].debit = data['debit'];
          this.detail[index].debitIDR = data['debit'] * this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'debitIDR':
          this.detail[index].debitIDR = data['debitIDR'];
          this.detail[index].debit = data['debitIDR'] / this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'credit':
          this.detail[index].credit = data['credit'];
          this.detail[index].creditIDR = data['credit'] * this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'creditIDR':
          this.detail[index].creditIDR = data['creditIDR'];
          this.detail[index].credit = data['creditIDR'] / this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
    },
    calculationSummary() {
      let totalCreditForeign = 0;
      let totalDebitForeign = 0;
      let totalCreditIDR = 0;
      let totalDebitIDR = 0;
      let totalTransactionAmountForeign = this.form.totalTransactionAmount;
      let totalTransactionAmountIDR = this.form.totalTransactionAmountIDR;
      this.detail.forEach((datas) => {
        totalCreditForeign += Number(datas.credit);
        totalDebitForeign += Number(datas.debit);
        totalCreditIDR += Number(datas.creditIDR);
        totalDebitIDR += Number(datas.debitIDR);
      });
      this.form.creditForeign = totalCreditForeign + totalTransactionAmountForeign;
      this.form.creditIDR = totalCreditIDR + totalTransactionAmountIDR;
      this.form.debitForeign = totalDebitForeign;
      this.form.debitIDR = totalDebitIDR;
      this.form.balanceForeign = this.form.creditForeign - this.form.debitForeign;
      this.form.balanceIDR = this.form.creditIDR - this.form.debitIDR;
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
