<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <div class="col-12 grid m-0 p-0 my-2" style="border: 0px solid black">
        <div class="col-12 field grid m-0 p-0">
          <div class="col-12 md:col-12 field grid m-0 p-0">
            <div class="col-12 md:col-6 grid m-0 p-0">
              <label class="col-12 mb-2 md:col-4 m-0 p-0">Period (Due Date)</label>
              <div class="col-4 md:col-4 m-0 p-1">
                <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
              </div>
              <div class="col-4 md:col-4 m-0 p-1">
                <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
              </div>
            </div>
            <div class="col-12 md:col-6 field grid m-0 p-0">
              <label class="col-12 md:col-4 m-0 p-1">Document Branch</label>
              <div class="col-6 md:col-8 field grid m-0 p-0">
                <div class="col-12 m-0 p-0 m-0 p-1">
                  <InputText v-model="searchFinanceDocumentBranchCode" placeholder=" Customer Code" class="p-inputtext-sm" />
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 field grid m-0 p-0">
              <label class="col-12 md:col-4 m-0 p-1">Customer/Vendor</label>
              <div class="col-6 md:col-4 field grid m-0 p-0">
                <div class="col-12 m-0 p-0 m-0 p-1">
                  <InputText v-model="searchCustomerVendorCode" placeholder=" Customer Code" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="col-6 md:col-4 field grid m-0 p-0">
                <div class="col-12 m-0 p-0 m-0 p-1">
                  <InputText v-model="searchCustomerVendorName" placeholder=" Customer Name" class="p-inputtext-sm" />
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 grid m-0 p-0">
              <label class="col-12 mb-2 md:col-4 m-0 p-0">Document No.</label>
              <div class="col-12 md:col-8 m-0 p-0">
                <InputText type="text" id="icon" v-model="searchDocumentNo" class="p-inputtext-sm" />
              </div>
            </div>
            <div class="col-12 md:col-6 field grid m-0 p-0">
              <label class="col-12 md:col-4 m-0 p-1">Document Ref No</label>
              <div class="col-6 md:col-8 field grid m-0 p-0">
                <div class="col-12 m-0 p-0 m-0 p-1">
                  <InputText v-model="searchFinanceDocumentRefNo" placeholder=" Customer Code" class="p-inputtext-sm" />
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 field grid m-0 p-0">
              <label class="col-12 md:col-4 m-0 p-1">Curreny Code</label>
              <div class="col-6 md:col-8 field grid m-0 p-0">
                <div class="col-12 m-0 p-0 m-0 p-1">
                  <InputText v-model="searchDocumentCurrency" placeholder=" Customer Code" class="p-inputtext-sm" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :scrollable="true"
    :loading="loading"
    dataKey="documentNo"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    selectionMode="multiple"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="documentNo" header="Document No" style="min-width: 12em" :sortable="true"></Column>
    <Column field="documentType" header="Document Type" style="min-width: 20em" :sortable="true"></Column>
    <Column field="documentBranchCode" header="Document Branch" style="min-width: 4em" :sortable="true"></Column>
    <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
    <Column field="customerVendorCode" header="Customer/Vendor Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="customerVendorName" header="Customer/Vendor Name" style="min-width: 25em" :sortable="true"></Column>
    <Column field="currencyCode" header="Currency Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="currencyName" header="Currency Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
    <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
    <Column field="grandTotalAmount" header="Document Amount" style="white-space: nowrap; width: 15rem; justify-content: right">
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.grandTotalAmount) }}</template>
    </Column>
    <Column field="paidAmount" header="PaidAmount" style="white-space: nowrap; width: 15rem; justify-content: right">
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.paidAmount) }}</template>
    </Column>
    <Column field="balance" header="Balance" style="white-space: nowrap; width: 15rem; justify-content: right">
      <template #body="slotProps">{{ decimalCurrency(slotProps.data.balance) }}</template>
    </Column>
    <Column field="debit" header="Debit" style="min-width: 12em" :sortable="true" hidden></Column>
    <Column field="credit" header="Credit" style="min-width: 12em" :sortable="true" hidden></Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { valdNull, decimalCurrency } from '@/utils/function';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    finance: new FinanceControllers(),
    module: 'finance-document',
    financeDocumentID: '',
    list: [],
    searchDocumentNo: '',
    searchCustomerVendorCode: '',
    searchCustomerVendorName: '',
    searchFinanceDocumentRefNo: '',
    searchFinanceDocumentBranchCode: '',
    searchFinanceDocumentID: '',
    searchDocumentCurrency: '',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'documentNo',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.searchFinanceDocumentID = this.dialogRef.data.financeDocumentID;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'documentNo',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.selectedRows) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.selectedRows);
        }
      } else {
        this.dialogRef.close((this.selectedRows = false));
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        documentFinanceID: this.searchFinanceDocumentID,
        branchCode: this.searchFinanceDocumentBranchCode,
        documentNo: this.searchDocumentNo,
        documentRefNo: this.searchFinanceDocumentRefNo,
        customerVendorCode: this.searchCustomerVendorCode,
        customerVendorName: this.searchCustomerVendorName,
        currencyCode: this.searchDocumentCurrency,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'documentNo') + ',' + 'ASC' : valdNull(this.meta.sortField, 'documentNo') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('finance-document', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    onRowSelect(event) {
      return event;
    },
    onRowUnselect(event) {
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
