<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <label class="grid col-2 p-0 m-1">Search</label>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" class="p-inputtext-sm" v-model="searchCode" placeholder="GRP Code" style="width: 100%" /></div>
      </div>
      <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
      <div class="col-12 md:col-8 grid m-0 p-0">
        <div class="col-6 md:col-6 m-0 p-1">
          <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
        </div>
        <div class="col-6 md:col-6 m-0 p-1">
          <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
        </div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    ref="dt"
    selectionMode="single"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="branchCode" header="Branch" style="min-width: 12em" :sortable="true"></Column>
    <Column field="code" header="GRP No" style="min-width: 12em" :sortable="true"></Column>
    <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
    <Column field="dueDate" header="dueDate Date" style="min-width: 10em" :sortable="true"></Column>
    <Column field="giroNo" header="Giro No" style="min-width: 12em" :sortable="true"></Column>
    <Column field="bankCode" header="Bank" style="min-width: 12em" :sortable="true"></Column>
    <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
    <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
    <Column field="currencyCode" header="Currency" style="min-width: 12em" :sortable="true"></Column>
    <Column field="amount" header="Amount" style="min-width: 12em" :sortable="true"></Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { valdNull } from '@/utils/function';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    finance: new FinanceControllers(),
    module: "giro-payment",
    datas: null,
    list: [],
    searchCode: "",
    searchGiroNo: "",
    searchBankCode: "",
    searchBankName: "",
    searchRefNo: "",
    searchRemark: "",
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.datas) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        }else{
          this.dialogRef.close(this.datas);
        }
      }else{
        this.dialogRef.close(this.selectedRows = false);
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = (this.meta.page)? this.meta.page:0;
      this.list = []
      const params = {
        code: this.searchCode,
        giroNo: this.searchGiroNo,
        bankCode: this.searchBankCode,
        bankName: this.searchBankName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: (this.meta.sortOrder == 1) ? valdNull(this.meta.sortField,"code")+','+"ASC":valdNull(this.meta.sortField,"code")+','+"DESC",
      }
      let temp = await this.finance.searchFinance(this.module, params);
      this.totalRecords = temp.totalData;
      this.selectedRows= null;
      this.datas= null;
      this.loading = false;
      return this.list = temp.data;
    },
    onRowSelect(event) {
      this.datas = event.data;
      return event;
    },
    onRowUnselect(event) {
      this.datas = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
