<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Discount Type</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Code *</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
              <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Name *</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.name" placeholder="Enter name" />
              <small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Discount *</label>
            <div class="col-12 md:col-6 md:p-0 ml-3">
              <div class="col-12 p-0 m-0 grid">
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0">
                  <InputText type="number" v-model="form.discountPercent01" placeholder="disc 1" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent02" placeholder="disc 2" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent03" placeholder="disc 3" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent04" placeholder="disc 4" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent05" placeholder="disc 5" />
                </div>
              </div>
              <div class="col-12 p-0 m-0 grid">
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent06" placeholder="disc 6" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent07" placeholder="disc 7" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent08" placeholder="disc 8 " />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent09" placeholder="disc 9" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText type="number" v-model="form.discountPercent10" placeholder="disc10" />
                </div>
              </div>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
            <div class="col-12 md:col-10">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
            <div class="col-12 md:col-10">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-2 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    form: {
      code: '',
      name: '',
      discountPercent01: 0,
      discountPercent02: 0,
      discountPercent03: 0,
      discountPercent04: 0,
      discountPercent05: 0,
      discountPercent06: 0,
      discountPercent07: 0,
      discountPercent08: 0,
      discountPercent09: 0,
      discountPercent10: 0,
      remark: '',
      activeStatus: true,
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('discount-type', { code: data });
      this.form = temp.data;
    },
    async submit() {
      if (this.submitted) {
        await this.master.updateMaster('discount-type', this.form);
      } else {
        await this.master.saveMaster('discount-type', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
  },
};
</script>
