<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Warehouse Transfer Out" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">WHT-OUT No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" @change="searchChange('branch')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Source Warehouse *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.sourceWarehouseCode" @change="searchChange('sourceWarehouse')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('sourceWarehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.sourceWarehouseName" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5" hidden="true">
                    <InputText v-model="form.sourceRackDockInCode" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5" hidden="true">
                    <InputText v-model="form.sourceRackDockInName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Destination Warehouse *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.destinationWarehouseCode" @change="searchChange('destinationWarehouse')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('destinationWarehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.destinationWarehouseName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onIcon="pi pi-check" offIcon="pi pi-times" :disabled="confirmDisable" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 editable-cells-table" :resizableColumns="true" editMode="cell" :value="detail" :loading="loadingDetails">
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <div class="field grid">
                  <div class="col-4">
                    <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
                  </div>
                </div>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" autofocus @keyup="onCellEditInit(data, field, index)" style="padding: 0.1rem 0.1rem; text-align: left" /></template
            ></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
    <Dialog header="Confirmation" v-model:visible="displayConfirmation" :style="{ width: '350px' }" :modal="true">
      <div class="confirmation-content">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
        <span>Are you sure you want to proceed?</span>
      </div>
      <template #footer>
        <Button label="Cancel" icon="pi pi-times" @click="closeConfirmation" class="p-button-text" />
        <Button label="Yes" icon="pi pi-check" @click="saveData" class="p-button-text" autofocus />
      </template>
    </Dialog>
  </div>
</template>
  <script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { getParam, decimalCurrency, removeCommas, uniqueElementsBy } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpItemForAdj from '@/components/lookup/master/LookUpItemForAdj';
import LookUpWarehouseForAdj from '@/components/lookup/master/LookUpWarehouseForAdj';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import moment from 'moment';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    listDetail: [],
    displayConfirmation: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      sourceWarehouseCode: null,
      sourceWarehouseName: null,
      sourceRackDockInCode: null,
      sourceRackDockInName: null,
      destinationWarehouseCode: null,
      destinationWarehouseName: null,
      unitOfMeasureCode: null,
      rackDockInCode: null,
      rackDockInName: null,
      refNo: null,
      remark: null,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      // this.getListDetail();
    }
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.branchCode || !this.form.sourceWarehouseCode || !this.form.destinationWarehouseCode || !(this.form.sourceWarehouseCode != this.form.destinationWarehouseCode);
    },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    closeConfirmation() {
      this.displayConfirmation = false;
    },
    btnConfirm() {
      if (this.isConfirm == true) {
        this.detail = [];
      } else {
        if (getParam('code')) {
          this.getListDetail();
        }
      }
    },
    addrow() {
      let detail = {
        code: '',
        itemCode: '',
        itemName: '',
        unitOfMeasureCode: '',
        quantity: 0,
        rackCode: '',
      };
      this.detail.push(detail);
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItemForAdj, {
        props: { header: 'Search Master Item', style: { width: '50vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                rackCode: this.form.sourceRackDockInCode,
                rackName: this.form.sourceRackDockInName,
              };
              !this.detail ? (this.detail = []) : this.detail.push(detail);
            });
            this.detail = uniqueElementsBy(this.detail, (a, b) => a.itemCode == b.itemCode);
          }
        },
      });
    },
    remove(index) {
      this.detail.splice(index, 1);
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('warehouse-transfer-out', { code: data });
      this.form = temp.data;
      this.form.branchCode = temp.data.branchCode;
      this.form.sourceWarehouseCode = temp.data.sourceWarehouseCode;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('warehouse-transfer-out/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      const data = this.detail.map((row) => {
        return {
          ...row,
          reasonName: data.reasonName,
          rackCode: this.form.sourceRackDockInCode,
          rackName: this.form.sourceRackDockInName,
        };
      });

      return (this.detail = data);
    },
    async saveData() {
      let formSubmit = this.form;
      formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
      //Add Grid Detail
      formSubmit.listWarehouseTransferOutItemDetail = this.detail;
      if (this.submitted) {
        await this.inventory.updateInventory('warehouse-transfer-out', formSubmit);
      } else {
        await this.inventory.saveInventory('warehouse-transfer-out', formSubmit);
      }
      this.cancel();
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.displayConfirmation = false;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (parseFloat(datas.quantity) < 1) {
            this.isError = true;
            this.displayConfirmation = false;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        this.displayConfirmation = true;
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'sourceWarehouse':
          temp = await this.master.dataMaster(master, { code: this.form.sourceWarehouseCode });
          if (temp) {
            this.form.sourceWarehouseCode = temp.data.code;
            this.form.sourceWarehouseName = temp.data.name;
            this.form.rackDockInCode = temp.data.rackDockInCode;
            this.form.rackDockInName = temp.data.rackDockInName;
          } else {
            this.form.sourceWarehouseCode = null;
            this.form.sourceWarehouseName = null;
            this.form.rackDockInCode = null;
            this.form.rackDockInName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'sourceWarehouse':
          this.$dialog.open(LookUpWarehouseForAdj, {
            props: { header: 'Search Master Source Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.sourceWarehouseCode = data.code;
                this.form.sourceWarehouseName = data.name;
                this.form.sourceRackDockInCode = data.rackDockInCode;
                this.form.sourceRackDockInName = data.rackDockInName;
              }
            },
          });
          break;
        case 'destinationWarehouse':
          this.$dialog.open(LookUpWarehouseForAdj, {
            props: { header: 'Search Master Destination Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.destinationWarehouseCode = data.code;
                this.form.destinationWarehouseName = data.name;
                this.form.rackDockInCode = data.rackDockInCode;
                this.form.rackDockInName = data.rackDockInName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
