<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Purchase Return" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>PRT No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" @date-select="setDueDate()" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.dueDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" placeholder="Enter Warehouse" @change="searchChange('warehouse')" :class="{ 'p-invalid': isError && form.warehouseCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.warehouseName" placeholder="Warehouse Name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Rack</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.rackDockInCode" placeholder="dock in code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.rackDockInName" placeholder="dock in name" disabled="true" />
                  </div>
                </div>
              </div>

              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>VIN No*</b></label>
                  <div class="col-6 md:col-8 pt-1">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorInvoiceCode" placeholder="Enter vin" @change="searchChange('vin')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vin')" />
                    </div>
                  </div>
                  <label class="col-12 mb-2 md:col-4">Vendor</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.vendorCode" placeholder="vendor" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Currency</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.currencyCode" placeholder="currency" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Exchange Rate</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.exchangeRate" placeholder="exchange rate" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PO DETAIL</label>
                <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookUpMaster('item-vin')" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="vendorInvoiceItemDetailCode" header="Vendor Invoice Detail Code" style="white-space: nowrap; width: 15rem" :hidden="true"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="price" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">Rp. {{ decimalCurrency(slotProps.data.price) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText
                  v-model="data[field]"
                  @keypress="onCellEditInit(data, field, index)"
                  @keyup="onCellEditInit(data, field, index)"
                  @keydown="onCellEditInit(data, field, index)"
                  @change="onCellEditInit(data, field, index)"
                  style="text-align: right"
                />
              </template>
            </Column>
            <Column field="totalAmount" header="Total Amount" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.totalAmount < 1 }">Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</span>
              </template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }">
                <InputText v-model="data[field]" style="text-align: right" />
              </template>
            </Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>

          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputText
                      :value="decimalCurrency(form.discountPercent)"
                      @change="onChangeSummaryAmount('percent')"
                      prefix="%"
                      style="text-align: right"
                      v-model="form.discountPercent"
                    />
                  </div>
                  <div class="col-8 md:col-4">
                    <InputText :value="decimalCurrency(form.discountAmount)" disabled="true" style="text-align: right" v-model="form.discountAmount" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountChartOfAccountCode" placeholder="Enter COA" @change="searchChange('chart-of-account')" :class="{ 'p-invalid': isError && form.discountChartOfAccountCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('chart-of-account')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Description</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.discountDescription" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseSubTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputText
                      :value="decimalCurrency(form.vatPercent)"
                      @change="onChangeSummaryAmount('vat')"
                      prefix="%"
                      style="text-align: right"
                      v-model="form.vatPercent"
                    />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpWarehouse from '@/components/lookup/master/LookUpWarehouse';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
import LookUpVendorInvoice from '@/components/lookup/purchase/LookUpVendorInvoice';
import LookUpItemVendorInvoice from '@/components/lookup/purchase/LookUpItemVendorInvoice';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    purchase: new PurchaseControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    form: {
      code: null,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      transactionDate: store.state.currentDate,
      paymentTermCode: null,
      dueDate: store.state.currentDate,
      warehouseCode: null,
      vendorInvoiceCode: null,
      refNo: null,
      remark: null,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
    this.clear();
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.paymentTermName == '' || this.form.paymentTermName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.vendorInvoiceCode == '' || this.form.vendorInvoiceCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "VIN No can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.clear();
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.form.code = getParam('code');
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    remove(row) {
      this.detail.splice(row.index, 1);
      this.calculationSummary();
    },
    clear() {
      this.form.discountChartOfAccountCode = '';
      this.form.discountChartOfAccountName = '';
      this.form.totalTransactionAmount = decimalCurrency(0);
      this.form.taxBaseSubTotalAmount = decimalCurrency(0);
      this.form.discountDescription = '';
      this.form.grandTotalAmount = decimalCurrency(0);
      this.form.discountPercent = decimalCurrency(0);
      this.form.discountAmount = decimalCurrency(0);
      this.form.vatPercent = decimalCurrency(0);
      this.form.vatAmount = decimalCurrency(0);
    },
    async getData(data) {
      let temp = await this.purchase.dataPurchase('purchase-return', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.setDueDate();
    },
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-return/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listPurchaseReturnDetail = this.detail;
        if (this.submitted) {
          await this.purchase.updatePurchase('purchase-return', formSubmit);
        } else {
          await this.purchase.savePurchase('purchase-return', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
            this.setDueDate();
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
          }
          break;
        case 'warehouse':
          temp = await this.master.dataMaster('warehouse', { code: this.form.warehouseCode });
          if (temp) {
            this.form.warehouseName = temp.data.name;
            this.form.rackDockInCode = temp.data.rackDockInCode;
            this.form.rackDockInName = temp.data.rackDockInName;
            this.form.rackDockDlnCode = temp.data.rackDockDlnCode;
            this.form.rackDockDlnName = temp.data.rackDockDlnName;
          } else {
            this.form.warehouseName = null;
            this.form.rackDockInCode = null;
            this.form.rackDockInName = null;
            this.form.rackDockDlnCode = null;
            this.form.rackDockDlnName = null;
          }
          break;
        case 'vin':
          temp = await this.purchase.dataPurchase('purchase-return/dataVin', { code: this.form.countrCode });
          if (temp) {
            this.form.vendorCode = temp.data.vendorCode;
            this.form.vendorName = temp.data.vendorName;
            this.form.currencyCode = temp.data.currencyCode;
            this.form.currencyName = temp.data.currencyName;
            this.form.exchangeRate = temp.data.exchangeRate;
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
            this.form.currencyCode = null;
            this.form.currencyName = null;
            this.form.exchangeRate = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
                this.setDueDate();
              }
            },
          });
          break;
        case 'warehouse':
          this.$dialog.open(LookUpWarehouse, {
            props: { header: 'Search Master Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
                this.form.rackDockInCode = data.rackDockInCode;
                this.form.rackDockInName = data.rackDockInName;
                this.form.rackDockDlnCode = data.rackDockDlnCode;
                this.form.rackDockDlnName = data.rackDockDlnName;
              }
            },
          });
          break;
        case 'vin':
          this.$dialog.open(LookUpVendorInvoice, {
            props: { header: 'Search Vendor Invoice', style: { width: '90vw' }, modal: true },
            data: { module: 'purchase-return/vin' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorInvoiceCode = data.code;
                this.form.vendorCode = data.vendorCode;
                this.form.vendorName = data.vendorName;
                this.form.currencyCode = data.currencyCode;
                this.form.currencyName = data.currencyName;
                this.form.exchangeRate = data.exchangeRate;
                this.form.paymentTermCode = data.paymentTermCode;
                this.form.paymentTermName = data.paymentTermName;
                this.form.paymentTermDays = data.paymentTermDays;
                this.setDueDate();
              }
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        case 'item-vin':
          this.$dialog.open(LookUpItemVendorInvoice, {
            props: { header: 'Search Master Item Vendor Invoice', style: { width: '90vw' }, modal: true },
            data: { module: 'purchase-return/item-vin', headerCode: this.form.vendorInvoiceCode },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    vendorInvoiceItemDetailCode: datas.code,
                    itemCode: datas.itemCode,
                    itemName: datas.itemName,
                    itemAlias: datas.itemAlias,
                    quantity: datas.quantity,
                    unitOfMeasureCode: datas.unitOfMeasureCode,
                    price: datas.price,
                    totalAmount: datas.quantity * datas.price,
                    remark: '',
                    rackCode: this.form.rackDockInCode,
                    rackName: this.form.rackDockInName,
                  };
                  this.detail.push(detail);
                  this.calculationSummary();
                });
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          // temp = await this.master.dataMaster('bank', {code:newValue});
          // data['itemCode'] = this.detail[index].itemCode = temp.data.code;
          // data['itemName'] = this.detail[index].itemName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      console.log([data, field, index]);
      switch (field) {
        case 'price':
          this.detail[index].totalAmount = data['quantity'] * data['price'];
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    calculationSummary() {
      this.form.totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.price * datas.quantity;
      });
      this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
      this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
    },
    onChangeSummaryAmount(type) {
      switch (type) {
        case 'percent':
          if (this.form.discountPercent !== 0) {
            this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
            this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - this.form.discountAmount;
            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
          } else {
            this.form.discountPercent = 0;
            this.form.discountAmount = 0;
          }
          break;
        case 'vat':
          if (this.form.vatPercent !== 0) {
            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
          } else {
            this.form.vatPercent = 0;
            this.form.vatAmount = 0;
          }
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
