<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Sales Order Approval" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>SO No</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Branch</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Transaction Date </b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.transactionDate" disabled="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Delivery Date </b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.requestDeliveryDate" disabled="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.requestDeliveryDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Expired Date </b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.expiredDate" disabled="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.expiredDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Currency </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" placeholder="Enter currency" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Customer PO</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.customerPurchaseOrderNo" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>SO No Link</b></label>
                <div class="col-12 md:col-8">
                  <div class="p-inputgroup">
                    <InputText v-model="form.salesOrderLinkCode" placeholder="Enter sales No Link" disabled="true" :class="{ 'p-invalid': isError && form.salesOrderLinkCode != '' }" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>SO Date Link</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.salesOrderLinkDate" disabled="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.salesOrderLinkDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Sales Person </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.salesPersonCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.salesPersonName" placeholder="sales person name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Payment Term </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.paymentTermCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-2">
                  <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                </div>
                <div class="col-6 md:col-2">
                  <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4"><b>Subsidy Status</b></label>
                <div class="col-12 md:col-8 grid">
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton inputId="1" name="subsidyStatus" value="1" v-model="form.subsidyStatus" disabled="true" />
                    <label for="1">Yes</label>
                  </div>
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton inputId="0" name="subsidyStatus" value="0" v-model="form.subsidyStatus" disabled="true" />
                    <label for="0">No</label>
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4"><b>Approval Status *</b></label>
                <div class="col-12 md:col-8 grid">
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton inputId="APPROVED" name="approve" value="APPROVED" v-model="form.approvalStatus" />
                    <label for="APPROVED">Approve</label>
                  </div>
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton inputId="REJECTED" name="reject" value="REJECTED" v-model="form.approvalStatus" />
                    <label for="REJECTED">Reject</label>
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Approval Reason </label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.approvalReasonCode" placeholder="Enter Reason" @change="searchChange('approval-reason')" :class="{ 'p-invalid': isError && form.approvalReasonName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('approval-reason')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.approvalReasonName" placeholder="branch name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Approval Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.approvalRemark" rows="3" cols="20" />
                </div>
              </div>
            </div>
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Customer</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.customerCode" disabled="true" :class="{ 'p-invalid': isError && form.customerCode != '' }" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.customerName" placeholder="customer name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Price Type</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.priceTypeCode" placeholder="Price Type " disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.priceTypeName" placeholder="Price Type Name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Bill To </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.billToCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4"><b>Address</b></label>
                <div class="col-6 md:col-8 pt-1">
                  <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4"><b>Contact Person</b></label>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>NPWP Status</b></label>
                <div class="col-12 md:col-8 grid">
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton inputId="1" name="npwpStatus" value="1" v-model="form.npwpStatus" disabled="true" />
                    <label for="1">Yes</label>
                  </div>
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton inputId="0" name="npwpStatus" value="0" v-model="form.npwpStatus" disabled="true" />
                    <label for="0">No</label>
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Ship To </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.shipToCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.shipToName" placeholder="ship to name" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4"><b>Address</b></label>
                <div class="col-6 md:col-8 pt-1">
                  <InputText v-model="form.shipToAddress" placeholder="ship to address" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4"><b>Contact Person</b></label>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.shipToContactPerson" placeholder="ship to contact person" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Project</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.projectCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.projectName" placeholder="project name" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4"><b>Project Parent</b></label>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.projectParentCode" placeholder="project parent" disabled="true" />
                </div>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.projectParentName" placeholder="project parent name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Refno</b></label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" disabled="true" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Remark</b></label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b></b></label>
                <div class="col-12 md:col-8"></div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b></b></label>
                <div class="col-12 md:col-8"></div>
              </div>
              <div class="col-12 md:col-8 px-0">
                <div class="field grid">
                  <div class="col-6 md:col-3"><Button label="Save" class="p-button-warning" @Click="submit"></Button></div>
                  <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                </div>
              </div>
            </div>
          </div>
        </Panel>

        <DataTable
          showGridlines
          columnResizeMode="expand"
          responsiveLayout="scroll"
          dataKey="code"
          scrollHeight="400px"
          :resizableColumns="true"
          selectionMode="single"
          v-model:selection="selectedRows"
          :value="detail"
          :loading="loadingDetails"
          @rowSelect="onRowSelect"
          @rowUnselect="onRowUnselect"
        >
          <template #header>
            <div class="table-header">
              <label style="font-weight: bold">SO DETAIL</label>
            </div>
          </template>
          <Column header="No" style="width: 3rem"
            ><template #body="{ index }">{{ index + 1 }}</template></Column
          >
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
            <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 10rem">
            <template #editor="{ data, field }">
              <div class="p-inputgroup">
                <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
              </div>
            </template>
          </Column>
          <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem">
            <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
          </Column>
          <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
            <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
          </Column>
          <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
            </template>
            <template #editor="{ data, field }">
              <InputText v-model="data[field]" style="text-align: right" />
            </template>
          </Column>
          <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
          <Column field="subsidyPrice" header=" Subsidy Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.subsidyPrice < 1 }">Rp. {{ decimalCurrency(slotProps.data.subsidyPrice) }}</span>
            </template>
            <template #editor="{ data, field }">
              <InputText v-model="data[field]" style="text-align: right" :disabled="form.subsidyStatus == 0" />
            </template>
          </Column>
          <Column field="price" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.price < 1 }">Rp. {{ decimalCurrency(slotProps.data.price) }}</span>
            </template>
            <template #editor="{ data, field }">
              <InputText v-model="data[field]" style="text-align: right" :disabled="form.subsidyStatus == 1" />
            </template>
          </Column>
          <Column field="discountCode" header="Discount Code" style="white-space: nowrap; width: 10rem">
            <template #editor="{ data, field }">
              <div class="p-inputgroup">
                <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
              </div>
            </template>
          </Column>
          <Column field="discountName" header="Discount Name" style="white-space: nowrap; width: 5rem"></Column>
          <Column field="discountAmount" header="Discount Amount" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.discountAmount) }}</template>
          </Column>
          <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.nettPrice) }}</template>
          </Column>
          <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</template>
          </Column>
        </DataTable>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid"></div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountCode" placeholder="Enter Discount Type" disabled />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountName" disabled /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.discountAmount)" style="text-align: right" disabled /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseAmount)" locale="id-ID" style="text-align: right" disabled /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4"><InputText v-model="form.vatPercent" :value="decimalCurrency(form.vatPercent)" style="text-align: right" disabled /></div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    selectedRows: false,
    loadingDetails: false,
    form: {
      approvalReasonCode: null,
    },
    detail: [
      {
        discountAmount: 0,
        nettPrice: 0,
        subsidyPrice: 0,
        totalAmount: 0,
      },
    ],
    vatDivision: store.state.defaultVatDivision,
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'approval-reason':
          temp = await this.master.dataMaster(master, { code: this.form.approvalReasonCode });
          if (temp) {
            this.form.approvalReasonCode = temp.data.code;
            this.form.approvalReasonName = temp.data.name;
          } else {
            this.form.approvalReasonCode = null;
            this.form.approvalReasonName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'approval-reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Approval Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'approval-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.approvalReasonCode = data.code;
                this.form.approvalReasonName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async getData(data) {
      let temp = await this.sales.dataSales('sales-order', { code: data });
      this.form = temp.data;
      this.form.subsidyStatus = temp.data.subsidyStatus === 1 ? '1' : '0';
      this.form.approvalStatus = 'APPROVED';
      this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        code: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    onRowSelect(event) {
      if (this.itemCode != event.data.itemCode) {
        this.itemCode = event.data.itemCode;
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      return event;
    },
    async submit() {
      this.isError = false;
      let BreakException = {};
      try {
        

      if (this.form.approvalStatus == 'REJECTED' && this.form.approvalReasonCode == null) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: " Approval Reason can't be null!", life: 3000 });
          throw BreakException;
        }

      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.requestDeliveryDate = moment(this.form.requestDeliveryDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.expiredDate = moment(this.form.expiredDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.subsidyStatus = this.form.subsidyStatus === '1' ? true : false;
        formSubmit.approvalStatus = this.form.approvalStatus === 'APPROVED' ? 'APPROVED' : 'REJECTED';
        if (this.submitted) {
          await this.sales.updateSales('sales-order-approval/approve', {
            code: this.form.code,
            transactionDate: formSubmit.transactionDate,
            requestDeliveryDate: formSubmit.requestDeliveryDate,
            expiredDate: formSubmit.expiredDate,
            branchCode: this.form.branchCode,
            currencyCode: this.form.currencyCode,
            customerPurchaseOrderNo: this.form.customerPurchaseOrderNo,
            salesOrderLinkCode: this.form.salesOrderLinkCode,
            salesPersonCode: this.form.salesPersonCode,
            paymentTermCode: this.form.paymentTermCode,
            subsidyStatus: formSubmit.subsidyStatus,
            approvalStatus: formSubmit.approvalStatus,
            approvalReasonCode: this.form.approvalReasonCode,
            approvalRemark: this.form.approvalRemark,
            customerCode: this.form.customerCode,
            priceTypeCode: this.form.priceTypeCode,
            billToCode: this.form.billToCode,
            shipToCode: this.form.shipToCode,
            projectCode: this.form.projectCode,
            refNo: this.form.refNo,
            remark: this.form.remark,
            totalTransactionAmount: this.form.totalTransactionAmount,
            discountCode: this.form.discountCode,
            discountAmount: this.form.discountAmount,
            taxBaseAmount: this.form.taxBaseAmount,
            vatPercent: this.form.vatPercent,
            vatAmount: this.form.vatAmount,
            grandTotalAmount: this.form.grandTotalAmount,
            listSalesOrderDetail: this.detail.map((item) => {
              return {
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                catalogNo: item.catalogNo,
                remark: item.remark,
                quantity: item.quantity,
                price: item.price,
                discountCode: item.discountCode,
                discountAmount: item.discountAmount,
                nettPrice: item.nettPrice,
                totalAmount: item.totalAmount,
              };
            }),
          });
        }

        this.cancel();
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
