<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Customer Invoice Sales Order" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>INV No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" @date-select="setDueDate()" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>So No * </b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderCode" placeholder="Enter Sales Order" @change="searchChange('look-up-so')" :class="{ 'p-invalid': isError && form.customerCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('look-up-so')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerContactName" disabled="true" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerAddress" disabled="true" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Phone</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerPhone1" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerPhone2" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term * </b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Due Date</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.dueDate" disabled="true" />
                    </div>
                  </div>
                </div>
                <div class="field grid" style="visibility: hidden">
                  <label class="col-12 mb-2 md:col-4">vatPercentAmount</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vatPercent" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vatAmount" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Bill To * </b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billToCode" placeholder="Enter bill to" @change="searchChange('bill-to')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bill-to')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">NPWP Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="npwpStatus" value="1" v-model="form.npwpStatus" disabled="true" />
                      <label for="1">Yes</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="npwpStatus" value="0" v-model="form.npwpStatus" disabled="true" />
                      <label for="0">No</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">NPWP</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.npwp" placeholder="99.999.999.9-999.999" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Currency</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.currencyCode" placeholder="Currency" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.currencyName" placeholder="Currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Exchange Rate * </b></label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputNumber v-model="form.exchangeRate" placeholder="0.00" :class="{ 'p-invalid': isError && form.exchangeRate != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref No" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-4">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <!-- grid dln dan cdp -->
          <div class="grid">
            <div class="cols-6 md:col-4">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="code"
                scrollHeight="400px"
                selectionMode="single"
                class="col-12 md:col-12 py-1 editable-cells-table"
                :resizableColumns="true"
                :value="detailDln"
                :loading="loadingDlnDetails"
              >
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Delivery Note Detail</label>
                  </div>
                </template>
                <Column header="No" style="width: 1rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="deliveryNoteCode" header="DLN No" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
            <div class="cols-6 md:col-8">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="id"
                scrollHeight="400px"
                selectionMode="single"
                class="col-12 md:col-12 py-1 editable-cells-table"
                :resizableColumns="true"
                editMode="cell"
                :value="detailCdp"
                :loading="loadingCdpDetails"
              >
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Customer Down Payment Detail</label>
                  </div>
                </template>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="customerDownPaymentCode" header="CDP-U No" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="cdpAmount" header="CDP Amount" style="white-space: nowrap; width: 10rem; text-align: right"
                  ><template #body="slotProps">{{ decimalCurrency(slotProps.data.cdpAmount) }}</template>
                </Column>
                <Column field="usedAmount" header="Used" style="white-space: nowrap; width: 10rem; text-align: right"
                  ><template #body="slotProps">{{ decimalCurrency(slotProps.data.usedAmount) }}</template>
                </Column>
                <Column field="balanceAmount" header="Balance" style="white-space: nowrap; width: 10rem; text-align: right"
                  ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceAmount) }}</template>
                </Column>
                <Column field="appliedAmount" header="Applied" style="white-space: nowrap; min-width: 10rem; text-align: right">
                  <template #body="slotProps">
                    <span :style="{ 'color:red;': slotProps.data.appliedAmount < 1 }">{{ decimalCurrency(slotProps.data.appliedAmount) }}</span>
                  </template>
                  <template #editor="{ data, field }">
                    <InputText v-model="data[field]" style="text-align: right" :disabled="this.customerDownPaymentCode == null" />
                  </template>
                </Column>
              </DataTable>
            </div>
          </div>
          <!-- grid dln n cdp -->
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            selectionMode="single"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            :value="detail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Item Detail</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="deliveryNoteSalesOrderDetailCode" header="deliveryNoteSalesOrderDetailCode" :hidden="true" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="SO Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="price" header="Price" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
            </Column>
            <Column field="discountCode" header="Discount Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="discountName" header="Discount Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="discountAmount" header="Discount Amount" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.discountAmount) }}</template>
            </Column>
            <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
            </Column>
            <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 md:col-12 m-0 p-0">
              <div class="col-12 m-0 p-0">
                <div class="field grid">
                  <Divider />
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber v-model="form.totalTransactionAmount" :value="decimalCurrency(form.totalTransactionAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Type</label>
                  <div class="col-1 md:col-2 m-0 p-0 px-1"><InputText v-model="form.discountCode" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                  <div class="col-2 md:col-2 m-0 p-0 px-1">
                    <InputText v-model="form.discountName" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                    <InputText v-model="form.prmdiscountCode" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" hidden />
                  </div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.discountAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Down Payment</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.downPaymentAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.taxBaseAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Vat</label>
                  <div class="col-1 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.vatPercent)" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                  <div class="col-2 md:col-2 m-0 p-0 px-1">
                    <InputNumber :value="decimalCurrency(form.vatAmount)" minFractionDigits="0" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-3 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-3 md:col-4 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(form.grandTotalAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import LookUpSalesOrder from '@/components/lookup/sales/LookUpSalesOrder';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpPaymentTerm from '@/components/lookup/master/LookUpPaymentTerm';
import LookUpCustomerAddress from '@/components/lookup/master/LookUpCustomerAddress';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingDetails: false,
    loadingCdpDetails: false,
    loadingDlnDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      salesOrderCode: null,
      customerCode: null,
      customerName: null,
      customerContactName: null,
      customerAddress: null,
      customerPhone1: null,
      customerPhone2: null,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: null,
      billToCode: null,
      billToName: null,
      billToAddress: null,
      billToContactPerson: null,
      npwpStatus: null,
      npwp: null,
      exchangeRate: null,
      currencyCode: null,
      currencyName: null,
      discountCode: null,
      prmdiscountCode: null,
      discountAmount: 0,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      totalTransactionAmount: 0,
      downPaymentAmount: 0,
      grandTotalAmount: 0,
      taxBaseAmount: 0,
      vatPercent: 0,
      vatAmount: 0,
      remark: null,
      refNo: null,
    },
    detailDln: [],
    detailCdp: [],
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDln();
      this.getListCdp();
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.salesOrderCode == '' || this.form.salesOrderCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Sales Order can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.billToName == '' || this.form.billToName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Bill To can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.paymentTermCode == '' || this.form.paymentTermCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment Term Code can't be Null !", life: 3000 });
          throw BreakException;
        }
        if (this.form.exchangeRate == '' || this.form.exchangeRate == 0 || this.form.exchangeRate == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Exchange Rate can't be 0 !", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.remove();
          this.detail = [];
          this.detailDln = [];
          this.detailCdp = [];
        } else {
          this.getListDln();
          this.getListCdp();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    remove() {
      this.form.totalTransactionAmount = 0;
      this.form.grandTotalAmount = 0;
      this.form.discountCode = '';
      this.form.discountName = '';
      this.form.discountAmount = 0;
      this.form.taxBaseAmount = 0;
      this.form.vatPercent = 0;
      this.form.vatAmount = 0;
    },
    async getData(data) {
      let temp = await this.sales.dataSales('customer-invoice-sales-order', { code: data });
      this.form = temp.data;
      this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
      this.form.vatPercent = temp.data.vatPercent;
      this.form.vatAmount = temp.data.vatAmount;
      this.form.prmdiscountCode = temp.data.discountCode;
      this.form.discountCode = temp.data.discountCode;
      this.form.discountName = temp.data.discountName;
      this.form.downPaymentAmount = temp.data.downPaymentAmount;
      this.form.customerCode = temp.data.customerCode;
      this.form.vatPercent = temp.data.vatPercent;
      this.form.vatAmount = temp.data.vatAmount;
      this.setDueDate();
    },
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    async getListDln() {
      let type1 = '',
        id1 = '';
      this.detailDln = [];
      this.loadingDlnDetails = true;
      if (this.form.code === null) {
        id1 = this.form.salesOrderCode;
        type1 = 'SOD';
      } else {
        id1 = this.form.code;
        type1 = 'INV';
      }
      const field = {
        code: id1,
        type: type1,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };

      let temp = await this.sales.searchSales('customer-invoice-sales-order/dln', field);
      this.loadingDlnDetails = false;
      this.detailDln = temp.data;
      this.getListDetail();
      return (this.detailDln = temp.data);
    },
    async getListCdp() {
      let type2 = '',
        id2 = '';
      this.detailCdp = [];
      this.loadingCdpDetails = true;

      if (this.form.code === null) {
        id2 = this.form.customerCode;
        type2 = 'SOD';
      } else {
        id2 = this.form.code;
        type2 = 'INV';
      }

      const field = {
        code: id2,
        type: type2,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('customer-invoice-sales-order/cdp', field);
      this.loadingCdpDetails = false;
      if (temp.data == null) {
        this.detailCdp = [
          {
            code: '',
            customerDownPaymentCode: '',
            transactionDate: '',
            currencyCode: '',
            exchangeRate: '',
            cdpAmount: 0,
            usedAmount: 0,
            balanceAmount: 0,
            appliedAmount: 0,
          },
        ];
      } else {
        return (this.detailCdp = temp.data);
      }
    },
    async getListDetail() {
      let type3 = '',
        id3 = '';
      this.detail = [];
      this.loadingDetails = true;

      let prmCode = [];
      this.detailDln.forEach((datas) => {
        prmCode.push(datas.deliveryNoteCode);
      });

      if (this.form.code === null) {
        id3 = prmCode;
        type3 = 'SOD';
      } else {
        let invCode = [this.form.code];
        id3 = invCode;
        type3 = 'INV';
      }

      let prm = {
        detailCode: id3,
        type: type3,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };

      let temp = await this.sales.searchDataArraySales('customer-invoice-sales-order/detail', prm);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      this.setTransactionAmount();
      return (this.detail = temp.data);
    },
    setTransactionAmount() {
      let totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        totalTransactionAmount += Number(datas.totalAmount) ;
      });

      this.form.totalTransactionAmount = decimalCurrency(totalTransactionAmount.toString());

      this.calculationSummary();
    },
    async calculationSummary() {
      let temp = null;
      temp = await this.master.dataMaster('discount-type/calc', { code: this.form.prmdiscountCode, prmAmount: removeCommas(decimalCurrency(this.form.totalTransactionAmount)) });
      if (temp) {
        this.form.totalTransactionAmount = removeCommas(decimalCurrency(this.form.totalTransactionAmount));
        this.form.discountAmount =  removeCommas(decimalCurrency(temp.data.discountAmountCalc));
        this.form.discountCode = temp.data.code;
        this.form.discountName = temp.data.name;
        this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
        this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
        this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
      }else{
        let discountAmount = 0;
        this.form.totalTransactionAmount = removeCommas(decimalCurrency(this.form.totalTransactionAmount));
        this.form.discountAmount = decimalCurrency(discountAmount);
        this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
        this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
        this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
      }
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listCustomerInvoiceSalesOrderDeliveryNote = this.detailDln;
        formSubmit.listCustomerInvoiceSalesOrderDownPayment = this.detailCdp;
        formSubmit.listCustomerInvoiceSalesOrderItemDetail = this.detail;
        if (this.submitted) {
          await this.sales.updateSales('customer-invoice-sales-order', formSubmit);
        } else {
          await this.sales.saveSales('customer-invoice-sales-order', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'payment-term':
          if (this.form.salesOrderCode == null) {
            this.$toast.add({ severity: 'warn', summary: 'Please Select Sales Order!', life: 3000 });
            return;
          }
          temp = await this.master.dataMaster('customer-invoice-sales-order/so-term', { code: this.form.salesOrderCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.paymentTermCode;
            this.form.paymentTermName = temp.data.paymentTermName;
            this.form.paymentTermDays = temp.data.paymentTermDays;
            this.setDueDate();
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
          }
          break;
        case 'so-term':
          temp = await this.sales.dataSales('customer-invoice-sales-order/so-term', { code: this.form.salesOrderCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.paymentTermCode;
            this.form.paymentTermName = temp.data.paymentTermName;
            this.form.paymentTermDays = temp.data.paymentTermDays;
            this.setDueDate();
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
          }
          break;
        case 'bill-to':
          temp = await this.master.dataMaster('customer-jn-address/look-up', { code: this.form.billToCode });
          if (temp) {
            this.form.billToCode = temp.data.code;
            this.form.billToName = temp.data.name;
            this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
            this.form.npwp = temp.data.npwp;
            this.form.billToAddress = temp.data.address;
            this.form.billToContactPerson = temp.data.contactPerson;
          } else {
            this.form.billToCode = null;
            this.form.billToName = null;
            this.form.npwp = null;
            this.form.npwpStatus = false;
            this.form.billToAddress = null;
            this.form.billToContactPerson = null;
          }
          break;
        case 'look-up-so':
          temp = await this.sales.dataSales('customer-invoice-sales-order/look-up-so', { code: this.form.salesOrderCode });
          if (temp) {
            this.form.salesOrderCode = temp.data.code;
            this.form.customerCode = temp.data.customerCode;
            this.form.customerName = temp.data.customerName;
            this.form.customerContactName = temp.data.customerContactName;
            this.form.customerAddress = temp.data.customerAddress;
            this.form.customerPhone1 = temp.data.customerPhone1;
            this.form.customerPhone2 = temp.data.customerPhone2;
            this.form.paymentTermCode = temp.data.paymentTermCode;
            this.form.paymentTermName = temp.data.paymentTermName;
            this.form.paymentTermDays = temp.data.paymentTermDays;
            this.form.billToCode = temp.data.billToCode;
            this.form.billToName = temp.data.billToName;
            this.form.billToAddress = temp.data.billToAddress;
            this.form.billToContactPerson = temp.data.billToContactPerson;
            this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
            this.form.npwp = temp.data.npwp;
            this.form.currencyCode = temp.data.currencyCode;
            this.form.currencyName = temp.data.currencyName;
            this.form.prmdiscountCode = temp.data.discountCode;
            this.form.discountCode = temp.data.discountCode;
            this.form.vatPercent = temp.data.vatPercent;
            this.form.vatAmount = temp.data.vatAmount;
            this.searchChange('so-term');
            this.setDueDate();
          } else {
            this.form.salesOrderCode = null;
            this.form.customerCode = null;
            this.form.customerName = null;
            this.form.customerContactName = null;
            this.form.customerAddress = null;
            this.form.customerPhone1 = null;
            this.form.customerPhone2 = null;
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
            this.form.billToCode = null;
            this.form.billToName = null;
            this.form.billToAddress = null;
            this.form.billToContactPerson = null;
            this.form.npwpStatus = null;
            this.form.npwp = null;
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'look-up-so':
          this.$dialog.open(LookUpSalesOrder, {
            props: { header: 'Search Sales Order', style: { width: '90vw' }, modal: true },
            data: { module: 'customer-invoice-sales-order/look-up-so' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.salesOrderCode = data.code;
                this.form.customerCode = data.customerCode;
                this.form.customerName = data.customerName;
                this.form.customerContactName = data.customerContactName;
                this.form.customerAddress = data.customerAddress;
                this.form.customerPhone1 = data.customerPhone1;
                this.form.customerPhone2 = data.customerPhone2;
                this.form.paymentTermCode = data.paymentTermCode;
                this.form.paymentTermName = data.paymentTermName;
                this.form.paymentTermDays = data.paymentTermDays;
                this.form.billToCode = data.billToCode;
                this.form.billToName = data.billToName;
                this.form.billToAddress = data.billToAddress;
                this.form.billToContactPerson = data.billToContactPerson;
                this.form.npwpStatus = data.npwpStatus === 1 ? '1' : '0';
                this.form.npwp = data.npwp;
                this.form.currencyCode = data.currencyCode;
                this.form.currencyName = data.currencyName;
                this.form.prmdiscountCode = data.discountCode;
                this.form.discountCode = data.discountCode;
                this.form.vatPercent = data.vatPercent;
                this.form.vatAmount = data.vatAmount;
                this.searchChange('so-term');
                this.setDueDate();
              }
            },
          });
          break;
        case 'payment-term':
          if (this.form.salesOrderCode == null) {
            this.$toast.add({ severity: 'warn', summary: 'Please Select Sales Order!', life: 3000 });
            return;
          }
          this.$dialog.open(LookUpPaymentTerm, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-invoice-sales-order/payment-term', salesOrderCode: this.form.salesOrderCode },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
                this.setDueDate();
              }
            },
          });
          break;
        case 'bill-to':
          this.$dialog.open(LookUpCustomerAddress, {
            props: { header: 'Search Bill To', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-jn-address/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.billToCode = data.code;
                this.form.billToName = data.name;
                this.form.npwpStatus = data.npwpStatus === 1 ? '1' : '0';
                this.form.billToAddress = data.address;
                this.form.billToContactPerson = data.contactPerson;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
