<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Customer Invoice Sales Order</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <template v-slot:end>
              <div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="printData" /></div>
              <div class="col-4 p-1 m-0"><FileUpload mode="basic" accept="xlsx/*" :maxFileSize="1000000" label="Import" chooseLabel="Import" class="p-button-warning text-center" /></div>
              <div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-upload" class="p-button-warning text-center" /></div>
            </template>
          </Toolbar>
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Code</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="DLN-SO No" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">SO No</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText type="text" v-model="searchSalesOrderCode" placeholder="Sales Order" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-6 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                  <div class="col-1 md:col-1 m-0 p-1"></div>
                  <div class="col-6 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Customer Code</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchCustomerCode" placeholder=" Customer Code" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Remark</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Customer Name</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchCustomerName" placeholder=" Customer Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Ref No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText v-model="searchRefNo" placeholder=" Ref No" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0"></div>
                <div class="col-12 md:col-3 field grid m-0 p-0">
                  <div class="col-12 md:col-5 mt-2 m-0 p-1">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="white-space: nowrap; min-width: 1rem">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="code" header="INV No" style="white-space: nowrap; min-width: 12rem" :sortable="true"></Column>
              <Column field="salesOrderCode" header="SO No" style="white-space: nowrap; min-width: 12rem" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="customerCode" header="Customer Code" style="white-space: nowrap; min-width: 12rem" :sortable="true"></Column>
              <Column field="customerName" header="Customer Name" style="white-space: nowrap; min-width: 45rem" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="grid">
            <div class="cols-6 md:col-4">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="code"
                scrollHeight="400px"
                selectionMode="single"
                class="col-12 md:col-12 py-1 editable-cells-table"
                :resizableColumns="true"
                :value="listDln"
                :loading="loadingDlnDetails"
              >
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Delivery Note Detail</label>
                  </div>
                </template>
                <Column header="No" style="width: 1rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="deliveryNoteCode" header="DLN No" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
            <div class="cols-6 md:col-8">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="id"
                scrollHeight="400px"
                selectionMode="single"
                class="col-12 md:col-12 py-1 editable-cells-table"
                :resizableColumns="true"
                editMode="cell"
                :value="listCdp"
                :loading="loadingCdpDetails"
                @cell-edit-complete="onCellEditComplete"
              >
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Customer Down Payment Detail</label>
                  </div>
                </template>
                <Column header="No" style="width: 1rem" ><template #body="{ index }">{{ index + 1 }}</template></Column>
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="customerDownPaymentCode" header="CDP-U No" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="cdpAmount" header="CDP Amount" style="white-space: nowrap; width: 10rem; text-align: right"
                  ><template #body="slotProps">{{ decimalCurrency(slotProps.data.cdpAmount) }}</template>
                </Column>
                <Column field="usedAmount" header="Used" style="white-space: nowrap; width: 10rem; text-align: right"
                  ><template #body="slotProps">{{ decimalCurrency(slotProps.data.usedAmount) }}</template>
                </Column>
                <Column field="balanceAmount" header="Balance" style="white-space: nowrap; width: 10rem; text-align: right"
                  ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceAmount) }}</template>
                </Column>
                <Column field="appliedAmount" header="Applied" style="white-space: nowrap; min-width: 10rem; text-align: right">
                  <template #body="slotProps">
                    <span :style="{ 'color:red;': slotProps.data.appliedAmount < 1 }">{{ decimalCurrency(slotProps.data.appliedAmount) }}</span>
                  </template>
                </Column>
              </DataTable>
            </div>
          </div>
          <div class="card mt-3">
            <div class="col-12 m-0 p-0">
              <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
            </div>
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="white-space: nowrap; min-width: 12rem" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap; min-width: 45rem" :sortable="true"></Column>
              <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; min-width: 45rem"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="quantity" header="Quantity" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="price" header="Price" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="discountTypeCode" header="Discount Code" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="discountTypeName" header="Discount Name" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="discountAmount" header="Discount Amount" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; min-width: 12rem"></Column>
              <Column field="totalAmount" header="Total" style="white-space: nowrap; min-width: 12rem;"></Column>
            </DataTable>
          </div>
          <div class="grid col-12 md:col-12 m-0 p-0">
            <div class="col-12 m-0 p-0">
              <div class="field grid">
                <Divider />
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(totalTransactionAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right" /></div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-6 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-10 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Type</label>
                <div class="col-1 md:col-1 m-0 p-0 px-1"><InputText v-model="discountTypeCode" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                <div class="col-2 md:col-1 m-0 p-0 px-1">
                  <InputText v-model="discountTypeName" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(discountAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Down Payment</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(downPaymentAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(taxBaseAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-6 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-10 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Vat</label>
                <div class="col-1 md:col-1 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(vatPercent)" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                <div class="col-2 md:col-1 m-0 p-0 px-1">
                  <InputNumber :value="decimalCurrency(vatAmount)" minFractionDigits="0" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Grand Total</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(grandTotalAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import moment from 'moment';

export default {
  data: () => ({
    sales: new SalesControllers(),
    code: null,
    list: [],
    listDetail: [],
    listDln: [],
    listCdp: [
      {
        code: '',
        customerDownPaymentCode: '',
        transactionDate: '',
        currencyCode: '',
        exchangeRate: '',
        cdpAmount: 0,
        usedAmount: 0,
        balanceAmount: 0,
        appliedAmount: 0,
      }
    ],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCustomerCode: '',
    searchCustomerName: '',
    searchRefNo: '',
    searchRemark: '',
    totalTransactionAmount: 0,
    discountTypeCode: '',
    discountTypeName: '',
    discountAmount: 0,
    downPaymentAmount: 0,
    taxBaseAmount: 0,
    vatPercent: 0,
    vatAmount: 0,
    grandTotalAmount: 0,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    isdelete: false,
    totalRecords: 0,
    selectedRows: false,
    loadingDetails: false,
    loadingDlnDetails: false,
    loadingCDPDetails: false,

  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];

      const field = {
        code: this.searchCode,
        customerCode: this.searchCustomerCode,
        customerName: this.searchCustomerName,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'DESC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };

      let temp = await this.sales.searchSales('customer-invoice-sales-order', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDlnDetail() {
      this.listDln = [];
      this.loadingDlnDetails = true;
      const field = {
        code: this.code,
        type:"INV",
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('customer-invoice-sales-order/dln', field);
      this.loadingDlnDetails = false;
      return (this.listDln = temp.data);
    },
    async getListCdpDetail() {
      this.listCdp = [];
      this.loadingCdpDetails = true;
      const field = {
        code: this.code,
        type:"INV",
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('customer-invoice-sales-order/cdp', field);
      this.loadingCdpDetails = false;
      if (temp.data == null) {
        this.listCdp = [
          {
            code: '',
            customerDownPaymentCode: '',
            transactionDate: '',
            currencyCode: '',
            exchangeRate: '',
            cdpAmount: 0,
            usedAmount: 0,
            balancedAmount: 0,
            appliedAmount: 0,
          },
        ];
      } else {
        return (this.listCdp = temp.data);
      }
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      let prmCode = [this.code];
      const field = {
        detailCode: prmCode,
        type:"INV",
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchDataArraySales('customer-invoice-sales-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },

    createData() {
      this.$router.push({ path: '/sales/customer-invoice-sales-order/form' });
    },

    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/sales/customer-invoice-sales-order/form', query: param });
    },

    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },

    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.sales.deleteSales('customer-invoice-sales-order', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },

    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },

    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.totalTransactionAmount = event.data.totalTransactionAmount;
        this.discountTypeCode = event.data.discountTypeCode;
        this.discountTypeName = event.data.discountTypeName;
        this.discountAmount = event.data.discountAmount;
        this.downPaymentAmount = event.data.downPaymentAmount;
        this.taxBaseAmount = event.data.taxBaseAmount;
        this.vatPercent = event.data.vatPercent;
        this.vatAmount = event.data.vatAmount;
        this.grandTotalAmount = event.data.grandTotalAmount;
        this.getListDlnDetail();
        this.getListCdpDetail();
        this.getListDetail();
      }
      return event;
    },

    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },

    onPage(event) {
      this.meta = event;
      this.getList();
    },

    onSort(event) {
      this.meta = event;
      this.getList();
    },

    status(val, is) {
      return getStatus(val, is);
    },

    decimalCurrency(val) {
      return decimalCurrency(val);
    },

    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
