<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <label class="grid col-2 p-0 m-1">Search</label>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" class="p-inputtext-sm" v-model="searchCode" placeholder="By code" style="width: 100%" /></div>
      </div>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" class="p-inputtext-sm" v-model="searchName" placeholder="By name" style="width: 100%" /></div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="400px"
    class="col-12"
    :lazy="true"
    ref="dt"
    selectionMode="single"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="code" header="Code"></Column>
    <Column field="name" header="Name"></Column>
    <Column field="days" header="Days"></Column>
  </DataTable>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
// import {store} from '@/store';
import { valdNull } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { SalesControllers } from '@/controllers/sales/SalesControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    datas: null,
    list: [],
    searchCode: '',
    searchName: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.datas) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.datas);
        }
      } else {
        this.dialogRef.close((this.selectedRows = false));
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];

      if (this.module == 'payment-term') {
        const params = {
          code: this.searchCode,
          name: this.searchName,
          page: this.meta.page,
          size: this.meta.rows,
          sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
        };

        let temp = await this.master.searchMaster(this.module, params);
        this.totalRecords = temp.totalData;
        this.selectedRows = null;
        this.datas = null;
        this.loading = false;
        return (this.list = temp.data);
      } else {
        const params = {
          code: this.searchCode,
          name: this.searchName,
          salesOrderCode: this.dialogRef.data.salesOrderCode,
          page: this.meta.page,
          size: this.meta.rows,
          sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
        };
        let temp = await this.sales.searchSales(this.module, params);
        this.totalRecords = temp.totalData;
        this.selectedRows = null;
        this.datas = null;
        this.loading = false;
        return (this.list = temp.data);
      }
    },
    onRowSelect(event) {
      this.datas = event.data;
      return event;
    },
    onRowUnselect(event) {
      this.datas = null;
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
