<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Vendor JN Contact</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <div class="col-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Code *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="vendor.code" placeholder="Enter code" disabled="true" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
                  <small class="p-invalid" v-if="submitted && !vendor.code">Code is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Name *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="vendor.name" placeholder="Enter name" disabled="true" autofocus :class="{ 'p-invalid': isError && !form.code }" />
                  <small class="p-invalid" v-if="isError && !vendor.name">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Address *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="vendor.address" disabled="true" placeholder="Enter address" autofocus :class="{ 'p-invalid': isError && !form.address }" />
                  <small class="p-invalid" v-if="isError && !vendor.address">Address is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">City *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="vendor.cityCode" placeholder="Enter city" disabled="true" :class="{ 'p-invalid': isError && form.cityCode != '' }" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="vendor.cityName" placeholder="city name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Province</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="vendor.provinceCode" placeholder="Province code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="vendor.provinceName" placeholder="Province name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Island</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="vendor.islandCode" placeholder="Island code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="vendor.islandName" placeholder="Island name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Country</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="vendor.countryCode" placeholder="Country code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="vendor.countryName" placeholder="Country name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Phone1 *</label>
                <div class="col-12 md:col-4">
                  <div class="p-inputgroup">
                    <InputText type="text" v-model="vendor.phone1" placeholder="Enter Phone1" disabled="true" />
                    <small class="p-invalid" v-if="submitted && !vendor.phone1">Phone1 is required.</small>
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="vendor.phone2" placeholder="Enter Phone 2" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Email</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="vendor.emailAddress" placeholder="Enter emailAddress" disabled="true" />
                  <small class="p-invalid" v-if="submitted && !vendor.emailAddress">Email is required.</small>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Code *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.code" placeholder="Enter Code" disabled="true" autofocus :class="{ 'p-invalid': isError && !form.code }" />
                  <small class="p-invalid" v-if="isError && !form.code">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Name *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.name" placeholder="Enter name" autofocus :class="{ 'p-invalid': isError && !form.name }" />
                  <small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Phone *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.phone" placeholder="Enter Phone" autofocus :class="{ 'p-invalid': isError && !form.phone }" />
                  <small class="p-invalid" v-if="isError && !form.phone">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Mobile No *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.mobileNo" placeholder="Enter Mobile No" autofocus :class="{ 'p-invalid': isError && !form.mobileNo }" />
                  <small class="p-invalid" v-if="isError && !form.mobileNo">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Job Position *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.jobPositionCode" placeholder="Enter Job Position" @change="searchChange('job-position')" :class="{ 'p-invalid': isError && form.jobPositionCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('job-position')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.jobPositionName" placeholder="Job Position Name" disabled="true" />
                </div>
              </div>
              <div class="field grid mt-5">
                <div class="col-12 md:col-3 mt-5 md:mb-0"></div>
                <div class="col-6 md:col-3">
                  <Button label="Save" class="p-button-warning" @Click="submit"></Button>
                </div>
                <div class="col-6 md:col-3">
                  <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    vendor: {
      code: null,
      name: null,
      address: null,
      businessEntityCode: null,
      businessEntityName: null,
      cityCode: null,
      cityName: null,
      provinceCode: null,
      provinceName: null,
      islandCode: null,
      islandName: null,
      countryCode: null,
      countryName: null,
      npwpCityCode: null,
      npwpCityName: null,
      zipCode: null,
      phone1: null,
      phone2: null,
      emailAddress: null,
    },
    form: {
      code: 'AUTO',
      name: null,
      vendorCode: null,
      phone: null,
      mobileNo: null,
      jobPositionCode: null,
      jobPositionName: null,
    },
  }),
  created() {
    if (getParam('code')) {
      this.vendor.code = getParam('code');
      this.getDataVendor(getParam('code'));
    }

    if (getParam('vendorContactCode')) {
      this.submitted = true;
      this.form.code = getParam('vendorContactCode');
      this.getDataVendorContact(getParam('vendorContactCode'));
    }
  },
  mounted() {},
  methods: {
    async getDataVendor(data) {
      let temp = await this.master.dataMaster('vendor', { code: data });
      this.vendor = temp.data;
    },
    async getDataVendorContact(data) {
      let temp = await this.master.dataMaster('vendor-jn-contact', { code: data });
      this.form = temp.data;
      this.getDataVendor(this.form.vendorCode);
    },
    async submit() {
      let BreakException = [];
      this.isError = false;

      // start validasi
      if (!this.form.code) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.name) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.phone) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Phone can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.mobileNo) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Mobile No can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.jobPositionCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Job Position can't be null!", life: 3000 });
        throw BreakException;
      }
      // end vaidasi
      this.form.vendorCode = this.vendor.code;
      if (this.submitted) {
        await this.master.updateMaster('vendor-jn-contact', this.form);
      } else {
        await this.master.saveMaster('vendor-jn-contact', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
    async searchChange(master) {
      var data = null;
      switch (master) {
        case 'job-position':
          data = await this.master.dataMaster(master, { code: this.form.jobPositionCode });
          this.form.jobPositionCode = null;
          this.form.jobPositionName = null;
          this.form.jobPositionCode = data.data.code;
          this.form.jobPositionName = data.data.name;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'job-position':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Job Position', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              this.form.jobPositionCode = null;
              this.form.jobPositionName = null;
              if (data) {
                this.form.jobPositionCode = data.code;
                this.form.jobPositionName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
  },
};
</script>
