<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Assembly Job Order" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>ASM-JOB No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch * </b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-3">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" @change="searchChange('warehouse')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.warehouseName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Finish Goods *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.finishGoodsCode" @change="searchChange('finish-goods')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('finish-goods')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.finishGoodsName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Sub Category</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.itemSubCategoryCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.itemSubCategoryName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Item Category</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.itemCategoryCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.itemCategoryName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Item Division</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.itemDivisionCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.itemDivisionName" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton onIcon="pi pi-check" offIcon="pi pi-times" v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" /><InputText
            v-model="form.rackCode"
            disabled="true"
            style="visibility: hidden; width: 10rem"
          />
        </div>
        <BlockUI :blocked="isConfirm2" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
            <Panel class="col-12 m-0 p-0" style="margin-top: 0px">
              <div class="grid">
                <div class="cols-12 md:col-8">
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4"><b>BOM*</b></label>
                    <div class="col-6 md:col-3">
                      <div class="p-inputgroup">
                        <InputText v-model="form.billOfMaterialCode" @change="searchChange('bill-of-material')" />
                        <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bill-of-material')" />
                      </div>
                    </div>
                    <div class="col-6 md:col-5">
                      <InputText v-model="form.billOfMaterialName" disabled="true" />
                    </div>
                  </div>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4"><b>Finish Goods Quanitity *</b></label>
                    <div class="col-12 md:col-3">
                      <InputNumber type="text" v-model="form.finishGoodsQuantity" placeholder="0.00" />
                    </div>
                  </div>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4">Ref No.</label>
                    <div class="col-12 md:col-8">
                      <InputText type="text" v-model="form.refNo" />
                    </div>
                  </div>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4">Remark</label>
                    <div class="col-12 md:col-8">
                      <Textarea v-model="form.remark" rows="3" cols="20" />
                    </div>
                  </div>
                </div>
              </div>
            </Panel>
          </BlockUI>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton onIcon="pi pi-check" offIcon="pi pi-times" v-model="isConfirm2" @click="btnConfirm2" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm2" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <Panel class="col-12 m-0 p-0" style="margin-top: 0px">
            <DataTable
              showGridlines
              columnResizeMode="expand"
              responsiveLayout="scroll"
              dataKey="id"
              style="width: 100%"
              scrollHeight="400px"
              class="col-12 md:col-12 editable-cells-table"
              :resizableColumns="true"
              editMode="cell"
              :value="bomDetail"
              :loading="loadingBomDetails"
              @cell-edit-complete="onCellEditComplete"
            >
              <template #header>
                <div class="table-header">
                  <label style="font-weight: bold">BOM DETAIL</label>
                </div>
              </template>
              <Column header="No" style="width: 3rem">
                <template #body="{ index }">
                  {{ index + 1 }}
                </template>
              </Column>
              <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 12rem"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 35rem"></Column>
              <Column field="quantity" header="BOM Quantity" style="white-space: nowrap; width: 10rem"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 10rem"></Column>
            </DataTable>
            <DataTable
              showGridlines
              columnResizeMode="expand"
              responsiveLayout="scroll"
              dataKey="id"
              style="width: 100%"
              scrollHeight="400px"
              class="col-12 md:col-12 editable-cells-table"
              :resizableColumns="true"
              editMode="cell"
              :value="detail"
              :loading="loadingDetails"
              @cell-edit-complete="onCellEditComplete"
            >
              <template #header>
                <div class="table-header">
                  <label style="font-weight: bold">ASM DETAIL</label>
                </div>
              </template>
              <Column header="No" style="width: 3rem">
                <template #body="{ index }">
                  {{ index + 1 }}
                </template>
              </Column>
              <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 12rem"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 35rem"></Column>
              <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 10rem; text-align: right">
                <template #body="slotProps">
                  <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
                </template>
                <template #editor="{ data, field, index }">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
                </template>
              </Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 10rem"></Column>
            </DataTable>
          </Panel>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpWarehouse from '@/components/lookup/master/LookUpWarehouse';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import LookUpBillOfMaterial from '@/components/lookup/master/LookUpBillOfMaterial';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    isConfirm2: false,
    loadingDetails: false,
    loadingBomDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      warehouseCode: null,
      warehouseName: null,
      finishGoodsCode: null,
      finishGoodsName: null,
      billOfMaterialCode: null,
      billOfMaterialName: null,
      finishGoodsQuantity: 0,
      refNo: null,
      remark: null,
    },
    detail: [],
    bomDetail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.isConfirm2 = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.finishGoodsName == '' || this.form.finishGoodsName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    btnConfirm2() {
      let BreakException = [];
      try {
        if (this.form.billOfMaterialName == '' || this.form.billOfMaterialName == null) {
          this.isConfirm2 = false;
          this.$toast.add({ severity: 'warn', summary: "Bill Of Material can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm2 == false) {
          this.detail = [];
          this.bomDetail = [];
        } else {
          this.getListBomDetail();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('assembly/job-order', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async getListBomDetail() {
      this.bomDetail = [];
      this.loadingBomDetails = true;
      const field = {
        headerCode: this.form.billOfMaterialCode,
        rackCode: this.form.rackCode,
        warehouseCode: this.form.warehouseCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.master.searchMaster('bill-of-material/ajo/detail', field);
      this.loadingBomDetails = false;
      this.bomDetail = temp.data;
      
      if (getParam('code')) {
        this.getListUpdateDetail();
      } else {
        this.getListNewDetail();
      }

      return (this.bomDetail = temp.data);
    },
    getListNewDetail() {
      this.detail = [];
      this.loadingDetails = true;
      this.bomDetail.forEach((datas) => {
        let bomDetail = {
          code: '',
          itemCode: datas.itemCode,
          itemName: datas.itemName,
          quantity: datas.quantity * this.form.finishGoodsQuantity,
          unitOfMeasureCode: datas.unitOfMeasureCode,
        };
        this.detail.push(bomDetail);
      });
      this.loadingDetails = false;
    },
    async getListUpdateDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('assembly/job-order/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.listAssemblyJobOrderItemDetail = this.detail;
        if (this.submitted) {
          await this.inventory.updateInventory('assembly/job-order', formSubmit);
        } else {
          await this.inventory.saveInventory('assembly/job-order', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let data = null;
      switch (master) {
        case 'branch':
          data = await this.master.dataMaster(master, { code: this.form.branchCode });
          this.form.branchCode = data.data.code;
          this.form.branchName = data.data.name;
          break;
        case 'warehouse':
          data = await this.master.dataMaster(master, { code: this.form.warehouseCode });
          this.form.warehouseCode = data.data.code;
          this.form.warehouseName = data.data.name;
          this.form.rackCode = data.data.rackDockInCode;
          break;
        case 'finish-goods':
          data = await this.master.dataMaster(master, { code: this.form.finishGoodsCode });
          this.form.finishGoodsCode = data.data.code;
          this.form.finishGoodsName = data.data.name;
          this.form.itemSubCategoryCode = data.data.itemSubCategoryCode;
          this.form.itemSubCategoryName = data.data.itemSubCategoryName;
          this.form.itemCategoryCode = data.data.itemCategoryCode;
          this.form.itemCategoryName = data.data.itemCategoryName;
          this.form.itemDivisionCode = data.data.itemDivisionCode;
          this.form.itemDivisionName = data.data.itemDivisionName;
          break;
        case 'bill-of-material':
          data = await this.master.dataMaster(master, { code: this.form.billOfMaterialCode, finishGoodsCode: this.form.finishGoodsCode });
          this.form.billOfMaterialCode = data.data.code;
          this.form.billOfMaterialName = data.data.name;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'warehouse':
          this.$dialog.open(LookUpWarehouse, {
            props: { header: 'Search Master Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
                this.form.rackCode = data.rackDockInCode;
              }
            },
          });
          break;
        case 'finish-goods':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Finish Goods', style: { width: '70vw' }, modal: true },
            data: { module: 'item' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.finishGoodsCode = data.code;
                this.form.finishGoodsName = data.name;
                this.form.itemSubCategoryCode = data.itemSubCategoryCode;
                this.form.itemSubCategoryName = data.itemSubCategoryName;
                this.form.itemCategoryCode = data.itemCategoryCode;
                this.form.itemCategoryName = data.itemCategoryName;
                this.form.itemDivisionCode = data.itemDivisionCode;
                this.form.itemDivisionName = data.itemDivisionName;
              }
            },
          });
          break;
        case 'bill-of-material':
          this.$dialog.open(LookUpBillOfMaterial, {
            props: { header: 'Search Master Bill Of Material', style: { width: '70vw' }, modal: true },
            data: { module: 'bill-of-material/assembly', finishGoodsCode: this.form.finishGoodsCode },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.billOfMaterialCode = data.code;
                this.form.billOfMaterialName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          data = await this.master.dataMaster('item', { code: newValue });
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
