<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Assembly Job Order</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <template v-slot:end>
              <div class="col-12 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
            </template>
          </Toolbar>
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-6 grid m-0 p-0 my-2" style="border: 0px solid black">
                <div class="col-4 md:col-12 field grid m-0 p-0">
                  <div class="col-12 md:col-12 field grid m-0 p-0">
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Period Date</label>
                      <div class="col-4 md:col-4 m-0 p-0">
                        <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                      </div>
                      <div class="col-4 md:col-4 m-0 p-0">
                        <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-0 m-0 p-1">Finish Goods</label>
                      <div class="col-3 md:col-3 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchFinishGoodsCode" class="p-inputtext-sm" placeholder=" Code" />
                      </div>
                      &nbsp;
                      <div class="col-2 md:col-5 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchFinishGoodsName" class="p-inputtext-sm" placeholder=" Name" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-0 m-0 p-1">ASM-JOB No.</label>
                      <div class="col-12 md:col-8 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchCode" class="p-inputtext-sm" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 md:col-3 grid m-0 p-0">
                    <div class="col-12 md:col-12 field grid m-0 p-0" style="justify-content: right">
                      <div class="col-12 md:col-12 m-0 p-0 px-1 mb-2">
                        <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 grid m-0 p-0 my-2" style="border: 0px solid black">
                <div class="col-4 md:col-12 field grid m-0 p-0">
                  <div class="col-12 md:col-12 field grid m-0 p-0">
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Ref No.</label>
                      <div class="col-12 md:col-8 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchRefNo" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Remark</label>
                      <div class="col-12 md:col-8 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchRemark" class="p-inputtext-sm" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="code" header="ASM-JOB No" style="white-space: nowrap; min-width: 16rem" :sortable="true"></Column>
              <Column field="assemblyJobDate" header="Transaction Date" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="finishGoodsCode" header="Finish Goods Code" style="min-width: 12rem;white-space"></Column>
              <Column field="finishGoodsName" header="Finish Goods Name" style="min-width: 35rem;white-space"></Column>
              <Column field="billOfMaterialCode" header="BOM Code" style="min-width: 12rem;white-space"></Column>
              <Column field="billOfMaterialName" header="BOM Name" style="min-width: 35rem;white-space"></Column>
              <Column field="finishGoodsQuantity" header="Quantity" style="min-width: 12rem;white-space"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="min-width: 10rem;white-space"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 12rem;white-space"></Column>
              <Column field="remark" header="Remark" style="min-width: 12rem;white-space"></Column>
              <Column field="assemblyRealizationCode" header="assemblyRealizationCode" style="min-width: 12rem;white-space" hidden></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">Item Detail</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="itemCode" header="Item Code" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="min-width: 45rem;white-space" :sortable="true"></Column>
              <Column field="quantity" header="ASM-JOB Quantity" style="min-width: 12rem;white-space">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
              </Column>
              <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12rem;white-space"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import { getStatus, valdNull,decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    inventory: new InventoryControllers(),
    code: null,
    assemblyRealizationCode: null,
    list: [],
    listDetail: [],
    searchCode: '',
    searchFinishGoodsCode: '',
    searchFinishGoodsName: '',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    searchRefNo: '',
    searchRemark: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,
    loadingDetails: false,
    loadingPickDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        finishGoodsCode: this.searchFinishGoodsCode,
        finishGoodsName: this.searchFinishGoodsName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'DESC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('assembly/job-order', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'ASC',
      };
      let temp = await this.inventory.searchInventory('assembly/job-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    createData() {
      this.$router.push({ path: '/inventory/assembly-job-order/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      if (this.assemblyRealizationCode != "") {
        this.$toast.add({ severity: 'warn', summary: 'Data Already in Realization !', life: 3000 });
        return;
      }

      const param = {
        code: this.code,
      };

      this.$router.push({ path: '/inventory/assembly-job-order/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      if (this.assemblyRealizationCode !== "") {
        this.$toast.add({ severity: 'warn', summary: 'Data Already in Realization !', life: 3000 });
        return;
      }

      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.inventory.deleteInventory('assembly/job-order', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.assemblyRealizationCode = event.data.assemblyRealizationCode;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
