<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Purchase Request" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>PRQ No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Division * </b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.divisionCode" placeholder="Enter division" @change="searchChange('division')" :class="{ 'p-invalid': isError && form.divisionName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('division')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.divisionName" placeholder="division name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Department</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.departmentCode" placeholder="departement code" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.departmentName" placeholder="departement name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Requset By</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.requestBy" placeholder="Enter request by" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="Enter ref No" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton  onIcon="pi pi-check" offIcon="pi pi-times" v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 25rem">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" />
                </template>
            </Column>
            <Column field="onHandStock" header="OnHand Stock" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="minStock" header="Min Stock" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.minStock) }}</template>
            </Column>
            <Column field="maxStock" header="Max Stock" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.maxStock) }}</template>
            </Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" />
                </template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookUpItem from '@/components/lookup/master/LookUpItem';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupDivision from '@/components/lookup/master/LookupDivision';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    purchase: new PurchaseControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      divisionCode: store.state.defaultDivisionCode,
      divisionName: store.state.defaultDivisionName,
      departmentCode: null,
      departmentName: null,
      requestBy: null,
      refNo: null,
      remark: null,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
    this.searchChange('division');
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.divisionName == '' || this.form.divisionName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Division can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItem, {
        props: { header: 'Search Master Item', style: { width: '90vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let item = {
                itemCode: datas.code,
                itemName: datas.name,
                itemAlias: datas.name,
                onHandStock: datas.onHandStock,
                inventoryType: datas.inventoryType,
                minStock: datas.minStock,
                maxStock: datas.maxStock,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                remark: '',
              };
              this.checkExistingItem(item);
              this.detail.push(item);
            });
          }
        },
      });
    },
    checkExistingItem(selected) {
      this.detail.forEach((datas) => {
        // alert(datas.inventoryType);
        if (selected.itemCode == datas.itemCode && datas.itemCode != '' && selected.inventoryType =='INVENTORY' ) {
          let add = {
            itemCode: selected.itemCode,
            itemName: selected.name,
            itemAlias: selected.name,
            onHandStock: selected.onHandStock,
            minStock: selected.minStock,
            maxStock: selected.maxStock,
            quantity: 0,
            unitOfMeasureCode: selected.unitOfMeasureCode,
            remark: '',
          };
          this.detail.replace(add);
        }
      });
    },
    remove(index) {
      this.detail.splice(index, 1);
    },
    async getData(data) {
      let temp = await this.purchase.dataPurchase('purchase-request', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-request/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listPurchaseRequestDetail = this.detail;
        if (this.submitted) {
          await this.purchase.updatePurchase('purchase-request', formSubmit);
        } else {
          await this.purchase.savePurchase('purchase-request', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let data = null;
      switch (master) {
        case 'branch':
          data = await this.master.dataMaster(master, { code: this.form.branchCode });
          this.form.branchCode = data.data.code;
          this.form.branchName = data.data.name;
          break;
        case 'division':
          data = await this.master.dataMaster(master, { code: this.form.divisionCode });
          this.form.divisionCode = data.data.code;
          this.form.divisionName = data.data.name;
          this.form.departmentCode = data.data.departmentCode;
          this.form.departmentName = data.data.departmentName;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'division':
          this.$dialog.open(LookupDivision, {
            props: { header: 'Search Master Division', style: { width: '50vw' }, modal: true },
            data: { module: 'division' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.divisionCode = data.code;
                this.form.divisionName = data.name;
                this.form.departmentCode = data.departmentCode;
                this.form.departmentName = data.departmentName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          data = await this.master.dataMaster('bank', { code: newValue });
          // data['itemCode'] = this.detail[index].itemCode = data.data.code;
          // data['itemName'] = this.detail[index].itemName = data.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
