<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Giro Payment Rejected" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-8">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Giro Payment No *</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy"
                    :class="{ 'p-invalid': isError && form.transactionDate == '' }" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')"
                      :class="{ 'p-invalid': isError && form.branchName != '' }" :disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Giro No *</b></label>
                <div class="col-6 md:col-8">
                  <div class="p-inputgroup">
                    <InputText v-model="form.giroNo" placeholder="Enter giro"
                      :class="{ 'p-invalid': isError && form.giroNo != '' }" :disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Bank *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.bankCode" placeholder="Enter bank" @change="searchChange('bank')"
                      :class="{ 'p-invalid': isError && form.bankName != '' }" :disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.bankName" placeholder="Name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Payment To</label>
                <div class="col-6 md:col-8">
                  <InputText v-model="form.paymentTo" placeholder="Enter Payment To" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" placeholder="Enter currency"
                      @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyName != '' }"
                      disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Amount</label>
                <div class="col-6 md:col-8 mt-1">
                  <InputNumber mode="decimal" v-model="form.amount" placeholder="1" inputClass="text-right"
                    disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Giro Due Date *</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy"
                    :class="{ 'p-invalid': isError && form.transactionDate == '' }" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Refno</label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm"
                    disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Rejected Reason *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.rejectedReasonCode" placeholder="Enter reason"
                      @change="searchChange('reason')" :class="{ 'p-invalid': isError && form.reasonCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"
                      @click="lookUpMaster('reason')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.rejectedReasonName" placeholder="reason name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Rejected Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.rejectedRemark" rows="3" cols="20" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"></label>
                <div class="col-12 md:col-8 py-1">
                  <div class="field grid">
                    <div class="col-6 md:col-4"><Button label="Save" class="p-button-warning" @Click="submit"></Button>
                    </div>
                    <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </Panel>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      currencyCode: null,
      paymentTo: null,
      bankAccountCode: null,
      amount: 0,
      giroNo: null,
      bankCode: null,
      dueDate: store.state.currentDate,
      refNo: null,
      remark: null,
      rejectedReasonCode: null,
      rejectedReasonName: null,
      rejectedReasonRemark: null,
    },
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
   methods: {
    async getData(data) {
      let temp = await this.finance.dataFinance('giro-payment', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.dueDate = moment(temp.data.dueDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async submit() {
      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');

        await this.finance.updateFinance('giro-payment/reject', formSubmit);
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'reason':
          temp = await this.master.dataMaster('approval-reason', { code: this.form.rejectedReasonCode });
          if (temp) {
            this.form.rejectedReasonCode = temp.data.code;
            this.form.rejectedReasonName = temp.data.name;
          } else {
            this.form.rejectedReasonCode = null;
            this.form.rejectedReasonName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'approval-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.rejectedReasonCode = data.code;
                this.form.rejectedReasonName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
