<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Bank Received" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>BR No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Bank Account *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.bankAccountCode" placeholder="Enter Bank Account" @change="searchChange('bank-account')" :class="{ 'p-invalid': isError && form.paymentTermName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('bank-account')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.bankAccountName" placeholder="Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.bankAccountBBMVoucherNo" placeholder="BBMVoucherNo" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.bankAccountChartOfAccountCode" placeholder="BBM Chart Of Account Code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.bankAccountChartOfAccountName" placeholder="BBM Chart Of Account Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Exchange Rate</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputNumber v-model="form.exchangeRate" @input="blurEventHandler($event, 'exchangeRate')" inputClass="text-right" mode="decimal" :minFractionDigits="2" :disabled="'IDR' == form.currencyCode ? true : false" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Amount (Debit)</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <div class="p-inputgroup">
                        <InputNumber v-model="form.totalTransactionAmount" @input="blurEventHandler($event, 'totalTransactionAmount')" inputClass="text-right" mode="decimal" :minFractionDigits="2" />
                      </div>
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputNumber v-model="form.totalTransactionAmountIDR" @input="blurEventHandler($event, 'totalTransactionAmountIDR')" inputClass="text-right" mode="decimal" :minFractionDigits="2" disabled="true" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 md:col-4">Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="Regular" name="type" value="Regular" v-model="form.transactionType" @change="onChangeOptionDepositType()" />
                      <label for="Regular">Regular</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="Deposit" name="type" value="Deposit" v-model="form.transactionType" @change="onChangeOptionDepositType()" />
                      <label for="Deposit">Deposit</label>
                    </div>
                  </div>
                </div>
                <div class="field grid" :style="form.transactionType == 'Regular' ? 'display: none;' : ''">
                  <label class="col-12 mb-2 md:col-4">Deposit Type</label>
                  <div class="col-6 md:col-4 mb-1">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerDepositTypeCode" placeholder="Enter depositType"  @change="searchChange('customer-deposit-type')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" :disabled="form.transactionType == '1'" @click="lookUp('customer-deposit-type')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerDepositTypeName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Type *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <Dropdown v-model="selectedPaymentType" :options="listPaymentType" optionLabel="name" placeholder="Select a Giro" />
                    </div>
                  </div>
                </div>
                <Fieldset class="mb-2" :style="selectedPaymentType.code == 'GIRO' ? 'display: none;' : ''">
                  <template #legend><b>Transferr / Other</b></template>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4"><b>Payment Date *</b></label>
                    <div class="col-6 md:col-8">
                      <Calendar id="icon" v-model="form.transferReceivedDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                    </div>
                    <label class="col-12 mb-2 md:col-4">Payment Refno</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.transferReceivedNo" placeholder="TF No" />
                    </div>
                    <label class="col-12 mb-2 md:col-4">Payment Bank</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.transferBankName" placeholder="Bank Name" />
                    </div>
                  </div>
                </Fieldset>
                <Fieldset class="mb-2" :style="selectedPaymentType.code != 'GIRO' ? 'display: none;' : ''">
                  <template #legend><b>Giro</b></template>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4"><b>Giro No *</b></label>
                    <div class="col-6 md:col-8">
                      <div class="p-inputgroup">
                        <InputText v-model="form.giroReceivedCode" placeholder="Enter giro" @change="searchChange('giro-received')" :class="{ 'p-invalid': isError && form.giroReceivedCode != '' }" />
                        <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('giro-received')" />
                      </div>
                    </div>
                    <label class="col-12 mb-2 md:col-4">Bank</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.giroReceivedBankCode" placeholder="Giro Bank Code" disabled="true" />
                    </div>
                    <label class="col-12 mb-2 md:col-4">Giro Due Date</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.giroReceivedDueDate" placeholder="Giro Due date" disabled="true" />
                    </div>
                  </div>
                </Fieldset>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
            ><template #header>
              <div class="table-header">
                <label style="font-weight: bold">DOCUMENT DETAIL</label>
                <Button icon="pi pi-search" label="Search Document" class="p-button-sm p-button-warning" style="width: 15rem" @Click="lookupAddDetail" :style="form.transactionType == 'Deposit' ? 'display: none;' : ''"/>
              </div>
            </template>
            <Column header="#" style="width: 2rem" :style="form.transactionType == 'Deposit' ? 'display: none;' : ''">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="transactionStatus" header="Status" class="dt-readonly" style="width: 15rem"></Column>
            <Column field="documentCode" header="DocumentNo" class="dt-readonly" style="width: 15rem"></Column>
            <Column field="chartOfAccountCode" header="COA Code" class="dt-readonly" style="width: 15rem"></Column>
            <Column field="chartOfAccountName" header="COA Name" class="dt-readonly" style="width: 15rem"></Column>
            <Column field="currencyCode" header="Currency Code" class="dt-readonly" style="width: 15rem"></Column>
            <Column field="exchangeRate" header="ExchangeRate" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.exchangeRate < 1 }">{{ decimalCurrency(slotProps.data.exchangeRate)
                  }}</span>
              </template>
            </Column>
            <Column field="amountIDR" header="Amount (IDR)" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.amountIDR < 1 }">{{ decimalCurrency(slotProps.data.amountIDR) }}</span>
              </template>
            </Column>
            <Column field="amountForeign" header="Amount (Foreign)" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.amountForeign < 1 }">{{ decimalCurrency(slotProps.data.amountForeign)
                  }}</span>
              </template>
            </Column>
            <Column field="balanceIDR" header="Balance (IDR)" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.balanceIDR < 1 }">{{ decimalCurrency(slotProps.data.balanceIDR)
                  }}</span>
              </template>
            </Column>
            <Column field="balance" header="Balance (Foreign)" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.balance < 1 }">{{ decimalCurrency(slotProps.data.balance) }}</span>
              </template>
            </Column>
            <Column field="debit" header="Debit (Foreign)" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.debit < 1 }">{{ decimalCurrency(slotProps.data.debit) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="debitIDR" header="Debit (IDR)" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.debitIDR < 1 }">{{ decimalCurrency(slotProps.data.debitIDR) }}</span>
              </template>
            </Column>
            <Column field="credit" header="Credit (Foreign)" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.credit < 1 }">{{ decimalCurrency(slotProps.data.credit) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="creditIDR" header="Credit (IDR)" class="dt-readonly" style="min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.creditIDR < 1 }">{{ decimalCurrency(slotProps.data.creditIDR) }}</span>
              </template>
            </Column>
            <Column field="remark" header="Description" class="" style="width: 10rem; text-align: right">
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
          </DataTable>
          <div class="col-12 pt-0 mt-0" :style="form.transactionType == 'Deposit' ? 'display: none;' : ''">
            <Button icon="pi pi-plus" label="Add" class="p-button-sm p-button-warning" style="width: 5rem" @Click="addDetail" :disabled="form.transactionType == '0'" />
          </div>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-8 m-0 p-0">
                <div class="field grid m-0 p-0">
                  <Divider />
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: center; font-weight: bold"></label>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: center; font-weight: bold">Foreign</label>
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: center; font-weight: bold">IDR</label>
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.debitForeign)" style="text-align: right" v-model="form.debitForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.debitIDR)" style="text-align: right" v-model="form.debitIDR" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.creditForeign)" style="text-align: right" v-model="form.creditForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.creditIDR)" style="text-align: right" v-model="form.creditIDR" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Ballance</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.balanceForeign)" style="text-align: right" v-model="form.balanceForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.balanceIDR)" style="text-align: right" v-model="form.balanceIDR" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-4 m-0 p-0">
                <div class="field grid m-0 p-0">
                  <Divider />
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0" />
                <div class="col-12 md:col-12 field grid m-0 p-0" />
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 mt-1" style="text-align: right; font-weight: bold">Forex Gain / Loss</label>
                  <div class="col-12">
                    <InputText :value="decimalCurrency(form.forexGainLoss)" style="text-align: right" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpGiroReceived from '@/components/lookup/finance/LookUpGiroReceived';
import LookUpBankAccount from '@/components/lookup/master/LookUpBankAccount';
import { getParam, decimalCurrency, removeCommas, uniqueElementsBy } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import LookUpSearchDocument from '@/components/lookup/finance/LookUpSearchDocument';
export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingPrqDetails: false,
    loadingVdpDetails: false,
    selectedPaymentType: { name: 'GIRO', code: 'GIRO' },
    listPaymentType: [
      { name: 'GIRO', code: 'GIRO' },
      { name: 'TRANSFER', code: 'TRANSFER' },
      { name: 'OTHER', code: 'OTHER' },
    ],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      transferReceivedDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      bankAccountCode: null,
      bankAccountName: null,
      bankAccountBBMVoucherNo: null,
      bankAccountChartOfAccountCode: null,
      bankAccountChartOfAccountName: null,
      transactionType: 'Regular',
      receivedType: 'Regular',
      chartOfAccountCode: null,
      chartOfAccountName: null,
      customerDepositTypeCode: null,
      customerDepositTypeName: null,
      customerDepositTypeChartOfAccountCode: null,
      customerDepositTypeChartOfAccountName: null,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      exchangeRate: decimalCurrency(1),
      paymentTo: null,
      refNo: null,
      remark: null,

      giroReceivedCode: null,
      giroReceivedBankCode: '',
      giroReceivedDueDate: store.state.currentDate,
      transferReceivedNo: null,
      transferBankName: null,

      totalTransactionAmountIDR: 0,
      totalTransactionAmount: 0,
      forexGainLoss: 0,
      debitForeign: 0,
      creditForeign: 0,
      debitIDR: 0,
      creditIDR: 0,
      balanceForeign: 0,
      balanceIDR: 0,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'bank-account':
          temp = await this.master.dataMaster('bank-account', { code: this.form.bankAccountCode });
          if (temp) {
            this.form.bankAccountCode = temp.data.code;
            this.form.bankAccountName = temp.data.name;
            this.form.bankAccountBBMVoucherNo = temp.data.bbmVoucherNo;
            this.form.bankAccountChartOfAccountCode = temp.data.chartOfAccountCode;
            this.form.bankAccountChartOfAccountName = temp.data.chartOfAccountName;
          } else {
            this.form.bankAccountCode = null;
            this.form.bankAccountName = null;
            this.form.bankAccountBBMVoucherNo = null;
            this.form.bankAccountChartOfAccountCode = null;
            this.form.bankAccountChartOfAccountName = null;
          }
          break;
        case 'giro-received':
          temp = await this.finance.dataFinance(master, { code: this.form.giroPaymentCode });
          if (temp) {
            this.form.giroReceivedCode = temp.data.code;
            this.form.giroReceivedBankCode = temp.data.bankCode;
            this.form.giroReceivedDueDate = temp.data.dueDate;
          } else {
            this.form.giroReceivedCode = null;
            this.form.giroReceivedBankCode = null;
            this.form.giroReceivedDueDate = null;
          }
          break;
        case 'customer-deposit-type':
          temp = await this.master.dataMaster(master, { code: this.form.depositeTypeCode });
          if (temp) {
            this.form.customerDepositTypeCode = temp.data.code;
            this.form.customerDepositTypeName = temp.data.name;
          } else {
            this.form.customerDepositTypeCode = null;
            this.form.customerDepositTypeName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUp(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'customer-deposit-type':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Deposite Type', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-deposit-type' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.customerDepositTypeCode = data.code;
                this.form.customerDepositTypeName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'bank-account':
          this.$dialog.open(LookUpBankAccount, {
            props: { header: 'Search Bank Account', style: { width: '75vw' }, modal: true },
            data: { module: 'bank-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.bankAccountCode = data.code;
                this.form.bankAccountName = data.name;
                this.form.bankAccountBBMVoucherNo = data.bbmVoucherNo;
                this.form.bankAccountChartOfAccountCode = data.chartOfAccountCode;
                this.form.bankAccountChartOfAccountName = data.chartOfAccountName;
              }
            },
          });
          break;
        case 'giro-received':
          this.$dialog.open(LookUpGiroReceived, {
            props: { header: 'Search Giro Received', style: { width: '75vw' }, modal: true },
            data: { module: 'giro-received' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.giroReceivedCode = data.code;
                this.form.giroReceivedBankCode = data.bankCode;
                this.form.giroReceivedDueDate = data.dueDate;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.bankAccountName == '' || this.form.bankAccountName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Bank Account can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.currencyName == '' || this.form.currencyName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.transactionType == 'Deposit' && this.form.customerDepositTypeName == '') {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Customer Deposit Type can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.selectedPaymentType.code == 'GIRO' && this.form.giroReceivedBankCode == '') {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Giro can't be null!", life: 3000 });
          throw BreakException;
        }
        
        if (parseFloat(this.form.totalTransactionAmountIDR) < 1) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Amount must be greater than zero!", life: 3000 });
          throw BreakException;
        }

        if (this.isConfirm == false) {
          this.detail = [];
          this.resetSummary();
        } else {
          if (this.form.transactionType == 'Deposit') {
            this.addrowDepositType();
          } else {
            this.detail = [];
          }

          if (getParam('code')) {
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    addrowDepositType() {
      let detail = {
        documentCode: '',
        chartOfAccountCode: this.form.customerDepositTypeChartOfAccountCode,
        chartOfAccountName: this.form.customerDepositTypeChartOfAccountName,
        currencyCode: this.form.currencyCode,
        exchangeRate: 1,
        transactionStatus: 'Other',
        documentType: '',
        amount: 0,
        amountIDR: 0,
        balanceIDR: 0,
        balance: 0,
        debit: this.form.forexGainLoss,
        debitIDR: this.form.forexGainLoss,
        credit: 0,
        creditIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
      this.calculationSummary();
    },
    addDetail() {
      let detail = {
        documentCode: '',
        chartOfAccountCode: this.form.transactionType == 'Deposit' ? this.form.chartOfAccountCode : '',
        chartOfAccountName: this.form.transactionType == 'Deposit' ? this.form.chartOfAccountCode : '',
        currencyCode: this.form.currencyCode,
        exchangeRate: this.form.exchangeRate,
        transactionStatus: 'Other',
        documentType: '',
        amount: 0,
        amountIDR: 0,
        balance: 0,
        balanceIDR: 0,
        debit: 0,
        debitIDR: 0,
        credit: 0,
        creditIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
      this.calculationSummary();
    },
    lookupAddDetail() {
      this.$dialog.open(LookUpSearchDocument, {
        props: { header: 'Search Document', style: { width: '90vw' }, modal: true },
        data: { module: 'finance-request', financeDocumentID: 'BBM' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            console.log(data);
            data.forEach((data) => {
              let detail = {
                documentCode: data.documentNo,
                chartOfAccountCode: data.chartOfAccountCode,
                chartOfAccountName: data.chartOfAccountName,
                currencyCode: data.currencyCode,
                exchangeRate: data.exchangeRate,
                transactionStatus: 'Transaction',
                documentType: data.documentType,
                amountForeign: (parseFloat(data.grandTotalAmount) - parseFloat(data.paidAmount)) * parseFloat(data.exchangeRate),
                amountIDR: parseFloat(data.grandTotalAmount) - parseFloat(data.paidAmount),
                balanceIDR: parseFloat(data.balance),
                balance: parseFloat(data.balance) * parseFloat(data.exchangeRate),
                debit: parseFloat(data.debit) * parseFloat(data.exchangeRate),
                debitIDR: parseFloat(data.debit),
                credit: parseFloat(data.credit) * parseFloat(data.exchangeRate),
                creditIDR: parseFloat(data.credit),
                remark: '',
              };
              this.detail.push(detail);
              this.calculationSummary();
            });
          }
          this.detail = uniqueElementsBy(this.detail, (a, b) => a.documentCode == b.documentCode);
          this.calculationSummary();
        },
      });
    },
    lookUpCoaDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].chartOfAccountCode = data.code;
            this.detail[index].chartOfAccountName = data.name;
          }
        },
      });
    },
    remove(row) {
      this.detail.splice(row, 1);
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('bank-received', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.transferReceivedDate = moment(temp.data.transferReceivedDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.totalTransactionAmountIDR = parseFloat(this.form.totalTransactionAmount) * parseFloat(this.form.exchangeRate);
      this.form.forexGainLoss = 0;
      this.form.creditForeign = 0;
      this.form.creditIDR = 0;
      this.form.debitForeign = 0;
      this.form.debitIDR = 0;
      this.form.balanceForeign = 0;
      this.form.balanceIDR = 0;
      this.selectedPaymentType = { code: temp.data.receivedType.toUpperCase(), name: temp.data.receivedType.toUpperCase() };
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      let field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('bank-received/detail', field);
      if (temp?.data) {
        await temp.data.forEach(async (data) => {
          data.chartOfAccountCode = '';
          data.chartOfAccountName = '';
          data.currencyCode = '';
          data.exchangeRate = 1;
          data.amountForeign = 0;
          data.amountIDR = 0;
          data.balanceIDR = 0;
          data.balanceForeign = 0;
          let doc = await this.getListDoc(data.documentCode);
          if (doc.data && data.documentCode != '') {
            data.documentCode = doc.data[0].documentNo;
            data.chartOfAccountCode = doc.data[0].chartOfAccountCode;
            data.chartOfAccountName = doc.data[0].chartOfAccountName;
            data.currencyCode = doc.data[0].currencyCode;
            data.exchangeRate = doc.data[0].exchangeRate;
            data.transactionStatus = 'Transaction';
            data.documentType = doc.data[0].documentType;
            data.amountIDR = (parseFloat(doc.data[0].grandTotalAmount) - parseFloat(doc.data[0].paidAmount)) * parseFloat(doc.data[0].exchangeRate);
            data.amountForeign = parseFloat(doc.data[0].grandTotalAmount) - parseFloat(doc.data[0].paidAmount);
            data.balance = parseFloat(doc.data[0].balance);
            data.balanceIDR = parseFloat(doc.data[0].balance) * parseFloat(doc.data[0].exchangeRate);
          }
          this.detail.push(data);
          this.calculationSummary();
        });
      }
      this.loadingDetails = false;
    },
    async getListDoc(doc) {
      let field = {
        documentNo: doc,
        page: 0,
        size: 1,
        sort: 'documentNo,ASC',
      };
      console.log(field);
      return await this.finance.searchFinance('finance-document/doc', field);
    },
    async submit() {
      let BreakException = [];
      try {
        if (this.form.currencyCode !== 'IDR' && parseFloat(this.form.balanceForeign) !== 0) {
          this.$toast.add({ severity: 'warn', summary: "Balance Foreign Must be 0!", life: 3000 });
          throw BreakException;
        } else if (this.form.currencyCode === 'IDR' && parseFloat(this.form.balanceIDR) !== 0) {
          this.$toast.add({ severity: 'warn', summary: "Balance IDR Must be 0!", life: 3000 });
          throw BreakException;
        }

        if (this.detail.length < 1) {
          this.$toast.add({ severity: 'warn', summary: "Detail can't be empty!", life: 3000 });
          throw BreakException;
        }

        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transferReceivedDate = moment(this.form.transferReceivedDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.receivedType = this.selectedPaymentType.code;

        //Add Grid Detail
        formSubmit.listBankReceivedDetail = this.detail;
        if (this.submitted) {
          formSubmit.transferReceivedDate = formSubmit.transactionDate;
          formSubmit.dueDate = formSubmit.transactionDate;
          await this.finance.updateFinance('bank-received', formSubmit);
        } else {
          formSubmit.transferReceivedDate = formSubmit.transactionDate;
          formSubmit.dueDate = formSubmit.transactionDate;
          await this.finance.saveFinance('bank-received', formSubmit);
        }
        this.cancel();
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'chartOfAccountCode':
          temp = await this.master.dataMaster('chart-of-account', { code: newValue });
          data['chartOfAccountCode'] = this.detail[index].discountTypeCode = temp.data.code;
          data['chartOfAccountName'] = this.detail[index].chartOfAccountName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'debit':
          this.detail[index].debit = data['debit'];
          this.detail[index].debitIDR = parseFloat(this.detail[index].debit) * parseFloat(this.detail[index].exchangeRate);
          this.calculationSummary();
          break;
        case 'debitIDR':
          this.calculationSummary();
          break;
        case 'credit':
          this.detail[index].credit = data['credit'];
          this.detail[index].creditIDR = parseFloat(this.detail[index].credit) * parseFloat(this.detail[index].exchangeRate);
          this.calculationSummary();
          break;
        case 'creditIDR':
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    onChangeOptionDepositType() {
      this.form.customerDepositTypeCode = '';
      this.form.customerDepositTypeName = '';
      this.form.customerDepositTypeChartOfAccountCode = '';
    },
    resetSummary() {
      this.debitForeign = 0;
      this.creditForeign = 0;
      this.debitIDR = 0;
      this.creditIDR = 0;
      this.balanceForeign = 0;
      this.balanceIDR = 0;
    },
    blurEventHandler: function (e, input) {
      this.form[input] = e.value;
      this.calculationSummary();
    },
    calculationSummary() {
      this.form.totalTransactionAmountIDR = parseFloat(this.form.totalTransactionAmount) * parseFloat(this.form.exchangeRate);
      this.form.forexGainLoss = 0;
      this.form.creditForeign = 0;
      this.form.creditIDR = 0;
      this.form.debitForeign = parseFloat(this.form.totalTransactionAmount);
      this.form.debitIDR = parseFloat(this.form.totalTransactionAmountIDR);
      this.detail.forEach((datas) => {
        if (this.form.currencyCode !== 'IDR') {
          if (datas.currencyCode === this.form.currencyCode) {
            let selisihKurs = parseFloat(datas.exchangeRate) - parseFloat(this.form.exchangeRate);
            let nilaiDokumen = parseFloat(datas.debit) - parseFloat(datas.credit);

            let nilaiForex = selisihKurs * nilaiDokumen;
            this.form.forexGainLoss += parseFloat(nilaiForex);
          }
        }
        this.form.creditForeign += parseFloat(datas.credit);
        this.form.creditIDR += parseFloat(datas.creditIDR);
        this.form.debitForeign += parseFloat(datas.debit);
        this.form.debitIDR += parseFloat(datas.debitIDR);
      });

      this.form.balanceForeign = parseFloat(this.form.creditForeign) - parseFloat(this.form.debitForeign);
      this.form.balanceIDR = parseFloat(this.form.creditIDR) - parseFloat(this.form.debitIDR);
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
