<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Sales Order" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">SO No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Delivery Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.requestDeliveryDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.requestDeliveryDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Expired Date * </b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.expiredDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.expiredDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer PO</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.customerPurchaseOrderNo" placeholder="Customer Purchase Order Code" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">SO No Link</label>
                  <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderLinkCode" placeholder="Enter sales No Link" @change="searchChange('link-so')" :class="{ 'p-invalid': isError && form.salesOrderLinkCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('link-so')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">SO Date Link</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.salesOrderLinkDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.salesOrderLinkDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Sales Person *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesPersonCode" placeholder="Enter sales person" @change="searchChange('sales-person')" :class="{ 'p-invalid': isError && form.salesPersonCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('sales-person')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.salesPersonName" placeholder="sales person name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 md:col-4">Subsidy Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="subsidyStatus" value="1" v-model="form.subsidyStatus" />
                      <label for="1">Yes</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="subsidyStatus" value="0" v-model="form.subsidyStatus" />
                      <label for="0">No</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Customer * </b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" placeholder="Enter customer" @change="searchChange('customer')" :class="{ 'p-invalid': isError && form.customerCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerName" placeholder="customer name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Price Type</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.priceTypeCode" placeholder="Price Type " disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.priceTypeName" placeholder="Price Type Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.creditLimit" hidden />
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.outstandingAmountCustomer" hidden />
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.approvalStatus" hidden />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Bill To * </b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billToCode" placeholder="Enter bill to" @change="searchChange('bill-to')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bill-to')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">NPWP Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="npwpStatus" value="1" v-model="form.npwpStatus" disabled="true" />
                      <label for="1">Yes</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="npwpStatus" value="0" v-model="form.npwpStatus" disabled="true" />
                      <label for="0">No</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Ship To *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" placeholder="Enter ship to" @change="searchChange('ship-to')" :class="{ 'p-invalid': isError && form.shipToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('ship-to')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToName" placeholder="ship to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.shipToAddress" placeholder="ship to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToContactPerson" placeholder="ship to contact person" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Project</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.projectCode" placeholder="Enter project" @change="searchChange('project')" :class="{ 'p-invalid': isError && form.projectCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('project')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.projectName" placeholder="project name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Project Parent</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.projectParentCode" placeholder="project parent" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.projectParentName" placeholder="project parent name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
              <div class="cols-6 md:col-8">
                <DataTable
                  showGridlines
                  columnResizeMode="expand"
                  responsiveLayout="scroll"
                  dataKey="paymentTermCode"
                  scrollHeight="400px"
                  selectionMode="single"
                  class="col-12 md:col-12 py-1 editable-cells-table"
                  :resizableColumns="true"
                  editMode="cell"
                  :value="detailTerm"
                  :loading="loadingTermDetails"
                >
                  <template #header>
                    <div class="table-header">
                      <label style="font-weight: bold">Payment Term</label>
                      <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @click="lookUpMaster('payment-term')" />
                    </div>
                  </template>
                  <Column header="#" style="width: 2rem">
                    <template #body="{ index }">
                      <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeTerm(index)" />
                    </template>
                  </Column>
                  <Column field="code" header="ID" style="white-space: nowrap; width: 5rem" hidden>
                    <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
                  </Column>
                  <Column field="paymentTermNo" header="Term No" style="white-space: nowrap; width: 10rem">
                    <template #editor="{ data, field, index }">
                      <div class="p-inputgroup">
                        <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                      </div>
                    </template>
                  </Column>
                  <Column field="paymentTermCode" header="Payment Term Code" style="white-space: nowrap; width: 15rem"></Column>
                  <Column field="paymentTermName" header="Payment Term Name" style="white-space: nowrap; width: 15rem"></Column>
                  <Column field="paymentTermPercent" header="Percent" style="white-space: nowrap; min-width: 8rem; text-align: right">
                    <template #body="slotProps">
                      <span :style="{ 'color:red;': slotProps.data.paymentTermPercent < 1 }">{{ decimalCurrency(slotProps.data.paymentTermPercent) }}</span>
                    </template>
                    <template #editor="{ data, field, index }">
                      <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
                    </template>
                  </Column>
                  <Column field="remark" header="Remark" style="white-space: nowrap; width: 10rem">
                    <template #editor="{ data, field, index }">
                      <div class="p-inputgroup">
                        <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                      </div>
                    </template>
                  </Column>
                </DataTable>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p- m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" /> &nbsp;
          <InputText v-model="form.totalTermPercent" placeholder="0.00" :style="{ width: '8em' }" style="text-align: right" disabled="true" class="p-inputtext-sm" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="arDetail"
            :loading="loadingArDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Outstanding AR</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="documentCode" header="Document No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyCode" header="Currency Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyName" header="Currency Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.exchangeRate < 1 }">{{ decimalCurrency(slotProps.data.exchangeRate) }}</span>
              </template>
            </Column>
            <Column field="grandTotalAmount" header="Grand Total" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.grandTotalAmount < 1 }">{{ decimalCurrency(slotProps.data.grandTotalAmount) }}</span>
              </template>
            </Column>
            <Column field="paidAmount" header="Paid Amount" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.paidAmount < 1 }">{{ decimalCurrency(slotProps.data.paidAmount) }}</span>
              </template>
            </Column>
            <Column field="balanceAmount" header="Ballance Amount" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.balanceAmount < 1 }">{{ decimalCurrency(slotProps.data.balanceAmount) }}</span>
              </template>
            </Column>
          </DataTable>
        </BlockUI>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="itemCode"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            selectionMode="multiple"
            v-model:selection="selectedRows"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
            @rowSelect="onRowSelect"
            @rowUnselect="onRowUnselect"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">SO DETAIL</label>
                <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem; margin-right: 85em" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @change="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCatalogDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @change="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="subsidyPrice" header=" Subsidy Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.subsidyPrice < 1 }">Rp. {{ decimalCurrency(slotProps.data.subsidyPrice) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @change="onCellEditInit(data, field, index)" style="text-align: right" :disabled="form.subsidyStatus == 0" />
              </template>
            </Column>
            <Column field="price" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">Rp. {{ decimalCurrency(slotProps.data.price) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @change="onCellEditInit(data, field, index)" style="text-align: right" :disabled="form.subsidyStatus == 1" />
              </template>
            </Column>
            <Column field="discountCode" header="Discount Code" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpDiscountTypeDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="discountName" header="Discount Name" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="discountAmount" header="Discount Amount" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.discountAmount) }}</template>
            </Column>
            <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.nettPrice) }}</template>
            </Column>
            <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</template>
            </Column>
          </DataTable>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            selectionMode="single"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detailStock"
            :loading="loadingStockDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ON HAND STOCK</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="warehouseCode" header="Warehouse Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="warehouseName" header="Warehouse Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="actualStock" header="On Hand Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.actualStock) }}</template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right;">Discount</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountCode" placeholder="Enter Discount Type" @change="searchChange('data-discount-type')" :class="{ 'p-invalid': isError && form.discountCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('discount-type')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountName" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.discountAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseAmount)" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4"><InputText v-model="form.vatPercent" style="text-align: right" @change="onChangeVatPercent()" /></div>
                  <div class="col-8 md:col-4"><InputText v-model="form.vatAmount" :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.grandTotalAmount" :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookUpItem from '@/components/lookup/master/LookUpItem';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpCatalog from '@/components/lookup/master/LookUpCatalog';
import LookUpCustomer from '@/components/lookup/master/LookUpCustomer';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import LookUpSalesOrder from '@/components/lookup/sales/LookUpSalesOrder';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpPaymentTerm from '@/components/lookup/master/LookUpPaymentTerm';
import LookUpDiscountType from '@/components/lookup/master/LookUpDiscountType';
import LookUpCustomerAddress from '@/components/lookup/master/LookUpCustomerAddress';
import { getParam, decimalCurrency, removeCommas, uniqueElementsBy } from '@/utils/function';
export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingDetails: false,
    loadingArDetails: false,
    loadingTermDetails: false,
    loadingStockDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      requestDeliveryDate: store.state.currentDate,
      expiredDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: null,
      customerPurchaseOrderNo: null,
      salesOrderLinkCode: null,
      salesOrderLinkDate: store.state.currentDate,
      approvalStatus: 'PENDING',
      salesPersonCode: null,
      salesPersonName: null,
      subsidyStatus: '0',
      customerCode: null,
      priceTypeCode: null,
      billToCode: null,
      shipToCode: null,
      projectCode: null,
      refNo: null,
      remark: null,
      totalTermPercent: 0,
      totalTransactionAmount: decimalCurrency(0),
      discountCode: null,
      discountAmount: decimalCurrency(0),
      taxBaseAmount: decimalCurrency(0),
      vatPercent: decimalCurrency(store.state.defaultVatPercent),
      vatAmount: decimalCurrency(0),
      grandTotalAmount: decimalCurrency(0),
    },
    vatDivision: store.state.defaultVatDivision,
    detailTerm: [],
    arDetail: [],
    detail: [],
    detailStock: [],
    overDue: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = false;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
    this.searchChange('currency');
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.currencyName == '' || this.form.currencyName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.salesPersonName == '' || this.form.salesPersonName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Sales Person can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.totalTermPercent != 100 || this.form.totalTermPercent > 100) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: 'Payment Term must be 100 % !', life: 3000 });
          throw BreakException;
        }
        if (this.form.customerName == '' || this.form.customerName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Customer can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.billToName == '' || this.form.billToName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Bill To can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.shipToName == '' || this.form.shipToName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Ship To can't be null!", life: 3000 });
          throw BreakException;
        }

        this.detailTerm.forEach((datas) => {
          if (datas.paymentTermNo == undefined || datas.paymentTermNo == null || datas.paymentTermNo === '') {
            this.isConfirm = false;
            this.$toast.add({ severity: 'warn', summary: ' Term No ' + datas.paymentTermNo + " : Number can't be null!", life: 3000 });
            throw BreakException;
          }
        });

        if (this.isConfirm == false) {
          this.arDetail = [];
          this.detail = [];
          this.detailStock = [];
        } else {
          if (getParam('code')) {
            this.getOutstandingAR(this.form.customerCode);
            this.getListDetail();
            this.searchChange('data-discount-type');
          } else {
            this.detail = [];
            this.getOutstandingAR(this.form.customerCode);
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getOutstandingAR(data) {
      this.arDetail = [];
      this.loadingArDetails = true;
      const field = {
        customerCode: data,
        page: 0,
        size: 1000,
        sort: 'documentCode,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/outstanding-ar', field);
      this.loadingArDetails = false;
      return (this.arDetail = temp.data);
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItem, {
        props: { header: 'Search Master Item', style: { width: '90vw' }, modal: true },
        data: { module: 'item/look-up-so' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                itemAlias: datas.name,
                price: 0,
                subsidyPrice: 0,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                discountAmount: 0,
                nettPrice: 0,
                totalAmount: 0,
              };
              !this.detail ? (this.detail = []) : this.detail.push(detail);
            });
            this.detail = uniqueElementsBy(this.detail, (a, b) => a.itemCode == b.itemCode);
          }
        },
      });
    },
    remove(index) {
      this.detail.splice(index, 1);
      this.form.totalTransactionAmount = 0;
      this.form.discountCode = '';
      this.form.discountName = '';
      this.form.discountAmount = decimalCurrency(0);
      this.form.taxBaseAmount = decimalCurrency(0);
      this.form.vatPercent = decimalCurrency(0);
      this.form.vatAmount = decimalCurrency(0);
      this.form.grandTotalAmount = decimalCurrency(0);
      this.calculateDiscountDetail(0);
      this.setTotalTransactionAmount();
    },
    removeTerm(index) {
      this.detailTerm.splice(index, 1);
      this.calculationTerm();
    },
    async getData(data) {
      let temp = await this.sales.dataSales('sales-order', { code: data });
      this.form = temp.data;
      this.form.vatPercent = decimalCurrency(temp.data.vatPercent);
      this.form.customerCode = temp.data.customerCode;
      this.form.subsidyStatus = temp.data.subsidyStatus === 1 ? '1' : '0';
      this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
      this.getListTermDetail();
    },
    async getListTermDetail() {
      this.detailTerm = [];
      this.loadingTermDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/term', field);
      this.selectedRows = null;
      this.loadingTermDetails = false;
      this.detailTerm = temp.data;
      this.calculationTerm();
      return (this.detailTerm = temp.data);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        code: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        // this.code = event.data.code;
        let itmCode = event.data.itemCode;
        this.getListStockDetail(itmCode);
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.detailStock = [];
      return event;
    },
    async getListStockDetail(data) {
      this.detailStock = [];
      this.loadingStockDetails = true;
      const field = {
        code: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/stock-per-item', field);
      this.loadingStockDetails = false;
      return (this.detailStock = temp.data);
    },
    async checkOverDueAndCreditLimit() {
      let temp = await this.sales.searchSales('customer-invoice-sales-order/over-due', { code: this.form.customerCode });
      if (temp) {
        this.overDue = temp.data;
      }
    },
    async validateOverDue() {
      let creditLimit = 0;
      let outstandingAmountCustomer = 0;
      let grandTotalAmount = 0;
      let totalOutstandingAmount = 0;
      let isOverDue = false;
      creditLimit = this.form.creditLimit;
      outstandingAmountCustomer = this.form.outstandingAmountCustomer;
      grandTotalAmount = this.form.grandTotalAmount;
      totalOutstandingAmount = decimalCurrency(outstandingAmountCustomer) + decimalCurrency(grandTotalAmount);

      if (decimalCurrency(totalOutstandingAmount) > decimalCurrency(creditLimit)) {
        isOverDue = true;
      } else {
        isOverDue = false;
      }

      this.overDue.forEach((datas) => {
        if (datas.code && isOverDue) {
          this.form.approvalStatus = 'PENDING';
          // alert(this.form.approvalStatus);
        } else {
          this.form.approvalStatus = 'APPROVED';
          // alert(this.form.approvalStatus);
        }
      });
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.validateOverDue();
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });

        this.detailTerm.forEach((datas) => {
          if (datas.paymentTermNo == undefined || datas.paymentTermNo == null || datas.paymentTermNo === '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Term No ' + datas.paymentTermNo + " : Number can't be null!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.requestDeliveryDate = moment(this.form.requestDeliveryDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.expiredDate = moment(this.form.expiredDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.subsidyStatus = this.form.subsidyStatus === '1' ? true : false;
        //Add Grid Detail
        formSubmit.listSalesOrderDetail = this.detail;
        formSubmit.listSalesOrderTermDetail = this.detailTerm;
        if (this.submitted) {
          await this.sales.updateSales('sales-order', formSubmit);
        } else {
          await this.sales.saveSales('sales-order', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'link-so':
          temp = await this.sales.dataSales('sales-order', { code: this.form.salesOrderLinkCode });
          if (temp) {
            this.form.salesOrderLinkCode = temp.data.code;
            this.form.salesOrderLinkDate = temp.data.transactionDate;
          } else {
            this.form.salesOrderLinkCode = null;
            this.form.salesOrderLinkDate = null;
          }
          break;
        case 'sales-person':
          temp = await this.master.dataMaster(master, { code: this.form.salesPersonCode });
          if (temp) {
            this.form.salesPersonCode = temp.data.code;
            this.form.salesPersonName = temp.data.name;
          } else {
            this.form.salesPersonCode = null;
            this.form.salesPersonName = null;
          }
          break;
        case 'customer':
          temp = await this.master.dataMaster('customer/so-look-up', { code: this.form.customerCode });
          if (temp) {
            this.form.customerCode = temp.data.code;
            this.form.customerName = temp.data.name;
            this.form.priceTypeCode = temp.data.priceTypeCode;
            this.form.priceTypeName = temp.data.priceTypeName;
            this.form.creditLimit = temp.data.creditLimit;
            this.form.outstandingAmountCustomer = temp.data.outstandingAmountCustomer;
            this.searchChange('customer-get-bill-to');
            this.searchChange('customer-get-ship-to');
            this.checkOverDueAndCreditLimit();
          } else {
            this.form.customerCode = null;
            this.form.customerName = null;
            this.form.priceTypeCode = null;
            this.form.priceTypeName = null;
          }
          break;
        case 'bill-to':
          temp = await this.master.dataMaster('customer-jn-address/look-up', { code: this.form.billToCode });
          if (temp) {
            this.form.billToCode = temp.data.code;
            this.form.billToName = temp.data.name;
            this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
            this.form.billToAddress = temp.data.address;
            this.form.billToContactPerson = temp.data.contactPerson;
          } else {
            this.form.billToCode = null;
            this.form.billToName = null;
            this.form.npwpStatus = false;
            this.form.billToAddress = null;
            this.form.billToContactPerson = null;
          }
          break;
        case 'ship-to':
          temp = await this.master.dataMaster('customer-jn-address/look-up', { code: this.form.shipToCode });
          if (temp) {
            this.form.shipToCode = temp.data.code;
            this.form.shipToName = temp.data.name;
            this.form.shipToAddress = temp.data.address;
            this.form.shipToContactPerson = temp.data.contactPerson;
          } else {
            this.form.shipToCode = null;
            this.form.shipToName = null;
            this.form.shipToAddress = null;
            this.form.shipToContactPerson = null;
          }
          break;
        case 'customer-get-bill-to':
          temp = await this.master.dataMaster('customer-jn-address/customer-get-bill-to', { code: this.form.customerCode });
          if (temp) {
            this.form.billToCode = temp.data.code;
            this.form.billToName = temp.data.name;
            this.form.billToAddress = temp.data.address;
            this.form.billToContactPerson = temp.data.contactPerson;
            this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
            this.form.billToPhone = temp.data.phone1;
          } else {
            this.form.billToCode = null;
            this.form.billToName = null;
            this.form.billToAddress = null;
            this.form.billToContactPerson = null;
            this.form.billToPhone = null;
          }
          break;
        case 'customer-get-ship-to':
          temp = await this.master.dataMaster('customer-jn-address/customer-get-ship-to', { code: this.form.customerCode });
          if (temp) {
            this.form.shipToCode = temp.data.code;
            this.form.shipToName = temp.data.name;
            this.form.shipToAddress = temp.data.address;
            this.form.shipToContactPerson = temp.data.contactPerson;
            this.form.shipToPhone = temp.data.phone1;
          } else {
            this.form.shipToCode = null;
            this.form.shipToName = null;
            this.form.shipToAddress = null;
            this.form.shipToContactPerson = null;
            this.form.shipToPhone = null;
          }
          break;
        case 'project':
          temp = await this.master.dataMaster(master, { code: this.form.projectCode });
          if (temp) {
            this.form.projectCode = temp.data.code;
            this.form.projectName = temp.data.name;
            this.form.projectParentCode = temp.data.projectParentCode;
            this.form.projectParentName = temp.data.projectParentName;
          } else {
            this.form.projectCode = null;
            this.form.projectName = null;
            this.form.projectParentCode = null;
            this.form.projectParentName = null;
          }
          break;
        case 'data-discount-type':
          temp = await this.master.dataMaster('discount-type', { code: this.form.discountCode });
          if (temp) {
            this.form.discountCode = temp.data.code;
            this.form.discountName = temp.data.name;
            this.calculationSummary();
          } else {
            this.form.discountCode = null;
            this.form.discountName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Currency', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'link-so':
          this.$dialog.open(LookUpSalesOrder, {
            props: { header: 'Search Sales Order', style: { width: '90vw' }, modal: true },
            data: { module: 'sales-order/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.salesOrderLinkCode = data.code;
                this.form.salesOrderLinkDate = data.transactionDate;
              }
            },
          });
          break;
        case 'sales-person':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Sales Person', style: { width: '50vw' }, modal: true },
            data: { module: 'sales-person' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.salesPersonCode = data.code;
                this.form.salesPersonName = data.name;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookUpPaymentTerm, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                let detail = {
                  code: data.code,
                  paymentTermCode: data.code,
                  paymentTermName: data.name,
                  paymentTermPercent: 0,
                };
                !this.detailTerm ? (this.detailTerm = []) : this.detailTerm.push(detail);
                this.detailTerm = uniqueElementsBy(this.detailTerm, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        case 'customer':
          this.$dialog.open(LookUpCustomer, {
            props: { header: 'Search Master Customer', style: { width: '90vw' }, modal: true },
            data: { module: 'customer/so-look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.customerCode = data.code;
                this.form.customerName = data.name;
                this.form.priceTypeCode = data.priceTypeCode;
                this.form.priceTypeName = data.priceTypeName;
                this.form.creditLimit = data.creditLimit;
                this.form.outstandingAmountCustomer = data.outstandingAmountCustomer;
                this.searchChange('customer-get-bill-to');
                this.searchChange('customer-get-ship-to');
                this.checkOverDueAndCreditLimit();
              }
            },
          });
          break;
        case 'bill-to':
          this.$dialog.open(LookUpCustomerAddress, {
            props: { header: 'Search Bill To', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-jn-address/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.billToCode = data.code;
                this.form.billToName = data.name;
                this.form.npwpStatus = data.npwpStatus === 1 ? '1' : '0';
                this.form.billToAddress = data.address;
                this.form.billToContactPerson = data.contactPerson;
              }
            },
          });
          break;
        case 'ship-to':
          this.$dialog.open(LookUpCustomerAddress, {
            props: { header: 'Search Ship To', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-jn-address/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.shipToCode = data.code;
                this.form.shipToName = data.name;
                this.form.shipToAddress = data.address;
                this.form.shipToContactPerson = data.contactPerson;
              }
            },
          });
          break;
        case 'project':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Project', style: { width: '50vw' }, modal: true },
            data: { module: 'project' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.projectCode = data.code;
                this.form.projectName = data.name;
                this.form.projectParentCode = data.projectParentCode;
                this.form.projectParentName = data.projectParentName;
              }
            },
          });
          break;
        case 'discount-type':
          this.$dialog.open(LookUpDiscountType, {
            props: { header: 'Search Master Discount Type', style: { width: '90vw' }, modal: true },
            data: { module: 'discount-type/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountCode = data.code;
                this.form.discountName = data.name;
                this.calculationSummary();
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpCatalogDetail(data, field, index) {
      this.$dialog.open(LookUpCatalog, {
        props: { header: 'Search Master Catalog', style: { width: '50vw' }, modal: true },
        data: { module: 'item-jn-catalog-number/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].catalogNo = data.code;
          }
        },
      });
    },
    lookUpDiscountTypeDetail(data, field, index) {
      this.$dialog.open(LookUpDiscountType, {
        props: { header: 'Search Master Discount Type', style: { width: '90vw' }, modal: true },
        data: { module: 'discount-type/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].discountCode = data.code;
            this.detail[index].discountName = data.name;
            this.calculateDiscountDetail(data, field, index);
          }
        },
      });
    },
    async calculateDiscountDetail(data, field, index) {
      let Price = this.detail[index].price;
      let DiscountCode = this.detail[index].discountCode;
      let temp = null;

      if (DiscountCode != null || DiscountCode != '') {
        temp = await this.master.dataMaster('discount-type/calc', { code: DiscountCode, prmAmount: removeCommas(Price) });
        if (temp) {
          this.detail[index].discountAmount = data['discountAmount'] = removeCommas(temp.data.discountAmountCalc);
          this.detail[index].nettPrice = this.detail[index].price - this.detail[index].discountAmount;
          this.detail[index].totalAmount = this.detail[index].nettPrice * this.detail[index].quantity;
          this.setTotalTransactionAmount();
        } else {
          this.detail[index].discountAmount = 0;
          this.detail[index].nettPrice = data['price'] - data['discountAmount'];
          this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
          this.setTotalTransactionAmount();
        }
      }
    },
    setTotalTransactionAmount() {
      this.form.totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.nettPrice * datas.quantity;
      });
      this.calculationSummary();
    },
    async calculationSummary() {
      let temp = null;
      if (this.form.discountCode != null || this.form.discountCode != '') {
        temp = await this.master.dataMaster('discount-type/calc', { code: this.form.discountCode, prmAmount: removeCommas(this.form.totalTransactionAmount) });
        if (temp) {
          this.form.totalTransactionAmount = removeCommas(decimalCurrency(this.form.totalTransactionAmount));
          this.form.discountAmount = removeCommas(decimalCurrency(temp.data.discountAmountCalc));
          this.form.discountCode = temp.data.code;
          this.form.discountName = temp.data.name;
          this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
          this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
          this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
        } else {
          this.form.totalTransactionAmount = removeCommas(decimalCurrency(this.form.totalTransactionAmount));
          this.form.discountAmount = 0;
          this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
          this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
          this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
        }
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          this.detail[index].nettPrice = data['nettPrice'] = data['price'] - data['discountAmount'];
          this.detail[index].totalAmount = data['totalAmount'] = data['nettPrice'] * data['quantity'];
          this.setTotalTransactionAmount();
          break;
        case 'subsidyPrice':
          if (this.vatDivision == null || this.vatDivision == 0) {
            this.vatDivision == 1.11;
          }
          this.detail[index].price = data['price'] = data['subsidyPrice'] / this.vatDivision; // this.vatDivision vatDivision: store.state.defaultVatPercent,
          this.calculateDiscountDetail(data, field, index);
          this.setTotalTransactionAmount();
          break;
        case 'price':
          this.detail[index].price = data['price'];
          this.calculateDiscountDetail(data, field, index);
          this.setTotalTransactionAmount();
          break;
        case 'paymentTermPercent':
          this.detailTerm[index].paymentTermPercent = data['paymentTermPercent'];
          this.calculationTerm();
          break;
        case 'remark':
          this.detailTerm[index].remark = data['remark'];
          break;
        case 'paymentTermNo':
          this.detailTerm[index].paymentTermNo = data['paymentTermNo'];
          this.checkTermNo(this.detailTerm[index].paymentTermNo, index);
          break;
        default:
          break;
      }
    },
    calculationTerm() {
      let totalTermPercent = 0;
      this.detailTerm.forEach((datas) => {
        totalTermPercent += Number(datas.paymentTermPercent);
      });
      this.form.totalTermPercent = decimalCurrency(totalTermPercent.toString());
    },
    checkTermNo(check, index) {
      let getException = [];
      for (let i = 0; i < this.detailTerm.length; i++) {
        if (this.detailTerm[i].paymentTermNo.toUpperCase() == check.toUpperCase() && i != index) {
          this.detailTerm[index].paymentTermNo = '';
          this.$toast.add({ severity: 'warn', summary: 'This Term No, is like the other one. !!!', life: 3000 });
          this.isConfirm = false;
          throw getException;
        }
      }
    },
    onChangeVatPercent() {
      if (this.form.vatPercent !== 0) {
        this.form.vatPercent = decimalCurrency(this.form.vatPercent);
        this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
        this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
      } else {
        this.form.vatPercent = 0;
        this.form.vatAmount = 0;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      // let temp = null;
      switch (field) {
        case 'itemCode':
          this.detail[index].itemCode = data.itemCode;
          break;
        // case 'catalogNo':
        //   if (data.catalogNo != '' || data.catalogNo != null || data.catalogNo != 'undefined') {
        //     temp = await this.master.dataMaster('item-jn-catalog-number', { code: newValue });
        //     this.detail[index].catalogNo = temp.data.code;
        //   }
        //   break;
        // case 'discountCode':
        //   if (data.discountCode != '' || data.discountCode != null || data.discountCode != 'undefined') {
        //     temp = await this.master.dataMaster('discount-type', { code: newValue });
        //     this.detail[index].discountCode = data['discountCode'] = temp.data.code;
        //     this.detail[index].discountName = data['discountName'] = temp.data.name;
        //     this.detail[index].discountPercent01 = data['discountPercent01'] = temp.data.discountPercent01;
        //     this.detail[index].discountPercent02 = data['discountPercent02'] = temp.data.discountPercent02;
        //     this.detail[index].discountPercent03 = data['discountPercent03'] = temp.data.discountPercent03;
        //     this.detail[index].discountPercent04 = data['discountPercent04'] = temp.data.discountPercent04;
        //     this.detail[index].discountPercent05 = data['discountPercent05'] = temp.data.discountPercent05;
        //     this.detail[index].discountPercent06 = data['discountPercent06'] = temp.data.discountPercent06;
        //     this.detail[index].discountPercent07 = data['discountPercent07'] = temp.data.discountPercent07;
        //     this.detail[index].discountPercent08 = data['discountPercent08'] = temp.data.discountPercent08;
        //     this.detail[index].discountPercent09 = data['discountPercent09'] = temp.data.discountPercent09;
        //     this.detail[index].discountPercent10 = data['discountPercent10'] = temp.data.discountPercent10;
        //     this.calculateDiscount(field, index);
        //   }
        //   break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
