<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Master Sales Person" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
                  <div class="col-12 md:col-9">
                    <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
                    <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
                  <div class="col-12 md:col-9">
                    <InputText type="text" v-model="form.name" placeholder="Enter name" />
                    <small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
                  </div>
                </div>

                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
                  <div class="col-12 md:col-9">
                    <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
                  <div class="col-12 md:col-9">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Distribution Chanel</label>
                <Button icon="pi pi-search" label="Search Distribution Chanel" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="distributionCode" header="Distribution Code" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ slotProps.data.distributionCode }}</span>
              </template>
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
            </Column>
            <Column field="distributionName" header="Distribution Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookUpDistributionChannel from '@/components/lookup/master/LookUpDistributionChannel';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    form: {
      code: '',
      name: '',
      remark: '',
      activeStatus: true,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (!this.form.code) {
          this.isConfirm = true;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (!this.form.name) {
          this.isConfirm = true;
          this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == true) {
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },

    remove(row) {
      this.detail.splice(row.index, 1);
    },
    async getData(data) {
      let temp = await this.master.dataMaster('sales-person', { code: data });

      this.form = temp.data;
      // console.log(this.form);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        salesPersonCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.master.searchMaster('sales-person/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.accountCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Account Code can't be null!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        //Add Grid Detail
        formSubmit.listSalesPersonJnDistributionChannel = this.detail.map((item) => {
          return {
            distributionChannelCode: item.distributionCode,
          };
        });
        if (this.submitted) {
          await this.master.updateMaster('sales-person', formSubmit);
        } else {
          await this.master.saveMaster('sales-person', formSubmit);
        }
        this.cancel();
      }
    },

    lookupAddRow() {
      this.$dialog.open(LookUpDistributionChannel, {
        props: { header: 'Search Master Distribution Channel', style: { width: '90vw' }, modal: true },
        data: { module: 'distribution-channel' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let item = {
                distributionCode: datas.code,
                distributionName: datas.name,
              };
              this.detail.push(item);
            });
          }
        },
      });
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'distributionCode':
          this.distributionCode[index].distributionCode = data['distributionCode'];
          break;
        default:
          break;
      }
    },

    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
