<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-10">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Purchase Destination</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Code</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.code" placeholder="Enter Code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
              <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Name</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.name" placeholder="Enter Name" />
              <small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Address</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.address" placeholder="Enter Address" />
              <small class="p-invalid" v-if="submitted && !form.address">Address is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">City</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.cityCode" placeholder="Enter city" @change="searchChange('city')" :class="{ 'p-invalid': isError && form.cityCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('city')" />
              </div>
            </div>
            <div class="col-6 md:col-4">
              <InputText v-model="form.cityName" placeholder="City Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Country</label>
            <div class="col-6 md:col-4">
              <InputText v-model="form.countryCode" placeholder="Country Code" disabled="true" />
            </div>
            <div class="col-6 md:col-4">
              <InputText v-model="form.countryName" placeholder="Country Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Zip Code</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.zipCode" placeholder="Enter zip code" />
              <small class="p-invalid" v-if="submitted && !form.zipCode">Zip Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Phone 1</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.phone1" placeholder="Enter phone 1" />
              <small class="p-invalid" v-if="submitted && !form.phone1">Phone 1 is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Phone 2</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.phone2" placeholder="Enter phone 2" />
              <small class="p-invalid" v-if="submitted && !form.phone2">Phone 2 is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Fax</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.fax" placeholder="Enter fax" />
              <small class="p-invalid" v-if="submitted && !form.fax">Fax is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Email</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.emailAddress" placeholder="Enter Email" />
              <small class="p-invalid" v-if="submitted && !form.emailAddress">Email is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Contact Person</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.contactPerson" placeholder="Enter contact person" />
              <small class="p-invalid" v-if="submitted && !form.contactPerson">Contact Person is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Ship To</label>
            <div class="col-12 md:col-8">
              <Checkbox name="shipTo" :binary="true" value="shipToStatus" v-model="form.shipToStatus" :style="{ width: '3em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Bill To</label>
            <div class="col-12 md:col-8">
              <Checkbox name="billTo" :binary="true" value="billToStatus" v-model="form.billToStatus" :style="{ width: '3em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Remark</label>
            <div class="col-12 md:col-8">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Active Status</label>
            <div class="col-12 md:col-8">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-4 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,

    form: {
      code: null,
      name: null,
      address: null,
      cityCode: null,
      cityName: null,
      countryCode: null,
      countryName: null,
      zipCode: null,
      phone1: null,
      phone2: null,
      fax: null,
      shipToStatus: false,
      billToStatus: false,
      emailAddress: null,
      contactPerson: null,
      remark: null,
      activeStatus: true,
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('purchase-destination', { code: data });
      this.form = temp.data;
      this.form.shipToStatus = temp.data.shipToStatus === 1 ? true : false;
      this.form.billToStatus = temp.data.billToStatus === 1 ? true : false;
    },
    async submit() {
      let BreakException = [];
      this.isError = false;
      try {
        if (this.form.code == '' || this.form.code == null) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
      if (!this.isError) {
        if (this.submitted) {
          await this.master.updateMaster('purchase-destination', this.form);
        } else {
          await this.master.saveMaster('purchase-destination', this.form);
        }
        this.cancel();
      }
    },
    cancel() {
      history.back();
    },

    async searchChange(master) {
      let data = null;
      switch (master) {
        case 'city':
          data = await this.master.dataMaster(master, { code: this.form.cityCode });
          this.form.cityCode = data.data.code;
          this.form.cityName = data.data.name;
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'city':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master City', modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.cityCode = data.code;
                this.form.cityName = data.name;
                this.form.countryCode = data.countryCode;
                this.form.countryName = data.countryName;
              }
            },
          });
          break;

        default:
          break;
      }
    },
  },
};
</script>
