<template>
  <Toolbar class="mb-12 m-0 p-2">
    <Toast position="top-center" />
    <template v-slot:start>
      <label class="grid col-2 p-0 m-1">Search</label>
      <div class="grid col-4 p-0 m-1">
        <div class="col-12 p-0 m-0"><InputText type="text" class="p-inputtext-sm" v-model="searchCode" placeholder="Purchase Request Code" style="width: 100%" /></div>
      </div>
      <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
      <div class="col-12 md:col-8 grid m-0 p-0">
        <div class="col-6 md:col-6 m-0 p-1">
          <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
        </div>
        <div class="col-6 md:col-6 m-0 p-1">
          <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
        </div>
      </div>
    </template>
    <template v-slot:end>
      <div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" /></div>
    </template>
  </Toolbar>
  <DataTable
    showGridlines
    responsiveLayout="scroll"
    :loading="loading"
    dataKey="code"
    scrollHeight="flex"
    class="col-12"
    :lazy="true"
    selectionMode="multiple"
    :metaKeySelection="false"
    v-model:selection="selectedRows"
    :totalRecords="totalRecords"
    :value="list"
    :paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    :rows="5"
    :rowsPerPageOptions="[5, 10, 20, 50]"
    :rowHover="true"
    :scrollable="true"
    @rowSelect="onRowSelect"
    @rowUnselect="onRowUnselect"
    @page="onPage($event)"
    @sort="onSort($event)"
  >
    <Column field="code" header="Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="branchCode" header="Branch Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="branchName" header="Branch Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
    <Column field="divisionCode" header="Division Code" style="min-width: 12em" :sortable="true"></Column>
    <Column field="divisionName" header="Division Name" style="min-width: 12em" :sortable="true"></Column>
    <Column field="requestBy" header="Request By" style="min-width: 12em" :sortable="true"></Column>
    <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
    <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
  </DataTable>
  <div class="card mt-3">
    <DataTable
      showGridlines
      responsiveLayout="scroll"
      dataKey="code"
      scrollHeight="400px"
      class="col-12 md:col-12 p-0 m-0"
      :lazy="true"
      ref="dt"
      selectionMode="single"
      :rowHover="true"
      :scrollable="true"
      :value="listDetail"
      :loading="loadingDetails"
    >
      <template #header>
        <div class="table-header"><label style="font-weight: bold">ITEM DETAIL</label></div>
      </template>
      <Column field="Index" header="No" style="max-width: 60px"
        ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
      >
      <Column field="itemCode" header="Item Code" style="white-space: nowrap; min-width: 12rem" :sortable="true"></Column>
      <Column field="itemName" header="Item Name" style="white-space: nowrap; min-width: 25rem" :sortable="true"></Column>
      <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; min-width: 25rem" :sortable="true"></Column>
      <Column field="remark" header="Remark" style="white-space: nowrap; min-width: 12rem"></Column>
      <Column field="quantity" header="Quantity" style="white-space: nowrap; min-width: 12rem"></Column>
      <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; min-width: 12rem"></Column>
    </DataTable>
  </div>
  <div class="grid col-12" style="display: flex; justify-content: right">
    <Button label="Ok" class="p-button-warning" @Click="submitData(true)"></Button>
    &nbsp;
    <Button label="Cancel" class="p-button-danger" @Click="submitData(false)"></Button>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { valdNull } from '@/utils/function';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';

export default {
  inject: ['dialogRef'],
  data: () => ({
    purchase: new PurchaseControllers(),
    list: [],
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCode: '',
    code: null,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    loading: null,
    totalRecords: 0,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {},
  mounted() {
    console.log(this.dialogRef);
    this.module = this.dialogRef.data.module;
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
    this.getList();
  },
  methods: {
    showList() {
      console.log(this.selectedRows);
    },
    submitData(isBtn) {
      if (isBtn == true) {
        if (!this.selectedRows) {
          this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
          return;
        } else {
          this.dialogRef.close(this.selectedRows);
        }
      } else {
        this.dialogRef.close((this.selectedRows = false));
      }
    },
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.list = [];
      const field = {
        code: this.searchCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase(this.module, field);
      this.totalRecords = temp.totalData;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-request/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.selectedRows = null;
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
  },
};
</script>
