<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Current Stock Quantiy</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
						<template v-slot:start>
							<div class="col-12 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
						</template>
          </Toolbar>
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Item Code</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchItemCode" placeholder=" Item Code" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Warehouse Code</label>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchWarehouseCode" placeholder=" Warehouse Code" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Item Name</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchItemName" placeholder=" Item Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Warehouse Name</label>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchWarehouseName" placeholder=" Warehouse Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 field grid m-0 p-0 py-1" style="justify-content: left;">
                  <div class="col-3 md:col-2 m-0 p-0 px-1 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="itemCode" header="Item Code" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap;min-width: 45rem" :sortable="true"></Column>
              <Column field="warehouseCode" header="Warehouse Code" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="warehouseName" header="Warehouse Name" style="white-space: nowrap;min-width: 25rem" :sortable="true"></Column>
              <Column field="rackCode" header="Rack" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="actualStock" header="Quantity" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { BasePurchaseUrl } from '@/api/endpoint/base'
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import { getStatus, valdNull,decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    inventory: new InventoryControllers(),
		baseExport: BasePurchaseUrl()+'/current-stock-quantity/exports?',
		basePrint: BasePurchaseUrl()+'/current-stock-quantity/print?',
    code: null,
    list: [],
    searchItemCode: '',
    searchItemName: '',
    searchWarehouseCode: '',
    searchWarehouseName: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        itemCode: this.searchItemCode,
        itemName: this.searchItemName,
        warehouseCode: this.searchWarehouseCode,
        warehouseName: this.searchWarehouseName,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('goods-received-note/current-stock', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
