<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<base href="">
	<link rel="icon" href="<%= BASE_URL %>layout/images/logo.jpg">
	<title>ERP || AGN</title>
	<link id="theme-css" rel="stylesheet" type="text/css" href="<%= BASE_URL %>theme/theme-blue.css">
	<link id="layout-css" rel="stylesheet" type="text/css" href="<%= BASE_URL %>layout/css/layout-blue.css">
</head>
<body>
<div id="app">
	<ul class="loader">
		<li class="dot-a"></li>
		<li class="dot-b"></li>
		<li class="dot-c"></li>
		<li class="dot-d"></li>
		<li class="dot-e"></li>
		<li class="dot-f"></li>
		<li class="dot-g"></li>
		<li class="dot-h"></li>
		<li class="dot-i"></li>
	</ul>
</div>
</body>
</html>
