<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Vendor Credit Note" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>VCN No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" @date-select="setDueDate()" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter Currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Exchange Rate *</b></label>
                  <div class="col-4 md:col-6 mt-1">
                    <InputNumber
                      v-model="form.exchangeRate"
                      inputId="minmaxfraction"
                      mode="decimal"
                      :minFractionDigits="2"
                      :maxFractionDigits="5"
                      class="p-inputnumber-sm"
                      inputClass="text-right"
                      :disabled="this.form.currencyCode == 'IDR' ? true : false"
                    />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="Enter Vendor" @change="searchChange('vendor')" :class="{ 'p-invalid': isError && form.vendorCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vendor')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.dueDate == '' }" />
                  </div>
                </div>
              </div>

              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Invoice No.</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.invoiceNo" placeholder="invoice no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Invoice Date</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.invoiceDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.invoiceDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Tax Invoice No.</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.taxInvoiceNo" placeholder="tax invoice no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Tax Invoice Date</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.taxInvoiceDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.taxInvoiceDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Description</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" :disabled="confirmDisable" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">VCN DETAIL</label>
                <!-- <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" /> -->
                <!-- &nbsp; -->
                <Button icon="pi pi-plus" label="AddRow Other" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addrow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <!-- <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column> -->
            <!-- <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column> -->
            <Column field="chartOfAccountCode" header="Chart Of Account Code" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCoaDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }">
                <InputText v-model="data[field]" style="text-align: right" />
              </template>
            </Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
            </Column>
            <!-- <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column> -->
            <Column field="unitOfMeasureCode" header="Unit Of Measure" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpUomDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="price" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">{{ decimalCurrency(slotProps.data.price) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" />
              </template>
            </Column>
            <Column field="totalAmount" header="Total" disabled="true" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps"> Rp. {{ decimalCurrency(slotProps.data.totalAmount) }} </template>
              <!-- <template #editor="{ data, field, index }">
                <InputText
                  v-model="data[field]"
                  @keypress="onCellEditInit(data, field, index)"
                  @keyup="onCellEditInit(data, field, index)"
                  @keydown="onCellEditInit(data, field, index)"
                  @change="onCellEditInit(data, field, index)"
                  style="text-align: right"
                />
              </template> -->
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>

          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputText
                      @keyup="calculationSummary('discountPercent')"
                      prefix="%"
                      style="text-align: right"
                      v-model="form.discountPercent"
                    />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.discountAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountChartOfAccountCode" placeholder="Enter COA" @change="searchChange('chart-of-account')" :class="{ 'p-invalid': isError && form.discountChartOfAccountCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('chart-of-account')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
                </div>
                <!-- <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Description</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.discountDescription" /></div>
                </div> -->
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputText
                      @keyup="calculationSummary('vatPercent')"
                      prefix="%"
                      style="text-align: right"
                      v-model="form.vatPercent"
                    />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
// import LookUpItem from '@/components/lookup/master/LookUpItem';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
// import LookUpVendorInvoice from '@/components/lookup/purchase/LookUpVendorInvoice';
// import LookUpItemVendorInvoice from '@/components/lookup/purchase/LookUpItemVendorInvoice';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    form: {
      code: null,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      transactionDate: store.state.currentDate,
      invoiceDate: store.state.currentDate,
      taxInvoiceDate: store.state.currentDate,
      settlementDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      currencyCode:  store.state.defaultCurrencyCode,
      currencyName:  store.state.defaultCurrencyName,
      vendorCode: null,
      vendorName: null,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: null,
      vendorInvoiceCode: null,
      unitOfMeasureCode: null,
      unitOfMeasureName: null,
      exchangeRate: decimalCurrency(1),
      refNo: null,
      remark: null,
      discountChartOfAccountCode: '',
      discountChartOfAccountName: '',
      totalAmount: 0,
      price: 0,
      quantity: 0,
      totalTransactionAmount: decimalCurrency(0),
      taxBaseAmount: decimalCurrency(0),
      discountDescription: '',
      grandTotalAmount: decimalCurrency(0),
      discountPercent: decimalCurrency(0),
      discountAmount: decimalCurrency(0),
      vatPercent: decimalCurrency(0),
      vatAmount: decimalCurrency(0),
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.branchCode || !this.form.currencyCode || !this.form.vendorCode || !this.form.paymentTermCode;
    },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    btnConfirm() {
        if (this.isConfirm == false) {
          this.clear();
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.form.code = getParam('code');
            this.getListDetail();
          }
        }
    },
    addrow() {
      let detail = {
        chartOfAccountCode: '',
        chartOfAccountName: '',
        quantity: 0,
        unitOfMeasureCode: this.form.unitOfMeasureCode,
        price: 0,
        totalAmount: 0,
        remark: '',
      };
      this.detail.push(detail);
    },
    // lookupAddRow() {
    //   this.$dialog.open(LookUpItem, {
    //     props: { header: 'Search Master Item', style: { width: '90vw' }, modal: true },
    //     data: { module: 'item' },
    //     onClose: (options) => {
    //       const data = options.data;
    //       if (data) {
    //         data.forEach((datas) => {
    //           let item = {
    //             itemCode: datas.code,
    //             itemName: datas.name,
    //             quantity: 0,
    //             price: 0,
    //             totalAmount: 0,
    //             unitOfMeasureCode: datas.unitOfMeasureCode,
    //             remark: '',
    //           };
    //           this.checkExistingItem(item);
    //           this.detail.push(item);
    //         });
    //       }
    //     },
    //   });
    // },
    lookUpCoaDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].chartOfAccountCode = data.code;
            this.detail[index].chartOfAccountName = data.name;
          }
        },
      });
    },
    lookUpUomDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search UOM', style: { width: '50vw' }, modal: true },
        data: { module: 'unit-of-measure' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].unitOfMeasureCode = data.code;
            this.detail[index].unitOfMeasureName = data.name;
          }
        },
      });
    },
    checkExistingItem(selected) {
      this.detail.forEach((datas) => {
        if (selected.itemCode == datas.itemCode && datas.itemCode != '') {
          let add = {
            itemCode: selected.itemCode,
            itemName: selected.name,
            quantity: 0,
            unitOfMeasureCode: selected.unitOfMeasureCode,
            remark: '',
          };
          this.detail.replace(add);
        }
      });
    },
    remove(row) {
      this.detail.splice(row.index, 1);
      this.calculationSummary();
    },
    clear() {
      this.form.discountChartOfAccountCode = '';
      this.form.discountChartOfAccountName = '';
      this.form.totalTransactionAmount = decimalCurrency(0);
      this.form.taxBaseAmount = decimalCurrency(0);
      this.form.discountDescription = '';
      this.form.grandTotalAmount = decimalCurrency(0);
      this.form.discountPercent = decimalCurrency(0);
      this.form.discountAmount = decimalCurrency(0);
      this.form.vatPercent = decimalCurrency(0);
      this.form.vatAmount = decimalCurrency(0);
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('vendor-credit-note', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.invoiceDate = moment(temp.data.invoiceDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.taxInvoiceDate = moment(temp.data.taxInvoiceDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.settlementDate = moment(temp.data.settlementDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      // this.form.totalTransactionAmount = decimalCurrency(temp.data.totalTransactionAmount);
      // this.form.discountPercent = decimalCurrency(temp.data.discountPercent);
      // this.form.discountAmount = decimalCurrency(temp.data.discountAmount);
      // // this.form.taxBaseAmount = decimalCurrency(temp.data.taxBaseAmount);
      // this.form.vatPercent = decimalCurrency(temp.data.vatPercent);
      // this.form.vatAmount = decimalCurrency(temp.data.vatAmount);
      // this.form.grandTotalAmount = decimalCurrency(temp.data.grandTotalAmount);
      // this.form.discountChartOfAccountCode = temp.data.discountChartOfAccountCode;
      // this.form.discountChartOfAccountName = temp.data.discountChartOfAccountName;
      // this.discountDescription = temp.data.discountDescription;
      this.setDueDate();
    },
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('vendor-credit-note/detail', field);
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary(null);
      return (this.detail = temp.data);
    },
    async submit() {

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.settlementDate = moment(this.form.settlementDate, 'DD-MM-YYYY').format('YYYY-MM-DD');
        formSubmit.invoiceDate = moment(this.form.invoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.taxInvoiceDate = moment(this.form.taxInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listVendorCreditNoteDetail = this.detail;
        if (this.submitted) {
          await this.finance.updateFinance('vendor-credit-note', formSubmit);
        } else {
          await this.finance.saveFinance('vendor-credit-note', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
            this.setDueDate();
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'vendor':
          temp = await this.master.dataMaster(master, { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
            this.setDueDate();
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
            this.setDueDate();
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
          }
          break;
        // case 'vin':
        //   temp = await this.finance.dataPurchase('vendor-credit-note/dataVin', { code: this.form.countrCode });
        //   if (temp) {
        //     this.form.vendorCode = temp.data.vendorCode;
        //     this.form.vendorName = temp.data.vendorName;
        //     this.form.currencyCode = temp.data.currencyCode;
        //     this.form.currencyName = temp.data.currencyName;
        //     this.form.exchangeRate = temp.data.exchangeRate;
        //   } else {
        //     this.form.vendorCode = null;
        //     this.form.vendorName = null;
        //     this.form.currencyCode = null;
        //     this.form.currencyName = null;
        //     this.form.exchangeRate = null;
        //   }
        //   break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Currency', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
                this.form.exchangeRate = data.code == 'IDR' ? 1 : 0;
                this.setDueDate();
              }
            },
          });
          break;
        case 'vendor':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
                this.setDueDate();
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
                this.setDueDate();
              }
            },
          });
          break;
        // case 'vin':
        //   this.$dialog.open(LookUpVendorInvoice, {
        //     props: { header: 'Search Vendor Invoice', style: { width: '90vw' }, modal: true },
        //     data: { module: 'vendor-credit-note/vin' },
        //     onClose: (options) => {
        //       const data = options.data;
        //       if (data) {
        //         this.form.vendorInvoiceCode = data.code;
        //         this.form.vendorCode = data.vendorCode;
        //         this.form.vendorName = data.vendorName;
        //         this.form.currencyCode = data.currencyCode;
        //         this.form.currencyName = data.currencyName;
        //         this.form.exchangeRate = data.exchangeRate;
        //       }
        //     },
        //   });
        //   break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        // case 'item-vin':
        //   this.$dialog.open(LookUpItemVendorInvoice, {
        //     props: { header: 'Search Master Item Vendor Invoice', style: { width: '90vw' }, modal: true },
        //     data: { module: 'vendor-credit-note/item-vin', code: this.form.vendorInvoiceCode },
        //     onClose: (options) => {
        //       const data = options.data;
        //       if (data) {
        //         data.forEach((datas) => {
        //           let detail = {
        //             vendorInvoiceItemDetailCode: datas.code,
        //             itemCode: datas.itemCode,
        //             itemName: datas.itemName,
        //             itemAlias: datas.itemAlias,
        //             quantity: datas.quantity,
        //             unitOfMeasureCode: datas.unitOfMeasureCode,
        //             price: datas.price,
        //             totalAmount: datas.quantity * datas.price,
        //             remark: '',
        //             rackCode: this.form.rackDockInCode,
        //             rackName: this.form.rackDockInName,
        //           };
        //           this.detail.push(detail);
        //           this.calculationSummary();
        //         });
        //       }
        //     },
        //   });
        //   break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          // temp = await this.master.dataMaster('bank', {code:newValue});
          // data['itemCode'] = this.detail[index].itemCode = temp.data.code;
          // data['itemName'] = this.detail[index].itemName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          this.detail[index].totalAmount = data['totalAmount'] = data['price'] * data['quantity'];
          this.calculationSummary();
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        case 'price':
          this.detail[index].price = data['price'];
          this.detail[index].totalAmount = data['totalAmount'] = data['price'] * data['quantity'];
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    calculationSummary(val) {
      this.form.totalTransactionAmount = 0;
      switch (val) {
        case 'discountPrecent':
          this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100; 
          break;
        case 'vatPrecent':
          this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
          break;
        default:
          this.detail.forEach((datas) => {
            this.form.totalTransactionAmount += datas.totalAmount;
          });
          this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100; 
          this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
          break;
      }
      this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
