<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Customer</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <div class="col-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Code *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
                  <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Name *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.name" placeholder="Enter name" autofocus :class="{ 'p-invalid': isError && !form.code }" />
                  <small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Address *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.address" placeholder="Enter address" autofocus :class="{ 'p-invalid': isError && !form.address }" />
                  <small class="p-invalid" v-if="isError && !form.address">Address is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Business Entity *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.businessEntityCode" placeholder="Enter Business Entity" @change="searchChange('business-entity')" :class="{ 'p-invalid': isError && form.businessEntityCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('business-entity')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.businessEntityName" placeholder="Business Entity name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">City *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.cityCode" placeholder="Enter city" @change="searchChange('city')" :class="{ 'p-invalid': isError && form.cityCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('city')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.cityName" placeholder="city name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Province</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.provinceCode" placeholder="Province code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.provinceName" placeholder="Province name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Island</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.islandCode" placeholder="Island code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.islandName" placeholder="Island name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Country</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.countryCode" placeholder="Country code" disabled="true" />
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.countryName" placeholder="Country name" disabled="true" />
                </div>
              </div>

              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Zip Code *</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.zipCode" placeholder="Enter name" />
                  <small class="p-invalid" v-if="submitted && !form.zipName">Zip Code is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Phone1 *</label>
                <div class="col-12 md:col-4">
                  <div class="p-inputgroup">
                    <InputText type="text" v-model="form.phone1" placeholder="Enter Phone1" />
                    <small class="p-invalid" v-if="submitted && !form.phone1">Phone1 is required.</small>
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.phone2" placeholder="Enter Phone 2" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Email</label>
                <div class="col-12 md:col-9">
                  <InputText type="text" v-model="form.emailAddress" placeholder="Enter emailAddress" />
                  <small class="p-invalid" v-if="submitted && !form.emailAddress">Email is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Default Contact Person</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.defaultContactPersonCode" placeholder="Enter default contact person" @change="searchChange('customer-jn-contact')" :class="{ 'p-invalid': isError && form.defaultContactPersonCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer-jn-contact')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.defaultContactPersonName" placeholder="default contact person name" disabled="true" />
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3"><b>Payment Term *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.paymentTermName" placeholder="payment term name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3"><b>DistriBution Chanel *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.distributionChannelCode" placeholder="Enter Distribution Chanel" @change="searchChange('distribution-channel')" :class="{ 'p-invalid': isError && form.distributionChannelCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('distribution-channel')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.distributionChannelName" placeholder="Distribution Chanel Name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3"><b>AR Account Code *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.arAccountCode" placeholder="Enter Ar Account" @change="searchChange('chart-of-account')" :class="{ 'p-invalid': isError && form.arAccountCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('chart-of-account')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.arAccountName" placeholder="Ar Account name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Credit Limit *</label>
                <div class="col-12 md:col-9">
                  <InputText type="number" v-model="form.creditLimit" placeholder="Enter Credit Limit" />
                  <small class="p-invalid" v-if="submitted && !form.creditLimit">Email is required.</small>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Customer Category *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.customerCategoryCode" placeholder="Enter customer category code" @change="searchChange('customer-category')" :class="{ 'p-invalid': isError && form.customerCategoryCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer-category')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.customerCategoryName" placeholder="customer category name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Price Type *</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.priceTypeCode" placeholder="Enter Price Type code" @change="searchChange('price-type')" :class="{ 'p-invalid': isError && form.priceTypeCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('price-type')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.priceTypeName" placeholder="Price Type Name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Discount Type Code</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.defaultDiscountTypeCode" placeholder="Enter default discount" @change="searchChange('discount-type')" :class="{ 'p-invalid': isError && form.defaultDiscountCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('discount-type')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.defaultDiscountTypeName" placeholder="default discount name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Default Ship to</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.defaultShipToCode" placeholder="Enter default ship to" @change="searchChange('default-ship-to')" :class="{ 'p-invalid': isError && form.defaultShipToCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('default-ship-to')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.defaultShipToName" placeholder="default ship to name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Default bill to</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.defaultBillToCode" placeholder="Enter default bill to" @change="searchChange('default-bill-to')" :class="{ 'p-invalid': isError && form.defaultBillToCode != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('default-bill-to')" />
                  </div>
                </div>
                <div class="col-6 md:col-5">
                  <InputText v-model="form.defaultBillToName" placeholder="default bill to name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">WAPU Status *</label>
                <div class="col-6 md:col-4">
                  <input type="radio" value="1" v-model="form.wapuStatus" />
                  <label>Yes</label>

                  <input type="radio" value="0" v-model="form.wapuStatus" />
                  <label>No</label>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3">Active Status</label>
                <div class="col-6 md:col-4">
                  <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
                <div class="col-12 md:col-9">
                  <Textarea v-model="form.remark" rows="3" cols="20" />
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="id"
                scrollHeight="400px"
                class="col-12 md:col-12 editable-cells-table"
                :resizableColumns="true"
                editMode="cell"
                :value="listDetail"
                :loading="loadingDetails"
              >
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">CUSTOMER CONTACT DETAIL</label>
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem">
                  <template #body="{ index }">
                    {{ index + 1 }}
                  </template>
                </Column>
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="name" header="Name" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="phone" header="Phone" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="jobPositionCode" header="Position" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
              <div class="field grid">
                <!-- <div class="col-12 md:col-3 mb-2 md:mb-0"></div> -->
                <div class="col-6 md:col-3">
                  <Button label="Save" class="p-button-warning" @Click="submit"></Button>
                </div>
                <div class="col-6 md:col-3">
                  <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    listDetail: [],
    form: {
      code: null,
      name: null,
      address: null,
      businessEntityCode: null,
      businessEntityName: null,
      cityCode: null,
      cityName: null,
      provinceCode: null,
      provinceName: null,
      islandCode: null,
      islandName: null,
      countryCode: null,
      countryName: null,
      npwpCityCode: null,
      npwpCityName: null,
      zipCode: null,
      phone1: null,
      phone2: null,
      emailAddress: null,
      defaultContactPersonCode: null,
      defaultContactPersonName: null,
      paymentTermCode: null,
      paymentTermName: null,
      distributionChannelCode: null,
      distributionChannelName: null,
      arAccountCode: null,
      arAccountName: null,
      creditLimit: null,
      customerCategoryCode: null,
      customerCategoryName: null,
      priceTypeCode: null,
      priceTypeName: null,
      defaultDiscountTypeCode: null,
      defaultDiscountTypeName: null,
      defaultShipToCode: null,
      defaultShipToName: null,
      defaultBillToCode: null,
      defaultBillToName: null,
      wapuStatus: 1,
      remark: null,
      activeStatus: 1,
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('customer', { code: data });
      this.form = temp.data;
      this.getListDetail();
    },
    async getListDetail() {
      console.log(this.form.defaultContactPersonCode);
      this.loadingDetails = true;
      const field = {
        code: this.form.defaultContactPersonCode,
        name: '',
        activeStatus: 'All',
        page: 0,
        size: 10,
        sort: 'code,ASC',
      };
      let temp = await this.master.searchMaster('customer-jn-contact', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    async submit() {
      let BreakException = [];
      this.isError = false;

      // start validasi
      if (!this.form.code) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.name) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.address) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Address can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.businessEntityCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Business Entity can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.cityCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "City can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.zipCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Zip Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.phone1) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Phone1 Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.paymentTermCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Payment Term Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.distributionChannelCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Distribution Channel Term Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.arAccountCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "ARAccount Code Channel Term Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.creditLimit) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Credit Limit Code Channel Term Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.customerCategoryCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Customer Category Code Channel Term Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.priceTypeCode) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Price Type Category Code Channel Term Code can't be null!", life: 3000 });
        throw BreakException;
      }
      // end vaidasi
      if (this.submitted) {
        await this.master.updateMaster('customer', this.form);
      } else {
        await this.master.saveMaster('customer', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
    async searchChange(master) {
      var data = null;
      switch (master) {
        case 'business-entity':
          data = await this.master.dataMaster(master, { code: this.form.businessEntityCode });
          this.form.businessEntityCode = null;
          this.form.businessEntityName = null;
          this.form.businessEntityCode = data.data.code;
          this.form.businessEntityName = data.data.name;
          break;
        case 'city':
          data = await this.master.dataMaster(master, { code: this.form.cityCode });
          this.form.cityCode = data.data.code;
          this.form.cityName = data.data.name;
          this.form.provinceCode = data.data.provinceCode;
          this.form.provinceName = data.data.provinceName;
          this.form.islandCode = data.data.islandCode;
          this.form.islandName = data.data.islandName;
          this.form.countryCode = data.data.countryCode;
          this.form.countryName = data.data.countryName;
          break;
        case 'customer-jn-contact':
          data = await this.master.dataMaster(master, { code: this.form.defaultContactPersonCode });
          this.form.defaultContactPersonCode = null;
          this.form.defaultContactPersonName = null;
          this.form.defaultContactPersonCode = data.data.code;
          this.form.defaultContactPersonName = data.data.name;
          break;
        case 'payment-term':
          data = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          this.form.paymentTermCode = null;
          this.form.paymentTermName = null;
          this.form.paymentTermCode = data.data.code;
          this.form.paymentTermName = data.data.name;
          break;
        case 'distribution-channel':
          data = await this.master.dataMaster(master, { code: this.form.distributionChannelCode });
          this.form.distributionChannelCode = null;
          this.form.distributionChannelName = null;
          this.form.distributionChannelCode = data.data.code;
          this.form.distributionChannelName = data.data.name;
          break;
        case 'chart-of-account':
          data = await this.master.dataMaster(master, { code: this.form.arAccountCode });
          this.form.arAccountCode = null;
          this.form.arAccountName = null;
          this.form.arAccountCode = data.data.code;
          this.form.arAccountName = data.data.name;
          break;
        case 'customer-category':
          data = await this.master.dataMaster(master, { code: this.form.customerCategoryCode });
          this.form.customerCategoryCode = null;
          this.form.customerCategoryName = null;
          this.form.customerCategoryCode = data.data.code;
          this.form.customerCategoryName = data.data.name;
          break;
        case 'price-type':
          data = await this.master.dataMaster(master, { code: this.form.priceTypeCode });
          this.form.priceTypeCode = null;
          this.form.priceTypeName = null;
          this.form.priceTypeCode = data.data.code;
          this.form.priceTypeName = data.data.name;
          break;
        case 'discount-type':
          data = await this.master.dataMaster(master, { code: this.form.defaultDiscountTypeCode });
          this.form.defaultDiscountTypeCode = null;
          this.form.defaultDiscountTypeName = null;
          this.form.defaultDiscountTypeCode = data.data.code;
          this.form.defaultDiscountTypeName = data.data.name;
          break;
        case 'default-ship-to':
          data = await this.master.dataMaster('customer-jn-address', { code: this.form.defaultShipToCode });
          this.form.defaultShipToCode = null;
          this.form.defaultShipToName = null;
          this.form.defaultShipToCode = data.data.code;
          this.form.defaultShipToName = data.data.name;
          break;
        case 'default-bill-to':
          data = await this.master.dataMaster('customer-jn-address', { code: this.form.defaultBillToCode });
          this.form.defaultBillToCode = null;
          this.form.defaultBillToName = null;
          this.form.defaultBillToCode = data.data.code;
          this.form.defaultBillToName = data.data.name;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'business-entity':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Business Entity', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              this.form.businessEntityCode = null;
              this.form.businessEntityName = null;
              if (data) {
                this.form.businessEntityCode = data.code;
                this.form.businessEntityName = data.name;
              }
            },
          });
          break;
        case 'city':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search city', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.cityCode = data.code;
                this.form.cityName = data.name;
                this.form.provinceCode = data.code;
                this.form.provinceName = data.name;
                this.form.islandCode = data.islandCode;
                this.form.islandName = data.islandName;
                this.form.countryCode = data.countryCode;
                this.form.countryName = data.countryName;
              }
            },
          });
          break;
        case 'customer-jn-contact':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Customer Contact', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              this.form.defaultContactPersonCode = null;
              if (data) {
                this.form.defaultContactPersonCode = data.code;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master PaymentTerm', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
              }
            },
          });
          break;
        case 'distribution-channel':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Distribution Chanel', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.distributionChannelCode = data.code;
                this.form.distributionChannelName = data.name;
              }
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Ar Account ', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.arAccountCode = data.code;
                this.form.arAccountName = data.name;
              }
            },
          });
          break;
        case 'customer-category':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search customer category', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              this.form.customerCategoryCode = null;
              this.form.customerCategoryName = null;
              if (data) {
                this.form.customerCategoryCode = data.code;
                this.form.customerCategoryName = data.name;
              }
            },
          });
          break;
        case 'price-type':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Price Type', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.priceTypeCode = data.code;
                this.form.priceTypeName = data.name;
              }
            },
          });
          break;
        case 'discount-type':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Discount Type', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.defaultDiscountTypeCode = data.code;
                this.form.defaultDiscountTypeName = data.name;
              }
            },
          });
          break;
        case 'default-ship-to':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search default ship to', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-jn-address' },
            onClose: (options) => {
              const data = options.data;
              this.form.defaultShipToCode = null;
              this.form.defaultShipToName = null;
              if (data) {
                this.form.defaultShipToCode = data.code;
                this.form.defaultShipToName = data.name;
              }
            },
          });
          break;
        case 'default-bill-to':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search default bill to', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-jn-address' },
            onClose: (options) => {
              const data = options.data;
              this.form.defaultBillToCode = null;
              this.form.defaultBillToName = null;
              if (data) {
                this.form.defaultBillToCode = data.code;
                this.form.defaultBillToName = data.name;
              }
            },
          });
          break;

        default:
          break;
      }
    },
  },
};
</script>
