<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Header Detail" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4" >Code</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': isError && form.code != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Name</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.name" placeholder="Enter name" :class="{ 'p-invalid': isError && form.name != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Period Date</label>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionStartDate != '' }" />
                  </div>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionEndDate != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" :class="{ 'p-invalid': isError && form.remark != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Bank</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.bankCode" placeholder="Enter bank" @change="searchChange('bank')" :class="{ 'p-invalid': isError && form.bankName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bank')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.bankName" placeholder="bank name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Country</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.countryCode" placeholder="Enter country" @change="searchChange('country')" :class="{ 'p-invalid': isError && form.countryName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('country')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.countryName" placeholder="country name" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            @cell-edit-complete="onCellEditComplete"
            :value="detail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Detail Item</label>
                <Button icon="pi pi-plus" label="lookupAddRow" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
                <!-- &nbsp; -->
                <!-- <Button icon="pi pi-plus" label="addRow" class="p-button-sm p-button-warning" style="width:10rem" @Click="addrow"/> -->
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpItemDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="price" header="Price" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ 'Rp. ' + decimalCurrency(slotProps.data.price) }}</template></Column
            >
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span></template
              >
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
            </Column>
            <Column field="stockQuantity" header="Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.stockQuantity) }}</template></Column
            >
            <Column field="balance" header="Balance" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balance) }}</template></Column
            >
            <Column field="total" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ 'Rp. ' + decimalCurrency(slotProps.data.total) }}</template></Column
            >
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-6" style="z-index: 0">
            <div class="col-12 m-0 p-0">
              <div class="field grid">
                <h4 class="col-12 pt-3 md:p-0 p-0 m-0" style="text-align: center">Summary</h4>
                <Divider />
                <label class="col-12 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                <div class="col-6 md:col-3 m-0 p-0 px-1"></div>
                <div class="col-6 md:col-5 m-0 p-0 px-1"><InputText :value="'Rp. ' + decimalCurrency(form.totalTransaction)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Vat</label>
                <div class="col-6 md:col-3 m-0 p-0 px-1">
                  <InputNumber
                    v-model="form.vatPercent"
                    minFractionDigits="0"
                    prefix="%"
                    class="p-inputtext-sm"
                    inputStyle="text-align: right;"
                    allowEmpty="false"
                    @kedown="this.form.vatAmount = this.form.totalTransaction - this.form.totalTransaction / 100"
                  />
                </div>
                <div class="col-6 md:col-5 m-0 p-0 px-1">
                  <InputNumber v-model="form.vatAmount" minFractionDigits="0" class="p-inputtext-sm" inputStyle="text-align: right;" allowEmpty="false" @kedown="this.form.vatPercent = (this.form.vatAmount / this.form.totalTransaction) * 100" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Other Fee</label>
                <div class="col-6 md:col-3 m-0 p-0 px-1"></div>
                <div class="col-6 md:col-5 m-0 p-0 px-1">
                  <InputNumber
                    v-model="form.otherFee"
                    minFractionDigits="0"
                    class="p-inputtext-sm"
                    inputStyle="text-align: right;"
                    allowEmpty="false"
                    @kedown="this.form.grandTotal = this.form.totalTransaction + this.form.vatAmount + this.form.otherFee"
                  />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Grand Total</label>
                <div class="col-6 md:col-3 m-0 p-0 px-1"></div>
                <div class="col-6 md:col-5 m-0 p-0 px-1"><InputNumber v-model="form.grandTotal" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Account</label>
                <div class="col-6 md:col-3 m-0 p-0 px-1">
                  <div class="p-inputgroup">
                    <InputText v-model="form.bankCode" placeholder="Enter bank" @change="searchChange('bank')" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bank')" />
                  </div>
                </div>
                <div class="col-6 md:col-5 m-0 p-0 px-1">
                  <InputText v-model="form.bankName" placeholder="bank name" disabled="true" />
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupMultiMaster from '@/components/lookup/master/LookupMultiMaster';
import moment from 'moment';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    listDetail: [],
    form: {
      code: null,
      name: null,
      transactionDate: store.state.currentDate,
      transactionStartDate: store.state.periodStartDate,
      transactionEndDate: store.state.periodEndDate,
      remark: null,
      bankCode: null,
      bankName: null,
      countryCode: null,
      countryName: null,
      activeStatus: true,
      totalTransaction: 0,
      vatPercent: 0,
      vatAmount: 0,
      otherFee: 0,
      grandTotal: 0,
    },
    detail: [
      // {
      //   code: '',
      //   itemCode: '',
      //   itemName: '',
      //   price: 1000,
      //   quantity: 0,
      //   stockQuantity: 1000,
      //   balance: 1000,
      //   total: 0,
      // },
    ],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.code == '' || this.form.code == null) {
          this.isError = true;
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.bankName == '' || this.form.bankName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Bank can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.countryName == '' || this.form.countryName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Country can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.bankName == 'BCA' ) {
          this.addrow();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    addrow() {
      let detail = {
        code: '',
        itemCode: '',
        itemName: '',
        price: 100,
        quantity: 0,
        stockQuantity: 1000,
        balance: 0,
        total: 0,
      };
      this.detail.push(detail);
    },
    lookupAddRow() {
      this.$dialog.open(LookupMultiMaster, {
        props: { header: 'Search Master Bank', style: { width: '50vw' }, modal: true },
        data: { module: 'bank' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                price: 100,
                quantity: 0,
                stockQuantity: 1000,
                balance: 0,
                total: 0,
              };
              this.detail.push(detail);
            });
          }
        },
      });
    },
    remove(row) {
      this.detail.splice(row.index, 1);
      this.calculationSummary(0);
    },
    async getData(data) {
      let temp = await this.master.dataMaster('bank', data);
      this.form.code = temp.data.code;
      this.form.name = temp.data.name;
      this.form.remark = temp.data.remark;
      this.form.activeStatus = temp.data.activeStatus;
    },
    async getListDetail() {
      this.listDetail = [];
      this.loadingDetails = true;
      const field = {
        column: '',
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.master.searchMaster('bank', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemName == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate,'DD/MM/YYYY').format("YYYY-MM-DD");
        formSubmit.transactionStartDate = moment(this.form.transactionStartDate,'DD/MM/YYYY').format("YYYY-MM-DD");
        formSubmit.transactionEndDate = moment(this.form.transactionEndDate,'DD/MM/YYYY').format("YYYY-MM-DD");

        //Add Grid Detail
        formSubmit.gridDetail = this.detail;

        if (this.submitted) {
          await this.master.updateMaster('bank', formSubmit);
        } else {
          await this.master.saveMaster('bank', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'bank':
          temp = await this.master.dataMaster(master, {code:this.form.bankCode});
          if (temp) {
            this.form.bankCode = temp.data.code;
            this.form.bankName = temp.data.name;
          }else{
            this.form.bankCode = null;
            this.form.bankName = null;
          }
          break;
        case 'country':
          temp = await this.master.dataMaster(master, {code:this.form.countrCode});
          if (temp) {
            this.form.countrCode = temp.data.code;
            this.form.countryName = temp.data.name;
          }else{
            this.form.countryCode = null;
            this.form.countryName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'bank':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Bank', style: { width: '50vw' }, modal: true },
            data: { module: 'bank' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.bankCode = data.code;
                this.form.bankName = data.name;
              }
            },
          });
          break;
        case 'country':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Country', style: { width: '50vw' }, modal: true },
            data: { module: 'country' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.countrCode = data.code;
                this.form.countryName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpItemDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Master Bank', style: { width: '50vw' }, modal: true },
        data: { module: 'bank' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].itemCode = data.code;
            this.detail[index].itemName = data.name;
          }
        },
      });
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          data['balance'] = this.detail[index].balance = data['stockQuantity'] - data['quantity'];
          data['total'] = this.detail[index].total = data['quantity'] * data['price'];
          this.calculationSummary((this.detail[index].total = data['quantity'] * data['price']));
          break;
        default:
          break;
      }
    },
    calculationSummary(total) {
      this.form.totalTransaction = total;
      this.detail.forEach((datas) => {
        this.form.totalTransaction += datas.price * datas.quantity;
      });
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'itemCode':
          temp = await this.master.dataMaster('bank', {code:newValue});
          data['itemCode'] = this.detail[index].itemCode = temp.data.code;
          data['itemName'] = this.detail[index].itemName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
