<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-8">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Exchange Rate</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2">Currency</label>
            <div class="col-6 md:col-5">
              <div class="p-inputgroup">
                <InputText v-model="form.currencyCode" placeholder="Enter Currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.currencyName" placeholder="Currency name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2">Period</label>
            <div class="col-6 md:col-5">
              <div class="p-inputgroup">
                <Calendar id="icon" v-model="form.startDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.startDate == '' }" />
              </div>
            </div>
            <div class="col-6 md:col-5">
              <Calendar id="icon" v-model="form.endDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.endDate == '' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0"></label>
            <div class="col-12 md:col-10">
              <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
            </div>
          </div>
          <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
            <div class="field grid mt-5">
              <label class="col-12 mb-2 md:col-2">Exchange Rate</label>
              <div class="col-6 md:col-5">
                <div class="p-inputgroup">
                  <InputText :value="decimalCurrency(form.exchangeRate)" style="text-align: right" v-model="form.exchangeRate" />
                </div>
              </div>
              <div class="col-6 md:col-3">
                <Button label="Set Exchange Rate" class="blue" @Click="setExchangeRate"></Button>
              </div>
            </div>

            <DataTable
              showGridlines
              columnResizeMode="expand"
              responsiveLayout="scroll"
              dataKey="id"
              scrollHeight="400px"
              class="col-12 md:col-12 editable-cells-table"
              :resizableColumns="true"
              editMode="cell"
              :value="detail"
              :loading="loadingDetails"
              @cell-edit-complete="onCellEditComplete"
            >
              <template #header>
                <div class="table-header">
                  <label style="font-weight: bold">Exchange Rate</label>
                </div>
              </template>
              <Column header="#" style="width: 2rem">
                <template #body="{ index }">
                  <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
                </template>
              </Column>
              <Column header="No" style="width: 3rem">
                <template #body="{ index }">
                  {{ index + 1 }}
                </template>
              </Column>
              <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; width: 10rem; text-align: right">
                <template #body="slotProps"
                  ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.exchangeRate) }}</span>
                </template>
                <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
              </Column>
            </DataTable>
          </BlockUI>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-2 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" :disabled="isConfirm" @Click="submit"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import DynamicDialog from 'primevue/dynamicdialog';
import BlockUI from 'primevue/blockui';
import { decimalCurrency } from '@/utils/function';
import { store } from '@/store';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    form: {
      code: null,
      startDate: store.state.currentDate,
      endDate: store.state.currentDate,
      name: null,
      remark: null,
      currencyCode: null,
      currencyName: null,
      exchangeRate: 0,
    },
    arrAmount: [],
    detail: [],
  }),
  created() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (!this.form.currencyCode) {
          this.isConfirm = true;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm) {
          this.detail = [];
        } else {
          this.loadDetailExchangeRate();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async loadDetailExchangeRate() {
      let date1 = new Date(moment(this.form.startDate, 'DD/MM/YYYY').format('YYYY-MM-DD'));
      let date2 = new Date(moment(this.form.endDate, 'DD/MM/YYYY').format('YYYY-MM-DD'));
      let Difference_In_Time = date2.getTime() - date1.getTime();
      let Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
      console.log(Difference_In_Days);
      let arr = [];
      for (let i = 0; i <= Difference_In_Days; i++) {
        let date = new Date(date1);
        date.setDate(date.getDate() + i);
        arr.push(date);
      }

      if (this.isConfirm == true) {
        this.detail = [];
      } else {
        this.loadingDetails = true;
        const field = {
          currencyCode: this.form.currencyCode,
          page: 0,
          size: 1000,
          sort: 'code,ASC',
        };
        let temp = await this.master.searchMaster('exchange-rate', field);
        this.loadingDetails = false;
        this.arrAmount = temp.data;
      }

      let arrDisplay = [];
      for (let i = 0; i < arr.length; i++) {
        let exRate = 0;
        for (let j = 0; j < this.arrAmount.length; j++) {
          // console.log(arr[i] + ' = ' + new Date(moment(this.detail[j].transactionDate, 'DD-MM-YYYY').format('YYYY-MM-DD')));
          if (arr[i].getTime() === new Date(moment(this.arrAmount[j].transactionDate, 'DD-MM-YYYY').format('YYYY-MM-DD')).getTime()) {
            exRate = this.arrAmount[j].exchangeRate;
          }
        }
        arrDisplay.push({ transactionDate: moment(arr[i], 'DD-MM-YYYY').format('DD/MM/YYYY'), exchangeRate: exRate });
      }
      this.detail = arrDisplay;
      // console.log(arrDisplay);
    },
    // async setExchangeRate() {
    //   this.detail.map
    // },
    async submit() {
      let BreakException = [];
      this.isError = false;
      try {
        if (this.form.code == '' || this.form.code == null) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
      if (this.submitted) {
        await this.master.updateMaster('exchange-rate', this.form);
      } else {
        await this.master.saveMaster('exchange-rate', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
    async searchChange(master) {
      let data = null;
      switch (master) {
        case 'currency':
          data = await this.master.dataMaster(master, { code: this.form.currencyCode });
          this.form.currencyCode = data.data.code;
          this.form.currencyName = data.data.name;
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Currency', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;

        default:
          break;
      }
    },
    remove(row) {
      this.detail.splice(row.index, 1);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
  },
};
</script>
