<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
          <Panel header="Purchase Request Closing" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">PRQ No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.transactionDate" placeholder="dd/mm/yyyy" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-3">
                    <InputText v-model="form.branchCode" placeholder="branch code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Division</label>
                  <div class="col-6 md:col-3">
                    <InputText v-model="form.divisionCode" placeholder="division code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.divisionName" placeholder="division name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Requset By</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.requestBy" placeholder="request by" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.refNo" placeholder="ref No" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" disabled="true"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="md:col-4"></label>
                  <div class="col-6 md:col-3"><Button label="Close" class="p-button-warning" @Click="submit"></Button></div>
                  <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                </div>
              </div>
            </div>
          </Panel>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="listDetail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="onHandStock" header="OnHand Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="minStock" header="Min Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.minStock) }}</template>
            </Column>
            <Column field="maxStock" header="Max Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.maxStock) }}</template>
            </Column>
            <Column field="quantity" header="QTY" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
            </Column>
            <Column field="poQuantity" header="PO QTY" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.poQuantity) }}</template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import {PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    purchase: new PurchaseControllers(),
    isError: false,
    submitted: false,
    loadingDetails: false,
    listDetail: [],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: null,
      branchName: null,
      divisionCode: null,
      divisionName: null,
      requestBy: null,
      refNo: null,
      remark: null,
      closingStatus: 'CLOSED',
    },
    detail: [
      {
        code: '',
        itemCode: '',
        itemName: '',
        onHandStock: 0,
        minStock: 0,
        maxStock: 0,
        quantity: 0,
        poQuantity:0,
        unitOfMeasureCode: '',
      },
    ],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.purchase.dataPurchase('purchase-request', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async getListDetail() {
      this.listDetail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-request/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.listDetail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate,'DD/MM/YYYY').format("YYYY-MM-DD");
        formSubmit.closingStatus ='CLOSED';
        //Add Grid Detail
        formSubmit.listPurchaseRequestDetail = this.listDetail;
        if (this.submitted) {
          await this.purchase.updatePurchase('purchase-request/closing', formSubmit);
        } 
        this.cancel();
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
