<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Setting Role</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="isSubmit" required="true" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.name" placeholder="Enter name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3">Job Position</label>
						<div class="col-6 md:col-4">
							<div class="p-inputgroup">
								<InputText v-model="form.jobPositionCode" placeholder="Job Position Code" disabled="true"/>
							</div>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.jobPositionName" placeholder="Job Position Name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-3 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Back" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>

				<div class="card mt-3">
					<DataTable showGridlines responsiveLayout="scroll" :resizableColumns="true" columnResizeMode="fit" :loading="loadingAuth"
						dataKey="code" class="col-12 p-0 m-0" :lazy="true" ref="dt" :rowClass="rowClass"
						:value="listAuth" :rows="10000" :scrollable="true">
						<Column field="Index" header="No" style="max-width:60px; "><template #body="{ index }">{{ (index+1+(meta.page*meta.rows)) }}</template></Column>
						<Column field="authorizationName" header="Module Name" style="white-space: nowrap; " ></Column>
						<Column field="assignAuthority" header="View" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
							<template #body="slotProps">
								<InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.assignAuthority"  @change="submit(slotProps.data.code,'assignAuthority')" true-value="true" false-value="false"/>
							</template>
						</Column>
						<Column field="saveAuthority" header="Save" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
							<template #body="slotProps">
								<InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.saveAuthority"  @change="submit(slotProps.data.code,'saveAuthority')" true-value="true" false-value="false"/>
							</template>
						</Column>
						<Column field="updateAuthority" header="Update" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
							<template #body="slotProps">
								<InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.updateAuthority"  @change="submit(slotProps.data.code,'updateAuthority')" true-value="true" false-value="false"/>
							</template>
						</Column>
						<Column field="deleteAuthority" header="Delete" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
							<template #body="slotProps">
								<InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.deleteAuthority"  @change="submit(slotProps.data.code,'deleteAuthority')" true-value="true" false-value="false"/>
							</template>
						</Column>
						<Column field="printAuthority" header="Print" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
							<template #body="slotProps">
								<InputSwitch v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.printAuthority"  @change="submit(slotProps.data.code,'printAuthority')" true-value="true" false-value="false"/>
							</template>
						</Column>
					</DataTable>
				</div>
			</div>
		</div>
	</div>
</template>

<style>
.p-inputswitch {
	width: 3rem;
	height: 1.2rem;
}

::v-deep(.module-header) {
    background-color: gainsboro;
}

::v-deep(.module-detail) {
    background-color: ghostwhite;
}
</style>
<script>
import { getParam } from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';
export default {
	data: () => ({
		setting: new SettingControllers(),
		isError: false,
		isSubmit: false,
		listAuth: [],
		loadingAuth: true,
		form: {
			code: "",
			name: "",
			remark: "",
			activeStatus: true,
			jobPositionCode: null,
			jobPositionName: null,
		},
		meta :{
			page: 0,
			rows: 10,
			sortField: "code",
			sortOrder: 1,
			filters: null
		},
	}),
	created() {
		if(getParam("code")){
			this.isSubmit = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		rowClass(data) {
        return data.menuType != 'MODULE' ? 'module-header': 'module-detail';
    },
		async getData(data) {
			let temp = await this.setting.dataSetting('role', {code:data});
			this.form = temp.data;

			this.loadingAuth = true;
			this.listAuth = [];
			const field = {
				code: data,
				page: 0,
				size: 10000,
				sort: "CODE,ASC",
			}
			this.listAuth = await this.setting.searchSetting('role-authorization', field);
			this.listAuth = this.listAuth.data;
			this.loadingAuth = false;
		},
		async submit(code,modules) {
			console.log(code)
			let model = {
				code:code,
				authority:"",
				moduleStatus:"",
			}
			this.loadingAuth = true;
			switch (modules){
					case "assignAuthority":
						for (let key in this.listAuth) {
								let obj = this.listAuth[key];
								if(obj.code == code){
									model = {
										code:code,
										authority:"AssignAuthority",
										moduleStatus:obj.assignAuthority,
									}
									await this.setting.updateSetting('role-authorization', model);
								}
						}
					break;
					case "saveAuthority":
						for (let key in this.listAuth) {
								let obj = this.listAuth[key];
								if(obj.code == code){
									model = {
										code:code,
										authority:"SaveAuthority",
										moduleStatus:obj.saveAuthority,
									}
									await this.setting.updateSetting('role-authorization', model);
								}
						}
					break;
					case "updateAuthority":
						for (let key in this.listAuth) {
								let obj = this.listAuth[key];
								if(obj.code == code){
									model = {
										code:code,
										authority:"UpdateAuthority",
										moduleStatus:obj.updateAuthority,
									}
									await this.setting.updateSetting('role-authorization', model);
								}
						}
					break;
					case "deleteAuthority":
						for (let key in this.listAuth) {
								let obj = this.listAuth[key];
								if(obj.code == code){
									model = {
										code:code,
										authority:"DeleteAuthority",
										moduleStatus:obj.deleteAuthority,
									}
									await this.setting.updateSetting('role-authorization', model);
								}
						}
					break;
					case "printAuthority":
						for (let key in this.listAuth) {
								let obj = this.listAuth[key];
								if(obj.code == code){
									model = {
										code:code,
										authority:"PrintAuthority",
										moduleStatus:obj.printAuthority,
									}
									await this.setting.updateSetting('role-authorization', model);
								}
						}
					break;
			}
			this.loadingAuth = false;
		},
		cancel() {
			history.back();
		},
	}
}
</script>
