<template>
	<div class="grid p-fluid">
		<div class="col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12">
						<div class="font-medium text-3xl text-900">Role Authorization</div>
					</div>
				</div>
				<Toast/>

				<div class="col-12">
					<Toolbar class="mb-12 m-0 py-0 p-2">
						<template v-slot:start>
							<label class="col-3">Search</label>
							<div class="field grid col-12 p-0 m-1">
								<div class="field grid col-4 p-0 m-1">
									<div class="col-12 p-0 m-0"><InputText type="text" v-model="searchCode" placeholder="By code" class="p-inputtext-sm"/></div>
								</div>
								<div class="field grid col-4 p-0 m-1">
									<div class="col-12 p-0 m-0"><InputText type="text" v-model="searchName" placeholder="By name" class="p-inputtext-sm"/></div>
								</div>
								<div class="field grid col-8 md:col-4 p-0 m-0">
									<SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name"/>
								</div>
							</div>
						</template>
						<template v-slot:end>
							<div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList"/></div>
						</template>
					</Toolbar>

					<div class="card mt-3">
						<DataTable showGridlines responsiveLayout="scroll" :resizableColumns="true" columnResizeMode="fit" :loading="loading"
						dataKey="code" scrollHeight="400px" class="col-12 p-0 m-0" :lazy="true" ref="dt"
						selectionMode="single" v-model:selection="selectedRows" :totalRecords="totalRecords"
						:value="list" :paginator="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
						:rows="10000" :scrollable="true"
						@rowSelect="onRowSelect" @rowUnselect="onRowUnselect" @page="onPage($event)" @sort="onSort($event)"
						>
							<Column field="Index" header="No" style="max-width:60px; "><template #body="{ index }">{{ (index+1+(meta.page*meta.rows)) }}</template></Column>
							<Column field="code" header="#" style="white-space: nowrap; display: flex; justify-content: center; max-width:6rem; ">
								<template #body="slotProps">
									<Button label="setting" class="p-button-search" @Click="updateData(slotProps.data.code)"/>
								</template>
							</Column>
							<Column field="code" header="Code" style="white-space: nowrap; " :sortable="true" ></Column>
							<Column field="name" header="Name" style="white-space: nowrap; " :sortable="true" ></Column>
							<Column field="jobPositionName" header="Job Position Name" style="white-space: nowrap; " :sortable="true" ></Column>
							<Column field="activeStatus" header="Status" style="white-space: nowrap; display: flex; justify-content: center">
								<template #body="slotProps">
									<span :class="'p-tag p-component p-tag-'+status(slotProps.data.activeStatus,false)">{{status(slotProps.data.activeStatus,true)}}</span>
								</template>
							</Column>
						</DataTable>
					</div>

					<div class="card mt-3">
						<DataTable showGridlines responsiveLayout="scroll" :resizableColumns="true" columnResizeMode="fit" :loading="loadingAuth"
							dataKey="code" scrollHeight="400px" class="col-12 p-0 m-0" :lazy="true" ref="dt"
							:value="listAuth" :rows="10000" :scrollable="true">
							<Column field="Index" header="No" style="max-width:60px; "><template #body="{ index }">{{ (index+1+(meta.page*meta.rows)) }}</template></Column>
							<Column field="authorizationName" header="Module Name" style="white-space: nowrap; " ></Column>
							<Column field="assignAuthority" header="View" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
								<template #body="slotProps">
									<InputSwitch  v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.assignAuthority" disabled="true" true-value="true"/>
								</template>
							</Column>
							<Column field="saveAuthority" header="Save" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
								<template #body="slotProps">
									<InputSwitch  v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.saveAuthority" disabled="true" true-value="true"/>
								</template>
							</Column>
							<Column field="updateAuthority" header="Update" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
								<template #body="slotProps">
									<InputSwitch  v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.updateAuthority" disabled="true" true-value="true"/>
								</template>
							</Column>
							<Column field="deleteAuthority" header="Delete" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
								<template #body="slotProps">
									<InputSwitch  v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.deleteAuthority" disabled="true" true-value="true"/>
								</template>
							</Column>
							<Column field="printAuthority" header="Print" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem">
								<template #body="slotProps">
									<InputSwitch  v-if="slotProps.data.menuType == 'MODULE'" v-model="slotProps.data.printAuthority" disabled="true" true-value="true"/>
								</template>
							</Column>
						</DataTable>
					</div>
			</div>
		</div>
	</div>
</div>
<Dialog header="Confirmation" v-model:visible="isdelete" :style="{width: '350px'}" :modal="true">
	<div class="confirmation-content">
		<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
		<span>Are you sure you want to delete {{code}}?</span>
	</div>
	<template #footer>
		<Button label="No" icon="pi pi-times" @click="isdelete=false" class="p-button-text"/>
		<Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
	</template>
</Dialog>
</template>

<style>
.p-inputswitch {
  width: 3rem;
  height: 1.2rem;
}
</style>
<script>
import { getStatus ,valdNull} from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';

export default {
	data: () => ({
		setting: new SettingControllers(),
		rdbStatus: {name: 'Active', value: true},
		rdbOptions: [
			{name: 'Active', value: true},
			{name: 'InActive', value: false},
			{name: 'All', value: 'All'},
		],
		code: null,
		header: null,
		list: [],
		listAuth: [],
		searchCode: "",
		searchName: "",
		meta :{
			page: 0,
			rows: 10,
			sortField: "code",
			sortOrder: 1,
			filters: null
		},
		totalRecords: 0,
		loading: true,
		loadingAuth: false,
		selectedRows: null,
		selectAll: false,
		isdelete: false,
	}),
	created() {
		this.getList();
	},
	mounted() {
		this.meta = {
			page: 0,
			rows: 10,
			sortField: "code",
			sortOrder: 1
		};
	},
	methods: {
		searchList(){
			this.meta.page = 0;
			this.getList();
		},
		async getList() {
			this.loading = true;
			this.listAuth = [];
			this.meta.page = (this.meta.page)? this.meta.page:0;
			const field = {
				code: this.searchCode,
				name: this.searchName,
				activeStatus: this.rdbStatus.value,
				page: this.meta.page,
				size: this.meta.rows,
				sort: (this.meta.sortOrder == 1) ? valdNull(this.meta.sortField,"code")+','+"ASC":valdNull(this.meta.sortField,"code")+','+"DESC",
			}
			this.selectedRows= null;
			let temp = await this.setting.searchSetting('role', field);
			this.totalRecords = temp.totalData;
			this.loading = false;
			return this.list = temp.data;
		},
		updateData(code) {
			if(code == null){
				this.$toast.add({severity: 'warn', summary: 'Data Not Selected', life: 3000});
				return;
			}
			const param = {
				code: code,
			}
			this.$router.push({path: '/setting/role-authorization/form',query:param})
		},
		async showAuth() {
			if(this.header != this.code){
				this.loadingAuth = true;
				this.listAuth = [];
				const field = {
					code: this.code,
					page: 0,
					size: 10000,
					sort: "CODE,ASC",
				}
				this.listAuth = await this.setting.searchSetting('role-authorization', field);
				this.listAuth = this.listAuth.data;
				this.loadingAuth = false;
				this.header = this.code;
			}
		},
		onRowSelect(event) {
			this.code = event.data.code;
			this.showAuth();
			return event;
		},
		onRowUnselect(event) {
			this.code = null;
			this.selectedRows= null;
			return event;
		},
		onPage(event) {
			this.meta = event;
			this.getList();
		},
		onSort(event) {
			this.meta = event;
			this.getList();
		},
		status(val, is) {
			return getStatus(val, is);
		},
		toBool(val) {
			console.log(val);
			if(!val){
				return true;
			}
			return false;
		},
	},
}
</script>
