<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-8">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Payment Term</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
              <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.name" placeholder="Enter name" />
              <small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Days</label>
            <div class="col-12 md:col-10">
              <InputText type="number" v-model="form.days" placeholder="Enter days" />
              <small class="p-invalid" v-if="submitted && !form.days">Days is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
            <div class="col-12 md:col-10">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
            <div class="col-12 md:col-10">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-2 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    form: {
      code: '',
      name: '',
      days: '',
      remark: '',
      activeStatus: true,
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('payment-term', { code: data });
      this.form = temp.data;
    },
    async submit() {
      if (this.submitted) {
        await this.master.updateMaster('payment-term', this.form);
      } else {
        await this.master.saveMaster('payment-term', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
  },
};
</script>
