<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Payment Request Approval" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Payment Request No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" :disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment To *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.paymentTo" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 md:col-4">Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="type" value="1" v-model="form.transactionType" :disabled="true" @change="onChangeOptionDepositType()" />
                      <label for="1">Regular</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="type" value="0" v-model="form.transactionType" :disabled="true" @change="onChangeOptionDepositType()" />
                      <label for="0">Deposit</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Deposit Type</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorDepositTypeCode" placeholder="Enter depositType" :disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorDepositTypeName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.vendorDepositTypeChartOfAccountCode" placeholder="Chart Of Account" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" :disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Approval Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="APPROVED" name="status" value="APPROVED" v-model="form.approvalStatus" />
                      <label for="APPROVED">Approve</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="REJECTED" name="status" value="REJECTED" v-model="form.approvalStatus" />
                      <label for="REJECTED">Reject</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Reason</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.approvalReasonCode" placeholder="Enter reason" @change="searchChange('approval-reason')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('reason')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.approvalReasonName" placeholder="reason name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Approval Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.approvalRemark" rows="3" cols="20" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="md:col-4"></label>
                  <div class="col-6 md:col-3"><Button label="Approve" class="p-button-warning" @Click="submit"></Button></div>
                  <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" :disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Amount</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup"><InputNumber v-model="form.totalTransactionAmount" class="p-inputnumber-sm" inputClass="text-right" :disabled="true" /><span>(Credit)</span></div>
                  </div>
                </div>

                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" class="p-inputtext-sm" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" :disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>

        <BlockUI class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            v-model:selection="selectedRows"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">Detail</div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="documentNo" header="Document No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="documentType" header="Document Type" style="white-space: nowrap; width: 8rem"></Column>
            <Column field="documentBranchCode" header="Document Branch" style="white-space: nowrap; width: 8rem"></Column>
            <Column field="documentDate" header="Document Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="chartOfAccountCode" header="Chart Of Account Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="departmentCode" header="Department Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="departmentName" header="Department Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" /></template>
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
            </Column>
            <Column field="dueDate" header="Due Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="amount" header="Doc Amount(Foreign)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.amount) }}</template>
            </Column>
            <Column field="amountIDR" header="Doc Amount(IDR)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.amountIDR) }}</template>
            </Column>
            <Column field="balance" header="Balance(Foreign)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.balance) }}</template>
            </Column>
            <Column field="balanceIDR" header="Balance(IDR)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceIDR) }}</template>
            </Column>
            <Column field="transactionStatus" header="TransactionStatus" style="white-space: nowrap; width: 15rem; text-align: center"></Column>
            <Column field="debit" header="Debit" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.debit < 1 }">{{ decimalCurrency(slotProps.data.debit) }}</span></template
              >
            </Column>
            <Column field="credit" header="Credit" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.credit) }}</template>
            </Column>
            <Column field="debitIDR" header="Debit(IDR)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.debitIDR) }}</template>
            </Column>
            <Column field="creditIDR" header="Credit(IDR)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.creditIDR) }}</template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 20rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 m-0 p-0" style="justify-content: right">
          <div class="grid col-6 m-0 p-0" style="justify-content: right"></div>
          <div class="grid col-6 m-0 p-0" style="justify-content: right">
            <div class="col-12 md:col-8 m-0 p-0">
              <h4 class="col-12 pt-3 md:p-0 p-0 m-0" style="text-align: right">Summary</h4>
              <div class="field grid m-0 p-0"><Divider /></div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold"></label>
                <div class="col-12 md:col-5 pr-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Foreign</label>
                </div>
                <div class="col-12 md:col-5 pr-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">IDR</label>
                </div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                <div class="col-12 md:col-5 pr-0">
                  <InputText :value="decimalCurrency(totalDebitForeignAmount)" style="text-align: right" v-model="totalDebitForeignAmount" disabled="true" />
                </div>
                <div class="col-12 md:col-5 pr-0">
                  <InputText :value="decimalCurrency(totalDebitIDRAmount)" style="text-align: right" v-model="totalDebitIDRAmount" disabled="true" />
                </div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                <div class="col-12 md:col-5 pr-0">
                  <InputText :value="decimalCurrency(totalCreditForeignAmount)" style="text-align: right" v-model="totalCreditForeignAmount" disabled="true" />
                </div>
                <div class="col-12 md:col-5 pr-0">
                  <InputText :value="decimalCurrency(totalCreditIDRAmount)" style="text-align: right" v-model="totalCreditIDRAmount" disabled="true" />
                </div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Balance</label>
                <div class="col-12 md:col-5 pr-0">
                  <InputText :value="decimalCurrency(totalBalanceForeignAmount)" style="text-align: right" v-model="totalBalanceForeignAmount" disabled="true" />
                </div>
                <div class="col-12 md:col-5 pr-0">
                  <InputText :value="decimalCurrency(totalBalanceIDRAmount)" style="text-align: right" v-model="totalBalanceIDRAmount" disabled="true" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpCatalog from '@/components/lookup/master/LookUpCatalog';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    isError: false,
    isUpdate: false,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingArDetails: false,
    loadingDetails: false,
    loadingStockDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      paymentTo: null,
      transactionType: '1',
      depositTypeCode: null,
      depositTypeName: null,
      vendorDepositTypeChartOfAccountCode: null,
      vendorDepositTypeChartOfAccountName: null,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: 0,
      dueDate: store.state.currentDate,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: null,
      chartOfAccountCode: null,
      chartOfAccountName: null,
      exchangeRate: 1,
      vendorDepositTypeCode: null,
      vendorDepositTypeName: null,
      totalTransactionAmount: 0.0,
      approvalStatus: 'APPROVED',
      approvalRemark: null,
      approvalReasonCode: null,
      approvalReasonName: null,
      refNo: null,
      remark: null,
    },
    totalDebitForeignAmount: 0,
    totalCreditForeignAmount: 0,
    totalDebitIDRAmount: 0,
    totalCreditIDRAmount: 0,
    totalBalanceForeignAmount: 0,
    totalBalanceIDRAmount: 0,
    vatDivision: store.state.defaultVatDivision,
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
    this.getListDetail();
  },
  mounted() {},
  methods: {
    addrowDepositType() {
      let detail = {
        documentNo: '',
        documentDate: '',
        chartOfAccountCode: this.form.vendorDepositTypeChartOfAccountCode,
        chartOfAccountName: this.form.vendorDepositTypeChartOfAccountName,
        currencyCode: this.form.currencyCode,
        exchangeRate: 1,
        departmentCode: '',
        departmentName: '',
        dueDate: '',
        amount: 0,
        amountIDR: 0,
        balanceIDR: 0,
        transactionStatus: 'Other',
        debit: this.form.totalTransactionAmount,
        balance: 0,
        credit: 0,
        debitIDR: this.form.totalTransactionAmount,
        creditIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
      this.calculationSummary();
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('payment-request', { code: data });
      this.form = temp.data;
      this.form.approvalStatus = 'APPROVED';
      this.form.transactionType = temp.data.transactionType === 'REGULAR' ? '1' : '0';
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('payment-request/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary();
      return this.detail;
    },
    async submit() {
      let BreakException = {};
      this.isError = false;
      try {
        if (this.form.approvalStatus == 'REJECTED' && !this.form.approvalReasonCode) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: " Approval Reason can't be Empty!", life: 3000 });
          throw BreakException;
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transactionType = this.form.transactionType === '1' ? 'REGULAR' : 'DEPOSIT';
        //Add Grid Detail

        this.detail = this.detail.map((item) => {
          return {
            documentNo: item.documentNo,
            documentBranchCode: item.documentBranchCode,
            documentDate: moment(item.documentDate == '' ? '01-01-1900' : item.documentDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
            documentType: item.documentType,
            currencyCode: item.currencyCode,
            exchangeRate: item.exchangeRate,
            departmentCode: item.departmentCode,
            chartOfAccountCode: item.chartOfAccountCode,
            transactionStatus: item.transactionStatus,
            credit: item.credit,
            debit: item.debit,
            remark: item.remark,
          };
        });

        formSubmit.listPaymentRequestDetail = this.detail;
        if (this.submitted) {
          await this.finance.updateFinance('payment-request', formSubmit);
        } else {
          await this.finance.saveFinance('payment-request', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'approval-reason':
          temp = await this.master.dataMaster(master, { code: this.form.approvalReasonCode });
          if (temp) {
            this.form.approvalReasonCode = temp.data.code;
            this.form.approvalReasonName = temp.data.name;
          } else {
            this.form.approvalReasonCode = null;
            this.form.approvalReasonName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'approval-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.approvalReasonCode = data.code;
                this.form.approvalReasonName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpCatalogDetail(data, field, index) {
      this.$dialog.open(LookUpCatalog, {
        props: { header: 'Search Master Catalog', style: { width: '50vw' }, modal: true },
        data: { module: 'item-jn-catalog-number/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].catalogNo = data.code;
          }
        },
      });
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'chartOfAccountCode':
          temp = await this.master.dataMaster('chart-of-account', { code: newValue });
          data['chartOfAccountCode'] = this.detail[index].discountTypeCode = temp.data.code;
          data['chartOfAccountName'] = this.detail[index].chartOfAccountName = temp.data.name;
          break;
        case 'departmentCode':
          temp = await this.master.dataMaster('department', { code: newValue });
          data['departmentCode'] = this.detail[index].departmentCode = temp.data.code;
          data['departmentName'] = this.detail[index].departmentName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    // calculateTotalDetail(index) {
    //   this.detail[index].nettPrice = this.detail[index].price - this.detail[index].discountAmount;
    //   this.detail[index].totalAmount = this.detail[index].nettPrice * this.detail[index].quantity;
    //   this.calculationSummary();
    // },
    onChangeOptionDepositType() {
      this.form.vendorDepositTypeCode = '';
      this.form.vendorDepositTypeName = '';
      this.form.vendorDepositTypeChartOfAccountCode = '';
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'debit':
          this.detail[index].debit = data['debit'];
          this.detail[index].debitIDR = data['debit'] * data['exchangeRate'];
          break;
        case 'credit':
          this.detail[index].credit = data['credit'];
          this.detail[index].creditIDR = data['credit'] * data['exchangeRate'];
          break;
        case 'departmentCode':
          this.detail[index].departmentCode = data['departmentCode'];
          break;
        default:
          break;
      }
      this.calculationSummary();
    },
    resetSummary() {
      this.totalDebitForeignAmount = 0;
      this.totalCreditForeignAmount = 0;
      this.totalDebitIDRAmount = 0;
      this.totalCreditIDRAmount = 0;
      this.totalBalanceForeignAmount = 0;
      this.totalBalanceIDRAmount = 0;
    },
    calculationSummary() {
      this.totalDebitForeignAmount = 0;
      this.totalCreditForeignAmount = Number(this.form.totalTransactionAmount);
      this.totalDebitIDRAmount = 0;
      this.totalCreditIDRAmount = Number(this.form.totalTransactionAmount);
      this.detail.forEach((datas) => {
        this.totalDebitForeignAmount += parseFloat(datas.debit);
        this.totalCreditForeignAmount += parseFloat(datas.credit);
        this.totalDebitIDRAmount += parseFloat(datas.debit) * parseFloat(datas.exchangeRate);
        this.totalCreditIDRAmount += parseFloat(datas.credit) * parseFloat(datas.exchangeRate);
      });
      this.totalBalanceForeignAmount = this.totalDebitForeignAmount - this.totalCreditForeignAmount;
      this.totalBalanceIDRAmount = this.totalDebitIDRAmount - this.totalCreditIDRAmount;

      if (this.detail.length == 0) {
        this.resetSummary();
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    formatDate(val) {
      if (val == '') {
        return '';
      }
      return moment(val, 'DD/MM/YYYY').format('DD/MM/YYYY');
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
