<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Payment Request Approval</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">PYM-RQ No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Payment Request" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <!-- <div class="col-6 md:col-6 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Type</label>
                    <div class="col-12 md:col-8 m-0 p-2">
                      <Dropdown v-model="btnType" :options="btnTypeList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div> -->
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Status</label>
                    <div class="col-12 md:col-8 m-0 p-2">
                      <Dropdown v-model="btnApprovalStatus" :options="btnApprovalStatusList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="md:col-3 mt-2 m-0 p-1" />
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-12 md:col-5 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                    <div class="col-12 md:col-7 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0 py-1" style="justify-content: right">
                  <div class="col-6 md:col-2 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 10em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="approvalStatus" header="Status" style="min-width: 10em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="code" header="Payment Request Code" style="min-width: 14em" :sortable="true"></Column>
              <Column field="branchCode" header="Branch" style="min-width: 8em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="currencyCode" header="Currency" style="min-width: 8em" :sortable="true"></Column>
              <Column field="totalTransactionAmount" header="Amount" style="min-width: 10em; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalTransactionAmount) }}</template>
              </Column>
              <Column field="transactionType" header="Type" style="min-width: 10em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
            <div class="col-4 md:col-2 m-0 p-1"><Button label="Approve" class="p-button-warning" @Click="processData"></Button></div>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="documentNo" header="Document No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="documentType" header="Document Type" style="min-width: 12em" :sortable="true" hidden></Column>
              <Column field="documentDate" header="Document Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="chartOfAccountCode" header="COA Code" style="min-width: 12em"></Column>
              <Column field="chartOfAccountName" header="COA Name" style="min-width: 15em; white-space: nowrap"></Column>
              <Column field="departmentCode" header="Department Code" style="min-width: 12em"></Column>
              <Column field="currencyCode" header="Currency" style="min-width: 6em"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="min-width: 8em; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
              </Column>
              <Column field="remark" header="Remark" style="min-width: 12em"></Column>
              <Column field="debit" header="Debit" style="min-width: 12em; display: flex; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.debit) }}</template>
              </Column>
              <Column field="credit" header="Credit" style="min-width: 12em; display: flex; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.credit) }}</template>
              </Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    finance: new FinanceControllers(),
    code: null,
    list: [],
    listDetail: [],
    searchCode: '',
    typePrq: 'APPROVAL',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    searchDivisionCode: '',
    searchDivisionName: '',
    searchRefNo: '',
    searchRemark: '',
    btnType: 'ALL',
    btnTypeList: [
      { name: 'ALL', code: 'ALL' },
      { name: 'REGULAR', code: 'REGULAR' },
      { name: 'DEPOSIT', code: 'DEPOSIT' },
    ],
    btnApprovalStatus: 'PENDING',
    btnApprovalStatusList: [
      { name: 'ALL', code: 'ALL' },
      { name: 'PENDING', code: 'PENDING' },
      { name: 'APPROVED', code: 'APPROVED' },
      { name: 'REJECTED', code: 'REJECTED' },
    ],
    meta: {
      page: 0,
      rows: 5,
      sortField: 'transactionDate',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    isdelete: false,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'transactionDate',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionType: this.btnType,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        approvalStatus: this.btnApprovalStatus,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'transactionDate') + ',' + 'DESC' : valdNull(this.meta.sortField, 'transactionDate') + ',' + 'ASC',
      };
      let temp = await this.finance.searchFinance('payment-request', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull('code') + ',' + 'ASC' : valdNull('code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('payment-request/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    processData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      if (this.approvalStatus === 'APPROVED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Approved !', life: 3000 });
        return;
      }

      if (this.approvalStatus == 'REJECTED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Rejected !', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/finance/payment-request-approval/form', query: param });
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
