<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Un Assign Picking List Delivery Note" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">DLN No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>PLT-SOD No *</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.pickingListSalesOrderCode" disabled />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>SOD No *</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderCode" disabled />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.customerName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Sales Person</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesPersonCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.salesPersonName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" disabled/>
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.warehouseName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Ship To *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" disabled/>
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.shipToName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.shipToAddress" rows="2" cols="54" disabled="true" />
                  </div>
                </div>
                <div class="field grid" style="border: 0px solid black">
                  <label class="col-12 mb-2 md:col-4">Phone 1</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.shipToPhone1" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">City</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.shipToCityName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vehicle No</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.vehicleNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <BlockUI class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            style="width: 50%"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="pickingListDetail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PICKING LIST</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="pickingListSalesOrderCode" header="PLT-SO" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 10rem"></Column>
          </DataTable>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="pickingListSalesOrderDetailCode" header="PickingListSalesOrderDetailCode" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
  <script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    inventory: new InventoryControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    loadingItemDetails: false,
    listPickingList: [],
    listDetail: [],
    form: {
      code: null,
      pickingListSalesOrderCode:null,
      transactionDate: store.state.currentDate,
      salesOrderCode: '',
      branchCode: '',
      branchName: '',
      customerCode: '',
      customerName: '',
      salesPersonCode: '',
      salesPersonName: '',
      shipToCode: '',
      shipToName: '',
      shipToAddress: '',
      shipToPhone1: '',
      shipToFax: '',
      shipToCityName: '',
      currencyCode: store.state.defaultCurrencyCode,
      reasonCode: null,
      reasonName: null,
      warehouseCode: null,
      warehouseName: null,
      unitOfMeasureCode: null,
      refNo: null,
      remark: null,
    },
    pickingListDetail: [],
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.pickingListSalesOrderCode = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    async getData(data) {
      let temp = await this.sales.dataSales('picking-list-sales-order', { code: data });
      this.form = temp.data
      this.form.pickingListSalesOrderCode = temp.data.code;
      this.form.code ='AUTO';
      this.form.transactionDate = store.state.currentDate;
      this.form.refNo ='';
      this.form.remark ='';
      this.getListPickingList('new');
    },
    async getListPickingList(flag) {
      this.pickingListDetail = [];
      this.loadingDetails = true;
      const field = {
        salesOrderCode: this.form.salesOrderCode,
        flag: flag,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('picking-list-sales-order/for-dln', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.getListDetail(temp.data);
      return (this.pickingListDetail = temp.data);
    },
    async getListDetail(picking) {
      this.detail = [];
      this.loadingItemDetails = true;
      let prmPickingListCode = [];
      picking.forEach((datas) => {
        prmPickingListCode.push(datas.code);
      });

      let prmPickingList = {
        pickingListCode: prmPickingListCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };

      let temp = await this.sales.searchDataArraySales('picking-list-sales-order/bulk-detail', prmPickingList);
      this.selectedRows = null;
      this.loadingItemDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.currencyCode = store.state.defaultCurrencyCode;
        //Add Grid Detail
        formSubmit.listDeliveryNoteSalesOrderPickingList = this.pickingListDetail;
        formSubmit.listDeliveryNoteSalesOrderItemDetail = this.detail;

        if (this.submitted) {
          await this.inventory.saveInventory('delivery-note', formSubmit);
        }
        this.cancel();
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
