<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Un Assign Picking List Delivery Note</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 p-1 m-0"><Button label="Create DLN" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
            </template>
            <template v-slot:end>
            </template>
          </Toolbar>
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Code</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Plt Code" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">SO No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchSalesOrderCode" placeholder="Sales Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Customer Code</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchCustomerCode" placeholder=" Customer Code" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Remark</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Customer Name</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <InputText v-model="searchCustomerName" placeholder=" Customer Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Ref No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText v-model="searchRefNo" placeholder=" Ref No" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1"></label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="col-12 md:col-3 mt-2 m-0 p-1">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 10em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="code" header="Code" style="min-width: 13em" :sortable="true"></Column>
              <Column field="salesOrderCode" header="Sales Order Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="customerCode" header="Customer Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="customerName" header="Customer Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="shipToCode" header="Ship To Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="shipToName" header="Ship To Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="shipToAddress" header="Address" style="min-width: 12em" :sortable="true"></Column>
              <Column field="warehouseCode" header="Warehouse Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="warehouseName" header="Warehouse Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
              <Column field="dlnSoNo" header="DLN-SO No" style="min-width: 12em"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <div class="col-12 m-0 p-0">
              <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
            </div>
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="catalogNo" header="Catalog No" style="min-width: 12em"></Column>
              <Column field="itemAlias" header="Item Alias" style="min-width: 12em"></Column>
              <Column field="quantity" header="Quantity" style="min-width: 12em" ></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12em"></Column>
              <Column field="rackCode" header="Rack Code" style="min-width: 12em"></Column>
              <Column field="rackName" header="Rack Name" style="min-width: 12em"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>

import moment from 'moment';
import { store } from '@/store';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    sales: new SalesControllers(),
    code: null,
    list: [],
    listDetail: [],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchSalesOrderCode: '',
    searchCustomerCode: '',
    searchCustomerName: '',
    searchRefNo: '',
    searchRemark: '',
    totalTransactionAmount: decimalCurrency(0),
    discountCode: '',
    discountName:'',
    discountAmount: decimalCurrency(0),
    taxBaseAmount: decimalCurrency(0),
    vatPercent: decimalCurrency(0),
    vatAmount: decimalCurrency(0),
    grandTotalAmount: decimalCurrency(0),
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,

    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        salesOrdercode: this.searchSalesOrderCode,
        customerCode: this.searchCustomerCode,
        customerName: this.searchCustomerName,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales('picking-list-sales-order/un-assign-pick-dln', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;

      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales('picking-list-sales-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    createData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/inventory/un-assign-picking-list-delivery-note/form', query: param });
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.totalTransactionAmount = decimalCurrency(event.data.totalTransactionAmount);
        this.discountCode = event.data.discountCode;
        this.discountName =event.data.discountName;
        this.discountAmount = decimalCurrency(event.data.discountAmount);
        this.taxBaseAmount = decimalCurrency(event.data.taxBaseAmount);
        this.vatPercent = decimalCurrency(event.data.vatPercent);
        this.vatAmount = decimalCurrency(event.data.vatAmount);
        this.grandTotalAmount = decimalCurrency(event.data.grandTotalAmount);
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
