<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-8">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master city</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2">Province</label>
						<div class="col-6 md:col-5">
							<div class="p-inputgroup">
								<InputText v-model="form.provinceCode" placeholder="Enter Province"  @change="searchChange('province')"  :class="{'p-invalid': isError && form.provinceCode != ''}"/>
								<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('province')"/>
							</div>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.provinceName" placeholder="Province name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2">Island</label>
						<div class="col-6 md:col-5">
							<InputText v-model="form.islandCode" placeholder="Island code" disabled="true"/>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.islandName" placeholder="Island name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2">Country</label>
						<div class="col-6 md:col-5">
							<InputText v-model="form.countryCode" placeholder="Country code" disabled="true"/>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.countryName" placeholder="Country name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
						<div class="col-12 md:col-10">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
						<div class="col-12 md:col-10">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-2 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupProvince from '@/components/lookup/master/LookupProvince'
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: null,
			name: null,
			remark: null,
			activeStatus: true,
			provinceCode: null,
			provinceName: null,
			islandCode: null,
			islandName: null,
			countryCode: null,
			countryName: null,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('city',{code:data});
			this.form = temp.data;
		},
		async submit() {
			let BreakException =[]
			this.isError = false;
			try{
				if(this.form.code == "" || this.form.code == null){
					this.isError = true
					this.$toast.add({severity: 'warn', summary: "Code can't be null!", life: 3000})
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if(this.submitted){
				await this.master.updateMaster('city', this.form);
			}else{
				await this.master.saveMaster('city', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
		async searchChange(master){
			let data = null;
			switch (master) {
				case "province":
				data = await this.master.dataMaster(master, {code:this.form.provinceCode});
				this.form.provinceCode = data.data.code;
				this.form.provinceName = data.data.name;
				break;
			}
		},
		lookUpMaster(master){
			switch (master) {
				case "province":
				this.$dialog.open(LookupProvince, {
					props: { header: 'Search Province',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.provinceCode = data.code;
							this.form.provinceName = data.name;
							this.form.islandCode = data.islandCode;
							this.form.islandName = data.islandName;
							this.form.countryCode = data.countryCode;
							this.form.countryName = data.countryName;
						}
					}
				});
				break

				default:
				break
			}
		},
	}
}
</script>
