<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Customer Credit Note" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>CCN No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" @blur="calenderChange" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>ExchangeRate *</b></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.exchangeRate" placeholder="1" style="text-align: right" :disabled="'IDR' == form.currencyCode ? true : false" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Customer *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" placeholder="Enter customer" @change="searchChange('customer')" :class="{ 'p-invalid': isError && form.customerCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('customer')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerName" placeholder="customer name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.paymentTermDays" placeholder="day" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.paymentTermName" placeholder="payment term name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.dueDate == '' }" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            @cell-edit-complete="onCellEditComplete"
            :value="detail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <Button icon="pi pi-search" label="Add Detail" class="p-button-sm p-button-warning" style="width: 15rem" @Click="lookupAdd" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="chartOfAccountCode" header="Chart Of Account" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpItemDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" class="dt-readonly" style="min-width: 12rem" :sortable="true"></Column>
            <Column field="quantity" header="Quantity" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpItemDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="price" header="Price" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">{{ decimalCurrency(slotProps.data.price) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="totalAmount" header="Total" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.totalAmount < 1 }">{{ decimalCurrency(slotProps.data.totalAmount) }}</span>
              </template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
                </div>
              </template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputNumber v-model="form.discountPercent" @input="blurEventHandler($event, 'discountPercent')" inputClass="text-right" mode="decimal" :minFractionDigits="2" />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.discountAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountChartOfAccountCode" placeholder="Enter Discount" @change="searchChange('chart-of-account')" :class="{ 'p-invalid': isError && form.discountChartOfAccountCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('chart-of-account')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputNumber v-model="form.vatPercent" @input="blurEventHandler($event, 'vatPercent')" inputClass="text-right" mode="decimal" :minFractionDigits="2" />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpPaymentTerm from '@/components/lookup/master/LookUpPaymentTerm';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingVdpDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      taxInvoiceDate: store.state.currentDate,
      settlementDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      exchangeRate: decimalCurrency(1),
      customerCode: null,
      customerName: null,
      billToCode: null,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: 0,
      refNo: null,
      remark: null,
      totalTransactionAmount: 0,
      discountChartOfAccountCode: null,
      discountChartOfAccountName: null,
      discountPercent: 0,
      discountAmount: 0,
      taxBaseAmount: 0,
      vatPercent: 0,
      vatAmount: 0,
      grandTotalAmount: 0,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    calenderChange() {
      this.form.dueDate = moment(this.form.transactionDate, 'DD-MM-YYYY').add(this.form.paymentTermDays, 'd').format('DD/MM/YYYY');
    },
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.currencyName == '' || this.form.currencyName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.customerName == '' || this.form.customerName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Customer can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.paymentTermName == '' || this.form.paymentTermName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.clear();
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.form.code = getParam('code');
            this.getListDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getListDetail() {
      this.detail = [];
      if (this.form.code == null) {
        return false;
      }
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 10000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('customer-credit-note/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    lookupAdd() {
      this.detail.push({
        code: null,
        financeRequestCode: null,
        chartOfAccountCode: null,
        chartOfAccountName: null,
        quantity: 0,
        unitOfMeasureCode: null,
        price: 0,
        totalAmount: 0,
      });
    },
    remove(row) {
      this.detail.splice(row.index, 1);
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('customer-credit-note', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.settlementDate = moment(temp.data.settlementDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.taxInvoiceDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.dueDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').add(temp.data.paymentTermDays, 'd').format('DD/MM/YYYY');
      this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
    },
    async submit() {
      let index = 0;
      let BreakException = {};
      this.isError = false;
      try {
        if (this.form.discountChartOfAccountName == '' || this.form.discountChartOfAccountName == null) {
          this.isError = false;
          this.$toast.add({ severity: 'warn', summary: "Account can't be null!", life: 3000 });
          throw BreakException;
        }
        this.detail.forEach((datas) => {
          if (datas.chartOfAccountName == '' || datas.chartOfAccountName == null) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : COA can't be Empty!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity <= 0) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Quantity can't be 0!", life: 3000 });
            throw BreakException;
          }
          if (datas.unitOfMeasureCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : UOM can't be Empty!", life: 3000 });
            throw BreakException;
          }
          if (datas.price <= 0) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Price can't be 0!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });

        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.settlementDate = moment(this.form.settlementDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.taxInvoiceDate = moment(this.form.taxInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listCustomerCreditNoteDetail = this.detail;
        if (this.submitted) {
          await this.finance.updateFinance('customer-credit-note', formSubmit);
        } else {
          formSubmit.settlementDate = formSubmit.dueDate;
          await this.finance.saveFinance('customer-credit-note', formSubmit);
        }
        this.cancel();
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster('payment-term', { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
            this.form.dueDate = moment(this.form.transactionDate, 'DD-MM-YYYY').add(temp.data.days, 'd').format('DD/MM/YYYY');
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.dueDate = this.form.transactionDate;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'chart-of-account':
          temp = await this.master.dataMaster(master, { code: this.form.discountChartOfAccountCode });
          if (temp) {
            this.form.discountChartOfAccountCode = temp.data.code;
            this.form.discountChartOfAccountName = temp.data.name;
          } else {
            this.form.discountChartOfAccountCode = null;
            this.form.discountChartOfAccountName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUp(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookUpPaymentTerm, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.dueDate = moment(this.form.transactionDate, 'DD-MM-YYYY').add(data.days, 'd').format('DD/MM/YYYY');
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Currcency', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'customer':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Customer', style: { width: '50vw' }, modal: true },
            data: { module: 'customer' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.customerCode = data.code;
                this.form.customerName = data.name;
              }
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpItemDetail(data, field, index) {
      switch (field) {
        case 'chartOfAccountCode':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.detail[index].chartOfAccountCode = data.code;
                this.detail[index].chartOfAccountName = data.name;
              }
            },
          });
          break;
        case 'unitOfMeasureCode':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Unit Of Measure', style: { width: '50vw' }, modal: true },
            data: { module: 'unit-of-measure' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.detail[index].unitOfMeasureCode = data.code;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'chartOfAccountCode':
          temp = await this.master.dataMaster('chart-of-account', { code: newValue });
          if (temp) {
            data['chartOfAccountCode'] = this.detail[index].chartOfAccountCode = temp.data.code;
            data['chartOfAccountName'] = this.detail[index].chartOfAccountName = temp.data.name;
          } else {
            data['chartOfAccountCode'] = this.detail[index].chartOfAccountCode = null;
            data['chartOfAccountName'] = this.detail[index].chartOfAccountName = null;
          }
          break;
        case 'unitOfMeasureCode':
          if (temp) {
            temp = await this.master.dataMaster('unit-of-measure', { code: newValue });
            data['unitOfMeasureCode'] = this.detail[index].unitOfMeasureCode = temp.data.code;
          } else {
            data['unitOfMeasureCode'] = this.detail[index].unitOfMeasureCode = null;
          }
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].totalAmount = parseFloat(data[field]) * this.detail[index].price;
          this.calculationSummary(null);
          break;
        case 'price':
          this.detail[index].totalAmount = parseFloat(data[field]) * this.detail[index].quantity;
          this.calculationSummary(null);
          break;
        default:
          break;
      }
    },
    blurEventHandler: function (e, input) {
      this.form[input] = e.value;
      this.calculationSummary(input);
    },
    calculationSummary(val) {
      this.form.totalTransactionAmount = 0;
      switch (val) {
        case 'discountPrecent':
          this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
          break;
        case 'vatPrecent':
          this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
          break;
        default:
          this.detail.forEach((datas) => {
            this.form.totalTransactionAmount += datas.totalAmount;
          });
          this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
          this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
          break;
      }
      this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
