<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Purchase Order" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>POD No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Delivery Date *</b></label>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.deliveryDateStart" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.deliveryDateStart != '' }" />
                  </div>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.deliveryDateEnd" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.deliveryDateEnd != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="Enter vendor" @change="searchChange('vendore')" :class="{ 'p-invalid': isError && form.vendorCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vendore')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputText v-model="form.vendorContact" placeholder="vendor contact person" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" @change="searchChange('paymentTerm')" :class="{ 'p-invalid': isError && form.paymentTermCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('paymentTerm')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.paymentTermName" placeholder="payment term name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Discount Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="PERCENT" name="discountType" value="PERCENT" v-model="form.discountType" />
                      <label for="PERCENT">PERCENTAGE</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="AMOUNT" name="discountType" value="AMOUNT" v-model="form.discountType" />
                      <label for="AMOUNT">AMOUNT</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Bill To *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billToCode" placeholder="Enter bill to" @change="searchChange('bill-to')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bill-to')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToPhone" placeholder="bill to phone" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Ship To *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" placeholder="Enter ship to" @change="searchChange('ship-to')" :class="{ 'p-invalid': isError && form.shipToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('ship-to')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToName" placeholder="ship to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.shipToAddress" placeholder="ship to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToContactPerson" placeholder="ship to contact person" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToPhone" placeholder="ship to phone" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detailPrq"
            :loading="loadingPrqDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PRQ</label>
                <Button icon="pi pi-search" label="Search Purchase Request" class="p-button-sm p-button-warning" style="width: 15rem" @Click="lookupAddPrq" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removePrq(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="purchaseRequestCode" header="PRQ No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="branchCode" header="Branch" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="divisionCode" header="Division" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="divisionName" header="Division Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="requestBy" header="Request By" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="refNo" header="Ref No" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detailItemPrq"
            :loading="loadingItemPrqDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PRQ Detail</label>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removePrq(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; min-width: 12rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; min-width: 25rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; min-width: 25rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; min-width: 12rem"></Column>
            <Column field="quantity" header="Quantity" style="white-space: nowrap; min-width: 12rem"></Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; min-width: 12rem"></Column>
          </DataTable>
        </BlockUI>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PO DETAIL</label>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="purchaseRequestCode" hidden header="PRQ Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="purchaseRequestDetailCode" header="PRQ Detail Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="price" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">{{ decimalCurrency(slotProps.data.price) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" />
              </template>
            </Column>
            <Column field="discount1Percent" header="Discount 1 Percent" :hidden="form.discountType === 'AMOUNT'" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount1Percent < 1 }"> {{ decimalCurrency(slotProps.data.discount1Percent) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
            <Column field="discount1Amount" header="Discount Amount" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount1Amount < 1 }"> {{ decimalCurrency(slotProps.data.discount1Amount) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" :disabled="form.discountType === 'PERCENT'" style="text-align: right" />
              </template>
            </Column>
            <Column field="discount2Percent" header="Discount 2 Percent" :hidden="form.discountType === 'AMOUNT'" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount2Percent < 1 }"> {{ decimalCurrency(slotProps.data.discount2Percent) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
            <Column field="discount2Amount" header="Discount 2 Amount" :hidden="form.discountType === 'AMOUNT'" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount2Amount < 1 }"> {{ decimalCurrency(slotProps.data.discount2Amount) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" :disabled="form.discountType === 'PERCENT'" style="text-align: right" />
              </template>
            </Column>
            <Column field="discount3Percent" header="Discount 3 Percent" :hidden="form.discountType === 'AMOUNT'" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount3Percent < 1 }"> {{ decimalCurrency(slotProps.data.discount3Percent) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
            <Column field="discount3Amount" header="Discount 3 Amount" :hidden="form.discountType === 'AMOUNT'" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span> {{ decimalCurrency(slotProps.data.discount3Amount) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" :disabled="form.discountType === 'PERCENT'" style="text-align: right" />
              </template>
            </Column>
            <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"> {{ decimalCurrency(slotProps.data.nettPrice) }} </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" :disabled="form.discountType === 'PERCENT' || 'AMOUNT'" style="text-align: right" />
              </template>
            </Column>
            <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span>{{ decimalCurrency(slotProps.data.totalAmount) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText
                  v-model="data[field]"
                  @keypress="onCellEditInit(data, field, index)"
                  @keyup="onCellEditInit(data, field, index)"
                  @keydown="onCellEditInit(data, field, index)"
                  @change="onCellEditInit(data, field, index)"
                  :disabled="form.discountType === 'PERCENT' || 'AMOUNT'"
                  style="text-align: right"
                />
              </template>
            </Column>
          </DataTable>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detailVdp"
            :loading="loadingVdpDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Vendor Down Payment</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="vendorDownPaymentCode" header="VDP U No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="exchangeRate" header="Excange Rate" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
            </Column>
            <Column field="vdpAmount" header="VDP Amount" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.vdpAmount) }}</template>
            </Column>
            <Column field="usedAmount" header="Used" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.usedAmount) }}</template>
            </Column>
            <Column field="balanceAmount" header="Ballance" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceAmount) }}</template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.totalTransactionAmount" :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputText :disabled="form.discountType === 'AMOUNT'" @change="onChangeSummaryAmount('percent')" style="text-align: right" v-model="form.discountPercent" />
                  </div>
                  <div class="col-8 md:col-4">
                    <InputText :disabled="form.discountType === 'PERCENT'" @change="onChangeSummaryAmount('amount')" style="text-align: right" v-model="form.discountAmount" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountChartOfAccountCode" placeholder="Enter COA" @change="searchChange('coa')" :class="{ 'p-invalid': isError && form.discountChartOfAccountCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('coa')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Description</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.discountDescription" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.taxBaseSubTotalAmount" :value="decimalCurrency(form.taxBaseSubTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputText @change="onChangeSummaryAmount('vat')" style="text-align: right" v-model="form.vatPercent" />
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.vatAmount" style="text-align: right" disabled="true" :value="decimalCurrency(form.vatAmount)" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.grandTotalAmount" :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
import LookUpChartOfAccount from '@/components/lookup/master/LookUpChartOfAccount';
import LookUpPurchaseRequest from '@/components/lookup/purchase/LookUpPurchaseRequest';
import LookUpPurchaseDestination from '@/components/lookup/master/LookUpPurchaseDestination';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    purchase: new PurchaseControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingPrqDetails: false,
    loadingVdpDetails: false,
    loadingItemPrqDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      deliveryDateStart: store.state.periodStartDate,
      deliveryDateEnd: store.state.periodEndDate,
      paymentTermCode: null,
      paymentTermName: null,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      vendorCode: null,
      vendorName: null,
      billToCode: null,
      shipToCode: null,
      discountType: 'PERCENT',
      totalTransactionAmount: decimalCurrency(0),
      taxBaseSubTotalAmount: decimalCurrency(0),
      discountDescription: '',
      grandTotalAmount: decimalCurrency(0),
      discountPercent: decimalCurrency(0),
      discountAmount: decimalCurrency(0),
      vatPercent: store.state.defaultVatPercent,
      vatAmount: decimalCurrency(0),
      refNo: null,
      remark: null,
    },
    detail: [],
    detailPrq: [],
    detailItemPrq: [],
    detailVdp: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    } else {
      this.clear();
      this.searchChange('branch');
      this.searchChange('currency');
      this.searchChange('branch-get-bill-to');
      this.searchChange('branch-get-ship-to');
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.paymentTermName == '' || this.form.paymentTermName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.currencyName == '' || this.form.currencyName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.vendorName == '' || this.form.vendorName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Vendor can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.billToName == '' || this.form.billToName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Bill To can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.shipToName == '' || this.form.shipToName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Ship To can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.clear();
          this.detail = [];
          this.detailPrq = [];
          this.detailVdp = [];
          this.detailItemPrq = [];
        } else {
          if (getParam('code')) {
            this.getListPrqDetail();
            this.getListPrqItemDetail();
            this.getListVdpDetail();
            this.getListDetail();
          } else {
            this.getListVdpDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    lookupAddPrq() {
      this.$dialog.open(LookUpPurchaseRequest, {
        props: { header: 'Search Purchase Request', style: { width: '50vw' }, modal: true },
        data: { module: 'purchase-order/look-up-prq' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let prq = {
                code: '',
                purchaseRequestCode: datas.code,
                branchCode: datas.branchCode,
                transactionDate: datas.transactionDate,
                divisionCode: datas.divisionCode,
                divisionName: datas.divisionName,
                requestBy: datas.requestBy,
                remark: datas.remark,
                refNo: datas.refNo,
              };
              this.checkExistingItem(prq);
              this.detailPrq.push(prq);
            });
            this.getNewListItemPrq();
            this.getNewListItemPo();
          }
        },
      });
    },
    checkExistingItem(selected) {
      this.detailPrq.forEach((datas) => {
        if (selected.purchaseRequestCode == datas.purchaseRequestCode) {
          let add = {
            code: '',
            purchaseRequestCode: selected.code,
            branchCode: selected.branchCode,
            transactionDate: selected.transactionDate,
            divisionCode: selected.divisionCode,
            divisionName: selected.divisionName,
            requestBy: selected.requestBy,
            remark: selected.remark,
            refNo: selected.refNo,
          };
          this.detail.replace(add);
        }
      });
    },
    removePrq(index) {
      const dataPRQ = this.detailPrq.filter((datas, idx) => {
        if (idx === index) {
          return datas;
        }
      });

      const itemsDeleteds = this.detail.filter((item, index) => {
        if (item.purchaseRequestCode === dataPRQ[0].purchaseRequestCode) {
          return {
            idx: index,
            purchaseRequestCode: item.purchaseRequestCode,
          };
        }
        return;
      });

      console.log(itemsDeleteds);
      var arr = this.detail;
      for (var i = 0; i < arr.length; i++) {
        if (arr[i].purchaseRequestCode === dataPRQ[0].purchaseRequestCode) {
          arr.splice(i, itemsDeleteds.length);
        }
      }

      this.detailPrq.splice(index, 1);
      this.calculationSummary();
    },
    remove(index) {
      this.detail.splice(index, 1);
      this.calculationSummary();
    },
    clear() {
      this.form.discountChartOfAccountCode = '';
      this.form.discountChartOfAccountName = '';
      this.form.totalTransactionAmount = decimalCurrency(0);
      this.form.taxBaseSubTotalAmount = decimalCurrency(0);
      this.form.discountDescription = '';
      this.form.grandTotalAmount = decimalCurrency(0);
      this.form.discountPercent = decimalCurrency(0);
      this.form.discountAmount = decimalCurrency(0);
      this.form.vatPercent = decimalCurrency(store.state.defaultVatPercent);
      this.form.vatAmount = decimalCurrency(0);
    },
    async getData(data) {
      let temp = await this.purchase.dataPurchase('purchase-order', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.deliveryDateStart = moment(temp.data.deliveryDateStart, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.deliveryDateEnd = moment(temp.data.deliveryDateEnd, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.discountPercent = decimalCurrency(temp.data.discountPercent);
      this.form.discountAmount = decimalCurrency(temp.data.discountAmount);
      this.form.vatPercent = decimalCurrency(temp.data.vatPercent);
    },

    // GET ITEM PRQ NEW
    async getNewListItemPrq() {
      this.detailItemPrq = [];
      this.loadingItemPrqDetails = true;

      let prmCode = [];
      this.detailPrq.forEach((datas) => {
        prmCode.push(datas.purchaseRequestCode);
      });

      let prm = {
        detailCode: prmCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };

      let temp = await this.purchase.searchPurchase('purchase-order/item-prq', prm);
      this.loadingItemPrqDetails = false;
      return (this.detailItemPrq = temp.data);
    },
    // GET ITEM PRQ NEW

    // SET ITEM PO NEW
    async getNewListItemPo() {
      this.detail = [];
      this.loadingDetails = true;

      let prmCode = [];
      this.detailPrq.forEach((datas) => {
        prmCode.push(datas.purchaseRequestCode);
      });

      let prm = {
        detailCode: prmCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };

      let temp = await this.purchase.searchPurchase('purchase-order/item-prq', prm);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    // SET ITEM PO NEW

    async getListPrqDetail() {
      this.detailPrq = [];
      this.loadingPrqDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/prq', field);
      this.selectedRows = null;
      this.loadingPrqDetails = false;
      return (this.detailPrq = temp.data);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async getListVdpDetail() {
      this.detailVdp = [];
      this.loadingVdpDetails = true;
      const field = {
        headerCode: this.form.vendorCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/vdp', field);
      this.loadingVdpDetails = false;
      if (temp.data == null) {
        this.detailVdp = [
          {
            code: '',
            vendorDownPaymentCode: '',
            transactionDate: '',
            currencyCode: '',
            exchangeRate: '',
            vdpAmount: 0,
            usedAmount: 0,
            balanceAmount: 0,
          },
        ];
      } else {
        return (this.detailVdp = temp.data);
      }
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.deliveryDateStart = moment(this.form.deliveryDateStart, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.deliveryDateEnd = moment(this.form.deliveryDateEnd, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.discountAmount = removeCommas(this.form.discountAmount);
        //Add Grid Detail
        formSubmit.listPurchaseOrderDetail = this.detail;
        formSubmit.listPODJnPurchaseRequestDetail = this.detailPrq;
        if (this.submitted) {
          await this.purchase.updatePurchase('purchase-order', formSubmit);
        } else {
          await this.purchase.savePurchase('purchase-order', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'paymentTerm':
          temp = await this.master.dataMaster('payment-term', { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'vendore':
          temp = await this.master.dataMaster('vendor', { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
            this.form.paymentTermCode = temp.data.paymentTermCode;
            this.form.paymentTermName = temp.data.paymentTermName;
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
          }
          break;
        case 'bill-to':
          temp = await this.master.dataMaster('purchase-destination', { code: this.form.billToCode });
          if (temp) {
            this.form.billToCode = temp.data.code;
            this.form.billToName = temp.data.name;
            this.form.billToAddress = temp.data.address;
            this.form.billToContactPerson = temp.data.contactPerson;
            this.form.billToPhone = temp.data.phone1;
          } else {
            this.form.billToCode = null;
            this.form.billToName = null;
            this.form.billToAddress = null;
            this.form.billToContactPerson = null;
            this.form.billToPhone = null;
          }
          break;
        case 'ship-to':
          temp = await this.master.dataMaster('purchase-destination', { code: this.form.shipToCode });
          if (temp) {
            this.form.shipToCode = temp.data.code;
            this.form.shipToName = temp.data.name;
            this.form.shipToAddress = temp.data.address;
            this.form.shipToContactPerson = temp.data.contactPerson;
            this.form.shipToPhone = temp.data.phone1;
          } else {
            this.form.shipToCode = null;
            this.form.shipToName = null;
            this.form.shipToAddress = null;
            this.form.shipToContactPerson = null;
            this.form.shipToPhone = null;
          }
          break;
        case 'branch-get-bill-to':
          temp = await this.master.dataMaster('purchase-destination/branch-get-bill-to', { code: this.form.branchCode });
          if (temp) {
            this.form.billToCode = temp.data.code;
            this.form.billToName = temp.data.name;
            this.form.billToAddress = temp.data.address;
            this.form.billToContactPerson = temp.data.contactPerson;
            this.form.billToPhone = temp.data.phone1;
          } else {
            this.form.billToCode = null;
            this.form.billToName = null;
            this.form.billToAddress = null;
            this.form.billToContactPerson = null;
            this.form.billToPhone = null;
          }
          break;
        case 'branch-get-ship-to':
          temp = await this.master.dataMaster('purchase-destination/branch-get-ship-to', { code: this.form.branchCode });
          if (temp) {
            this.form.shipToCode = temp.data.code;
            this.form.shipToName = temp.data.name;
            this.form.shipToAddress = temp.data.address;
            this.form.shipToContactPerson = temp.data.contactPerson;
            this.form.shipToPhone = temp.data.phone1;
          } else {
            this.form.shipToCode = null;
            this.form.shipToName = null;
            this.form.shipToAddress = null;
            this.form.shipToContactPerson = null;
            this.form.shipToPhone = null;
          }
          break;
        case 'coa':
          temp = await this.master.dataMaster('chart-of-account', { code: this.form.discountChartOfAccountCode });
          if (temp) {
            this.form.discountChartOfAccountCode = temp.data.code;
            this.form.discountChartOfAccountName = temp.data.name;
          } else {
            this.form.discountChartOfAccountCode = null;
            this.form.discountChartOfAccountName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'paymentTerm':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'vendore':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
                this.form.paymentTermCode = data.paymentTermCode;
                this.form.paymentTermName = data.paymentTermName;
              }
            },
          });
          break;
        case 'bill-to':
          this.$dialog.open(LookUpPurchaseDestination, {
            props: { header: 'Search Bill To', style: { width: '50vw' }, modal: true },
            data: { module: 'purchase-destination' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.billToCode = data.code;
                this.form.billToName = data.name;
                this.form.billToAddress = data.address;
                this.form.billToContactPerson = data.contactPerson;
                this.form.billToPhone = data.phone1;
              }
            },
          });
          break;
        case 'ship-to':
          this.$dialog.open(LookUpPurchaseDestination, {
            props: { header: 'Search Ship To', style: { width: '50vw' }, modal: true },
            data: { module: 'purchase-destination' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.shipToCode = data.code;
                this.form.shipToName = data.name;
                this.form.shipToAddress = data.address;
                this.form.shipToContactPerson = data.contactPerson;
                this.form.shipToPhone = data.phone1;
              }
            },
          });
          break;
        case 'coa':
          this.$dialog.open(LookUpChartOfAccount, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      let discountPercentAmount1 = 0,
        discountPercentAmount2 = 0,
        discountPercentAmount3 = 0,
        priceAfterDisc1 = 0,
        priceAfterDisc2 = 0,
        totalDiscount = 0;
      if (this.form.discountType == 'PERCENT') {
        switch (field) {
          case 'quantity':
            discountPercentAmount1 = (data['price'] * data.discount1Percent) / 100;
            this.detail[index].discount1Amount = discountPercentAmount1;
            priceAfterDisc1 = data['price'] - data['discount1Amount'];

            discountPercentAmount2 = (priceAfterDisc1 * data.discount2Percent) / 100;
            this.detail[index].discount2Amount = discountPercentAmount2;
            priceAfterDisc2 = priceAfterDisc1 - discountPercentAmount2;

            discountPercentAmount3 = (priceAfterDisc2 * data.discount3Percent) / 100;
            this.detail[index].discount3Amount = discountPercentAmount3;
            totalDiscount = discountPercentAmount1 + discountPercentAmount2 + discountPercentAmount3;

            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - totalDiscount;
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          case 'price':
            discountPercentAmount1 = (data['price'] * data.discount1Percent) / 100;
            this.detail[index].discount1Amount = discountPercentAmount1;
            priceAfterDisc1 = data['price'] - discountPercentAmount1;

            discountPercentAmount2 = (priceAfterDisc1 * data.discount2Percent) / 100;
            this.detail[index].discount2Amount = discountPercentAmount2;
            priceAfterDisc2 = priceAfterDisc1 - discountPercentAmount2;

            discountPercentAmount3 = (priceAfterDisc2 * data.discount3Percent) / 100;
            this.detail[index].discount3Amount = discountPercentAmount3;
            totalDiscount = discountPercentAmount1 + discountPercentAmount2 + discountPercentAmount3;

            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - totalDiscount;
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          case 'discount1Percent':
            discountPercentAmount1 = (data['price'] * data.discount1Percent) / 100;
            this.detail[index].discount1Amount = discountPercentAmount1;
            priceAfterDisc1 = data['price'] - data['discount1Amount'];

            discountPercentAmount2 = (priceAfterDisc1 * data.discount2Percent) / 100;
            this.detail[index].discount2Amount = discountPercentAmount2;
            priceAfterDisc2 = priceAfterDisc1 - discountPercentAmount2;

            discountPercentAmount3 = (priceAfterDisc2 * data.discount3Percent) / 100;
            this.detail[index].discount3Amount = discountPercentAmount3;
            totalDiscount = discountPercentAmount1 + discountPercentAmount2 + discountPercentAmount3;

            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - totalDiscount;
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          case 'discount2Percent':
            discountPercentAmount1 = (data['price'] * data.discount1Percent) / 100;
            this.detail[index].discount1Amount = discountPercentAmount1;
            priceAfterDisc1 = data['price'] - data['discount1Amount'];

            discountPercentAmount2 = (priceAfterDisc1 * data.discount2Percent) / 100;
            this.detail[index].discount2Amount = discountPercentAmount2;
            priceAfterDisc2 = priceAfterDisc1 - discountPercentAmount2;

            discountPercentAmount3 = (priceAfterDisc2 * data.discount3Percent) / 100;
            this.detail[index].discount3Amount = discountPercentAmount3;
            totalDiscount = discountPercentAmount1 + discountPercentAmount2 + discountPercentAmount3;

            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - totalDiscount;
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          case 'discount3Percent':
            discountPercentAmount1 = (data['price'] * data.discount1Percent) / 100;
            this.detail[index].discount1Amount = discountPercentAmount1;
            priceAfterDisc1 = data['price'] - data['discount1Amount'];

            discountPercentAmount2 = (priceAfterDisc1 * data.discount2Percent) / 100;
            this.detail[index].discount2Amount = discountPercentAmount2;
            priceAfterDisc2 = priceAfterDisc1 - discountPercentAmount2;

            discountPercentAmount3 = (priceAfterDisc2 * data.discount3Percent) / 100;
            this.detail[index].discount3Amount = discountPercentAmount3;
            totalDiscount = discountPercentAmount1 + discountPercentAmount2 + discountPercentAmount3;

            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - totalDiscount;
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          default:
            break;
        }
      } else {
        switch (field) {
          case 'quantity':
            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - data['discount1Amount'];
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          case 'price':
            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - data['discount1Amount'];
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          case 'discount1Amount':
            this.detail[index].nettPrice = data['nettPrice'] = data['price'] - data['discount1Amount'];
            this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
            this.calculationSummary();
            break;
          default:
            break;
        }
      }
    },

    calculationSummary() {
      this.form.totalTransactionAmount = 0;

      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.nettPrice * datas.quantity;
      });
      this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
      this.form.discountAmount = decimalCurrency(this.form.discountAmount);
      this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
    },

    onChangeSummaryAmount(type) {
      switch (type) {
        case 'percent':
          if (this.form.discountPercent !== 0) {
            this.form.discountPercent = decimalCurrency(this.form.discountPercent);
            this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
            this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - this.form.discountAmount;

            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
            this.form.discountAmount = decimalCurrency(this.form.discountAmount);
          } else {
            this.form.discountPercent = 0;
            this.form.discountAmount = 0;
          }
          break;
        case 'amount':
          if (this.form.discountAmount !== 0) {
            this.form.discountAmount = decimalCurrency(this.form.discountAmount);
            this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - removeCommas(this.form.discountAmount);
            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
          } else {
            this.form.discountPercent = 0;
            this.form.discountAmount = 0;
          }
          break;
        case 'vat':
          if (this.form.vatPercent !== 0) {
            this.form.vatPercent = decimalCurrency(this.form.vatPercent);
            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
          } else {
            this.form.vatPercent = 0;
            this.form.vatAmount = 0;
          }
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>