<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Goods Received Note" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>GRN No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>POD No *</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.purchaseOrderCode" :disabled="form.code != null" placeholder="Enter pod no" @change="searchChange('purchase-order')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('purchase-order')" :disabled="form.code != null"/>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">PO Date</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.purchaseOrderDate" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="branch" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="vendor code" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputText v-model="form.vendorContact" placeholder="vendor contact person" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputText v-model="form.vendorAdress" placeholder="vendor contact address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Phone</label>
                  <div class="col-6 md:col-4 mt-1">
                    <InputText v-model="form.vendorPhone1" placeholder="phone 1" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 mt-1">
                    <InputText v-model="form.vendorPhone2" placeholder="phone 2" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor DLN No *</b></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.vendorDeliveryNoteNo" placeholder="Enter DLN No" @change="searchChange('dln')" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Police No</label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.policeNo" placeholder="Enter Police No" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Container No</label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.containerNo" placeholder="Enter Container No" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" placeholder="Enter warehouse" @change="searchChange('warehouse')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.warehouseName" placeholder="warehouse name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="Enter Ref No" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
                <div class="field grid">
                  <div class="col-6 md:col-4" hidden>
                    <InputText v-model="form.rackDockInCode" placeholder="rackDockInCode" disabled="true" />
                    <InputText v-model="form.rackDockInName" placeholder="rackDockInName" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4" hidden>
                    <InputText v-model="form.rackDockDlnCode" placeholder="rackDockDlnCode" disabled="true" />
                    <InputText v-model="form.rackDockDlnName" placeholder="rackDockDlnName" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
                <div class="field grid">
                  <div class="col-4"></div>
                </div>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="purchaseOrderDetailCode" header="PO Detail Code" hidden style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="poQuantity" header="PO Quantity" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.poQuantity < 1 }">{{ decimalCurrency(slotProps.data.poQuantity) }}</span>
              </template>
            </Column>
            <Column field="receivedQuantity" header="Received Quantity" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.receivedQuantity < 1 }">{{ decimalCurrency(slotProps.data.receivedQuantity) }}</span>
              </template>
            </Column>
            <Column field="balanceQuantity" header="Balanced Quantity" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.balanceQuantity < 1 }">{{ decimalCurrency(slotProps.data.balanceQuantity) }}</span>
              </template>
            </Column>
            <Column field="quantity" header="GRN Quantity" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" />
              </template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }">
                <InputText v-model="data[field]" style="text-align: right" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="price" header="Price" :hidden="true" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.price < 1 }">Rp. {{ decimalCurrency(slotProps.data.price) }}</span>
              </template>
            </Column>
            <Column field="discount1Percent" header="Discount 1 Percent" :hidden="true" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount1Percent < 1 }"> {{ decimalCurrency(slotProps.data.discount1Percent) }}</span>
              </template>
            </Column>
            <Column field="discount1Amount" header="Discount Amount" :hidden="true" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount1Amount < 1 }"> {{ decimalCurrency(slotProps.data.discount1Amount) }}</span>
              </template>
            </Column>
            <Column field="discount2Percent" header="Discount 2 Percent" :hidden="true" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount2Percent < 1 }"> {{ decimalCurrency(slotProps.data.discount2Percent) }}</span>
              </template>
            </Column>
            <Column field="discount2Amount" header="Discount 2 Amount" :hidden="true" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount2Amount < 1 }"> {{ decimalCurrency(slotProps.data.discount2Amount) }}</span>
              </template>
            </Column>
            <Column field="discount3Percent" header="Discount 3 Percent" :hidden="true" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.discount3Percent < 1 }"> {{ decimalCurrency(slotProps.data.discount3Percent) }}</span>
              </template>
            </Column>
            <Column field="discount3Amount" header="Discount 3 Amount" :hidden="true" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span> {{ decimalCurrency(slotProps.data.discount3Amount) }}</span>
              </template>
            </Column>
            <Column field="nettPrice" header="Nett Price" :hidden="true" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"> Rp. {{ decimalCurrency(slotProps.data.nettPrice) }} </template>
            </Column>
            <Column field="totalAmount" header="Total" :hidden="true" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span>Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</span>
              </template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0" style="visibility: hidden;">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold" >Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputText :value="decimalCurrency(form.discountPercent)" prefix="%" style="text-align: right" v-model="form.discountPercent" disabled />
                  </div>
                  <div class="col-8 md:col-4">
                    <InputText :value="decimalCurrency(form.discountAmount)"  style="text-align: right" v-model="form.discountAmount" disabled />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseSubTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputText :value="decimalCurrency(form.vatPercent)"  prefix="%" style="text-align: right" v-model="form.vatPercent" disabled/>
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">CurrencyCode</label>
                  <div class="col-12 md:col-8"><InputText :value="form.currencyCode" style="text-align: left" @change="searchChange('exchange-rate')" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">exchangeRate</label>
                  <div class="col-12 md:col-8"><InputText :value="form.exchangeRate" style="text-align: left" disabled="true" /></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
  <script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookUpWarehouse from '@/components/lookup/master/LookUpWarehouse';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
import LookUpPurchaseOrder from '@/components/lookup/purchase/LookUpPurchaseOrder';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    purchase: new PurchaseControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    listDetail: [],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      purchaseOrderCode: null,
      purchaseOrderDate: null,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      vendorCode: null,
      currencyCode: null,
      exchangeRate:0,
      vendorName: null,
      vendorPhone1: null,
      vendorPhone2: null,
      vendorAddress: null,
      vendorContact: null,
      vendorDeliveryNoteNo: null,
      warehouseCode: null,
      warehouseName: null,
      unitOfMeasureCode: null,
      rackDockInCode: null,
      rackDockInName: null,
      refNo: null,
      remark: null,
      totalTransactionAmount : 0,
      taxBaseSubTotalAmount : 0,
      grandTotalAmount : 0,
      discountPercent : 0,
      discountAmount : 0,
      vatPercent : 0,
      vatAmount : 0,
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.purchaseOrderCode == '' || this.form.purchaseOrderCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "PO can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.branchName == '' || this.form.branchName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.vendorDeliveryNoteNo == '' || this.form.vendorDeliveryNoteNo == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Vendor Deliver Note No can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.getListUpdateDetail();
          } else {
            this.getListNewDetail();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('goods-received-note', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.purchaseOrderDate = moment(temp.data.purchaseOrderDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async getListNewDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.purchaseOrderCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('goods-received-note/item-po', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      if (temp.data) {
        temp.data.forEach((datas) => {
          let detail = {
            purchaseOrderDetailCode: datas.code,
            itemCode: datas.itemCode,
            itemName: datas.itemName,
            itemAlias: datas.itemAlias,
            poQuantity: datas.poQuantity,
            receivedQuantity: datas.receivedQuantity,
            balanceQuantity: datas.poQuantity - datas.receivedQuantity,
            quantity: 0,
            unitOfMeasureCode: datas.unitOfMeasureCode,
            remark: '',
            rackCode: this.form.rackDockInCode,
            rackName: this.form.rackDockInName,
            price: datas.price,
            discount1Amount: datas.discount1Amount,
            discount2Amount: datas.discount2Amount,
            discount3Amount: datas.discount3Amount,
            discount1Percent: datas.discount1Percent,
            discount2Percent: datas.discount2Percent,
            discount3Percent: datas.discount3Percent,
            nettPrice: datas.nettPrice,
            totalAmount: datas.totalAmount
          };
          this.detail.push(detail);
        });
      }
    },
    async getListUpdateDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('goods-received-note/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      if (temp.data) {
        temp.data.forEach((datas) => {
          let rcv=0,blc=0;
          rcv = datas.receivedQuantity - datas.quantity;
          blc = datas.poQuantity - rcv;
          let detail = {
            purchaseOrderDetailCode: datas.purchaseOrderDetailCode,
            itemCode: datas.itemCode,
            itemName: datas.itemName,
            itemAlias: datas.itemAlias,
            poQuantity: datas.poQuantity,
            receivedQuantity: rcv,
            balanceQuantity: blc,
            quantity: datas.quantity,
            unitOfMeasureCode: datas.unitOfMeasureCode,
            remark: datas.remark,
            rackCode: this.form.rackDockInCode,
            rackName: this.form.rackDockInName,
          };
          this.detail.push(detail);
        });
      }
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }

          if (datas.quantity > datas.receivedQuantity + datas.balanceQuantity) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: '  This item ' + this.detail[index].itemCode + ' :  have GRN quantity more than balance quantity!', life: 3000 });
            throw BreakException;
          }

          if (getParam('code')) {
            if (datas.quantity > datas.receivedQuantity + datas.balanceQuantity) {
              this.isError = true;
              this.$toast.add({ severity: 'warn', summary: '  This item ' + this.detail[index].itemCode + ' :  have GRN quantity more than balance quantity!', life: 3000 });
              throw BreakException;
            }
          } else {
            if (datas.quantity > datas.balanceQuantity) {
              this.isError = true;
              this.$toast.add({ severity: 'warn', summary: '  This item ' + this.detail[index].itemCode + ' :  have GRN quantity more than balance quantity!', life: 3000 });
              throw BreakException;
            }
          }

          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        formSubmit.listGoodsReceivedNoteDetail = this.detail;
        if (this.submitted) {
          await this.inventory.updateInventory('goods-received-note', formSubmit);
        } else {
          await this.inventory.saveInventory('goods-received-note', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      let grnDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
      switch (master) {
        case 'purchase-order':
          temp = await this.purchase.dataPurchase(master, { code: this.form.purchaseOrderCode });
          if (temp) {
            // this.form = temp.data;
            this.form.purchaseOrderCode = temp.data.code;
            this.form.purchaseOrderDate = moment(temp.data.purchaseOrderDate, 'DD/MM/YYYY').format('DD/MM/YYYY');
            this.form.branchCode = temp.data.branchCode;
            this.form.branchName = temp.data.branchName;
            this.form.vendorCode = temp.data.vendorCode;
            this.form.vendorName = temp.data.vendorName;
            this.form.vendorAddress = temp.data.vendorAddress;
            this.form.vendorContact = temp.data.vendorContact;
            this.form.vendorPhone1 = temp.data.vendorPhone1;
            this.form.vendorPhone2 = temp.data.vendorPhone2;
          } else {
            this.form.purchaseOrderCode = null;
            // this.form.branchName = null;
          }
          break;
        case 'warehouse':
          temp = await this.master.dataMaster(master, { code: this.form.warehouseCode });
          if (temp) {
            this.form.warehouseCode = temp.data.code;
            this.form.warehouseName = temp.data.name;
            this.form.rackDockInCode = temp.data.rackDockInCode;
            this.form.rackDockInName = temp.data.rackDockInName;
          } else {
            this.form.warehouseCode = null;
            this.form.warehouseName = null;
            this.form.rackDockInCode = null;
            this.form.rackDockInName = null;
          }
          break;
        case 'exchange-rate':
          temp = await this.master.dataMaster('exchange-rate/rate-by-date', { currencyCode: this.form.currencyCode, grnDate: grnDate});
          if (temp) {
            this.form.exchangeRate = temp.data.exchangeRate;
          } else {
            this.form.exchangeRate = 0;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'purchase-order':
          this.$dialog.open(LookUpPurchaseOrder, {
            props: { header: 'Search Purchase Order', style: { width: '90vw' }, modal: true },
            data: { module: 'purchase-order/look-up-for-grn' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                // this.form = data;
                this.form.purchaseOrderCode = data.code;
                this.form.purchaseOrderDate = moment(data.transactionDate, 'DD/MM/YYYY').format('DD/MM/YYYY');
                this.form.branchCode = data.branchCode;
                this.form.branchName = data.branchName;
                this.form.vendorCode = data.vendorCode;
                this.form.vendorName = data.vendorName;
                this.form.vendorPhone1 = data.vendorPhone1;
                this.form.vendorPhone2 = data.vendorPhone2;
                this.form.vendorAddress = data.vendorAddress;
                this.form.vendorContact = data.vendorContact;
                this.form.currencyCode = data.currencyCode;
              }
              
              if(this.form.currencyCode === store.state.defaultCurrencyCode){
                this.form.exchangeRate = decimalCurrency(1);
              }else{
                this.searchChange('exchange-rate');
              }
              
            },
          });
          break;
        case 'warehouse':
          this.$dialog.open(LookUpWarehouse, {
            props: { header: 'Search Master Warehouse', style: { width: '90vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
                this.form.rackDockInCode = data.rackDockInCode;
                this.form.rackDockInName = data.rackDockInName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      let blcQty = 0,
        rcvQty = 0,
        grnQty = 0,
        totQty = 0,
        BreakExcep = {};
      switch (field) {
        case 'quantity':
          rcvQty = this.detail[index].receivedQuantity = data['receivedQuantity'];
          blcQty = this.detail[index].balanceQuantity = data['balanceQuantity'];
          totQty = rcvQty + blcQty;
          grnQty = this.detail[index].quantity = data['quantity'];

          if (getParam('code')) {
            if (parseFloat(grnQty) > parseFloat(totQty)) {
              this.isError = true;
              this.$toast.add({ severity: 'warn', summary: ' This item ' + this.detail[index].itemCode + ' :  have GRN quantity more than balance quantity!', life: 3000 });
              throw BreakExcep;
            }
          } else {
            if (parseFloat(grnQty) > parseFloat(blcQty)) {
              this.isError = true;
              this.$toast.add({ severity: 'warn', summary: ' This item ' + this.detail[index].itemCode + ' :  have GRN quantity more than balance quantity!', life: 3000 });
              throw BreakExcep;
            }
          }

          this.detail[index].totalAmount =  grnQty *  this.detail[index].nettPrice;
          this.calculationSummary();
          
          break;
        default:
          break;
      }
    },
    calculationSummary() {
      this.form.totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.nettPrice * datas.quantity;
      });
      this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
      this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
    },
    async onCellEditComplete(event) {
      let { data, index, newValue, field } = event;
      switch (field) {
        case 'reasonCode':
          data = await this.master.dataMaster('approval-reason', { code: newValue });
          data['reasonCode'] = this.detail[index].reasonCode = data.data.code;
          data['reasonName'] = this.detail[index].reasonName = data.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    remove(index) {
      this.detail.splice(index, 1);
      this.calculationSummary(0);
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
