<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Goods Received Note</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <!-- <template v-slot:end>
              <div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
              <div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
              <div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div>
            </template> -->
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">GRN No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="GRN NO" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">PO No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchPOCode" placeholder="POD No" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Warehouse</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchWarehouseCode" placeholder=" Warehouse Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchWarehouseName" placeholder=" Warehouse Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Vendor</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchVendorCode" placeholder=" Vendor Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchVendorName" placeholder=" Vendor Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0 py-1" style="justify-content: right">
                  <div class="col-12 md:col-3 m-0 p-1">
                    <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                  </div>
                  <div class="col-12 md:col-6 m-0 p-1">
                    <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                  </div>
                  <div class="col-6 md:col-3 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="GRN No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="purchaseOrderCode" header="POD No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="vendorCode" header="Vendor Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="vendorName" header="Vendor Name" style="min-width: 35em" :sortable="true"></Column>
              <Column field="warehouseCode" header="Warehouse Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="warehouseName" header="Warehouse Name" style="min-width: 35em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 12em" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">Item Detail</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="min-width: 12rem; white-space: nowrap" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="min-width: 35rem; white-space: nowrap" :sortable="true"></Column>
              <Column field="itemAlias" header="Item Alias" style="min-width: 35rem; white-space: nowrap" :sortable="true"></Column>
              <Column field="quantity" header="GRN Quantity" style="min-width: 12rem; white-space: nowrap"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12rem; white-space: nowrap"></Column>
              <Column field="remark" header="Remark" style="min-width: 12rem; white-space: nowrap"></Column>
              <Column field="rackCode" header="Rack Code" style="min-width: 12rem; white-space: nowrap"></Column>
              <Column field="rackName" header="Rack Name" style="min-width: 25rem; white-space: nowrap"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull, removeCommas } from '@/utils/function';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';

export default {
  data: () => ({
    inventory: new InventoryControllers(),
    code: null,
    list: [],
    listDetail: [],
    listVinJnGrn: [],
    searchCode: '',
    searchPOCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchVendorCode: '',
    searchVendorName: '',
    searchWarehouseCode: '',
    searchWarehouseName: '',
    searchRefNo: '',
    searchRemark: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,

    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        purchaseOrderCode: this.searchPOCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        vendorCode: this.searchVendorCode,
        vendorName: this.searchVendorName,
        warehouseCode: this.searchWarehouseCode,
        warehouseName: this.searchWarehouseName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      // alert(this.totalRecords = temp.totalData);
      let temp = await this.inventory.searchInventory('goods-received-note', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;

      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('goods-received-note/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    async checkToVIN() {
      this.listVinJnGrn = [];
      if (this.code == null) {
        return false;
      }
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('goods-received-note/grn-jn-vin', field);
      return (this.listVinJnGrn = temp.data);
    },
    createData() {
      this.$router.push({ path: '/inventory/goods-received-note/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      this.listVinJnGrn.forEach((datas) => {
        if (datas.goodsReceivedNoteCode != '' || datas.goodsReceivedNoteCode != null) {
          this.$toast.add({ severity: 'warn', summary: 'Data ' + datas.goodsReceivedNoteCode + ' is already in vendor invoice !', life: 3000 });
          return;
        }
      });

      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/inventory/goods-received-note/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      this.listVinJnGrn.forEach((datas) => {
        if (datas.goodsReceivedNoteCode != '' || datas.goodsReceivedNoteCode != null) {
          this.$toast.add({ severity: 'warn', summary: 'Data ' + datas.goodsReceivedNoteCode + ' is already in vendor invoice !', life: 3000 });
          return;
        }
      });

      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.inventory.deleteInventory('goods-received-note', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.checkToVIN();
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
