<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Delivery Note" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">DLN No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>SOD No *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderCode" @change="searchChange('sales-order')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('sales-order')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.customerName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Sales Person</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesPersonCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.salesPersonName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" @change="searchChange('warehouse')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.warehouseName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Ship To *</b></label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" @change="searchChange('customer-address')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer-address')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.shipToName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.shipToAddress" rows="2" cols="54" disabled="true" />
                  </div>
                </div>
                <div class="field grid" style="border: 0px solid black">
                  <label class="col-12 mb-2 md:col-4">Phone 1</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.shipToPhone1" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">City</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.shipToCityName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vehicle No</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.vehicleNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onIcon="pi pi-check" offIcon="pi pi-times" :disabled="confirmDisable" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            style="width: 50%"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="pickingListDetail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PICKING LIST</label>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="pickingListSalesOrderCode" header="PLT-SO" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 10rem"></Column>
          </DataTable>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="pickingListSalesOrderDetailCode" header="PickingListSalesOrderDetailCode" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
  <script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpSalesOrder from '@/components/lookup/sales/LookUpSalesOrder';
import LookUpItemForAdj from '@/components/lookup/master/LookUpItemForAdj';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import LookUpWarehouseForDln from '@/components/lookup/master/LookUpWarehouseForDln';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    loadingItemDetails: false,
    listPickingList: [],
    listDetail: [],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      salesOrderCode: '',
      branchCode: '',
      branchName: '',
      customerCode: '',
      customerName: '',
      salesPersonCode: '',
      salesPersonName: '',
      shipToCode: '',
      shipToName: '',
      shipToAddress: '',
      shipToPhone1: '',
      shipToFax: '',
      shipToCityName: '',
      currencyCode: store.state.defaultCurrencyCode,
      reasonCode: null,
      reasonName: null,
      warehouseCode: null,
      warehouseName: null,
      unitOfMeasureCode: null,
      refNo: null,
      remark: null,
    },
    pickingListDetail: [],
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.salesOrderCode || !this.form.shipToCode;
    },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    btnConfirm() {
      if (this.isConfirm == true) {
        this.pickingListDetail = [];
        this.detail = [];
      } else {
        if (getParam('code')) {
          this.getListPickingList('update');
        } else {
          this.getListPickingList('new');
        }
      }
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItemForAdj, {
        props: { header: 'Search Master Item', style: { width: '50vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                reasonCode: this.form.reasonCode,
                reasonName: this.form.reasonName,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                rackCode: this.form.rackDockInCode,
                rackName: this.form.rackDockInName,
              };
              this.detail.push(detail);
            });
          }
        },
      });
    },
    remove(index) {
      // const lastestUnitColumns = Object.values(
      //   this.sales.generateUnitList[0]
      // ).filter((item, index) => index > 3);
      const dataPLT = this.pickingListDetail.filter((datas, idx) => {
        if (idx === index) {
          return datas;
        }
      });

      const itemsDeleteds = this.detail.filter((item, index) => {
        if (item.headerCode === dataPLT[0].PickingListSalesOrderCode) {
          return {
            idx: index,
            headerCode: item.headerCode,
          };
        }
        return;
      });

      console.log(itemsDeleteds);
      var arr = this.detail;
      for (var i = 0; i < arr.length; i++) {
        if (arr[i].headerCode === dataPLT[0].PickingListSalesOrderCode) {
          arr.splice(i, itemsDeleteds.length);
        }
      }

      this.pickingListDetail.splice(index, 1);
    },

    async getData(data) {
      let temp = await this.inventory.dataInventory('delivery-note', { code: data });
      this.form = temp.data;
    },

    async getListPickingList(flag) {
      this.pickingListDetail = [];
      this.loadingDetails = true;
      const field = {
        salesOrderCode: this.form.salesOrderCode,
        flag: flag,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('picking-list-sales-order/for-dln', field);
      this.selectedRows = null;
      this.loadingDetails = false;

      this.getListDetail(temp.data);
      return (this.pickingListDetail = temp.data);
    },

    async getListDetail(picking) {
      this.detail = [];
      this.loadingItemDetails = true;
      let prmPickingListCode = [];
      picking.forEach((datas) => {
        prmPickingListCode.push(datas.code);
      });

      let prmPickingList = {
        pickingListCode: prmPickingListCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };

      let temp = await this.sales.searchDataArraySales('picking-list-sales-order/bulk-detail', prmPickingList);
      this.selectedRows = null;
      this.loadingItemDetails = false;
      return (this.detail = temp.data);
    },

    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.currencyCode = store.state.defaultCurrencyCode;
        //Add Grid Detail
        formSubmit.listDeliveryNoteSalesOrderPickingList = this.pickingListDetail;
        formSubmit.listDeliveryNoteSalesOrderItemDetail = this.detail;

        if (this.submitted) {
          await this.inventory.updateInventory('delivery-note', formSubmit);
        } else {
          await this.inventory.saveInventory('delivery-note', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      let BreakExceptione = [];
      switch (master) {
        case 'approval-reason':
          temp = await this.master.dataMaster(master, { code: this.form.reasonCode });
          if (temp) {
            this.form.reasonCode = temp.data.code;
            this.form.reasonName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'warehouse':
          if (this.form.salesOrderCode == '' || this.form.salesOrderCode == null) {
            this.$toast.add({ severity: 'warn', summary: "Sales Order can't be null!", life: 3000 });
            throw BreakExceptione;
          }
          temp = await this.master.dataMaster('warehouse/for-dln', { code: this.form.warehouseCode, salesOrderCode: this.form.salesOrderCode });
          if (temp) {
            this.form.warehouseCode = temp.data.code;
            this.form.warehouseName = temp.data.name;
          } else {
            this.form.warehouseCode = null;
            this.form.warehouseName = null;
          }
          break;
        case 'customer-address':
          if (this.form.shipToCode == '') {
            this.form.shipToCode = '';
            this.form.shipToName = '';
            this.form.shipToAddress = '';
            this.form.shipToPhone1 = '';
            this.form.shipToCityName = '';
            return;
          }
          temp = await this.master.dataMaster('customer-jn-address', { code: this.form.shipToCode });
          if (temp) {
            this.form.shipToCode = temp.data.code;
            this.form.shipToName = temp.data.name;
            this.form.shipToAddress = temp.data.address;
            this.form.shipToPhone1 = temp.data.phone1;
            this.form.shipToCityName = temp.data.cityName;
          } else {
            this.form.shipToCode = '';
            this.form.shipToName = '';
            this.form.shipToAddress = '';
            this.form.shipToPhone1 = '';
            this.form.shipToCityName = '';
          }
          break;
        case 'sales-order':
          if (this.form.salesOrderCode == '') {
            this.form.branchCode = '';
            this.form.branchName = '';
            this.form.customerCode = '';
            this.form.customerName = '';
            this.form.salesPersonCode = '';
            this.form.salesPersonName = '';
            this.form.shipToCode = '';
            this.form.shipToName = '';
            this.form.shipToAddress = '';
            this.form.shipToPhone1 = '';
            this.form.shipToCityName = '';
            return;
          }
          temp = await this.sales.dataSales('sales-order/for-delivery-note', { code: this.form.salesOrderCode });
          if (temp) {
            this.form.salesOrderCode = temp.data.code;
            this.form.branchCode = temp.data.branchCode;
            this.form.branchName = temp.data.branchName;
            this.form.customerCode = temp.data.customerCode;
            this.form.customerName = temp.data.customerName;
            this.form.salesPersonCode = temp.data.salesPersonCode;
            this.form.salesPersonName = temp.data.salesPersonName;
            this.form.shipToCode = temp.data.shipToCode;
            this.form.shipToName = temp.data.shipToName;
            this.form.shipToAddress = temp.data.shipToAddress;
            this.form.shipToPhone1 = temp.data.shipToPhone1;
            this.form.shipToCityName = temp.data.shipToCityName;
          } else {
            this.form.branchCode = '';
            this.form.branchName = '';
            this.form.customerCode = '';
            this.form.customerName = '';
            this.form.salesPersonCode = '';
            this.form.salesPersonName = '';
            this.form.shipToCode = '';
            this.form.shipToName = '';
            this.form.shipToAddress = '';
            this.form.shipToPhone1 = '';
            this.form.shipToCityName = '';
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      let BreakExceptiono = [];
      switch (master) {
        case 'sales-order':
          this.$dialog.open(LookUpSalesOrder, {
            props: { header: 'Search Sales Order', style: { width: '90vw' }, modal: true },
            data: { module: 'sales-order/look-up-for-delivery-note' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.salesOrderCode = data.code;
                this.form.branchCode = data.branchCode;
                this.form.branchName = data.branchName;
                this.form.customerCode = data.customerCode;
                this.form.customerName = data.customerName;
                this.form.salesPersonCode = data.salesPersonCode;
                this.form.salesPersonName = data.salesPersonName;
                this.form.shipToCode = data.shipToCode;
                this.form.shipToName = data.shipToName;
                this.form.shipToAddress = data.shipToAddress;
                this.form.shipToPhone1 = data.shipToPhone1;
                this.form.shipToCityName = data.shipToCityName;
              }
            },
          });
          break;
        case 'customer-address':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Bill To', style: { width: '50vw' }, modal: true },
            data: { module: 'customer-jn-address/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.shipToCode = data.code;
                this.form.shipToName = data.name;
                this.form.shipToAddress = data.address;
                this.form.shipToPhone1 = data.phone1;
                this.form.shipToCityName = data.cityName;
              }
            },
          });
          break;
        case 'approval-reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'approval-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.reasonCode = data.code;
                this.form.reasonName = data.name;
              }
            },
          });
          break;
        case 'warehouse':
          if (this.form.salesOrderCode == '' || this.form.salesOrderCode == null) {
            this.$toast.add({ severity: 'warn', summary: "Sales Order can't be null!", life: 3000 });
            throw BreakExceptiono;
          }
          this.$dialog.open(LookUpWarehouseForDln, {
            props: { header: 'Search Master Warehouse', style: { width: '90vw' }, modal: true },
            data: { module: 'warehouse/for-dln', salesOrderCode: this.form.salesOrderCode },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpItemDetail(modules, data, field, index) {
      if (modules == 'reason') {
        this.$dialog.open(LookupMaster, {
          props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
          data: { module: 'approval-reason' },
          onClose: (options) => {
            const data = options.data;
            if (data) {
              this.detail[index].reasonCode = data.code;
              this.detail[index].reasonName = data.name;
            }
          },
        });
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          break;
        case 'reasonCode':
          this.detail[index].reasonCode = data['reasonCode'];
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, index, newValue, field } = event;
      switch (field) {
        case 'reasonCode':
          data = await this.master.dataMaster('approval-reason', { code: newValue });
          data['reasonCode'] = this.detail[index].reasonCode = data.data.code;
          data['reasonName'] = this.detail[index].reasonName = data.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
