<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Delivery Note</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <!-- <template v-slot:end>
              <div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
              <div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
              <div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div>
            </template> -->
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-6 grid m-0 p-0 my-2" style="border: 0px solid black">
                <div class="col-4 md:col-12 field grid m-0 p-0">
                  <div class="col-12 md:col-12 field grid m-0 p-0">
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Period Date</label>
                      <div class="col-4 md:col-4 m-0 p-1">
                        <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                      </div>
                      <div class="col-4 md:col-4 m-0 p-1">
                        <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">DLN No.</label>
                      <div class="col-12 md:col-8 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchCode" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-0 m-0 p-1">Customer</label>
                      <div class="col-3 md:col-3 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchCustomerCode" class="p-inputtext-sm" placeholder=" Code"/>
                      </div>
                      <div class="col-2 md:col-5 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchCustomerName" class="p-inputtext-sm" placeholder=" Name"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 md:col-3 grid m-0 p-0">
                    <div class="col-12 md:col-12 field grid m-0 p-0" style="justify-content: right">
                      <div class="col-12 md:col-12 m-0 p-0 px-1 mb-2">
                        <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 grid m-0 p-0 my-2" style="border: 0px solid black">
                <div class="col-4 md:col-12 field grid m-0 p-0">
                  <div class="col-12 md:col-12 field grid m-0 p-0">
                    <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Ref No.</label>
                    <div class="col-4 md:col-8 grid m-0 p-0">
                      <div class="col-12 md:col-8 m-0 p-1">
                        <InputText type="text" id="icon" v-model="searchRefNo" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Remark</label>
                    <div class="col-6 md:col-8 grid m-0 p-0">
                      <div class="col-12 md:col-8 m-0 p-1">
                        <InputText type="text" id="icon" v-model="searchRemark" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Sales Order</label>
                    <div class="col-6 md:col-8 grid m-0 p-0">
                      <div class="col-12 md:col-8 m-0 p-1">
                        <InputText type="text" id="icon" v-model="searchSalesOrderCode" class="p-inputtext-sm" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="DLN-SO No" style="min-width: 16rem;white-space" :sortable="true"></Column>
              <Column field="salesOrderCode" header="SO No" style="min-width: 16rem;white-space" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10rem;white-space" :sortable="true"></Column>
              <Column field="customerCode" header="Customer Code" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="customerName" header="Customer Name" style="min-width: 25rem;white-space" :sortable="true"></Column>
              <Column field="shipToCode" header="Ship To Code" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="address" header="Address" style="min-width: 45rem;white-space" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="invCode" header="INV No" style="min-width: 25rem;white-space" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="grid">
            <div class="cols-6 md:col-4">
              <DataTable
                showGridlines
                columnResizeMode="expand"
                responsiveLayout="scroll"
                dataKey="code"
                scrollHeight="400px"
                selectionMode="single"
                class="col-12 md:col-12 py-1 editable-cells-table"
                :resizableColumns="true"
                :value="listPick"
                :loading="loadingPickDetails"
              >
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Picking List Detail</label>
                  </div>
                </template>
                <Column header="No" style="width: 1rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="pickingListSalesOrderCode" header="PLT-SO No" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">Item Detail</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="min-width: 12rem;white-space" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="min-width: 45rem;white-space" :sortable="true"></Column>
              <Column field="itemAlias" header="Item Alias" style="min-width: 45rem;white-space" :sortable="true"></Column>
              <Column field="catalogNo" header="Catalog No" style="min-width: 15rem;white-space" :sortable="true"></Column>
              <Column field="quantity" header="Quantity" style="min-width: 12rem;white-space"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="min-width: 10rem;white-space"></Column>
              <Column field="rackCode" header="Rack Code" style="min-width: 12rem;white-space"></Column>
              <Column field="rackName" header="Rack Name" style="min-width: 20rem;white-space"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull, removeCommas } from '@/utils/function';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import moment from 'moment';

export default {
  data: () => ({
    inventory: new InventoryControllers(),
    code: null,
    list: [],
    listPick: [],
    listDetail: [],
    searchCode: '',
    searchSalesOrderCode: '',
    searchCustomerCode:'',
    searchCustomerName:'',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    searchRefNo: '',
    searchRemark: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,

    loadingDetails: false,
    loadingPickDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        salesOrderCode: this.searchSalesOrderCode,
        customerCode:this.searchCustomerCode,
        customerName:this.searchCustomerName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'DESC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('delivery-note', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;

      return (this.list = temp.data);
    },
    async getListPickDetail() {
      this.listPick = [];
      if (this.code == null) {
        return false;
      }
      this.loadingPickDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('delivery-note/pick/detail', field);
      this.loadingPickDetails = false;
      return (this.listPick = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('delivery-note/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    createData() {
      this.$router.push({ path: '/inventory/delivery-note-sales-order/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/inventory/delivery-note-sales-order/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.inventory.deleteInventory('delivery-note', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.getListPickDetail();
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
