<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Vendor Invoice" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>VIN No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" @date-select="setDueDate()" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>PO No *</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.purchaseOrderCode" placeholder="Enter PO No" @change="searchChange('purchase-order')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUp('purchase-order')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="branch name" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="vendor name" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorContactPerson" placeholder="contact person" disabled="true" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.poVendorContactAddress" placeholder="address" disabled="true" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Phone</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorPhone1" placeholder="phone1" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorPhone2" placeholder="phone2" disabled="true" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Discount Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="PERCENT" name="dicountType" value="PERCENT" v-model="form.discountType" disabled="true"/>
                      <label for="PERCENT">Percent</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="AMOUNT" name="dicountType" value="AMOUNT" v-model="form.discountType" disabled="true"/>
                      <label for="AMOUNT">Amount</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Currency</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Exchange Rate *</b></label>
                  <div class="col-4 md:col-6 mt-1">
                    <InputNumber
                      v-model="form.exchangeRate"
                      inputId="minmaxfraction"
                      mode="decimal"
                      :minFractionDigits="2"
                      :maxFractionDigits="5"
                      class="p-inputnumber-sm"
                      inputClass="text-right"
                      :disabled="this.form.currencyCode == 'IDR' ? true : false"
                    />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor Invoice No *</b></label>
                  <div class="col-6 md:col-8 mt-0">
                    <InputText v-model="form.vendorInvoiceNo"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor Invoice Date *</b></label>
                  <div class="col-6 md:col-8 mt-0">
                    <Calendar id="icon" v-model="form.vendorInvoiceDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.dueDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Payment Term</label>
                  <div class="col-4 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-4 md:col-3">
                    <InputText v-model="form.paymentTermName" disabled="true" />
                  </div>
                  <div class="col-2 md:col-2">
                    <InputText v-model="form.paymentTermDays" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Due Date</label>
                  <div class="col-6 md:col-8 mt-0">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy"  :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor Tax Invoice No.</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputText v-model="form.vendorTaxInvoiceNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor Tax Invoice Date</label>
                  <div class="col-6 md:col-8 mt-0">
                    <Calendar id="icon" v-model="form.vendorTaxInvoiceDate" :showIcon="true" dateFormat="dd/mm/yy"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" :disabled="confirmDisable" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <div class="grid col-12 m-0 p-0" style="justify-content: right">
            <div class="col-12 md:col-4 m-0 p-0">
              <div class="card mt-3">
                <DataTable
                  showGridlines
                  responsiveLayout="scroll"
                  dataKey="goodsReceivedNoteCode"
                  scrollHeight="400px"
                  class="col-12 md:col-12 p-0 m-0"
                  :lazy="true"
                  :rowHover="true"
                  :scrollable="true"
                  :value="listVendorInvoiceJnGoodsReceivedNote"
                  :loading="loadingGrnDetail"
                >
                  <template #header>
                    <div class="table-header"><label style="font-weight: bold">GRN</label></div>
                  </template>
                  <Column header="#" style="width: 2rem">
                    <template #body="{ index }">
                      <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
                    </template>
                  </Column>
                  <Column field="Index" header="No" style="width: 2rem"
                    ><template #body="{ index }">{{ index + 1 }}</template></Column
                  >
                  <Column field="goodsReceivedNoteCode" header="GRN No" style="min-width: 12rem"></Column>
                  <Column field="goodsReceivedNoteDate" header="Transaction Date" style="min-width: 12rem"></Column>
                </DataTable>
              </div>
            </div>
            <div class="col-12 md:col-8 m-0 p-0">
              <div class="card mt-3">
                <DataTable
                  showGridlines
                  responsiveLayout="scroll"
                  dataKey="vendorDownPaymentCode"
                  scrollHeight="400px"
                  class="col-12 md:col-12 p-0 m-0"
                  editMode="cell"
                  :lazy="true"
                  :rowHover="true"
                  :scrollable="true"
                  :value="listVendorInvoiceJnVendorDownPayment"
                  :loading="loadingVdpDetail"
                  @cell-edit-complete="onCellEditComplete"
                >
                  <template #header>
                    <div class="table-header"><label style="font-weight: bold">Vendor Down Payment</label></div>
                  </template>
                  <Column field="Index" header="No" style="min-width: 4rem"
                    ><template #body="{ index }">{{ index + 1 }}</template></Column
                  >
                  <Column field="vendorDownPaymentCode" header="VDP No" style="min-width: 12rem"></Column>
                  <Column field="vendorDownPaymentDate" header="VDP Date" style="min-width: 8rem"></Column>
                  <Column field="currencyCode" header="Currency" style="min-width: 4rem"></Column>
                  <Column field="exchangeRate" header="ExchangeRate" style="min-width: 8rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
                  </Column>
                  <Column field="amount" header="Amount" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.amount) }}</template>
                  </Column>
                  <Column field="usedAmount" header="Used" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.usedAmount) }}</template>
                  </Column>
                  <Column field="balanceAmount" header="Balance" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceAmount) }}</template>
                  </Column>
                  <Column field="appliedAmount" header="Applied *" style="min-width: 10rem; justify-content: right">
                    <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" /></template>
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.appliedAmount) }}</template>
                  </Column>
                </DataTable>
              </div>
            </div>
            <div class="col-12 md:col-12 m-0 p-0">
              <div class="card mt-0">
                <DataTable
                  showGridlines
                  responsiveLayout="scroll"
                  dataKey="goodsReceivedNoteDetailCode"
                  scrollHeight="400px"
                  class="col-12 md:col-12 p-0 m-0"
                  :lazy="true"
                  :rowHover="true"
                  :scrollable="true"
                  :value="listVendorInvoiceDetail"
                  :loading="loadingDetail"
                >
                  <template #header>
                    <div class="table-header"><label style="font-weight: bold">Detail</label></div>
                  </template>
                  <Column field="Index" header="No" style="min-width: 2rem"
                    ><template #body="{ index }">{{ index + 1 }}</template></Column
                  >
                  <Column field="goodsReceivedNoteDetailCode" header="GRN No." style="min-width: 12rem" hidden></Column>
                  <Column field="goodsReceivedNoteCode" header="GRN No" style="min-width: 12rem"></Column>
                  <Column field="itemCode" header="Item Code" style="min-width: 12rem"></Column>
                  <Column field="itemName" header="Item Name" style="min-width: 12rem" hidden></Column>
                  <Column field="itemAlias" header="Item Alias" style="min-width: 25rem"></Column>
                  <Column field="quantity" header="Quantity" style="min-width: 6rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
                  </Column>
                  <Column field="unitOfMeasureCode" header="UOM" style="min-width: 8rem"></Column>
                  <Column field="price" header="Price" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
                  </Column>
                  <Column field="discount1Percent" header="Disc 1 (%)" style="min-width: 8rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount1Percent) }}</template></Column
                  >
                  <Column field="discount2Percent" header="Disc 2 (%)" style="min-width: 8rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount2Percent) }}</template></Column
                  >
                  <Column field="discount3Percent" header="Disc 3 (%)" style="min-width: 8rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount3Percent) }}</template></Column
                  >
                  <Column field="nettPrice" header="Nett Price" style="min-width: 12rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template></Column
                  >
                  <Column field="totalAmount" header="Total" style="min-width: 12rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template></Column
                  >
                </DataTable>
              </div>
            </div>
          </div>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputText :value="decimalCurrency(form.discountPercent)" style="text-align: right" v-model="form.discountPercent" disabled="true" />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.discountAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Disc Account</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountChartOfAccountCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Down Payment</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.downPaymentAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseSubTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputText :value="decimalCurrency(form.vatPercent)" style="text-align: right" v-model="form.vatPercent" disabled="true" />
                  </div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupPurchaseOrder from '@/components/lookup/purchase/LookUpPurchaseOrder';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetail: false,
    loadingVdpDetail: false,
    loadingGrnDetail: false,
    form: {
      code: null,
      branchCode: null,
      branchName: null,
      transactionDate: store.state.currentDate,
      purchaseOrderCode: null,
      purchaseOrderDate: store.state.currentDate,
      vendorCode: null,
      vendorName: null,
      vendorContactPerson: null,
      vendorPhone1: null,
      vendorPhone2: null,
      vendorAddress: null,
      discountType: 'PERCENT',
      currencyCode: null,
      currencyName: null,
      exchangeRate: 0,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: 0,
      dueDate: store.state.currentDate,
      refNo: null,
      remark: null,
      totalTransactionAmount: 0,
      discountPercent: 0,
      discountAmount: 0,
      discountChartOfAccountCode: null,
      discountChartOfAccountName: null,
      discountDescription: null,
      downPaymentAmount: 0,
      taxBaseSubTotalAmount: 0,
      vatPercent: 0,
      vatAmount: 0,
      otherFeeAmount: 0,
      otherFeeChartOfAccountCode: null,
      otherFeeDescription: null,
      grandTotalAmount: 0,
      vendorInvoiceDate: store.state.currentDate,
      vendorInvoiceNo: null,
      vendorTaxInvoiceNo: null,
      vendorTaxInvoiceDate: store.state.currentDate,
    },
    listVendorInvoiceJnGoodsReceivedNote: [],
    listVendorInvoiceDetail: [],
    listVendorInvoiceJnVendorDownPayment: [],
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.purchaseOrderCode || !this.form.vendorInvoiceNo || this.form.exchangeRate == 0;
    },
    saveDisable() {
      return !this.listVendorInvoiceDetail.length;
    },
  },
  methods: {
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
      tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    btnConfirm() {
      if (this.isConfirm == false) {
        // this.clear();
        this.resetSummary();
        this.listVendorInvoiceJnGoodsReceivedNote = [];
        this.listVendorInvoiceDetail = [];
        this.listVendorInvoiceJnVendorDownPayment = [];
      } else {
        this.listGrnDetail();
        this.listVdpDetail();

        if (getParam('code')) {
          this.form.code = getParam('code');
        }
      }
    },
    // async getListDetail() {
    //   this.detail = [];
    //   if (this.form.code == null) {
    //     return false;
    //   }
    //   this.loadingDetail = true;
    //   const field = {
    //     headerCode: this.form.code,
    //     page: 0,
    //     size: 10000,
    //     sort: 'code,ASC',
    //   };
    //   let temp = await this.finance.searchFinance('vendor-invoice/detail', field);
    //   this.loadingDetail = false;
    //   return (this.detail = temp.data);
    // },
    remove(row) {
      const data_grn = this.listVendorInvoiceJnGoodsReceivedNote.filter((datas, idx) => {
        if (idx === row) {
          return datas;
        }
      });

      const itemsDeleteds = this.listVendorInvoiceDetail.filter((item, index) => {
        if (item.goodsReceivedNoteCode === data_grn[0].goodsReceivedNoteCode) {
          return {
            idx: index,
            goodsReceivedNoteCode: item.goodsReceivedNoteCode,
          };
        }
        return;
      });

      var arr = this.listVendorInvoiceDetail;
      for (var i = 0; i < arr.length; i++) {
        if (arr[i].goodsReceivedNoteCode === data_grn[0].goodsReceivedNoteCode) {
          arr.splice(i, itemsDeleteds.length);
        }
      }

      this.listVendorInvoiceJnGoodsReceivedNote.splice(row, 1);
      this.calculationSummary();
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('vendor-invoice', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.vendorInvoiceDate = moment(temp.data.vendorInvoiceDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.dueDate = moment(temp.data.dueDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.vendorTaxInvoiceDate = moment(temp.data.vendorTaxInvoiceDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.discountType = temp.data.discountType === 'PERCENT' ? 'PERCENT' : 'AMOUNT';
    },
    async listDetail() {
      this.listVendorInvoiceDetail = [];
      this.loadingDetail = true;
      let prmGoodsReceivedNoteCode = [];
      this.listVendorInvoiceJnGoodsReceivedNote.forEach((datas) => {
        prmGoodsReceivedNoteCode.push(datas.goodsReceivedNoteCode);
      });
      const field = {
        flag:'',
        vendorInvoiceCode: this.form.code == null ? 'AUTO' : this.form.code,
        goodsReceivedNoteCode: prmGoodsReceivedNoteCode,
        page: 0,
        size: 1000,
        sort: 'headerCode,DESC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice/detail', field);
      this.listVendorInvoiceDetail = temp.data;
      this.loadingDetail = false;
      this.calculationSummary();
      return this.listVendorInvoiceDetail;
    },
    async listGrnDetail() {
      this.listVendorInvoiceJnGoodsReceivedNote = [];
      this.loadingGrnDetail = true;
      const field = {
        purchaseOrderCode: this.form.purchaseOrderCode,
        vendorInvoiceCode: this.form.code == null ? 'AUTO' : this.form.code,
        page: 0,
        size: 1000,
        sort: 'goodsReceivedNoteCode,DESC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice/goods-received-note', field);
      this.listVendorInvoiceJnGoodsReceivedNote = temp.data;
      this.loadingGrnDetail = false;
      this.listDetail();
      return this.listVendorInvoiceJnGoodsReceivedNote;
    },
    async listVdpDetail() {
      this.form.listVendorInvoiceJnVendorDownPayment = [];
      this.loadingVdpDetail = true;
      const field = {
        vendorCode: this.form.vendorCode,
        vendorInvoiceCode: this.form.code == null ? 'AUTO' : this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice/vendor-down-payment', field);
      this.listVendorInvoiceJnVendorDownPayment = temp.data;
      this.loadingVdpDetail = false;
      return this.listVendorInvoiceJnVendorDownPayment;
    },
    async submit() {
      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.vendorInvoiceDate = moment(this.form.vendorInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.vendorTaxInvoiceDate = moment(this.form.vendorTaxInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        this.listVendorInvoiceJnGoodsReceivedNote = this.listVendorInvoiceJnGoodsReceivedNote.map((item) => {
          return {
            goodsReceivedNoteCode: item.goodsReceivedNoteCode,
            documentDate: moment(item.goodsReceivedNoteDate == '' ? '01-01-1900' : item.goodsReceivedNoteDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
          };
        });

        const vendorDownPaymentDetail = this.listVendorInvoiceJnVendorDownPayment.filter((item) => {
          if (item.appliedAmount > 0) {
            return {
              vendorDownPaymentCode: item.vendorDownPaymentCode,
              appliedAmount: item.appliedAmount,
            };
          }
          return;
        });

        this.listVendorInvoiceJnVendorDownPayment = vendorDownPaymentDetail.map((item) => {
          return {
            vendorDownPaymentCode: item.vendorDownPaymentCode,
            amount: item.appliedAmount,
          };
        });

        this.listVendorInvoiceDetail = this.listVendorInvoiceDetail.map((item) => {
          return {
            goodsReceivedNoteDetailCode: item.goodsReceivedNoteDetailCode,
            itemCode: item.itemCode,
            quantity: item.quantity,
            price: item.price,
            discountPercent: item.discountPercent,
            discountAmount: item.discountAmount,
            discount1Percent: item.discount1Percent,
            discount2Percent: item.discount2Percent,
            discount2Amount: item.discount2Amount,
            discount3Percent: item.discount3Percent,
            discount3Amount: item.discount3Amount,
            nettPrice: item.nettPrice,
            totalAmount: item.totalAmount,
            remark: item.remark,
          };
        });

        formSubmit.listVendorInvoiceDetail = this.listVendorInvoiceDetail;
        formSubmit.listVendorInvoiceJnGoodsReceivedNote = this.listVendorInvoiceJnGoodsReceivedNote;
        formSubmit.listVendorInvoiceJnVendorDownPayment = this.listVendorInvoiceJnVendorDownPayment;
        if (this.submitted) {
          await this.finance.updateFinance('vendor-invoice', formSubmit);
        } else {
          await this.finance.saveFinance('vendor-invoice', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'chart-of-account':
          temp = await this.master.dataMaster(master, { code: this.form.discountChartOfAccountCode });
          if (temp) {
            this.form.discountChartOfAccountCode = temp.data.code;
            this.form.discountChartOfAccountName = temp.data.name;
          } else {
            this.form.discountChartOfAccountCode = null;
            this.form.discountChartOfAccountName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUp(master) {
      switch (master) {
        case 'purchase-order':
          this.$dialog.open(LookupPurchaseOrder, {
            props: { header: 'Search Purchase Order', style: { width: '50vw' }, modal: true },
            data: { module: 'purchase-order/lookup-for-invoice' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.purchaseOrderCode = data.code;
                this.form.branchCode = data.branchCode;
                this.form.branchName = data.branchName;
                this.form.vendorCode = data.vendorCode;
                this.form.vendorName = data.vendorName;
                this.form.discountType = data.discountType;
                this.form.vendorContactPerson = data.vendorContactPerson;
                this.form.vendorAddress = data.vendorAddress;
                this.form.vendorPhone1 = data.vendorPhone1;
                this.form.vendorPhone2 = data.vendorPhone2;
                this.form.currencyCode = data.currencyCode;
                this.form.currencyName = data.currencyName;
                this.form.exchangeRate = data.currencyCode == 'IDR' ? 1 : 0;
                this.form.paymentTermCode = data.paymentTermCode;
                this.form.paymentTermName = data.paymentTermName;
                this.form.paymentTermDays = data.paymentTermDays;
                this.form.discountPercent = data.discountPercent;
                this.form.discountAmount = data.discountAmount;
                this.form.vatPercent = data.vatPercent;
                this.form.vatAmount = data.vatAmount;
              }
              this.setDueDate();
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'appliedAmount':
          this.listVendorInvoiceJnVendorDownPayment[index].appliedAmount = data['appliedAmount'];
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    calculationSummary() {
      let totalDownPaymentAmount = 0;
      this.listVendorInvoiceJnVendorDownPayment.forEach((datas) => {
        totalDownPaymentAmount += Number(datas.appliedAmount);
      });

      this.form.downPaymentAmount = totalDownPaymentAmount;
      this.form.totalTransactionAmount = 0;

      this.listVendorInvoiceDetail.forEach((datas) => {
        this.form.totalTransactionAmount += Number(datas.totalAmount);
      });

      this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
      this.form.discountAmount = decimalCurrency(this.form.discountAmount);
      this.form.taxBaseSubTotalAmount = this.form.totalTransactionAmount - this.form.discountAmount - this.form.downPaymentAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseSubTotalAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseSubTotalAmount + this.form.vatAmount;
    },
    cancel() {
      history.back();
    },
    resetSummary() {
      this.form.totalTransactionAmount = 0;
      this.form.downPaymentAmount = 0;
      this.form.taxBaseSubTotalAmount = 0;
      this.form.vatAmount = 0;
      this.form.grandTotalAmount = 0;
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
