<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Vendor Invoice</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <!-- <template v-slot:end>
							<div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
							<div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
							<div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div>
						</template> -->
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">VIN No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Vendor</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <InputText v-model="searchVendorCode" placeholder="vendor code" class="p-inputtext-sm" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <InputText v-model="searchVendorName" placeholder="vendor name" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-6 md:col-4 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="min-width: 4em">
                <template #body="{ index }">{{ index + 1}}</template>
              </Column>
              <Column field="code" header="VIN No" style="min-width: 15em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="purchaseOrderCode" header="POD No." style="min-width: 13em" :sortable="true"></Column>
              <Column field="branchCode" header="Branch" style="min-width: 8em" :sortable="true"></Column>
              <Column field="vendorCode" header="Vendor" style="min-width: 10em" :sortable="true"></Column>
              <Column field="vendorName" header="Vendor Name" style="min-width: 10em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="totalTransactionAmount" header="totalTransactionAmount" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="discountPercent" header="discountPercent" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="discountAmount" header="discountAmount" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="discountChartOfAccountCode" header="discountChartOfAccountCode" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="discountDescription" header="discountDescription" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="downPaymentAmount" header="downPaymentAmount" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="taxBaseSubTotalAmount" header="taxBaseSubTotalAmount" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="vatPercent" header="vatPercent" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="vatAmount" header="vatAmount" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="otherFeeAmount" header="otherFeeAmount" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="otherFeeChartOfAccountCode" header="otherFeeChartOfAccountCode" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="otherFeeDescription" header="otherFeeDescription" style="min-width: 10em" :sortable="true"></Column>
              <Column hidden field="grandTotalAmount" header="grandTotalAmount" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="grid col-12 m-0 p-0" style="justify-content: right">
            <div class="col-12 md:col-4 m-0 p-0">
              <div class="card mt-3">
                <DataTable
                  showGridlines
                  responsiveLayout="scroll"
                  dataKey="goodsReceivedNoteCode"
                  scrollHeight="400px"
                  class="col-12 md:col-12 p-0 m-0"
                  :lazy="true"
                  selectionMode="single"
                  :rowHover="true"
                  :scrollable="true"
                  :value="listGrnDetail"
                  :loading="loadingGrnDetail"
                >
                  <template #header>
                    <div class="table-header"><label style="font-weight: bold">Goods Received Note</label></div>
                  </template>
                  <Column field="Index" header="No" style="width: 2rem"
                    ><template #body="{ index }">{{ index + 1 }}</template></Column
                  >
                  <Column field="goodsReceivedNoteCode" header="GRN No" style="min-width: 15rem" :sortable="true"></Column>
                  <Column field="goodsReceivedNoteDate" header="GRN Date" style="min-width: 8rem" :sortable="true"></Column>
                </DataTable>
              </div>
            </div>
            <div class="col-12 md:col-8 m-0 p-0">
              <div class="card mt-3">
                <DataTable
                  showGridlines
                  responsiveLayout="scroll"
                  dataKey="vendorDownPaymentCode"
                  scrollHeight="400px"
                  class="col-12 md:col-12 p-0 m-0"
                  :lazy="true"
                  :rowHover="true"
                  :scrollable="true"
                  :value="listVdpDetail"
                  :loading="loadingVdpDetail"
                >
                  <template #header>
                    <div class="table-header"><label style="font-weight: bold">Vendor Down Payment</label></div>
                  </template>
                  <Column field="Index" header="No" style="min-width: 2rem"
                    ><template #body="{ index }">{{ index + 1 }}</template></Column
                  >
                  <Column field="vendorDownPaymentCode" header="VDP No" style="min-width: 12rem"></Column>
                  <Column field="vendorDownPaymentDate" header="VDP Date" style="min-width: 12rem"></Column>
                  <Column field="currencyCode" header="Currency" style="min-width: 5rem"></Column>
                  <Column field="exchangeRate" header="ExchangeRate" style="min-width: 8rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
                  </Column>
                  <Column field="amount" header="Amount" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.amount) }}</template>
                  </Column>
                  <Column field="usedAmount" header="Used" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.usedAmount) }}</template>
                  </Column>
                  <Column field="balanceAmount" header="Balance" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceAmount) }}</template>
                  </Column>
                  <Column field="appliedAmount" header="Applied" style="min-width: 10rem; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.appliedAmount) }}</template>
                  </Column>
                </DataTable>
              </div>
            </div>
            <div class="col-12 md:col-12 m-0 p-0">
              <div class="card mt-0">
                <DataTable
                  showGridlines
                  responsiveLayout="scroll"
                  dataKey="code"
                  scrollHeight="400px"
                  class="col-12 md:col-12 p-0 m-0"
                  :lazy="true"
                  ref="dt"
                  selectionMode="single"
                  :rowHover="true"
                  :scrollable="true"
                  :value="listDetail"
                  :loading="loadingDetail"
                >
                  <template #header>
                    <div class="table-header"><label style="font-weight: bold">Detail</label></div>
                  </template>
                  <Column field="Index" header="No" style="min-width: 2rem"
                    ><template #body="{ index }">{{ index + 1 }}</template></Column
                  >
                  <Column field="goodsReceivedNoteCode" header="GRN No." style="min-width: 13rem" :sortable="true"></Column>
                  <Column field="itemCode" header="Item Code" style="min-width: 13rem" :sortable="true"></Column>
                  <Column field="itemAlias" header="Item Alias" style="min-width: 25rem" :sortable="true"></Column>
                  <Column field="quantity" header="Quantity" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
                  </Column>
                  <Column field="price" header="Price" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
                  </Column>
                  <Column field="discount1Percent" header="Disc 1(%)" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount1Percent) }}</template>
                  </Column>
                  <Column field="discount2Percent" header="Disc 2(%)" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount2Percent) }}</template>
                  </Column>
                  <Column field="discount3Percent" header="Disc 3(%)" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount3Percent) }}</template>
                  </Column>
                  <Column field="nettPrice" header="NettPrice" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
                  </Column>
                  <Column field="totalAmount" header="TotalAmount" style="min-width: 8em; justify-content: right">
                    <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
                  </Column>
                  <Column field="unitOfMeasureCode" header="UOM" style="min-width: 4rem" :sortable="true"></Column>
                </DataTable>
              </div>
            </div>

            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-7 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(totalTransactionAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(discountPercent)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(discountAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="discountCode" class="p-inputtext-sm" disabled="true" style="text-align: left" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="discountName" class="p-inputtext-sm" disabled="true" style="text-align: left" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Down Payment</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(downPaymentAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(taxBaseSubTotalAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(vatPercent)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(vatAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(grandTotalAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { BaseFinanceUrl } from '@/api/endpoint/base';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    finance: new FinanceControllers(),
    baseImport: BaseFinanceUrl() + '/vendor-invoice/imports?',
    baseExport: BaseFinanceUrl() + '/vendor-invoice/exports?',
    basePrint: BaseFinanceUrl() + '/vendor-invoice/print?',
    code: null,
    vendorCode:null,
    list: [],
    listDetail: [],
    listGrnDetail: [],
    listVdpDetail: [],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchVendorCode:'',
    searchVendorName:'',
    searchRefNo: '',
    searchRemark: '',
    totalTransactionAmount: 0,
    discountPercent: 0,
    discountAmount: 0,
    discountCode: '',
    discountName: '',
    discountDescription: '',
    taxBaseSubTotalAmount: 0,
    vatPercent: 0,
    vatAmount: 0,
    grandTotalAmount: 0,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    isdelete: false,
    selectedRows: false,
    loadingDetails: false,
    loadingGrnDetails: false,
    loadingVdpDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.resetSummary();
      this.listDetail = [];
      this.listGrnDetail= [];
      this.listVdpDetail= [];

      const field = {
        code: this.searchCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        vendorCode: this.searchVendorCode,
        vendorName: this.searchVendorName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListGrnDetail() {
      this.listGrnDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingGrnDetails = true;
      const field = {
        purchaseOrderCode: '',
        vendorInvoiceCode: this.code,
        page: 0,
        size: 1000,
        sort: 'goodsReceivedNoteCode,DESC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice/goods-received-note', field);
      this.loadingGrnDetails = false;
      return (this.listGrnDetail = temp.data);
    },
    async getListVdpDetail() {
      this.listVdpDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingVdpDetails = true;
      const field = {
        flag:'VIEW',
        vendorCode: this.vendorCode,
        vendorInvoiceCode: this.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice/vendor-down-payment', field);
      this.loadingVdpDetails = false;
      return (this.listVdpDetail = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      let prmGoodsReceivedNoteCode = [];
      this.listGrnDetail.forEach((datas) => {
        prmGoodsReceivedNoteCode.push(datas.goodsReceivedNoteCode);
      });
      const field = {
        flag:'VIEW',
        vendorInvoiceCode: this.code,
        goodsReceivedNoteCode: prmGoodsReceivedNoteCode,
        page: 0,
        size: 1000,
        sort: 'goodsReceivedNoteDetailCode,DESC',
      };
      let temp = await this.finance.searchFinance('vendor-invoice/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    calculationSummary() {
      this.totalTransactionAmount = 0;
      this.credit = 0;
      this.creditIDR = 0;
      this.debit = 0;
      this.debitIDR = 0;
      this.listDetail.forEach((datas) => {
        this.credit += datas.credit;
        this.creditIDR += datas.creditIDR;
        this.debit += datas.debit;
        this.debitIDR += datas.debitIDR;
      });

      this.balance = this.credit - this.debit;
      this.balanceIDR = this.creditIDR - this.debitIDR;
      this.totalTransactionAmount = this.balance - this.balanceIDR;
    },
    createData() {
      this.$router.push({ path: '/finance/vendor-invoice/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/finance/vendor-invoice/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.finance.deleteFinance('vendor-invoice', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.vendorCode = event.data.vendorCode;
        this.totalTransactionAmount =event.data.totalTransactionAmount;
        this.discountPercent = event.data.discountPercent;
        this.discountAmount = event.data.discountAmount;
        this.discountChartOfAccountCode = event.data.discountChartOfAccountCode;
        this.discountChartOfAccountCode = event.data.discountChartOfAccountCode;
        this.discountDescription = event.data.discountDescription;
        this.downPaymentAmount = event.data.downPaymentAmount;
        this.taxBaseSubTotalAmount = event.data.taxBaseSubTotalAmount;
        this.vatPercent = event.data.vatPercent;
        this.vatAmount = event.data.vatAmount;
        this.grandTotalAmount = event.data.grandTotalAmount;
        this.getListGrnDetail();
        this.getListVdpDetail();
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    resetSummary() {
      this.totalTransactionAmount = 0;
      this.discountPercent = 0;
      this.discountAmount = 0;
      this.discountChartOfAccountCode = '';
      this.discountChartOfAccountName = '';
      this.discountDescription = '';
      this.downPaymentAmount = 0;
      this.taxBaseSubTotalAmount = 0;
      this.vatPercent = 0;
      this.vatAmount = 0;
      this.grandTotalAmount = 0;
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
