<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Giro Received Inquiry</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">GR No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Finance Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Giro No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="giroNo" placeholder="Finance Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Due Date</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="dueStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <Calendar id="icon" v-model="dueStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Bank</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <InputText v-model="bankCode" placeholder="bank code" class="p-inputtext-sm" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <InputText v-model="bankName" placeholder="bank name" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Status</label>
                  <div class="col-12 md:col-4 m-0 p-1">
                    <Dropdown v-model="btnStatus" :options="btnStatusList" optionLabel="name" optionValue="code" placeholder="Select" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0"></div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
              ><Column field="Index" header="No" style="min-width: 4em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="giroStatus" header="Status" style="min-width: 8em" :sortable="true"></Column>
              <Column field="branchCode" header="Branch" style="min-width: 8em" :sortable="true"></Column>
              <Column field="code" header="GRR No" style="min-width: 15em" :sortable="true"></Column>
              <Column field="giroNo" header="Giro No" style="min-width: 15em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="currencyCode" header="Giro No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="exchangeRate" header="Bank" style="min-width: 12em" :sortable="true"></Column>
              <Column field="exchangeRate" header="Bank Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="exchangeRate" header="Currency" style="min-width: 12em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { BaseFinanceUrl } from '@/api/endpoint/base';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    finance: new FinanceControllers(),
    baseImport: BaseFinanceUrl() + '/giro-received-rejected/imports?',
    baseExport: BaseFinanceUrl() + '/giro-received-rejected/exports?',
    basePrint: BaseFinanceUrl() + '/giro-received-rejected/print?',
    code: null,
    list: [],
    listDetail: [],
    btnStatus: 'Rejected',
    btnStatusList: [
      { name: 'All', code: 'All' },
      { name: 'Pending', code: 'Pending' },
      { name: 'Rejected', code: 'Rejected' },
    ],
    searchCode: '',
    giroNo: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    dueStartDate: store.state.periodStartDate,
    dueEndDate: store.state.periodEndDate,
    refNo: '',
    remark: '',
    bankCode: '',
    bankName: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    isdelete: false,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        giroNo: this.giroNo,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        dueStartDate: moment(this.dueStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        dueEndDate: moment(this.dueEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        giroStatus: this.btnStatus,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('giro-received', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
