<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Giro Received" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-8">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>GIro Received No *</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Giro No *</b></label>
                <div class="col-6 md:col-8">
                  <div class="p-inputgroup">
                    <InputText v-model="form.giroNo" placeholder="Enter giro" :class="{ 'p-invalid': isError && form.giroNo != '' }" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Bank *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.bankCode" placeholder="Enter bank" @change="searchChange('bank')" :class="{ 'p-invalid': isError && form.bankName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bank')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.bankName" placeholder="Name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Received From</label>
                <div class="col-6 md:col-8">
                    <InputText v-model="form.receivedFrom" placeholder="Enter Received From"/>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Amount</label>
                <div class="col-6 md:col-8 mt-1">
                  <InputNumber mode="decimal" v-model="form.amount" placeholder="1" inputClass="text-right" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Giro Due Date *</b></label>
                <div class="col-12 md:col-8">
                  <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Refno</label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"></label>
                <div class="col-12 md:col-8 py-1">
                  <div class="field grid">
                    <div class="col-6 md:col-4"><Button label="Save" class="p-button-warning" @Click="submit"></Button></div>
                    <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </Panel>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    form: {
      code : null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      receivedFrom: null,
      bankAccountCode: null,
      bankAccountName: null,
      amount : 0,
      giroNo: null,
      bankCode: null,
      bankName: null,
      dueDate: store.state.currentDate,
      refNo: null,
      remark : null,
    },
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.finance.dataFinance('giro-received', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.dueDate = moment(temp.data.dueDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async submit() {
      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        if (this.submitted) {
          await this.finance.updateFinance('giro-received', formSubmit);
        } else {
          await this.finance.saveFinance('giro-received', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'bank':
          temp = await this.master.dataMaster('bank', { code: this.form.bankCode });
          if (temp) {
            this.form.bankCode = temp.data.code;
            this.form.bankName = temp.data.name;
          } else {
            this.form.bankCode = null;
            this.form.bankName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'bank':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Bank', style: { width: '50vw' }, modal: true },
            data: { module: 'bank' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.bankCode = data.code;
                this.form.bankName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
