<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-8">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Vendor Desposit Type</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
              <small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.name" placeholder="Enter name" />
              <small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
            <div class="col-12 md:col-10">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
            <div class="col-12 md:col-10">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
        </form>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 editable-cells-table" :resizableColumns="true" editMode="cell" :value="detail" :loading="loadingDetails">
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Detail Chart Of Account</label>
                <Button icon="pi pi-plus" label="Search Branch" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
                <!-- &nbsp; -->
                <!-- <Button icon="pi pi-plus" label="addRow" class="p-button-sm p-button-warning" style="width:10rem" @Click="addrow"/> -->
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="branchCode" header="Branch Code" style="white-space: nowrap; width: 10rem">
              <template>
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
                </div>
              </template>
            </Column>
            <Column field="branchName" header="Branch Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="chartOfAccountCode" header="Chart Of Account Code" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCOA(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account  Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>

        <div class="field grid">
          <div class="col-3 md:col-3">
            <Button label="Save" class="p-button-warning" @Click="submit"></Button>
          </div>
          <div class="col-3 md:col-3">
            <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import BlockUI from 'primevue/blockui';
import { getParam } from '@/utils/function';
import DynamicDialog from 'primevue/dynamicdialog';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupMultiMaster from '@/components/lookup/master/LookupMultiMaster';
export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    isConfirm: false,
    submitted: false,
    loadingDetails: false,
    form: {
      code: '',
      name: '',
      remark: '',
      activeStatus: true,
    },
    detail: [],
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('vendor-deposit-type', { code: data });
      this.form = temp.data;
    },

    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.branchName == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Branch can't be null!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        if (this.submitted) {
          await this.master.updateMaster('vendor-deposit-type', {
            code: this.form.code,
            name: this.form.name,
            remark: this.form.remark,
            activeStatus: this.form.activeStatus,

            listVendorDepositTypeJnChartOfAccountDetail: this.detail.map((item) => {
              return {
                branchCode: item.branchCode,
                chartOfAccountCode: item.chartOfAccountCode,
              };
            }),
          });
          this.cancel();
        } else {
          await this.master.saveMaster('vendor-deposit-type', {
            code: this.form.code,
            name: this.form.name,
            remark: this.form.remark,
            activeStatus: this.form.activeStatus,

            listVendorDepositTypeJnChartOfAccountDetail: this.detail.map((item) => {
              return {
                branchCode: item.branchCode,
                chartOfAccountCode: item.chartOfAccountCode,
              };
            }),
          });
          this.cancel();
        }
      }
    },
    cancel() {
      history.back();
    },
    async btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.code == '' || this.form.code == null) {
          this.isError = true;
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.name == '' || this.form.name == null) {
          this.isError = true;
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
          throw BreakException;
        }

        const field = {
          vendorDepositTypeCode: this.form.code,
          page: 0,
          size: 1000,
          sort: 'code,ASC',
        };

        let temp = await this.master.searchMaster('vendor-deposit-type/detail', field);
        this.loadingDetails = false;
        return (this.detail = temp.data);
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    lookupAddRow() {
      this.$dialog.open(LookupMultiMaster, {
        props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
        data: { module: 'branch' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                branchCode: datas.code,
                branchName: datas.name,
                chartOfAccountCode: '',
                chartOfAccountName: '',
              };
              this.detail.push(detail);
            });
          }
        },
      });
    },
    remove(row) {
      this.detail.splice(row.index, 1);
    },
    lookUpCOA(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].chartOfAccountCode = data.code;
            this.detail[index].chartOfAccountName = data.name;
          }
        },
      });
    },
  },
};
</script>
