<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-12">
            <div class="font-medium text-3xl text-900">Master Item</div>
          </div>
        </div>
        <form class="col-12 md:col-9">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Code *</label>
            <div class="col-12 md:col-4">
              <InputText type="text" v-model="form.code" placeholder="Enter code" required="true" autofocus :class="{ 'p-invalid': isError && !form.code }" />
              <small class="p-invalid mt-3" v-if="isError && !form.code">Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Name *</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.name" placeholder="Enter name" required="true" autofocus :class="{ 'p-invalid': isError && !form.name }" />
              <small class="p-invalid mt-3" v-if="isError && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Sub Category *</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.itemSubCategoryCode" placeholder="Enter Sub Category" required="true" @change="searchChange('item-sub-category')" :class="{ 'p-invalid': isError && form.itemSubCategoryCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('item-sub-category')" />
                <small class="p-invalid mt-3" v-if="isError && !form.itemSubCategoryCode">Code is required.</small>
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.itemSubCategoryName" placeholder="Sub Category name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Item Category</label>
            <div class="col-6 md:col-4">
              <InputText v-model="form.itemCategoryCode" placeholder="Item Category code" disabled="true" />
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.itemCategoryName" placeholder="Item Category name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Item Division</label>
            <div class="col-6 md:col-4">
              <InputText v-model="form.itemDivisionCode" placeholder="Item Division code" disabled="true" />
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.itemDivisionName" placeholder="Item Division name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Unit Of Measure *</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.unitOfMeasureCode" placeholder="Enter Unit Of Measure" required="true" @change="searchChange('unit-of-measure')" :class="{ 'p-invalid': isError && form.unitOfMeasureCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('unit-of-measure')" />
                <small class="p-invalid mt-3" v-if="isError && !form.unitOfMeasureCode">Code is required.</small>
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.unitOfMeasureName" placeholder="Unit Of Measure Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Item Brand *</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.itemBrandCode" placeholder="Enter Item Brand Code" required="true" @change="searchChange('item-brand')" :class="{ 'p-invalid': isError && form.itemBrandCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('item-brand')" />
                <small class="p-invalid mt-3" v-if="isError && !form.itemBrandCode">Code is required.</small>
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.itemBrandName" placeholder="Item Brand Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Color *</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.colorCode" placeholder="Enter Color Code" required="true" @change="searchChange('color')" :class="{ 'p-invalid': isError && form.colorCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('color')" />
                <small class="p-invalid mt-3" v-if="isError && !form.colorCode">Code is required.</small>
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.colorName" placeholder="Color Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Item Classification *</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.itemClassificationCode" placeholder="Enter Item Classification Code" required="true" @change="searchChange('item-classification')" :class="{ 'p-invalid': isError && form.itemClassificationCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('item-classification')" />
                <small class="p-invalid mt-3" v-if="isError && !form.itemClassificationCode">Code is required.</small>
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.itemClassificationName" placeholder="Item Classification Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Sales Order Status</label>
            <div class="col-12 md:col-9">
              <div class="p-inputgroup">
                <Checkbox :binary="true" v-model="form.salesOrderStatus" disabled="true" :style="{ width: '3em' }" />
              </div>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Assembly Status</label>
            <div class="col-12 md:col-9">
              <div class="p-inputgroup">
                <Checkbox :binary="true" v-model="form.assemblyStatus" disabled="true" :style="{ width: '3em' }" />
              </div>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Inventory Type *</label>
            <div class="col-12 md:col-9">
              <label for="inventory">Inventory</label>&nbsp;
              <RadioButton name="inventory" value="INVENTORY" v-model="form.inventoryType" :style="{ width: '3em' }" />
              <label for="nonIinventory">Non Inventory</label>&nbsp;
              <RadioButton name="nonInventory" value="NON_INVENTORY" v-model="form.inventoryType" :style="{ width: '3em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Min Stock</label>
            <div class="col-6 md:col-4">
              <InputNumber inputId="integeronly" v-model="form.minStock" required="true" inputStyle="text-align: right;" autofocus :class="{ 'p-invalid': isError && form.minStock <= 0 }" />
              <small class="p-invalid mt-3" v-if="isError && !form.minStock">more than 0.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Max Stock</label>
            <div class="col-6 md:col-4">
              <InputNumber inputId="integeronly" v-model="form.maxStock" required="true" inputStyle="text-align: right;" autofocus :class="{ 'p-invalid': isError && form.maxStock <= 0 }" />
              <small class="p-invalid mt-3" v-if="isError && !form.maxStock">more than 0.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
            <div class="col-12 md:col-9">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Active Status *</label>
            <div class="col-12 md:col-9">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
        </form>
        <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 editable-cells-table" :resizableColumns="true" editMode="cell" :value="detail" :loading="loadingDetails">
          <template #header>
            <div class="table-header">
              <label class="col-3 md:col-3 m-0 p-0 px-1">Default Catalog No *</label>
              <div class="col-6 md:col-6 m-0 p-0 px-1">
                <div class="p-inputgroup">
                  <InputText v-model="form.defaultItemCatalogCode" placeholder="Enter Catalog No" @change="searchChange('catalog')" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('catalog')" />
                </div>
              </div>
              <div class="col-3 md:col-2 m-0 p-0 px-1">
                <div class="p-inputgroup">
                  <Button icon="pi pi-plus" label="addRow" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addRow" />
                </div>
              </div>
            </div>
          </template>
          <Column header="#" style="width: 1rem">
            <template #body="{ index }">
              <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
            </template>
          </Column>
          <Column header="No" style="width: 1rem">
            <template #body="{ index }">
              {{ index + 1 }}
            </template>
          </Column>
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="false">
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 10rem; text-align: left">
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: left" /></template>
          </Column>
          <Column field="remark" header="Remark" style="white-space: nowrap; width: 10rem; text-align: left">
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: left" /></template>
          </Column>
        </DataTable>
        <div class="field grid">
          &nbsp;&nbsp;&nbsp;
          <div class="col-6 md:col-3">
            <Button label="Save" class="p-button-warning" @Click="submit"></Button>
          </div>
          <div class="col-6 md:col-3">
            <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import { getParam } from '@/utils/function';
import DynamicDialog from 'primevue/dynamicdialog';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpCatalog from '@/components/lookup/master/LookUpCatalog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpSubCategory from '@/components/lookup/master/LookUpSubCategory';
import LookupItemClassification from '@/components/lookup/master/LookUpItemClassification';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    isError: false,
    loadingDetails: false,

    detail: [],
    form: {
      code: null,
      name: null,
      itemSubCategoryCode: null,
      itemSubCategoryName: null,
      itemCategoryCode: null,
      itemCategoryName: null,
      itemDivisionCode: null,
      itemDivisionName: null,
      unitOfMeasureCode: null,
      unitOfMeasureName: null,
      itemBrandCode: null,
      itemBrandName: null,
      colorCode: null,
      colorName: null,
      salesOrderStatus: false,
      assemblyStatus: false,
      itemClassificationCode: null,
      itemClassificationName: null,
      inventoryType: 'INVENTORY',
      minStock: 0,
      maxStock: 0,
      defaultItemCatalogCode: null,
      remark: null,
      activeStatus: true,
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.master.dataMaster('item/get-update', { code: data });
      this.form = temp.data;
      this.form.salesOrderStatus = temp.data.salesOrderStatus === 1 ? true : false;
      this.form.assemblyStatus = temp.data.assemblyStatus === 1 ? true : false;
      this.getDetaile();
    },
    async getDetaile() {
      let BreakException = [];
      try {
        if (this.form.defaultItemCatalogCode == '' || this.form.defaultItemCatalogCode == null) {
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }

        const field = {
          code: this.form.code,
          page: 0,
          size: 1000,
          sort: 'code,ASC',
        };

        let temp = await this.master.searchMaster('item/catalog-number', field);
        this.loadingDetails = false;
        return (this.detail = temp.data);
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },

    async submit() {
      let BreakException = {};
      this.isError = false;

      if (this.form.code == '' || this.form.code == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.name == '' || this.form.name == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.itemSubCategoryCode == '' || this.form.itemSubCategoryCode == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Item Sub Category Code can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.unitOfMeasureCode == '' || this.form.unitOfMeasureCode == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Unit Of Measure Code can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.itemBrandCode == '' || this.form.itemBrandCode == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Item Brand Code can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.colorCode == '' || this.form.colorCode == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: " Color Code can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.itemClassificationCode == '' || this.form.itemClassificationCode == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Item Classification Code can't be null!", life: 3000 });
        throw BreakException;
      }

      if (this.form.defaultItemCatalogCode == '' || this.form.defaultItemCatalogCode == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Default Item Catalog No can't be null!", life: 3000 });
        throw BreakException;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.inventoryType = this.form.inventoryType === 'INVENTORY' ? 'INVENTORY' : 'NON_INVENTORY';
        formSubmit.listItemJnCatalogNumberDetail = this.detail;

        if (this.submitted) {
          await this.master.updateMaster('item', formSubmit);
          this.cancel();
        } else {
          await this.master.saveMaster('item', formSubmit);
          this.cancel();
        }
      }
    },
    cancel() {
      history.back();
    },
    async searchChange(master) {
      let data = null;
      switch (master) {
        case 'item-sub-category':
          data = await this.master.dataMaster(master, { code: this.form.itemSubCategoryCode });
          this.form.itemSubCategoryCode = data.data.code;
          this.form.itemSubCategoryName = data.data.name;
          break;
        case 'unit-of-measure':
          data = await this.master.dataMaster(master, { code: this.form.unitOfMeasureCode });
          this.form.unitOfMeasureCode = data.data.code;
          this.form.unitOfMeasureName = data.data.name;
          break;
        case 'item-brand':
          data = await this.master.dataMaster(master, { code: this.form.itemBrandCode });
          this.form.itemBrandCode = data.data.code;
          this.form.itemBrandName = data.data.name;
          break;
        case 'color':
          data = await this.master.dataMaster(master, { code: this.form.colorCode });
          this.form.colorCode = data.data.code;
          this.form.colorName = data.data.name;
          break;
        case 'item-classification':
          data = await this.master.dataMaster(master, { code: this.form.itemClassificationCode });
          this.form.itemClassificationCode = data.data.code;
          this.form.itemClassificationName = data.data.name;
          this.form.assemblyStatus = data.data.assemblyStatus === 1 ? true : false;
          this.form.salesOrderStatus = data.data.salesOrderStatus === 1 ? true : false;
          break;
        case 'catalog':
          data = await this.master.dataMaster(master, { code: this.form.unitOfMeasureCode });
          this.form.defaultItemCatalogCode = data.data.code;
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'item-sub-category':
          this.$dialog.open(LookUpSubCategory, {
            props: { header: 'Search Master Item Sub Category', style: { width: '50vw' }, modal: true },
            data: { module: 'item-sub-category' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.itemSubCategoryCode = data.code;
                this.form.itemSubCategoryName = data.name;
                this.form.itemCategoryCode = data.itemCategoryCode;
                this.form.itemCategoryName = data.itemCategoryName;
                this.form.itemDivisionCode = data.itemDivisionCode;
                this.form.itemDivisionName = data.itemDivisionName;
              }
            },
          });
          break;
        case 'unit-of-measure':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Unit Of Measure', style: { width: '50vw' }, modal: true },
            data: { module: 'unit-of-measure' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.unitOfMeasureCode = data.code;
                this.form.unitOfMeasureName = data.name;
              }
            },
          });
          break;
        case 'item-brand':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Item Brand', style: { width: '50vw' }, modal: true },
            data: { module: 'item-brand' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.itemBrandCode = data.code;
                this.form.itemBrandName = data.name;
              }
            },
          });
          break;
        case 'color':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Color', style: { width: '50vw' }, modal: true },
            data: { module: 'color' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.colorCode = data.code;
                this.form.colorName = data.name;
              }
            },
          });
          break;
        case 'item-classification':
          this.$dialog.open(LookupItemClassification, {
            props: { header: 'Search Master Item Classification', style: { width: '50vw' }, modal: true },
            data: { module: 'item-classification' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.itemClassificationCode = data.code;
                this.form.itemClassificationName = data.name;
                this.form.assemblyStatus = data.assemblyStatus === 1 ? true : false;
                this.form.salesOrderStatus = data.salesOrderStatus === 1 ? true : false;
              }
            },
          });
          break;
        case 'catalog':
          this.$dialog.open(LookUpCatalog, {
            props: { header: 'Search Master Catalog', style: { width: '50vw' }, modal: true },
            data: { module: 'item-jn-catalog-number/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                // let detail = {
                //   catalogNo: data.catalogNo,
                //   remark: data.remark,
                // };
                // this.detail.push(detail);

                this.form.defaultItemCatalogCode = data.code;
              }
            },
          });
          break;

        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'catalogNo':
          data['catalogNo'] = this.detail[index].catalogNo = data['catalogNo'];
          break;
        case 'remark':
          data['remark'] = this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
    },
    addRow() {
      let detail = {
        catalogNo: '',
        remark: '',
      };
      this.detail.push(detail);
    },
    remove(row) {
      this.detail.splice(row.index, 1);
    },
  },
};
</script>
