<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-10">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Setting Data Protection</div>
					</div>
				</div>
				<form class="col-12 md:col-6">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="isSubmit" @keyup="checkSpecial" required="true" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Month</label>
						<div class="col-12 md:col-9">
								<Dropdown v-model="form.monthPeriod" :options="form.dropdownMonth" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Month" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Years</label>
						<div class="col-12 md:col-9">
								<Dropdown v-model="form.yearPeriod" :options="form.dropdownYear" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Year" />
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-3 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import { dataMonths, dataYears } from '@/setting/data';
import { getParam, regexRemove } from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';
export default {
	data: () => ({
		setting: new SettingControllers(),
		isError: false,
		isSubmit: false,
		form: {
			code: "",
			monthPeriod: null,
			dropdownMonth: null,
			yearPeriod: null,
			dropdownYear: null,
		}
	}),
	created() {
		if(getParam("code")){
			this.isSubmit = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
		this.form.monthPeriod = String(("0" + (new Date().getMonth() + 1)).slice(-2));
		this.form.dropdownMonth = dataMonths;
		this.form.yearPeriod = String(new Date().getFullYear());
		this.form.dropdownYear = dataYears;
		// console.log(this.form);
	},
	methods: {
		checkSpecial() {
			this.form.code = regexRemove([" ",".",","],this.form.code).toUpperCase();
		},
		async getData(data) {
			let temp = await this.setting.dataSetting('data-protect', {code:data});
			this.form.monthPeriod = String(("0" + temp.data.monthPeriod.toString()));
			this.form.yearPeriod = temp.data.yearPeriod.toString();
		},
		async submit() {
			let BreakException =[]
			this.isError = false;
			try{
				if(this.form.code == "" || this.form.code == null){
					this.isError = true
					this.$toast.add({severity: 'warn', summary: "Code can't be null!", life: 3000})
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if(this.isSubmit){
				await this.setting.updateSetting('data-protect', this.form);
			}else{
				await this.setting.saveSetting('data-protect', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
	}
}
</script>
