<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Payment Request" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Payment Request No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" @date-select="setDueDate()" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment To *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.paymentTo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 md:col-4">Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="type" value="1" v-model="form.transactionType" :disabled="isUpdate" @change="onChangeOptionDepositType()" />
                      <label for="1">Regular</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="type" value="0" v-model="form.transactionType" :disabled="isUpdate" @change="onChangeOptionDepositType()" />
                      <label for="0">Deposit</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Deposit Type</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorDepositTypeCode" placeholder="Enter depositType" :disabled="form.transactionType == '1'" @change="searchChange('vendor-deposit-type')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" :disabled="form.transactionType == '1'" @click="lookUpMaster('vendor-deposit-type')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorDepositTypeName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.vendorDepositTypeChartOfAccountCode" placeholder="Chart Of Account" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" @change="searchChange('vendor')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vendor')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" @change="searchChange('payment-term')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :disabled="true" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Amount</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup"><InputNumber v-model="form.totalTransactionAmount" class="p-inputnumber-sm" inputClass="text-right" mode="decimal" :minFractionDigits="2" /><span>(Credit)</span></div>
                  </div>
                </div>

                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" :disabled="confirmDisable" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>

        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            v-model:selection="selectedRows"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <Button icon="pi pi-search" label="Search Document" class="p-button-sm p-button-warning" style="width: 10rem; margin-right: 70em" :disabled="form.transactionType == '0'" @Click="lookupAddRow" />
                &nbsp;
                <Button icon="pi pi-plus" label="AddRow Other" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addrow" :disabled="form.transactionType == '0'" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" :disabled="form.transactionType == '0'" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="documentNo" header="Document No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="documentType" header="Document Type" style="white-space: nowrap; width: 8rem"></Column>
            <Column field="documentBranchCode" header="Document Branch" style="white-space: nowrap; width: 8rem"></Column>
            <Column field="documentDate" header="Document Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="chartOfAccountCode" header="Chart Of Account Code *" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" :disabled="form.transactionType == 0" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCoaDetail(data, field, index)" :disabled="form.transactionType == 0" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="departmentCode" header="Department Code *" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpDepartmentDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="departmentName" header="Department Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
            </Column>
            <Column field="dueDate" header="Due Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="amount" header="Doc Amount(Foreign)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.amount) }}</template>
            </Column>
            <Column field="amountIDR" header="Doc Amount(IDR)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.amountIDR) }}</template>
            </Column>
            <Column field="balance" header="Balance(Foreign)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.balance) }}</template>
            </Column>
            <Column field="balanceIDR" header="Balance(IDR)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceIDR) }}</template>
            </Column>
            <Column field="transactionStatus" header="TransactionStatus" style="white-space: nowrap; width: 15rem; text-align: center"></Column>
            <Column field="debit" header="Debit(Foreign) *" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.debit < 1 }">{{ decimalCurrency(slotProps.data.debit) }}</span></template
              >
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" :disabled="form.transactionType == 0" /></template>
            </Column>
            <Column field="credit" header="Credit(Foreign) *" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" :disabled="form.transactionType == 0" /></template>
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.credit) }}</template>
            </Column>
            <Column field="debitIDR" header="Debit(IDR) *" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" :disabled="form.transactionType == 0" /></template>
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.debitIDR) }}</template>
            </Column>
            <Column field="creditIDR" header="Credit(IDR) *" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" :disabled="form.transactionType == 0" /></template>
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.creditIDR) }}</template>
            </Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" /></template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-8 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold"></label>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Foreign</label>
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">IDR</label>
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalDebitForeignAmount)" style="text-align: right" v-model="totalDebitForeignAmount" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalDebitIDRAmount)" style="text-align: right" v-model="totalDebitIDRAmount" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalCreditForeignAmount)" style="text-align: right" v-model="totalCreditForeignAmount" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalCreditIDRAmount)" style="text-align: right" v-model="totalCreditIDRAmount" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Balance</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalBalanceForeignAmount)" style="text-align: right" v-model="totalBalanceForeignAmount" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalBalanceIDRAmount)" style="text-align: right" v-model="totalBalanceIDRAmount" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
// import LookUpItem from '@/components/lookup/master/LookUpItem';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpDepositTypePerBranch from '@/components/lookup/master/LookUpDepositTypePerBranch';
import LookUpCatalog from '@/components/lookup/master/LookUpCatalog';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import LookUpSearchDocument from '@/components/lookup/finance/LookUpSearchDocument';
import { getParam, decimalCurrency, removeCommas, uniqueElementsBy } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpPaymentTerm from '@/components/lookup/master/LookUpPaymentTerm';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    isError: false,
    isUpdate: false,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingArDetails: false,
    loadingDetails: false,
    loadingStockDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      paymentTo: null,
      transactionType: '1',
      depositTypeCode: null,
      depositTypeName: null,
      vendorDepositTypeChartOfAccountCode: null,
      vendorDepositTypeChartOfAccountName: null,
      vendorCode: null,
      vendorName: null,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: 0,
      dueDate: store.state.currentDate,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: null,
      chartOfAccountCode: null,
      chartOfAccountName: null,
      exchangeRate: 1,
      vendorDepositTypeCode: null,
      vendorDepositTypeName: null,
      totalTransactionAmount: 0.0,
      refNo: null,
      remark: null,
    },
    totalDebitForeignAmount: 0,
    totalCreditForeignAmount: 0,
    totalDebitIDRAmount: 0,
    totalCreditIDRAmount: 0,
    totalBalanceForeignAmount: 0,
    totalBalanceIDRAmount: 0,
    vatDivision: store.state.defaultVatDivision,
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.isUpdate = true;
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
    this.searchChange('currency');
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.branchCode || !this.form.paymentTo || !this.form.paymentTermCode || !this.form.currencyCode || !this.form.totalTransactionAmount || (this.form.transactionType == 0 && !this.form.vendorDepositTypeCode);
    },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    btnConfirm() {
      if (this.isConfirm == false) {
        this.detail = [];
        this.resetSummary();
      } else {
        if (this.form.transactionType == '0') {
          this.addrowDepositType();
        } else {
          this.detail = [];
        }
        if (getParam('code')) {
          this.getListDetail();
        }
      }
    },
    addrowDepositType() {
      let detail = {
        documentNo: '',
        documentDate: '',
        chartOfAccountCode: this.form.vendorDepositTypeChartOfAccountCode,
        chartOfAccountName: this.form.vendorDepositTypeChartOfAccountName,
        currencyCode: this.form.currencyCode,
        exchangeRate: 1,
        departmentCode: '',
        departmentName: '',
        dueDate: '',
        amount: 0,
        amountIDR: 0,
        balanceIDR: 0,
        transactionStatus: 'Other',
        debit: this.form.totalTransactionAmount,
        balance: 0,
        credit: 0,
        debitIDR: this.form.totalTransactionAmount,
        creditIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
      this.calculationSummary();
    },
    addrow() {
      let detail = {
        documentNo: '',
        documentDate: '',
        chartOfAccountCode: '',
        chartOfAccountName: '',
        currencyCode: this.form.currencyCode,
        exchangeRate: 1,
        departmentCode: '',
        departmentName: '',
        dueDate: '',
        amount: 0,
        amountIDR: 0,
        balanceIDR: 0,
        transactionStatus: 'Other',
        debit: 0,
        balance: 0,
        credit: 0,
        debitIDR: 0,
        creditIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
    },

    lookupAddRow() {
      this.$dialog.open(LookUpSearchDocument, {
        props: { header: 'Search Document', style: { width: '90vw' }, modal: true },
        data: { financeDocumentID: 'PYQ', module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                documentNo: datas.documentNo,
                documentType: datas.documentType,
                documentBranchCode: datas.documentBranchCode,
                documentDate: datas.transactionDate,
                chartOfAccountCode: datas.chartOfAccountCode,
                chartOfAccountName: datas.chartOfAccountName,
                currencyCode: datas.currencyCode,
                exchangeRate: datas.exchangeRate,
                departmentCode: '',
                dueDate: datas.dueDate,
                amount: datas.grandTotalAmount,
                amountIDR: Number(datas.grandTotalAmount) * Number(datas.exchangeRate),
                balance: Number(datas.grandTotalAmount) - Number(datas.paidAmount),
                balanceIDR: (Number(datas.grandTotalAmount) - Number(datas.paidAmount)) * Number(datas.exchangeRate),
                transactionStatus: 'Transaction',
                debit: datas.debit,
                credit: datas.credit,
                debitIDR: Number(datas.debit) * Number(datas.exchangeRate),
                creditIDR: Number(datas.credit) * Number(datas.exchangeRate),
                remark: '',
              };
              !this.detail ? (this.detail = []) : this.detail.push(detail);
              this.calculationSummary();
            });
          }
          this.detail = uniqueElementsBy(this.detail, (a, b) => a.documentNo == b.documentNo);
        },
      });
    },
    remove(index) {
      this.detail.splice(index, 1);
      this.calculationSummary();
    },
    lookUpCoaDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].chartOfAccountCode = data.code;
            this.detail[index].chartOfAccountName = data.name;
          }
        },
      });
    },
    lookUpDepartmentDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Department', style: { width: '50vw' }, modal: true },
        data: { module: 'department' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].departmentCode = data.code;
            this.detail[index].departmentName = data.name;
          }
        },
      });
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('payment-request', { code: data });
      this.form = temp.data;
      this.form.transactionType = temp.data.transactionType === 'REGULAR' ? '1' : '0';
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('payment-request/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary();
      return this.detail;
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.departmentCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Department can't be Empty!", life: 3000 });
            throw BreakException;
          }
          if (datas.chartOfAccountCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : COA can't be Empty!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });

        // cek balance apabila foreign or IDR
        if (this.form.currencyCode === 'IDR') {
          if (this.totalBalanceIDRAmount !== 0) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: '' + 'Balance IDR Must be 0', life: 3000 });
            throw BreakException;
          }
        } else {
          if (this.totalBalanceForeignAmount !== 0) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: '' + 'Balance Foreign Must be 0', life: 3000 });
            throw BreakException;
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transactionType = this.form.transactionType === '1' ? 'REGULAR' : 'DEPOSIT';
        //Add Grid Detail
        // console.log( this.detail)
        this.detail = this.detail.map((item) => {
          return {
            documentNo: item.documentNo,
            documentBranchCode: item.documentBranchCode,
            documentDate: moment(item.documentDate == '' ? '01-01-1900' : item.documentDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
            documentType: item.documentType,
            currencyCode: item.currencyCode,
            exchangeRate: item.exchangeRate,
            departmentCode: item.departmentCode,
            chartOfAccountCode: item.chartOfAccountCode,
            transactionStatus: item.transactionStatus,
            credit: item.credit,
            debit: item.debit,
            remark: item.remark,
          };
        });

        formSubmit.listPaymentRequestDetail = this.detail;
        if (this.submitted) {
          await this.finance.updateFinance('payment-request', formSubmit);
        } else {
          await this.finance.saveFinance('payment-request', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'vendor':
          temp = await this.master.dataMaster(master, { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'vendor-deposit-type':
          temp = await this.master.dataMaster(master + '/per-branch', { code: this.form.vendorDepositTypeCode, branchCode: this.form.branchCode });
          if (temp) {
            this.form.vendorDepositTypeCode = temp.data.code;
            this.form.vendorDepositTypeName = temp.data.name;
            this.form.vendorDepositTypeChartOfAccountCode = temp.data.chartOfAccountCode;
          } else {
            this.form.vendorDepositTypeCode = null;
            this.form.vendorDepositTypeName = null;
            this.form.vendorDepositTypeChartOfAccountCode = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = 0;
          }
          this.setDueDate();
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'vendor':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Currency', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'vendor-deposit-type':
          this.$dialog.open(LookUpDepositTypePerBranch, {
            props: { header: 'Search Master Vendor Deposit Type', style: { width: '50vw' }, modal: true },
            data: { branchCode: this.form.branchCode, module: 'vendor-deposit-type/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorDepositTypeCode = data.code;
                this.form.vendorDepositTypeName = data.name;
                this.form.vendorDepositTypeChartOfAccountCode = data.chartOfAccountCode;
                this.form.vendorDepositTypeChartOfAccountName = data.chartOfAccountName;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookUpPaymentTerm, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
                this.setDueDate();
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpCatalogDetail(data, field, index) {
      this.$dialog.open(LookUpCatalog, {
        props: { header: 'Search Master Catalog', style: { width: '50vw' }, modal: true },
        data: { module: 'item-jn-catalog-number/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].catalogNo = data.code;
          }
        },
      });
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'chartOfAccountCode':
          temp = await this.master.dataMaster('chart-of-account', { code: newValue });
          if (temp) {
            data['chartOfAccountCode'] = this.detail[index].discountTypeCode = temp.data.code;
            data['chartOfAccountName'] = this.detail[index].chartOfAccountName = temp.data.name;
          } else {
            data['chartOfAccountCode'] = this.detail[index].discountTypeCode = '';
            data['chartOfAccountName'] = this.detail[index].chartOfAccountName = '';
          }

          break;
        case 'departmentCode':
          temp = await this.master.dataMaster('department', { code: newValue });
          if (temp) {
            data['departmentCode'] = this.detail[index].departmentCode = temp.data.code;
            data['departmentName'] = this.detail[index].departmentName = temp.data.name;
          } else {
            data['departmentCode'] = this.detail[index].departmentCode = '';
            data['departmentName'] = this.detail[index].departmentName = '';
          }
          break;
        default:
          data[field] = newValue;
          break;
      }
    },

    // calculateTotalDetail(index) {
    //   this.detail[index].nettPrice = this.detail[index].price - this.detail[index].discountAmount;
    //   this.detail[index].totalAmount = this.detail[index].nettPrice * this.detail[index].quantity;
    //   this.calculationSummary();
    // },

    onChangeOptionDepositType() {
      this.form.vendorDepositTypeCode = '';
      this.form.vendorDepositTypeName = '';
      this.form.vendorDepositTypeChartOfAccountCode = '';
    },
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'debit':
          this.detail[index].debit = data['debit'];
          this.detail[index].debitIDR = data['debit'] * data['exchangeRate'];
          break;
        case 'credit':
          this.detail[index].credit = data['credit'];
          this.detail[index].creditIDR = data['credit'] * data['exchangeRate'];
          break;
        // case 'debitIDR':
        //   this.detail[index].debitIDR = data['debitIDR'];
        //   break;
        // case 'creditIDR':
        //   this.detail[index].creditIDR = data['creditIDR'];
        //   break;
        case 'chartOfAccountCode':
          this.detail[index].chartOfAccountCode = data['chartOfAccountCode'];
          break;
        case 'departmentCode':
          this.detail[index].departmentCode = data['departmentCode'];
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        default:
          break;
      }
      this.calculationSummary();
    },
    resetSummary() {
      this.totalDebitForeignAmount = 0;
      this.totalCreditForeignAmount = 0;
      this.totalDebitIDRAmount = 0;
      this.totalCreditIDRAmount = 0;
      this.totalBalanceForeignAmount = 0;
      this.totalBalanceIDRAmount = 0;
    },
    calculationSummary() {
      this.totalDebitForeignAmount = 0;
      this.totalCreditForeignAmount = Number(this.form.totalTransactionAmount);
      this.totalDebitIDRAmount = 0;
      this.totalCreditIDRAmount = Number(this.form.totalTransactionAmount);
      this.detail.forEach((datas) => {
        this.totalDebitForeignAmount += parseFloat(datas.debit);
        this.totalCreditForeignAmount += parseFloat(datas.credit);
        this.totalDebitIDRAmount += parseFloat(datas.debit) * parseFloat(datas.exchangeRate);
        this.totalCreditIDRAmount += parseFloat(datas.credit) * parseFloat(datas.exchangeRate);
      });
      this.totalBalanceForeignAmount = this.totalDebitForeignAmount - this.totalCreditForeignAmount;
      this.totalBalanceIDRAmount = this.totalDebitIDRAmount - this.totalCreditIDRAmount;

      if (this.detail.length == 0) {
        this.resetSummary();
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    formatDate(val) {
      if (val == '') {
        return '';
      }
      return moment(val, 'DD/MM/YYYY').format('DD/MM/YYYY');
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
