<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Payment Request</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <template v-slot:end>
              <div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="printData" /></div>
              <div class="col-4 p-1 m-0"><FileUpload mode="basic" accept="xlsx/*" :maxFileSize="1000000" label="Import" chooseLabel="Import" class="p-button-warning text-center" /></div>
              <div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-upload" class="p-button-warning text-center" /></div>
            </template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">PYM-RQ No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Payment Request" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Type</label>
                    <div class="col-12 md:col-8 m-0 p-2">
                      <Dropdown v-model="btnType" :options="btnTypeList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Status</label>
                    <div class="col-12 md:col-8 m-0 p-2">
                      <Dropdown v-model="btnApprovalStatus" :options="btnApprovalStatusList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="md:col-3 mt-2 m-0 p-1" />
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-12 md:col-5 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                    <div class="col-12 md:col-7 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0 py-1" style="justify-content: right">
                  <div class="col-6 md:col-2 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 10em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="approvalStatus" header="Status" style="min-width: 10em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="code" header="Payment Request Code" style="min-width: 14em" :sortable="true"></Column>
              <Column field="branchCode" header="Branch" style="min-width: 8em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="currencyCode" header="Currency" style="min-width: 8em" :sortable="true"></Column>
              <Column field="totalTransactionAmount" header="Amount" style="min-width: 10em; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalTransactionAmount) }}</template>
              </Column>
              <Column field="transactionType" header="Type" style="min-width: 10em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <div class="col-12 m-0 p-0">
              <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
            </div>
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="documentNo"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="documentNo" header="Document No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="documentType" header="Document Type" style="min-width: 12em" :sortable="true" hidden></Column>
              <Column field="documentDate" header="Document Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="chartOfAccountCode" header="COA Code" style="min-width: 12em"></Column>
              <Column field="chartOfAccountName" header="COA Name" style="min-width: 15em; white-space: nowrap"></Column>
              <Column field="departmentCode" header="Department Code" style="min-width: 12em"></Column>
              <Column field="currencyCode" header="Currency" style="min-width: 6em"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="min-width: 8em; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
              </Column>
              <Column field="remark" header="Remark" style="min-width: 12em"></Column>
              <Column field="debit" header="Debit" style="min-width: 12em; display: flex; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.debit) }}</template>
              </Column>
              <Column field="credit" header="Credit" style="min-width: 12em; display: flex; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.credit) }}</template>
              </Column>
            </DataTable>
          </div>
          <div class="grid col-12 m-0 p-0" style="justify-content: right">
            <div class="grid col-6 m-0 p-0" style="justify-content: right"></div>
            <div class="grid col-6 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-8 m-0 p-0">
                <h4 class="col-12 pt-3 md:p-0 p-0 m-0" style="text-align: right">Summary</h4>
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold"></label>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Foreign</label>
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">IDR</label>
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalDebitForeignAmount)" style="text-align: right" v-model="totalDebitForeignAmount" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalDebitIDRAmount)" style="text-align: right" v-model="totalDebitIDRAmount" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalCreditForeignAmount)" style="text-align: right" v-model="totalCreditForeignAmount" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalCreditIDRAmount)" style="text-align: right" v-model="totalCreditIDRAmount" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Balance</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalBalanceForeignAmount)" style="text-align: right" v-model="totalBalanceForeignAmount" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(totalBalanceIDRAmount)" style="text-align: right" v-model="totalBalanceIDRAmount" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import moment from 'moment';

export default {
  data: () => ({
    finance: new FinanceControllers(),
    code: null,
    btnApprovalStatus: 'PENDING',
    btnApprovalStatusList: [
      { name: 'ALL', code: 'ALL' },
      { name: 'PENDING', code: 'PENDING' },
      { name: 'APPROVED', code: 'APPROVED' },
      { name: 'REJECTED', code: 'REJECTED' },
    ],
    btnType: 'ALL',
    btnTypeList: [
      { name: 'ALL', code: 'ALL' },
      { name: 'REGULAR', code: 'REGULAR' },
      { name: 'DEPOSIT', code: 'DEPOSIT' },
    ],
    list: [],
    listDetail: [],
    searchCode: '',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    approvalStatus: 'ALL',
    closingStatus: 'ALL',
    documentDate: '',
    searchRefNo: '',
    searchRemark: '',
    documentNo: '',
    chartOfAccountCode: '',
    chartOfAccountName: '',
    currencyCode: '',
    exchangeRate: '',
    remarkDetail: '',
    totalDebitForeignAmount: 0,
    totalCreditForeignAmount: 0,
    totalDebitIDRAmount: 0,
    totalCreditIDRAmount: 0,
    totalBalanceForeignAmount: 0,
    totalBalanceIDRAmount: 0,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,

    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionType: this.btnType,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        approvalStatus: this.btnApprovalStatus,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('payment-request', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      this.resetSummary();
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      // alert(this.code);
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('payment-request/detail', field);
      this.loadingDetails = false;
      this.listDetail = temp.data;

      this.totalDebitForeignAmount = 0;
      this.totalDebitIDRAmount = 0;
      this.listDetail.forEach((datas) => {
        this.totalDebitForeignAmount += parseFloat(datas.debit);
        this.totalCreditForeignAmount += parseFloat(datas.credit);
        this.totalDebitIDRAmount += parseFloat(datas.debit) * parseFloat(datas.exchangeRate);
        this.totalCreditIDRAmount += parseFloat(datas.credit) * parseFloat(datas.exchangeRate);
      });

      // this.debit = event.data.debit;
      //   this.credit = event.data.credit;
      //   this.balance = event.data.balance;
      return this.listDetail;
    },
    createData() {
      this.$router.push({ path: '/finance/payment-request/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      if (this.approvalStatus === 'APPROVED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Approved !', life: 3000 });
        return;
      }

      if (this.approvalStatus === 'REJECTED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Approved !', life: 3000 });
        return;
      }

      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/finance/payment-request/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      if (this.approvalStatus === 'APPROVED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Approved !', life: 3000 });
        return;
      }

      if (this.approvalStatus === 'REJECTED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Approved !', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.finance.deleteFinance('payment-request', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.approvalStatus = event.data.approvalStatus;
        this.totalCreditForeignAmount = event.data.totalTransactionAmount;
        this.totalCreditIDRAmount = event.data.totalTransactionAmount;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    resetSummary() {
      this.totalDebitForeignAmount = 0;
      this.totalCreditForeignAmount = 0;
      this.totalDebitIDRAmount = 0;
      this.totalCreditIDRAmount = 0;
      this.totalBalanceForeignAmount = 0;
      this.totalBalanceIDRAmount = 0;
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
