<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">User</div>
          </div>
        </div>
        <form class="col-12 md:col-7">
          <div class="field grid" style="display: none">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Code</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Full Name</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.fullName" placeholder="Enter full name" />
              <small class="p-invalid" v-if="submitted && !form.fullName">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">username</label>
            <div class="col-12 md:col-8">
              <InputText type="text" v-model="form.username" placeholder="Enter username" :disabled="submitted" @keyup="checkSpecial" />
              <small class="p-invalid" v-if="submitted && !form.username">Username is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">password</label>
            <div class="col-12 md:col-8">
              <Password v-model="form.password" toggleMask></Password>
              <small class="p-invalid" v-if="submitted && !form.password">Password is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Re-Password</label>
            <div class="col-12 md:col-8">
              <Password v-model="form.repassword" toggleMask></Password>
              <small class="p-invalid" v-if="submitted && !form.repassword">Password is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Role</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.roleCode" placeholder="Enter role" @change="searchChange('role')" :class="{ 'p-invalid': isError && form.roleName != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('role')" />
              </div>
            </div>
            <div class="col-6 md:col-4">
              <InputText v-model="form.roleName" placeholder="role name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4">Employee</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.employeeCode" placeholder="Enter employee" @change="searchChange('employee')" :class="{ 'p-invalid': isError && form.employeeName != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('employee')" />
              </div>
            </div>
            <div class="col-6 md:col-4">
              <InputText v-model="form.employeeName" placeholder="employee name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0">Active Status</label>
            <div class="col-12 md:col-8">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-4 md:mb-0"></div>
            <div class="col-6 md:col-4">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-4">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
        <br />
        <div class="p-fluid grid">
          <div class="col-12 md:col-6 pt-1 mt-1">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-4">Default Branch</label>
              <div class="col-6 md:col-8">
                <div class="login-input">
                  <Dropdown v-model="form.defaultBranchCode" :options="form.listBranch" optionValue="code" optionLabel="name" placeholder="Select" />
                </div>
              </div>
            </div>
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listBranch">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">BRANCH</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('branch')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeBranch(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Branch Code" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="name" header="Branch Name" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
          </div>
          <div class="col-12 md:col-6 pt-1 mt-1">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-4">Default Warehouse</label>
              <div class="col-6 md:col-8">
                <div class="login-input">
                  <Dropdown v-model="form.defaultWarehouseCode" :options="form.listWarehouse" optionValue="code" optionLabel="name" placeholder="Select" />
                </div>
              </div>
            </div>
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listWarehouse">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">WAREHOUSE</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('warehouse')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeWarehouse(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Warehouse Code" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="name" header="Warehouse Name" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
          </div>
          <div class="col-12 md:col-6 pt-1 mt-1">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-4">Default Cash Account</label>
              <div class="col-6 md:col-8">
                <div class="login-input">
                  <Dropdown v-model="form.defaultCashAccountCode" :options="form.listCashAccount" optionValue="code" optionLabel="name" placeholder="Select" />
                </div>
              </div>
            </div>
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listCashAccount">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">CASH ACCOUNT</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('cash-account')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeCashAccount(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Cash Account Code" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="name" header="Cash Account Name" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
          </div>
          <div class="col-12 md:col-6 pt-1 mt-1">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-4">Default Bank Account</label>
              <div class="col-6 md:col-8">
                <div class="login-input">
                  <Dropdown v-model="form.defaultBankAccountCode" :options="form.listBankAccount" optionValue="code" optionLabel="name" placeholder="Select" />
                </div>
              </div>
            </div>
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listBankAccount">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">BANK ACCOUNT</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('bank-account')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeBankAccount(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Bank Account Code" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="name" header="Bank Account Name" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
          </div>
          <div class="col-12 md:col-6 pt-1 mt-1">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-4">Default Division</label>
              <div class="col-6 md:col-8">
                <div class="login-input">
                  <Dropdown v-model="form.defaultDivisionCode" :options="form.listDivision" optionValue="code" optionLabel="name" placeholder="Select" />
                </div>
              </div>
            </div>
            <div class="field grid">
              <DataTable showGridlines columnResizeMode="expand" responsiveLayout="scroll" dataKey="id" scrollHeight="400px" class="col-12 md:col-12 py-0 editable-cells-table" :resizableColumns="true" editMode="cell" :value="form.listDivision">
                <template #header>
                  <div class="table-header">
                    <label style="font-weight: bold">Division</label>
                    <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('division')" />
                  </div>
                </template>
                <Column header="#" style="width: 2rem">
                  <template #body="{ index }">
                    <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removeDivision(index)" />
                  </template>
                </Column>
                <Column header="No" style="width: 3rem"
                  ><template #body="{ index }">{{ index + 1 }}</template></Column
                >
                <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                  <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
                </Column>
                <Column field="code" header="Division Code" style="white-space: nowrap; width: 15rem"></Column>
                <Column field="name" header="Division Name" style="white-space: nowrap; width: 15rem"></Column>
              </DataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupSetting from '@/components/lookup/master/LookupSetting';
import LookupMultiMaster from '@/components/lookup/master/LookupMultiMaster';
import { getParam, regexRemove, uniqueElementsBy } from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    setting: new SettingControllers(),
    master: new MasterControllers(),
    submitted: false,
    isError: false,
    form: {
      code: '',
      fullName: '',
      username: '',
      password: '',
      repassword: '',
      defaultBranchCode: '',
      defaultWarehouseCode: '',
      defaultCashAccountCode: '',
      defaultBankAccountCode: '',
      defaultDivisionCode: '',
      defaultDivisionName: '',
      roleCode: '',
      roleName: '',
      employeeCode: '',
      employeeName: '',
      activeStatus: true,
      listBranch: [],
      listWarehouse: [],
      listCashAccount: [],
      listBankAccount: [],
      listDivision: [],
    },
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    checkSpecial() {
      this.form.username = regexRemove([' ', '.', ','], this.form.username).toLowerCase();
    },
    removeBranch(row) {
      this.form.listBranch.splice(row.index, 1);
    },
    removeWarehouse(row) {
      this.form.listWarehouse.splice(row.index, 1);
    },
    removeCashAccount(row) {
      this.form.listCashAccount.splice(row.index, 1);
    },
    removeBankAccount(row) {
      this.form.listBankAccount.splice(row.index, 1);
    },
    removeDivision(row) {
      this.form.listDivision.splice(row.index, 1);
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'role':
          temp = await this.setting.dataSetting(master, { code: this.form.roleCode });
          if (temp) {
            this.form.roleCode = temp.data.code;
            this.form.roleName = temp.data.name;
          } else {
            this.form.roleCode = null;
            this.form.roleName = null;
          }
          break;
        case 'employee':
          temp = await this.master.dataMaster(master, { code: this.form.employeeCode });
          if (temp) {
            this.form.employeeCode = temp.data.code;
            this.form.employeeName = temp.data.name;
          } else {
            this.form.employeeCode = null;
            this.form.employeeName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'division':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Division', style: { width: '50vw' }, modal: true },
            data: { module: 'division' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.defaultDivisionCode = data.code;
                this.form.defaultDivisionName = data.name;
              }
            },
          });
          break;
        case 'role':
          this.$dialog.open(LookupSetting, {
            props: { header: 'Search Master Role', style: { width: '50vw' }, modal: true },
            data: { module: 'role' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.roleCode = data.code;
                this.form.roleName = data.name;
              }
            },
          });
          break;
        case 'employee':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Employee', style: { width: '50vw' }, modal: true },
            data: { module: 'employee' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.employeeCode = data.code;
                this.form.employeeName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookupAddRow(modules) {
      switch (modules) {
        case 'branch':
          this.$dialog.open(LookupMultiMaster, {
            props: { header: 'Search Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listBranch ? (this.form.listBranch = []) : this.form.listBranch.push(detail);
                });
                this.form.listBranch = uniqueElementsBy(this.form.listBranch, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        case 'warehouse':
          this.$dialog.open(LookupMultiMaster, {
            props: { header: 'Search Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listWarehouse ? (this.form.listWarehouse = []) : this.form.listWarehouse.push(detail);
                });
                this.form.listWarehouse = uniqueElementsBy(this.form.listWarehouse, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        case 'cash-account':
          this.$dialog.open(LookupMultiMaster, {
            props: { header: 'Search Cash Account', style: { width: '50vw' }, modal: true },
            data: { module: 'cash-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listCashAccount ? (this.form.listCashAccount = []) : this.form.listCashAccount.push(detail);
                });
                this.form.listCashAccount = uniqueElementsBy(this.form.listCashAccount, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        case 'bank-account':
          this.$dialog.open(LookupMultiMaster, {
            props: { header: 'Search Bank Account', style: { width: '50vw' }, modal: true },
            data: { module: 'bank-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listBankAccount ? (this.form.listBankAccount = []) : this.form.listBankAccount.push(detail);
                });
                this.form.listBankAccount = uniqueElementsBy(this.form.listBankAccount, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        case 'division':
          this.$dialog.open(LookupMultiMaster, {
            props: { header: 'Search Division', style: { width: '50vw' }, modal: true },
            data: { module: 'division' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                data.forEach((datas) => {
                  let detail = {
                    code: datas.code,
                    name: datas.name,
                  };
                  !this.form.listDivision ? (this.form.listDivision = []) : this.form.listDivision.push(detail);
                });
                this.form.listDivision = uniqueElementsBy(this.form.listDivision, (a, b) => a.code == b.code);
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async getData(data) {
      let detail = [];
      let temp = await this.setting.dataSetting('user', { code: data });
      this.form = temp.data;
      this.form.repassword = temp.data.password;

      const field = {
        code: this.form.username,
        page: 0,
        size: 1000,
        sort: 'Code,DESC',
      };

      detail = await this.setting.searchSetting('user/branch', field);
      this.form.listBranch = detail.data;
      detail = await this.setting.searchSetting('user/warehouse', field);
      this.form.listWarehouse = detail.data;
      detail = await this.setting.searchSetting('user/cash-account', field);
      this.form.listCashAccount = detail.data;
      detail = await this.setting.searchSetting('user/bank-account', field);
      this.form.listBankAccount = detail.data;
      detail = await this.setting.searchSetting('user/division', field);
      this.form.listDivision = detail.data;
    },
    async submit() {
      let BreakException = [];
      this.isError = false;
      try {
        // if(this.form.password != this.form.repassword){
        // 	this.isError = true
        // 	this.$toast.add({severity: 'warn', summary: "password not match!", life: 3000})
        // 	throw BreakException;
        // }
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (this.form.password != this.form.repassword) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: 'password not match!', life: 3000 });
        return;
      }
      this.form.role = { code: this.form.roleCode };
      if (this.submitted) {
        await this.setting.updateSetting('user', this.form);
      } else {
        await this.setting.saveSetting('user', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
  },
};
</script>
