<template>
	<div class="grid p-fluid">
		<div class="col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12">
						<div class="font-medium text-3xl text-900">User</div>
					</div>
				</div>
				<Toast/>

				<div class="col-12">
					<Toolbar class="mb-12 m-0 py-0 p-2">
						<template v-slot:start>
							<div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
							<div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
							<div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
						</template>
						<template v-slot:end>
							<div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
							<div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
							<div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div>
						</template>
					</Toolbar>

					<Toolbar class="mb-12 m-0 py-0 p-2">
						<template v-slot:start>
							<label class="col-3">Search</label>
							<div class="field grid col-12 p-0 m-1">
								<div class="field grid col-4 p-0 m-1">
									<div class="col-12 p-0 m-0"><InputText type="text" v-model="searchCode" placeholder="By code" class="p-inputtext-sm"/></div>
								</div>
								<div class="field grid col-4 p-0 m-1">
									<div class="col-12 p-0 m-0"><InputText type="text" v-model="searchName" placeholder="By name" class="p-inputtext-sm"/></div>
								</div>
								<div class="field grid col-8 md:col-4 p-0 m-0">
									<SelectButton v-model="rdbStatus" :options="rdbOptions" dataKey="value" optionLabel="name"/>
								</div>
							</div>
						</template>
						<template v-slot:end>
							<div class="col-12 p-1 m-0"><Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList"/></div>
						</template>
					</Toolbar>

					<div class="card mt-3">
						<DataTable showGridlines responsiveLayout="scroll" :resizableColumns="true" columnResizeMode="fit" :loading="loading"
						dataKey="code" scrollHeight="400px" class="col-12 p-0 m-0" :lazy="true" ref="dt"
						selectionMode="single" v-model:selection="selectedRows" :totalRecords="totalRecords"
						:value="list" :paginator="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
						:rows="10" :rowsPerPageOptions="[10,20,50,100]" :rowHover="true" :scrollable="true"
						@rowSelect="onRowSelect" @rowUnselect="onRowUnselect" @page="onPage($event)" @sort="onSort($event)">
						<Column field="Index" header="No" style="max-width:60px; "><template #body="{ index }">{{ (index+1+(meta.page*meta.rows)) }}</template></Column>
						<Column field="username" header="Username" style="white-space: nowrap; " :sortable="true" ></Column>
						<Column field="fullName" header="Full Name" style="white-space: nowrap; " :sortable="true" ></Column>
						<Column field="roleName" header="Role Name" style="white-space: nowrap; " ></Column>
						<Column field="employeeName" header="Employee Name" style="white-space: nowrap; " ></Column>
						<Column field="activeStatus" header="Status" style="white-space: nowrap; display: flex; justify-content: center; max-width:5rem;">
							<template #body="slotProps">
								<span :class="'p-tag p-component p-tag-'+status(slotProps.data.activeStatus,false)">{{status(slotProps.data.activeStatus,true)}}</span>
							</template>
						</Column>
					</DataTable>
				</div>

				<div class="p-fluid grid">
					<div class="col-12 md:col-6 pt-1 mt-1">
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="listBranch"
							:loading="islistBranch"
							>
								<template #header><div class="table-header"><label style="font-weight: bold">BRANCH</label></div></template>
								<Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
								<Column field="code" header="Branch Code" style="white-space: nowrap; width: 15rem"></Column>
								<Column field="name" header="Branch Name" style="white-space: nowrap; width: 15rem"></Column>
							</DataTable>
						</div>
					</div>
					<div class="col-12 md:col-6 pt-1 mt-1">
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="listWarehouse"
							:loading="islistWarehouse"
							>
								<template #header><div class="table-header"><label style="font-weight: bold">WAREHOUSE</label></div></template>
								<Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
								<Column field="code" header="Warehouse Code" style="white-space: nowrap; width: 15rem"></Column>
								<Column field="name" header="Warehouse Name" style="white-space: nowrap; width: 15rem"></Column>
							</DataTable>
						</div>
					</div>
					<div class="col-12 md:col-6 pt-1 mt-1">
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="listCashAccount"
							:loading="islistCashAccount"
							>
								<template #header><div class="table-header"><label style="font-weight: bold">CASH ACCOUNT</label></div></template>
								<Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
								<Column field="code" header="Cash Account Code" style="white-space: nowrap; width: 15rem"></Column>
								<Column field="name" header="Cash Account Name" style="white-space: nowrap; width: 15rem"></Column>
							</DataTable>
						</div>
					</div>
					<div class="col-12 md:col-6 pt-1 mt-1">
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="listBankAccount"
							:loading="islistBankAccount"
							>
								<template #header><div class="table-header"><label style="font-weight: bold">BANK ACCOUNT</label></div></template>
								<Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
								<Column field="code" header="Bank Account Code" style="white-space: nowrap; width: 15rem"></Column>
								<Column field="name" header="Bank Account Name" style="white-space: nowrap; width: 15rem"></Column>
							</DataTable>
						</div>
					</div>
					<div class="col-12 md:col-6 pt-1 mt-1">
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="listDivision"
							:loading="islistDivision"
							>
								<template #header><div class="table-header"><label style="font-weight: bold">Division</label></div></template>
								<Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
								<Column field="code" header="Bank Account Code" style="white-space: nowrap; width: 15rem"></Column>
								<Column field="name" header="Bank Account Name" style="white-space: nowrap; width: 15rem"></Column>
							</DataTable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<Dialog header="Confirmation" v-model:visible="isdelete" :style="{width: '350px'}" :modal="true">
	<div class="confirmation-content">
		<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
		<span>Are you sure you want to delete {{code}}?</span>
	</div>
	<template #footer>
		<Button label="No" icon="pi pi-times" @click="isdelete=false" class="p-button-text"/>
		<Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
	</template>
</Dialog>
</template>

<script>
import {store} from '@/store';
import { getStatus ,valdNull} from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';
import { BaseSettingUrl } from '@/api/endpoint/base'

export default {
	data: () => ({
		setting: new SettingControllers(),
		baseImport: BaseSettingUrl()+'/user/imports?',
		baseExport: BaseSettingUrl()+'/user/exports?',
		basePrint: BaseSettingUrl()+'/user/print?',
		rdbStatus: {name: 'Active', value: true},
		rdbOptions: [
			{name: 'Active', value: true},
			{name: 'InActive', value: false},
			{name: 'All', value: 'All'},
		],
		code: null,
		list: [],
		listBranch: [],
		listWarehouse: [],
		listCashAccount: [],
		listBankAccount: [],
		searchCode: "",
		searchName: "",
		meta :{
			page: 0,
			rows: 10,
			sortField: "code",
			sortOrder: 1,
			filters: null
		},
		totalRecords: 0,
		loading: true,
		islistBranch: false,
		islistWarehouse: false,
		islistCashAccount: false,
		islistBankAccount: false,
		islistDivision: false,
		selectedRows: null,
		selectAll: false,
		isdelete: false,
	}),
	created() {
		this.getList();
	},
	mounted() {
		this.meta = {
			page: 0,
			rows: 10,
			sortField: "code",
			sortOrder: 1
		};
	},
	methods: {
		beforeUpload(request) {
			request.xhr.setRequestHeader('Authorization', 'Bearer '+store.state.token);
      return request;
    },
		onImport(){
      this.$toast.add({severity: 'info', summary: 'Success', detail: 'File Uploaded', life: 3000});
		},
		onExport(){
			this.meta.page = (this.meta.page)? this.meta.page:0;
			const field = {
				title: "setting-user",
				code: this.searchCode,
				name: this.searchName,
				activeStatus: this.rdbStatus.value,
				page: this.meta.page,
				size: this.meta.rows,
				sort: (this.meta.sortOrder == 1) ? valdNull(this.meta.sortField,"code")+','+"ASC":valdNull(this.meta.sortField,"code")+','+"DESC",
			}
			let path = Object.keys(field).map(key => key + '=' + field[key]).join('&')
			window.open(this.baseExport+path);
		},
		onPrint(){
			this.meta.page = (this.meta.page)? this.meta.page:0;
			const field = {
				code: this.searchCode,
				name: this.searchName,
				activeStatus: this.rdbStatus.value,
				page: this.meta.page,
				size: this.meta.rows,
				sort: (this.meta.sortOrder == 1) ? valdNull(this.meta.sortField,"code")+','+"ASC":valdNull(this.meta.sortField,"code")+','+"DESC",
			}
			let path = Object.keys(field).map(key => key + '=' + field[key]).join('&')
			window.open(this.basePrint+path);
		},
		searchList(){
			this.meta.page = 0;
			this.getList();
		},
		async getList() {
			this.loading = true;
			this.meta.page = (this.meta.page)? this.meta.page:0;
			const field = {
				code: this.searchCode,
				name: this.searchName,
				activeStatus: this.rdbStatus.value,
				page: this.meta.page,
				size: this.meta.rows,
				sort: (this.meta.sortOrder == 1) ? valdNull(this.meta.sortField,"code")+','+"ASC":valdNull(this.meta.sortField,"code")+','+"DESC",
			}
			this.selectedRows= null;
			let temp = await this.setting.searchSetting('user', field);
			this.totalRecords = temp.totalData;
			this.loading = false;
			return this.list = temp.data;
		},
		createData() {
			this.$router.push({path: '/setting/user/form'})
		},
		updateData() {
			if(this.code == null){
				this.$toast.add({severity: 'warn', summary: 'Data Not Selected', life: 3000});
				return;
			}
			const param = {
				code: this.code,
			}
			this.$router.push({path: '/setting/user/form',query:param})
		},
		confirmDelete() {
			if(this.code == null){
				this.$toast.add({severity: 'warn', summary: 'Data Not Selected', life: 3000});
				return;
			}
			this.isdelete = true;
		},
		async deleteData() {
			if(this.code == null){
				this.$toast.add({severity: 'warn', summary: 'Data Not Selected', life: 3000});
				return;
			}
			const param = {
				code: this.code,
			}
			await this.setting.deleteSetting('user', param);
			this.$toast.add({severity: 'success', summary: 'Data success delete', life: 3000});
			this.isdelete = false;
			this.getList();
		},
		onRowSelect(event) {
			this.code = event.data.code;
			this.listDetail(event.data.username);
			return event;
		},
		async listDetail(code) {
			let detail = []
			const field = {
				code: code,
				page: 0,
				size: 1000,
				sort: "Code,DESC",
			}
			this.islistBranch = true;
			detail = await this.setting.searchSetting('user/branch', field);
			this.listBranch = detail.data;
			this.islistBranch = false;

			this.islistWarehouse = true;
			detail = await this.setting.searchSetting('user/warehouse', field);
			this.listWarehouse = detail.data;
			this.islistWarehouse = false;

			this.islistCashAccount = true;
			detail = await this.setting.searchSetting('user/cash-account', field);
			this.listCashAccount = detail.data;
			this.islistCashAccount = false;

			this.islistBankAccount = true;
			detail = await this.setting.searchSetting('user/bank-account', field);
			this.listBankAccount = detail.data;
			this.islistBankAccount = false;

			this.islistDivision = true;
			detail = await this.setting.searchSetting('user/division', field);
			this.listDivision = detail.data;
			this.islistDivision = false;

		},
		onRowUnselect(event) {
			this.code = null;
			this.selectedRows= null;
			return event;
		},
		onPage(event) {
			this.meta = event;
			this.getList();
		},
		onSort(event) {
			this.meta = event;
			this.getList();
		},
		status(val, is) {
			return getStatus(val, is);
		},
	},
}
</script>
