<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Assembly Realization" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>ASM-RLZ No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-4">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>ASM-JOB No.*</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.assemblyJobOrderCode" @change="searchChange('asm-job')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('asm-job')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Finish Goods</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.finishGoodsCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.finishGoodsName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">BOM</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billOfMaterialCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.billOfMaterialName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Job Quanitity</label>
                  <div class="col-12 md:col-4">
                    <InputNumber type="text" v-model="form.finishGoodsQuantity" placeholder="0.00" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" @change="searchChange('warehouse')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.warehouseName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">DOCK-IN Rack</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.rackCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.rackName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Realization Quanitity *</b></label>
                  <div class="col-12 md:col-4">
                    <InputNumber type="text" v-model="form.realizationQuantity" placeholder="0.00" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No.</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton onIcon="pi pi-check" offIcon="pi pi-times" v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            style="width: 100%"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="bomDetail"
            :loading="loadingBomDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Base On Job Order Detail</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 12rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 35rem"></Column>
            <Column field="quantity" header="BOM Quantity" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 10rem"></Column>
          </DataTable>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            style="width: 100%"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ASM DETAIL</label>
                <Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @click="lookUpMaster('payment-term')" />
              </div>
            </template>
            <Column header="No" style="width: 3rem">
              <template #body="{ index }">
                {{ index + 1 }}
              </template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 12rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 35rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" style="text-align: right" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 10rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookUpWarehouse from '@/components/lookup/master/LookUpWarehouse';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import LookUpAssemblyJobOrder from '@/components/lookup/inventory/LookUpAssemblyJobOrder';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingBomDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      assemblyJobOrderCode: null,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      warehouseCode: null,
      warehouseName: null,
      finishGoodsCode: null,
      finishGoodsName: null,
      billOfMaterialCode: null,
      billOfMaterialName: null,
      finishGoodsQuantity: 0,
      realizationQuantity: 0,
      refNo: null,
      remark: null,
    },
    detail: [],
    bomDetail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.assemblyJobOrderCode == '' || this.form.assemblyJobOrderCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Assembly Job Order Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.realizationQuantity < 0 || this.form.realizationQuantity == 0) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Realization Quantity can't be 0 !", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.detail = [];
          this.bomDetail = [];
        } else {
          this.getListBomDetail();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('assembly/realization', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
    },
    async getListBomDetail() {
      this.bomDetail = [];
      this.loadingBomDetails = true;
      const field = {
        headerCode: this.form.assemblyJobOrderCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('assembly/job-order/detail', field);
      this.loadingBomDetails = false;
      this.bomDetail = temp.data;

      if (getParam('code')) {
        this.getListUpdateDetail();
      } else {
        this.getListNewDetail();
      }

      return (this.bomDetail = temp.data);
    },
    async getListNewDetail() {
      this.detail = [];
      this.loadingDetails = true;
      let temp = await this.sales.searchInventoryObject('assembly/realization/stock-per-item', '', {
        page: 0,
        size: 1000,
        sort: 'code,ASC',
        listStockDetail: this.bomDetail.map((item) => {
          return {
            itemCode: item.itemCode,
            itemName: item.itemName,
            warehouseCode: this.form.warehouseCode,
            rackCode: this.form.rackDockInCode,
            actualStock:item.quantity
          };
        }),
      });
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async getListUpdateDetail() {
      this.detail = [];
      this.loadingDetails = true;
      let temp = await this.sales.searchInventoryObject('assembly/realization/stock-per-item', '', {
        page: 0,
        size: 1000,
        sort: 'code,ASC',
        listStockDetail: this.bomDetail.map((item) => {
          return {
            itemCode: item.itemCode,
            itemName: item.itemName,
            warehouseCode: this.form.warehouseCode,
            rackCode: this.form.rackDockInCode,
            actualStock:item.quantity,
            transactionCode:this.form.code
          };
        }),
      });
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.listAssemblyJobOrderItemDetail = this.detail;
        if (this.submitted) {
          await this.inventory.updateInventory('assembly/realization', formSubmit);
        } else {
          await this.inventory.saveInventory('assembly/realization', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'asm-job':
          temp = await this.inventory.dataInventory('assembly/job-order', { code: this.form.assemblyJobOrderCode });
          this.form.assemblyJobOrderCode = temp.data.code;
          this.form.branchCode = temp.data.branchCode;
          this.form.branchName = temp.data.branchName;
          this.form.warehouseCode = temp.data.warehouseCode;
          this.form.warehouseName = temp.data.warehouseName;
          this.form.rackCode = temp.data.rackCode;
          this.form.rackName = temp.data.rackName;
          this.form.finishGoodsCode = temp.data.finishGoodsCode;
          this.form.finishGoodsName = temp.data.finishGoodsName;
          this.form.billOfMaterialCode = temp.data.billOfMaterialCode;
          this.form.billOfMaterialName = temp.data.billOfMaterialName;
          this.form.finishGoodsQuantity = temp.data.finishGoodsQuantity;
          break;
        case 'warehouse':
          temp = await this.master.dataMaster(master, { code: this.form.warehouseCode });
          this.form.warehouseCode = temp.data.code;
          this.form.warehouseName = temp.data.name;
          this.form.rackCode = temp.data.rackDockInCode;
          this.form.rackName = temp.data.rackDockInName;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'asm-job':
          this.$dialog.open(LookUpAssemblyJobOrder, {
            props: { header: 'Search Assembly Job Order', style: { width: '90vw' }, modal: true },
            data: { module: 'assembly/job-order' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.assemblyJobOrderCode = data.code;
                this.form.branchCode = data.branchCode;
                this.form.branchName = data.branchName;
                this.form.warehouseCode = data.warehouseCode;
                this.form.warehouseName = data.warehouseName;
                this.form.rackCode = data.rackCode;
                this.form.rackName = data.rackName;
                this.form.finishGoodsCode = data.finishGoodsCode;
                this.form.finishGoodsName = data.finishGoodsName;
                this.form.billOfMaterialCode = data.billOfMaterialCode;
                this.form.billOfMaterialName = data.billOfMaterialName;
                this.form.finishGoodsQuantity = data.finishGoodsQuantity;
              }
            },
          });
          break;
        case 'warehouse':
          this.$dialog.open(LookUpWarehouse, {
            props: { header: 'Search Master Warehouse', style: { width: '50vw' }, modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
                this.form.rackCode = data.rackDockInCode;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          data = await this.master.dataMaster('item', { code: newValue });
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
