<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-8">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Rack</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Code*</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Name*</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
					<label class="col-12 mb-2 md:col-3 md:mb-0">Rack Category*</label>
					<div class="col-12 md:col-9">
						<label for="rack">Rack</label>&nbsp;
						<RadioButton name="rack" value="RACK" v-model="form.rackCategory" :style="{ width: '3em' }" />
						<label for="dockIn">Dock In</label>&nbsp;
						<RadioButton name="dockIn" value="DockIn" v-model="form.rackCategory" :style="{ width: '3em' }" />
					</div>
						</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3">Warehouse*</label>
						<div class="col-6 md:col-4">
							<div class="p-inputgroup">
								<InputText v-model="form.warehouseCode" placeholder="Enter warehouse"  @change="searchChange('warehouse')"  :class="{'p-invalid': isError && form.warehouseCode != ''}"/>
								<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')"/>
							</div>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.warehouseName" placeholder="warehouse name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
						<div class="col-12 md:col-9">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Active Status*</label>
						<div class="col-12 md:col-9">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-3 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster'
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			rackCategory: 'RACK',
			warehouseCode: null,
			warehouseName: null,
			remark: "",
			activeStatus: true,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('rack/get-update',{code:data});
			this.form = temp.data;
			this.form.rackCategory = temp.data.rackCategory === 1 ? true : false;
		},
		async submit() {
			let BreakException =[]
			this.isError = false;
			try{
				if(this.form.code == "" || this.form.code == null){
					this.isError = true
					this.$toast.add({severity: 'warn', summary: "Code can't be null!", life: 3000})
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if(!this.submitted){
				await this.master.updateMaster('rack', this.form);
			}else{
				await this.master.saveMaster('rack', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
		async searchChange(master){
			let data = null;
			switch (master) {
				case "warehouse":
				data = await this.master.dataMaster(master, {code:this.form.warehouseCode});
				
				this.form.warehouseCode = null;
				this.form.warehouseName = null;
				this.form.warehouseCode = data.data.code;
				this.form.warehouseName = data.data.name;
				break
				default:
				break
			}
		},
		lookUpMaster(master){
			switch (master) {
				case "warehouse":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search Warehouse',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.warehouseCode = null;
						this.form.warehouseName = null;
						if (data) {
							this.form.warehouseCode = data.code;
							this.form.warehouseName = data.name;
						}
					}
				});
				break
				default:
				break
			}
		},
	}
}
</script>
