<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Picking List Sales Order" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>PLT-SOD No*</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-4">
                    <InputText type="text" v-model="form.transactionDate" placeholder="AUTO" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Sod No</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderCode" placeholder="Enter Sales Order" disabled />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch </label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" disabled />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Delivery Date</label>
                  <div class="col-12 md:col-4">
                    <InputText v-model="form.requestDeliveryDate" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Sales Person</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesPersonCode" disabled />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.salesPersonName" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-4">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" disabled />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" disabled />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerName" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ship To </label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" disabled />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToName" disabled />
                  </div>
                  <label class="col-12 mb-2 md:col-4">City</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCityCode" disabled />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToCityName" disabled />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.shipToAddress" disabled />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToContactPerson" disabled />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Warehouse</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" placeholder="warehouse" disabled />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.warehouseName" placeholder="warehouse name" disabled />
                  </div>
                  <div class="col-6 md:col-4 pt-1" hidden>
                    <InputText v-model="form.rackDockInCode" placeholder="dock in rack" disabled />
                  </div>
                  <div class="col-6 md:col-4 pt-1" hidden>
                    <InputText v-model="form.rackDockInName" placeholder="dock in rack name" disabled />
                  </div>
                  <div class="col-6 md:col-4 pt-1" hidden>
                    <InputText v-model="form.rackDockDlnCode" placeholder="dock Dln rack" disabled />
                  </div>
                  <div class="col-6 md:col-4 pt-1" hidden>
                    <InputText v-model="form.rackDockDlnName" placeholder="dock Dln rack name" disabled />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            selectionMode="single"
            :value="detail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Picking List Item Detail</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" hidden>
              <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
              </template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="SO Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
            </Column>
            <Column field="processedQuantity" header="Process Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.processedQuantity) }}</template>
            </Column>
            <Column field="balancedQuantity" header="Balance Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balancedQuantity) }}</template>
            </Column>
            <Column field="pickingQuantity" header="PLT-SO Quantity" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.pickingQuantity < 1 }">{{ decimalCurrency(slotProps.data.pickingQuantity) }}</span>
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="salesOrderDetailCode"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            selectionMode="single"
            v-model:selection="selectedRows"
            :value="detailStock"
            :loading="loadingStockDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Realization Item Detail</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" hidden>
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="salesOrderDetailCode" header="Item Code" hidden style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="quantity" header="Quantity" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @change="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 5rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    exchangeRate: 1,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingDetails: false,
    loadingStockDetails: false,
    currencyCode: store.state.defaultCurrencyCode,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: null,
      warehouseCode: null,
      refNo: null,
      remark: null,
    },
    detail: [
      {
        quantity: 0,
        processedQuantity: 0,
        balancedQuantity: 0,
      },
    ],
    detailStock: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.salesOrderCode == '' || this.form.salesOrderCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "SO can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.detailStock = [];
        } else {
          this.getListStockDetail();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getData(data) {
      let temp = await this.sales.dataSales('picking-list-sales-order', { code: data });
      this.form = temp.data;
      this.getListDetail(this.form.salesOrderCode);
    },
    async getListDetail(data) {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        salesOrderCode: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('picking-list-sales-order/so-detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async getListStockDetail() {
      this.detailStock = [];
      this.loadingStockDetails = true;
      let temp = await this.sales.searchSalesObject('picking-list-sales-order/stock-per-item', '', {
        page: 0,
        size: 1000,
        sort: 'code,ASC',
        listStockDetail: this.detail.map((item) => {
          return {
            itemCode: item.itemCode,
            quantity: item.pickingQuantity,
            warehouseCode: this.form.warehouseCode,
            sourceRackCode: this.form.rackDockInCode,
            destinationRackCode: this.form.rackDockDlnCode,
          };
        }),
      });
      this.selectedRows = null;
      this.loadingStockDetails = false;
      this.detailStock = temp.data;
      let stockIndex = this.detailStock.findIndex((item) => item.itemCode);
      if(this.detailStock[stockIndex].itemCode != null){
        this.detailStock = [];
        this.setCheckSOD();
      }
    },
    setCheckSOD() {
        this.detail.filter((datas) => {
            let add = {
              code: '',
              salesOrderDetailCode: datas.code,
              itemCode: datas.itemCode,
              itemName: datas.itemName,
              itemAlias: datas.itemAlias,
              catalogNo:datas.catalogNo,
              quantity: datas.pickingQuantity,
              unitOfMeasureCode:datas.unitOfMeasureCode,
              rackCode: this.form.rackDockInCode,
              rackName: this.form.rackDockInName,
            };
            this.detailStock.push(add);
        });
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detailStock.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          // check quantity
          this.detail.forEach((dataDetail) => {
            if (datas.itemCode === dataDetail.itemCode && datas.quantity > dataDetail.pickingQuantity) {
              this.isError = true;
              this.$toast.add({ severity: 'warn', summary: 'Quantity item : ' + datas.itemCode + ' cannot more than quantity picking list item detail !', life: 3000 });
              throw BreakException;
            }
          });
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.requestDeliveryDate = moment(this.form.requestDeliveryDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        // formSubmit.listPickingListSalesOrderDetail = this.detailStock;
        if (this.submitted) {
          // await this.sales.updateSales('picking-list-sales-order/confirm', formSubmit);
          await this.sales.updateSales('picking-list-sales-order/confirm', {
            code: this.form.code,
            transactionDate: formSubmit.transactionDate,
            salesOrderCode: this.form.salesOrderCode,
            currencyCode: this.currencyCode,
            exchangeRate: this.exchangeRate,
            branchCode: this.form.branchCode,
            shipToCode: this.form.shipToCode,
            warehouseCode: this.form.warehouseCode,
            confirmationStatus: 'CONFIRMED',
            refNo: this.form.refNo,
            remark: this.form.remark,
            listPickingListSalesOrderDetail: this.detailStock.map((item) => {
              return {
                salesOrderDetailCode: item.salesOrderDetailCode,
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                quantity: item.quantity,
                sourceRackCode: item.rackCode,
                destinationRackCode: this.form.rackDockDlnCode,
              };
            }),
          });
        }
        this.cancel();
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detailStock[index].quantity = data['quantity'];
          this.check(data);
          break;
        default:
          break;
      }
    },
    check(data) {
      let BreakException = [];
      if (data.pickingQuantity > data.balancedQuantity) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: " Picking Quantity can't more than balanced Quantity!", life: 3000 });
        throw BreakException;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
