<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-10">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Master Chart Of Account</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Type</label>
            <div class="col-12 md:col-10">
              <SelectButton v-model="rdbCoa" :options="rdbOptions" dataKey="value" optionLabel="name" @change="coaGroup" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
            <div class="col-12 md:col-4">
              <Dropdown v-model="currentGroup" :options="currentGroupOptions" optionLabel="name" />
            </div>
            <div class="col-12 md:col-6 md:p-0">
              <div class="col-12 p-0 m-0 grid">
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText :value="currentGroup.value" :disabled="true" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText v-model="codeHead" :disabled="isPropertyHead" :maxlength="(maxLenght = 2)" :hidden="isPropertyHideHead" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText v-model="codeGroup" :disabled="isPropertyGroup" :maxlength="(maxLenght = 3)" :hidden="isPropertyHideGroup" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText v-model="codeSub1" :disabled="isPropertySub" :maxlength="(maxLenght = 4)" :hidden="isPropertyHideSub" />
                </div>
                <div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem">
                  <InputText v-model="codeSub2" :disabled="isPropertySub" :maxlength="(maxLenght = 3)" :hidden="isPropertyHideSub" />
                </div>
              </div>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-10">
              <InputText type="text" v-model="form.name" placeholder="Enter name" :class="{ 'p-invalid': isError && !form.name }" />
              <small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">PYQ Status</label>
            <div class="col-12 md:col-9">
              <label for="pyqStatus">YES</label>&nbsp;
              <RadioButton name="pyqStatus" value="1" v-model="form.pyqStatus" :style="{ width: '8em' }" />
              <label for="nonpyqStatus">NO</label>&nbsp;
              <RadioButton name="nonpyqStatus" value="0" v-model="form.pyqStatus" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">BBM Status</label>
            <div class="col-12 md:col-9">
              <label for="bbmStatus">YES</label>&nbsp;
              <RadioButton name="bbmStatus" value="1" v-model="form.bbmStatus" :style="{ width: '8em' }" />
              <label for="nonbbmStatus">NO</label>&nbsp;
              <RadioButton name="nonbbmStatus" value="0" v-model="form.bbmStatus" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">BKM Status</label>
            <div class="col-12 md:col-9">
              <label for="bkmStatus">YES</label>&nbsp;
              <RadioButton name="bkmStatus" value="1" v-model="form.bkmStatus" :style="{ width: '8em' }" />
              <label for="nonbkmStatus">NO</label>&nbsp;
              <RadioButton name="nonbkmStatus" value="0" v-model="form.bkmStatus" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">GJM Status</label>
            <div class="col-12 md:col-9">
              <label for="gjmStatus">YES</label>&nbsp;
              <RadioButton name="gjmStatus" value="1" v-model="form.gjmStatus" :style="{ width: '8em' }" />
              <label for="nongjmStatus">NO</label>&nbsp;
              <RadioButton name="nongjmStatus" value="0" v-model="form.gjmStatus" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">ADJ Status</label>
            <div class="col-12 md:col-9">
              <label for="adjStatus">YES</label>&nbsp;
              <RadioButton name="adjStatus" value="1" v-model="form.adjStatus" :style="{ width: '8em' }" />
              <label for="nonadjStatuss">NO</label>&nbsp;
              <RadioButton name="nonadjStatus" value="0" v-model="form.adjStatus" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
            <div class="col-12 md:col-10">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
            <div class="col-12 md:col-10">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-2 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
  data: () => ({
    master: new MasterControllers(),
    submitted: false,
    isError: false,
    rdbCoa: { name: 'Head', value: 'H' },
    currentGroup: { name: 'Current Assets', value: '01' },
    currentGroupOptions: [
      { name: 'Current Assets', value: '01' },
      { name: 'Non Current Assets', value: '02' },
      { name: 'Current Liabilities', value: '03' },
      { name: 'Long Term liabilities', value: '04' },
      { name: 'Capital', value: '05' },
      { name: 'Sales', value: '06' },
      { name: 'Cost Of Goods Sold', value: '07' },
      { name: 'Marketing Expenses', value: '08' },
      { name: 'General And Administration Expenses', value: '09' },
      { name: 'Other Expenses', value: '10' },
      { name: 'Other Revenues', value: '11' },
      { name: 'Income Tax', value: '12' },
    ],
    rdbOptions: [
      { name: 'Head', value: 'H' },
      { name: 'Group', value: 'G' },
      { name: 'Sub', value: 'S' },
    ],
    isPropertyHideHead: false,
    isPropertyHideGroup: true,
    isPropertyHideSub: true,
    isPropertyHead: false,
    isPropertyGroup: true,
    isPropertySub: true,
    codeHead: null,
    codeGroup: null,
    codeSub1: null,
    codeSub2: null,
    form: {
      code: '',
      accountType: '',
      name: '',
      remark: '',
      pyqStatus: '0',
      bbmStatus: '0',
      bkmStatus: '0',
      gjmStatus: '0',
      adjStatus: '0',
      activeStatus: true,
    },
    maxLenght: '',
  }),
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    coaGroup() {
      if (this.rdbCoa.value == 'H') {
        this.isPropertyHead = false;
        this.isPropertyGroup = true;
        this.isPropertySub = true;
        this.isPropertyHideHead = false;
        this.isPropertyHideGroup = true;
        this.isPropertyHideSub = true;
        this.form.code = this.codeHead;
      } else if (this.rdbCoa.value == 'G') {
        this.isPropertyHead = false;
        this.isPropertyGroup = false;
        this.isPropertySub = true;
        this.isPropertyHideHead = false;
        this.isPropertyHideGroup = false;
        this.isPropertyHideSub = true;
        this.form.code = this.codeGroup;
      } else {
        this.isPropertyHead = false;
        this.isPropertyGroup = false;
        this.isPropertySub = false;
        this.isPropertyHideHead = false;
        this.isPropertyHideGroup = false;
        this.isPropertyHideSub = false;
        this.form.code = this.codeSub1;
      }
    },
    async getData(data) {
      let temp = await this.master.dataMaster('chart-of-account', { code: data });
      this.form = temp.data;
      this.rdbCoa.value = this.form.accountType;
      console.log(this.rdbCoa.value);
      this.coaGroup();
      const arrayCode = data.split('-');
      this.currentGroup.value = arrayCode[0];
      this.codeHead = arrayCode[1];
      this.codeGroup = arrayCode[2];
      this.codeSub1 = arrayCode[3];
      this.codeSub2 = arrayCode[4];
      this.form.pyqStatus = this.form.pyqStatus === 1 ? '1' : '0';
      this.form.bbmStatus = this.form.bbmStatus === 1 ? '1' : '0';
      this.form.bkmStatus = this.form.bkmStatus === 1 ? '1' : '0';
      this.form.gjmStatus = this.form.gjmStatus === 1 ? '1' : '0';
      this.form.adjStatus = this.form.adjStatus === 1 ? '1' : '0';
      this.form.activeStatus = this.form.activeStatus === 1 ? true : false;

      //set Asset
      if (this.currentGroup.value === '01') {
        this.currentGroup.name = 'Current Assets';
      } else if (this.currentGroup.value === '02') {
        this.currentGroup.name = 'Non Current Assets';
      } else if (this.currentGroup.value === '03') {
        this.currentGroup.name = 'Current Liabilities';
      } else if (this.currentGroup.value === '04') {
        this.currentGroup.name = 'Long Term liabilities';
      } else if (this.currentGroup.value === '05') {
        this.currentGroup.name = 'Capital';
      } else if (this.currentGroup.value === '06') {
        this.currentGroup.name = 'Sales';
      } else if (this.currentGroup.value === '07') {
        this.currentGroup.name = 'Cost Of Goods Sold';
      } else if (this.currentGroup.value === '08') {
        this.currentGroup.name = 'Marketing Expenses';
      } else if (this.currentGroup.value === '09') {
        this.currentGroup.name = 'General And Administration Expenses';
      } else if (this.currentGroup.value === '10') {
        this.currentGroup.name = 'Other Expenses';
      } else if (this.currentGroup.value === '11') {
        this.currentGroup.name = 'Other Revenues';
      } else if (this.currentGroup.value === '12') {
        this.currentGroup.name = 'Income Tax';
      }
    },

    async submit() {
      if (this.rdbCoa.value == 'H') {
        this.form.accountType = this.rdbCoa.value;
        this.form.code = this.currentGroup.value + '-' + this.codeHead;
      } else if (this.rdbCoa.value == 'G') {
        this.form.accountType = this.rdbCoa.value;
        this.form.code = this.currentGroup.value + '-' + this.codeHead + '-' + this.codeGroup;
      } else {
        this.form.accountType = this.rdbCoa.value;
        this.form.code = this.currentGroup.value + '-' + this.codeHead + '-' + this.codeGroup + '-' + this.codeSub1 + '-' + this.codeSub2;
      }
      let formSubmit = this.form;
      formSubmit.pyqStatus = this.form.pyqStatus === '1' ? true : false;
      formSubmit.bbmStatus = this.form.bbmStatus === '1' ? true : false;
      formSubmit.bkmStatus = this.form.bkmStatus === '1' ? true : false;
      formSubmit.gjmStatus = this.form.gjmStatus === '1' ? true : false;
      formSubmit.adjStatus = this.form.adjStatus === '1' ? true : false;

      let BreakException = [];
      this.isError = false;

      // start validasi
      if (!this.form.code) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (!this.form.name) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }
      // end validasi
      if (this.submitted) {
        await this.master.updateMaster('chart-of-account', formSubmit);
      } else {
        await this.master.saveMaster('chart-of-account', formSubmit);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
  },
};
</script>
