<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="!isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Warehouse Transfer In" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">WHT-IN No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>WHT-OUT No *</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseTransferOutCode" placeholder="Enter wht out no" @change="searchChange()" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookupWarehouseTransferOut()" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Source Warehouse</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.sourceWarehouseCode" placeholder="source warehouse" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.sourceWarehouseName" placeholder="source warehouse name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Destination Warehouse</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.destinationWarehouseCode" placeholder="destination warehouse" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.destinationWarehouseName" placeholder="destination warehouse name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5" hidden>
                    <InputText v-model="form.destinationRackDockInCode" placeholder="Rack Destination warehouse name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5" hidden>
                    <InputText v-model="form.destinationRackDockInName" placeholder="Rack Destination warehouse name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="Enter Ref No" :class="{ 'p-invalid': isError && form.name != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onIcon="pi pi-check" offIcon="pi pi-times" :disabled="confirmDisable" onLabel="Confrim" offLabel="Unlock" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="sourceDetail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header
              ><div class="table-header"><label style="font-weight: bold">WAREHOUSE SOURCE</label></div></template
            >
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span></template
              >
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>

          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="destinationDetail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header
              ><div class="table-header"><label style="font-weight: bold">WAREHOUSE DESTINATION</label></div></template
            >
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps"
                ><span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span></template
              >
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-6 py-3">
            <div class="field grid">
              <div class="col-6 md:col-3"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
  <script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpItemForAdj from '@/components/lookup/master/LookUpItemForAdj';
import LookUpWarehouseTransferOut from '@/components/lookup/inventory/LookUpWarehouseTransferOut';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import moment from 'moment';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    isConfirm: true,
    loadingDetails: false,
    listDetail: [],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      warehouseTransferOutCode: null,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      reasonCode: null,
      reasonName: null,
      sourceWarehouseCode: null,
      sourceWarehouseName: null,
      destinationWarehouseCode: null,
      destinationWarehouseName: null,
      destinationRackDockInCode: null,
      destinationRackDockInName: null,
      unitOfMeasureCode: null,
      rackDockInCode: null,
      rackDockInName: null,
      refNo: null,
      remark: null,
    },
    sourceDetail: [],
    destinationDetail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.warehouseTransferOutCode;
    },
    saveDisable() {
      return !this.sourceDetail.length;
    },
  },
  methods: {
    btnConfirm() {
      if (this.isConfirm == true) {
        this.sourceDetail = [];
        this.destinationDetail = [];
      } else {
        this.getSourceListDetail();
        this.getDestinationListDetail();
      }
    },
    addrow() {
      let sourceDetail = {
        code: '',
        itemCode: '',
        itemName: '',
        unitOfMeasureCode: '',
        quantity: 0,
        rackCode: '',
      };
      this.sourceDetail.push(sourceDetail);
    },
    lookupAddRow() {
      this.$dialog.open(LookUpItemForAdj, {
        props: { header: 'Search Master Item', style: { width: '50vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let sourceDetail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                reasonCode: this.form.reasonCode,
                reasonName: this.form.reasonName,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                rackCode: this.form.rackDockInCode,
                rackName: this.form.rackDockInName,
              };
              this.sourceDetail.push(sourceDetail);
            });
          }
        },
      });
    },
    remove(row) {
      this.sourceDetail.splice(row.index, 1);
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('warehouse-transfer-in', { code: data });
      this.form = temp.data;
      this.form.branchCode = temp.data.branchCode;
      this.form.sourceWarehouseCode = temp.data.sourceWarehouseCode;
    },
    async getSourceListDetail() {
      this.sourceDetail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.warehouseTransferOutCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('warehouse-transfer-out/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      return (this.sourceDetail = temp.data);
    },
    async getDestinationListDetail() {
      this.destinationDetail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.warehouseTransferOutCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('warehouse-transfer-out/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.destinationDetail = temp.data;
      const data = this.destinationDetail.map((row) => {
        return {
          ...row,
          rackCode: this.form.destinationRackDockInCode,
          rackName: this.form.destinationRackDockInName,
        };
      });
      return (this.destinationDetail = data);
    },
    async submit() {
      let formSubmit = this.form;
      formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
      //Add Grid Detail
        formSubmit.listWarehouseTransferInItemDetail = this.destinationDetail;
      if (this.submitted) {
        await this.inventory.updateInventory('warehouse-transfer-in', formSubmit);
      } else {
        await this.inventory.saveInventory('warehouse-transfer-in', formSubmit);
      }
      this.cancel();
    },
    async searchChange() {
      let temp = null;
      if (this.form.warehouseTransferOutCode != '') {
        temp = await this.inventory.dataInventory('warehouse-transfer-out', { code: this.form.warehouseTransferOutCode });
        if (temp) {
          this.form.warehouseTransferOutCode = temp.data.code;
          this.form.branchCode = temp.data.branchCode;
          this.form.branchName = temp.data.branchName;
          this.form.sourceWarehouseCode = temp.data.sourceWarehouseCode;
          this.form.sourceWarehouseName = temp.data.sourceWarehouseName;
          this.form.destinationWarehouseCode = temp.data.destinationWarehouseCode;
          this.form.destinationWarehouseName = temp.data.destinationWarehouseName;
          this.form.destinationRackDockInCode = temp.data.destinationRackDockInCode;
          this.form.destinationRackDockInName = temp.data.destinationRackDockInName;
        }
      } else {
        this.form.branchCode = '';
        this.form.branchName = '';
        this.form.sourceWarehouseCode = '';
        this.form.sourceWarehouseName = '';
        this.form.destinationWarehouseCode = '';
        this.form.destinationWarehouseName = '';
        this.form.destinationRackDockInCode = '';
        this.form.destinationRackDockInName = '';
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'approval-reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'approval-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.reasonCode = data.code;
                this.form.reasonName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookupWarehouseTransferOut() {
      this.$dialog.open(LookUpWarehouseTransferOut, {
        props: { header: 'Search Warehouse Transfer Out', style: { width: '90vw' }, modal: true },
        data: { module: 'warehouse-transfer-out' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.form.warehouseTransferOutCode = data[0].code;
            this.form.branchCode = data[0].branchCode;
            this.form.branchName = data[0].branchName;
            this.form.sourceWarehouseCode = data[0].sourceWarehouseCode;
            this.form.sourceWarehouseName = data[0].sourceWarehouseName;
            this.form.destinationWarehouseCode = data[0].destinationWarehouseCode;
            this.form.destinationWarehouseName = data[0].destinationWarehouseName;
            this.form.destinationRackDockInCode = data[0].destinationRackDockInCode;
            this.form.destinationRackDockInName = data[0].destinationRackDockInName;
          }
        },
      });
    },
    lookUpItemDetail(modules, data, field, index) {
      if (modules == 'reason') {
        this.$dialog.open(LookupMaster, {
          props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
          data: { module: 'approval-reason' },
          onClose: (options) => {
            const data = options.data;
            if (data) {
              this.sourceDetail[index].reasonCode = data.code;
              this.sourceDetail[index].reasonName = data.name;
            }
          },
        });
      }
    },
    async onCellEditComplete(event) {
      let { data, index, newValue, field } = event;
      switch (field) {
        case 'reasonCode':
          data = await this.master.dataMaster('approval-reason', { code: newValue });
          data['reasonCode'] = this.sourceDetail[index].reasonCode = data.data.code;
          data['reasonName'] = this.sourceDetail[index].reasonName = data.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
