<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Warehouse Transfer In</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-2 m-0 p-1">WHT-IN NO</label>
                  <div class="col-12 md:col-8 m-0 p-1">
                    <InputText type="text" v-model="searchCode" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-2 m-0 p-1">Warehouse Source</label>
                  <div class="col-12 md:col-8 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchSourceWarehouseCode" placeholder=" Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchSourceWarehouseName" placeholder="  Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-12 md:col-12 grid m-0 p-0">
                    <div class="col-12 md:col-6 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                    <div class="col-12 md:col-6 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-2 m-0 p-1">Warehouse Dest</label>
                  <div class="col-12 md:col-8 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchDestinationWarehouseCode" placeholder=" Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchDestinationWarehouseName" placeholder=" Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0 py-1" style="justify-content: right">
                  <div class="col-6 md:col-3 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="listHeader"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="code" header="WHT-IN No" style="white-space: nowrap;min-width: 15rem" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap;min-width: 10rem" :sortable="true"></Column>
              <Column field="warehouseTransferOutCode" header="WHT-OUT No" style="white-space: nowrap;min-width: 15rem" :sortable="true"></Column>
              <Column field="sourceWarehouseCode" header="Source Warehouse" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="sourceWarehouseName" header="Source Warehouse Name" style="white-space: nowrap;min-width: 20rem" :sortable="true"></Column>
              <Column field="destinationWarehouseCode" header="Destination Warehouse " style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="destinationWarehouseName" header="Destination Warehouse Name" style="white-space: nowrap;min-width: 20rem" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listSourceDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">Warehouse Source</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap;min-width: 35rem" :sortable="true"></Column>
              <Column field="quantity" header="Quantity" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="rackCode" header="Rack Code" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="rackName" header="Rack Name" style="white-space: nowrap;min-width: 20rem"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDestinationDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">Warehouse Destination</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="quantity" header="Quantity" style="white-space: nowrap"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap"></Column>
              <Column field="rackCode" header="Rack Code" style="white-space: nowrap"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull, removeCommas } from '@/utils/function';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import moment from 'moment';

export default {
  data: () => ({
    inventory: new InventoryControllers(),
    code: null,
    warehouseTransferOutCode: null,
    listHeader: [],
    listSourceDetail: [],
    listDestinationDetail: [],
    searchCode: '',
    searchWarehouseTransferOutCode: '',
    searchSourceWarehouseCode: '',
    searchSourceWarehouseName: '',
    searchDestinationWarehouseCode: '',
    searchDestinationWarehouseName: '',
    searchRefNo: '',
    searchRemark: '',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,

    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listSourceDetail = [];
      this.listDestinationDetail = [];
      const field = {
        code: this.searchCode,
        warehouseTransferOutCode: this.searchWarehouseTransferOutCode,
        sourceWarehouseCode: this.searchSourceWarehouseCode,
        sourceWarehouseName: this.searchSourceWarehouseName,
        destinationWarehouseCode: this.searchDestinationWarehouseCode,
        destinationWarehouseName: this.searchDestinationWarehouseName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      // alert(this.totalRecords = temp.totalData);
      let temp = await this.inventory.searchInventory('warehouse-transfer-in', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;

      return (this.listHeader = temp.data);
    },
    async getSourceListDetail() {
      this.listSourceDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.warehouseTransferOutCode,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('warehouse-transfer-out/detail', field);
      this.loadingDetails = false;
      return (this.listSourceDetail = temp.data);
    },
    async getDestinationListDetail() {
      this.listDestinationDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('warehouse-transfer-in/detail', field);
      this.loadingDetails = false;
      return (this.listDestinationDetail = temp.data);
    },
    createData() {
      this.$router.push({ path: '/inventory/warehouse-transfer-in/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/inventory/warehouse-transfer-in/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.inventory.deleteInventory('warehouse-transfer-in', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.warehouseTransferOutCode = event.data.warehouseTransferOutCode;
        this.getSourceListDetail();
        this.getDestinationListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listSourceDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
