<template>
  <div class="grid p-fluid">
    <div class="col-12 md:col-10">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12 md:col-10">
            <div class="font-medium text-3xl text-900">Setting Role</div>
          </div>
        </div>
        <form class="col-12 md:col-10">
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="isSubmit" @keyup="checkSpecial" required="true" autofocus :class="{ 'p-invalid': isError && !form.code }" />
              <small class="p-invalid" v-if="isError && !form.code">Code is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
            <div class="col-12 md:col-9">
              <InputText type="text" v-model="form.name" placeholder="Enter name" />
              <small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3">Job Position</label>
            <div class="col-6 md:col-4">
              <div class="p-inputgroup">
                <InputText v-model="form.jobPositionCode" placeholder="Enter Job Position" @change="searchChange('job-position')" :class="{ 'p-invalid': isError && form.jobPositionCode != '' }" />
                <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('job-position')" />
              </div>
            </div>
            <div class="col-6 md:col-5">
              <InputText v-model="form.jobPositionName" placeholder="Job Position Name" disabled="true" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
            <div class="col-12 md:col-9">
              <Textarea v-model="form.remark" rows="3" cols="20" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
            <div class="col-12 md:col-9">
              <ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{ width: '8em' }" />
            </div>
          </div>
          <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0"></div>
            <div class="col-6 md:col-3">
              <Button label="Save" class="p-button-warning" @Click="submit"></Button>
            </div>
            <div class="col-6 md:col-3">
              <Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam, regexRemove } from '@/utils/function';
import { SettingControllers } from '@/controllers/setting/SettingControllers';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    setting: new SettingControllers(),
    master: new MasterControllers(),
    isError: false,
    isSubmit: false,
    form: {
      code: '',
      name: '',
      remark: '',
      activeStatus: true,
      jobPositionCode: null,
      jobPositionName: null,
    },
  }),
  created() {
    if (getParam('code')) {
      this.isSubmit = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    checkSpecial() {
      this.form.code = regexRemove([' ', '.', ','], this.form.code).toUpperCase();
    },
    async getData(data) {
      let temp = await this.setting.dataSetting('role', { code: data });
      this.form = temp.data;
    },
    async submit() {
      let BreakException = [];
      this.isError = false;
      try {
        if (this.form.code == '' || this.form.code == null) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
          throw BreakException;
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
      if (this.isSubmit) {
        await this.setting.updateSetting('role', this.form);
      } else {
        await this.setting.saveSetting('role', this.form);
      }
      this.cancel();
    },
    cancel() {
      history.back();
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'job-position':
          temp = await this.master.dataMaster(master, this.form.jobPositionCode.code);
          this.form.jobPositionCode.code = temp.data.code;
          this.form.jobPositionCode.name = temp.data.name;
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'job-position':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Job Potition', style: { width: '50vw' }, modal: true },
            data: { module: master },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.jobPositionCode = data.code;
                this.form.jobPositionName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
  },
};
</script>
