<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Adjustment In Approval" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>ADJ-IN No</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Branch</b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Transaction Date </b></label>
                <div class="col-12 md:col-4">
                  <Calendar id="icon" v-model="form.transactionDate" disabled="true" dateFormat="dd/mm/yy" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Currency </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Exchange Rate</label>
                <div class="col-6 md:col-4">
                  <InputText type="text" v-model="form.exchangeRate" @change="onChangeExchangeRate()" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Warehouse </b></label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.warehouseCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.warehouseName" placeholder="warehouse name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Refno</b></label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" disabled="true" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>Remark</b></label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 md:col-4"><b>Approval Status *</b></label>
                <div class="col-12 md:col-8 grid">
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton  inputId="APPROVED" name="approve" value="APPROVED" v-model="form.approvalStatus" />
                    <label for="APPROVED">Approve</label>
                  </div>
                  <div class="col-3 field-radiobutton pt-3">
                    <RadioButton  inputId="REJECTED" name="reject" value="REJECTED" v-model="form.approvalStatus" />
                    <label for="REJECTED">Reject</label>
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Approval Reason </label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.approvalReasonCode" placeholder="Enter Reason" @change="searchChange('approval-reason')" :class="{ 'p-invalid': isError && form.approvalReasonName != '' }" />
                    <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('approval-reason')" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.approvalReasonName" placeholder="reason name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Approval Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.approvalRemark" rows="3" cols="20" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b></b></label>
                <div class="col-12 md:col-8"></div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b></b></label>
                <div class="col-12 md:col-8"></div>
              </div>
              <div class="col-12 md:col-8 px-0">
                <div class="field grid">
                  <div class="col-6 md:col-3"><Button label="Save" class="p-button-warning" @Click="submit"></Button></div>
                  <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                </div>
              </div>
            </div>
          </div>
        </Panel>

        <DataTable
          showGridlines
          columnResizeMode="expand"
          responsiveLayout="scroll"
          dataKey="code"
          scrollHeight="400px"
          :resizableColumns="true"
          editMode="cell"
          selectionMode="single"
          v-model:selection="selectedRows"
          :value="detail"
          :loading="loadingDetails"
          @rowSelect="onRowSelect"
          @rowUnselect="onRowUnselect"
        >
          <template #header>
            <div class="table-header">
              <label style="font-weight: bold">Adjustment In Detail</label>
            </div>
          </template>
          <Column header="No" style="width: 3rem"
            ><template #body="{ index }">{{ index + 1 }}</template></Column
          >
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
            <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right"></Column>
          <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
          <Column field="price" header="Price" style="white-space: nowrap; width: 10rem; text-align: right">
            <template #body="slotProps"
              ><span :style="{ 'color:red;': slotProps.data.price < 1 }">{{ decimalCurrency(slotProps.data.price) }}</span></template
            >
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" /></template>
          </Column>
          <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right">
            <template #body="slotProps"
              ><span :style="{ 'color:red;': slotProps.data.totalAmount < 1 }">{{ decimalCurrency(slotProps.data.totalAmount) }}</span></template
            >
          </Column>
          <Column field="rackCode" header="Rack Code" style="white-space: nowrap"></Column>
        </DataTable>
        <div class="grid col-12 m-0 p-0" style="justify-content: right">
          Total Transaction
          <div class="col-6 md:col-2">
            <label><b>Foreign</b></label>
            <div class="p-inputgroup">
              <InputText :value="decimalCurrency(form.grandTotalAmount)" v-model="form.grandTotalAmount" disabled style="text-align: right" />
            </div>
          </div>
          <div class="col-6 md:col-2">
            <label><b>IDR</b></label>
            <div class="p-inputgroup">
              <InputText :value="decimalCurrency(totalAmountIDR)" v-model="totalAmountIDR" disabled style="text-align: right" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
  <script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpCurrency from '@/components/lookup/master/LookUpCurrency';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    inventory: new InventoryControllers(),
    isError: false,
    submitted: false,
    selectedRows: false,
    loadingDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      approvalReasonCode: null,
      branchCode: null,
      warehouseCode: null,
      warehouseName: null,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      exchangeRate: 0.0,
      refNo: null,
      remark: null,
    },
    detail: [
      {
        price: 0,
      },
    ],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDetail();
    }
  },
  mounted() {},
  computed: {},
  methods: {
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'approval-reason':
          temp = await this.master.dataMaster('inventory-adj-reason', { code: this.form.approvalReasonCode });
          if (temp) {
            this.form.approvalReasonCode = temp.data.code;
            this.form.approvalReasonName = temp.data.name;
          } else {
            this.form.approvalReasonCode = null;
            this.form.approvalReasonName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'approval-reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Approval Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'inventory-adj-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.approvalReasonCode = data.code;
                this.form.approvalReasonName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookUpCurrency, {
            props: { header: 'Search Master Currency', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async getData(data) {
      let temp = await this.inventory.dataInventory('adjustment-in', { code: data });
      this.form = temp.data;
      this.form.exchangeRate = decimalCurrency(temp.data.exchangeRate);
      this.form.approvalStatus = 'APPROVED';
      this.form.currencyCode = store.state.defaultCurrencyCode;
      this.form.currencyName = store.state.defaultCurrencyName;
      
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.inventory.searchInventory('adjustment-in/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary();
      return this.detail;
    },
    onRowSelect(event) {
      if (this.itemCode != event.data.itemCode) {
        this.itemCode = event.data.itemCode;
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      return event;
    },
    onChangeExchangeRate() {
      this.form.exchangeRate = decimalCurrency(this.form.exchangeRate);
      this.calculationSummary();
    },
    calculationSummary() {
      this.form.grandTotalAmount = 0;
      this.totalAmountIDR = 0;
      this.detail.forEach((datas) => {
        this.form.grandTotalAmount += datas.totalAmount;
        this.totalAmountIDR += datas.totalAmount;
      });
      this.totalAmountIDR = this.totalAmountIDR * Number(removeCommas(this.form.exchangeRate));
    },
    onCellEditInit(data, field, index) {
      let totalAmount = 0;
      switch (field) {
        case 'price':
          this.detail[index].price = data['price'];
          totalAmount = data['price'] * data.quantity;

          this.detail[index].totalAmount = totalAmount;
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    async submit() {
      let index = 1;
      this.isError = false;
      let BreakException = {};
      try {

        if (this.form.currencyCode == "" || this.form.currencyCode == null) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }

        if (this.form.approvalStatus == 'REJECTED' && this.form.approvalReasonCode == null) {
          this.isError = true;
          this.$toast.add({ severity: 'warn', summary: " Approval Reason can't be null!", life: 3000 });
          throw BreakException;
        }

        this.detail.forEach((datas) => {
          if (datas.price < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Price more than 0!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });

      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.approvalStatus = this.form.approvalStatus === 'APPROVED' ? 'APPROVED' : 'REJECTED';
        formSubmit.exchangeRate = removeCommas(this.form.exchangeRate);
        formSubmit.listAdjustmentInItemDetail = this.detail;
        if (this.submitted) {
          await this.inventory.updateInventory('adjustment-in/approve', formSubmit);
        }

        this.cancel();
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
  