<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Adjustment In Approval</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-6 grid m-0 p-0 my-2" style="border: 0px solid black">
                <div class="col-4 md:col-12 field grid m-0 p-0">
                  <div class="col-12 md:col-12 field grid m-0 p-0">
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Period Date</label>
                      <div class="col-4 md:col-4 m-0 p-1">
                        <Calendar id="icon" v-model="firstPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                      </div>
                      <div class="col-4 md:col-4 m-0 p-1">
                        <Calendar id="icon" v-model="lastPeriodDate" :showIcon="true" dateFormat="dd/mm/yy" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">ADJ-IN No.</label>
                      <div class="col-12 md:col-8 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchCode" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <div class="col-12 md:col-10 grid m-0 p-0">
                      <label class="col-12 mb-2 md:col-3 mt-0 m-0 p-1">Warehouse</label>
                      <div class="col-3 md:col-3 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchWarehouseCode" class="p-inputtext-sm" placeholder=" Code" />
                      </div>
                      <div class="col-2 md:col-5 m-0 p-0">
                        <InputText type="text" id="icon" v-model="searchWarehouseName" class="p-inputtext-sm" placeholder=" Name" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 md:col-3 grid m-0 p-0">
                    <div class="col-12 md:col-12 field grid m-0 p-0" style="justify-content: right">
                      <div class="col-12 md:col-12 m-0 p-0 px-1 mb-2">
                        <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 grid m-0 p-0 my-2" style="border: 0px solid black">
                <div class="col-4 md:col-12 field grid m-0 p-0">
                  <div class="col-12 md:col-12 field grid m-0 p-0">
                    <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Ref No.</label>
                    <div class="col-4 md:col-8 grid m-0 p-0">
                      <div class="col-12 md:col-8 m-0 p-1">
                        <InputText type="text" id="icon" v-model="searchRefNo" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Remark</label>
                    <div class="col-6 md:col-8 grid m-0 p-0">
                      <div class="col-12 md:col-8 m-0 p-1">
                        <InputText type="text" id="icon" v-model="searchRemark" class="p-inputtext-sm" />
                      </div>
                    </div>
                    <label class="col-12 mb-2 md:col-3 mt-2 m-0 p-1">Approval Status</label>
                    <div class="col-12 md:col-4 m-0 p-1">
                      <Dropdown v-model="searchApprovalStatus" :options="approvalStatusList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 8em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="code" header="ADJ-IN Code" style="min-width: 14em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="approvalStatus" header="Approval Status" style="min-width: 12em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="approvalBy" header="Approval By" style="min-width: 12em" :sortable="true"></Column>
              <Column field="approvalDate" header="Approval Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="warehouseName" header="Warehouse" style="min-width: 10em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
            <div class="col-4 md:col-2 m-0 p-1"><Button label="Approve" class="p-button-warning" @Click="processData"></Button></div>
          </div>
          <div class="card mt-3">
            <div class="col-12 m-0 p-0">
              <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
            </div>
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="white-space: nowrap;min-width: 12rem" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap;min-width: 45rem" :sortable="true"></Column>
              <Column field="quantity" header="Quantity" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap;min-width: 12rem"></Column>
              <Column field="rackCode" header="Rack Code" style="white-space: nowrap;min-width: 12rem"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

  <script>
import { store } from '@/store';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';
import { InventoryControllers } from '@/controllers/inventory/InventoryControllers';
import moment from 'moment';

export default {
  data: () => ({
    inventory: new InventoryControllers(),
    code: null,
    list: [],
    listDetail: [],
    btnApprovalStatus: 'PENDING',
    approvalStatusList: [
      { name: 'ALL', code: 'ALL' },
      { name: 'PENDING', code: 'PENDING' },
      { name: 'APPROVED', code: 'APPROVED' },
      { name: 'REJECTED', code: 'REJECTED' },
    ],
    searchCode: '',
    searchWarehouseCode: '',
    searchWarehouseName: '',
    firstPeriodDate: store.state.periodStartDate,
    lastPeriodDate: store.state.periodEndDate,
    searchRefNo: '',
    searchRemark: '',
    searchApprovalStatus: '',
    approvalStatus: null,
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,
    loadingDetails: false,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        warehouseCode: this.searchWarehouseCode,
        warehouseName: this.searchWarehouseName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        approvalStatus: this.searchApprovalStatus,
        firstPeriodDate: moment(this.firstPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        lastPeriodDate: moment(this.lastPeriodDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('adjustment-in', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;

      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: 1000,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.inventory.searchInventory('adjustment-in/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },

    processData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      if (this.approvalStatus === 'APPROVED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Approved !', life: 3000 });
        return;
      }

      if (this.approvalStatus == 'REJECTED') {
        this.$toast.add({ severity: 'warn', summary: 'Data Has Been Rejected !', life: 3000 });
        return;
      }

      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/inventory/adjustment-in-approval/form', query: param });
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        // this.approvalStatus = event.data.approvalStatus;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
