<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Vendo Debit Note" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">VDN No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" @date-select="setDueDate()" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">ExchangeRate *</label>
                  <div class="col-6 md:col-4">
                    <InputText type="number" v-model="form.exchangeRate" placeholder="0.00" class="p-inputtext-sm" :disabled="this.form.currencyCode == 'IDR' ? true : false" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="Enter Vendor" @change="searchChange('vendor')" :class="{ 'p-invalid': isError && form.vendorCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('vendor')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" @change="searchChange('payment-term')" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Invoice No</label>
                  <div class="col-6 md:col-4">
                    <InputText type="text" v-model="form.vendorInvoiceNo" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Invoice Date </b></label>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.vendorInvoiceDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Tax Invoice No</label>
                  <div class="col-6 md:col-4">
                    <InputText type="text" v-model="form.taxInvoiceNo" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Tax Invoice Date </b></label>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.taxInvoiceDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" :disabled="confirmDisable" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>

        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            v-model:selection="selectedRows"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                &nbsp;
                <Button icon="pi pi-plus" label="AddRow Other" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addrow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="chartOfAccountCode" header="Chart Of Account Code *" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 25rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="quantity" header="Quantity" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" /></template>
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
            </Column>
            <Column field="unitOfMeasureCode" header="UoM" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="price" header="Price" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }"><InputText @keyup="onCellEditInit(data, field, index)" v-model="data[field]" /></template>
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
            </Column>
            <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">
                <span>{{ decimalCurrency(slotProps.data.totalAmount) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText
                  v-model="data[field]"
                  @keypress="onCellEditInit(data, field, index)"
                  @keyup="onCellEditInit(data, field, index)"
                  @keydown="onCellEditInit(data, field, index)"
                  @change="onCellEditInit(data, field, index)"
                  style="text-align: right"
                />
              </template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.totalTransactionAmount" :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <InputText @change="onChangeSummaryAmount('percent')" style="text-align: right" v-model="form.discountPercent" />
                  </div>
                  <div class="col-8 md:col-4">
                    <InputText style="text-align: right" v-model="form.discountAmount" :value="decimalCurrency(form.discountAmount)" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountChartOfAccountCode" placeholder="Enter COA" @change="searchChange('coa-summary')" :class="{ 'p-invalid': isError && form.discountChartOfAccountCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('coa-summary')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
                </div>

                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.taxBaseAmount" :value="decimalCurrency(form.taxBaseAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4">
                    <InputText @change="onChangeSummaryAmount('vat')" style="text-align: right" v-model="form.vatPercent" :value="decimalCurrency(form.vatPercent)" />
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.vatAmount" style="text-align: right" disabled="true" :value="decimalCurrency(form.vatAmount)" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.grandTotalAmount" :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpPaymentTerm from '@/components/lookup/master/LookUpPaymentTerm';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    isError: false,
    isUpdate: false,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: store.state.defaultCurrencyName,
      exchangeRate: 1,
      vendorCode: null,
      vendorName: null,
      paymentTermCode: null,
      paymentTermName: null,
      paymentTermDays: 0,
      dueDate: store.state.currentDate,
      vendorInvoiceNo: null,
      vendorInvoiceDate: store.state.currentDate,
      taxInvoiceNo: null,
      taxInvoiceDate: store.state.currentDate,
      refNo: '',
      remark: '',
      totalTransactionAmount: decimalCurrency(0),
      taxBaseAmount: decimalCurrency(0),
      grandTotalAmount: decimalCurrency(0),
      discountPercent: decimalCurrency(0),
      discountAmount: decimalCurrency(0),
      vatPercent: store.state.defaultVatPercent,
      vatAmount: decimalCurrency(0),
    },
    detail: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.isUpdate = true;
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
    this.searchChange('currency');
  },
  mounted() {},
  computed: {
    confirmDisable() {
      return !this.form.branchCode || !this.form.currencyCode || !this.form.exchangeRate || !this.form.paymentTermCode || !this.form.vendorCode || !this.form.dueDate;
    },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    btnConfirm() {
      if (this.isConfirm == false) {
        this.detail = [];
        this.resetSummary();
      } else {
        if (getParam('code')) {
          this.getListDetail();
        }
      }
    },
    addrow() {
      let detail = {
        chartOfAccountCode: '',
        chartOfAccountName: '',
        remark: '',
        quantity: 0,
        unitOfMeasureCode: '',
        price: 0,
        totalAmount: 0,
      };
      this.detail.push(detail);
    },

    remove(index) {
      this.detail.splice(index, 1);
      this.calculationSummary();
    },
    lookUpDetail(data, field, index) {
      switch (field) {
        case 'chartOfAccountCode':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.detail[index].chartOfAccountCode = data.code;
                this.detail[index].chartOfAccountName = data.name;
              }
            },
          });
          break;
        case 'unitOfMeasureCode':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Unit Of Measure', style: { width: '50vw' }, modal: true },
            data: { module: 'unit-of-measure' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.detail[index].unitOfMeasureCode = data.code;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('vendor-debit-note', { code: data });
      this.form = temp.data;
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('vendor-debit-note/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary();
      return this.detail;
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.chartOfAccountCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : COA can't be Empty!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity <= 0) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Quantity can't be 0!", life: 3000 });
            throw BreakException;
          }
          if (datas.unitOfMeasureCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : UOM can't be Empty!", life: 3000 });
            throw BreakException;
          }
          if (datas.price <= 0) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Price can't be 0!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.vendorInvoiceDate = moment(this.form.vendorInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.taxInvoiceDate = moment(this.form.taxInvoiceDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.discountAmount = this.form.discountAmount.replace(/,/g, '');

        //Add Grid Detail
        // console.log( this.detail)
        this.detail = this.detail.map((item) => {
          return {
            chartOfAccountCode: item.chartOfAccountCode,
            remark: item.remark,
            quantity: item.quantity,
            unitOfMeasureCode: item.unitOfMeasureCode,
            price: item.price,
            totalAmount: item.totalAmount,
          };
        });

        formSubmit.listVendorDebitNoteDetail = this.detail;
        if (this.submitted) {
          await this.finance.updateFinance('vendor-debit-note', formSubmit);
        } else {
          await this.finance.saveFinance('vendor-debit-note', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'vendor':
          temp = await this.master.dataMaster(master, { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = 0;
          }
          this.setDueDate();
          break;
        case 'coa-summary':
          temp = await this.master.dataMaster('chart-of-account', { code: this.form.discountChartOfAccountCode });
          if (temp) {
            this.form.discountChartOfAccountCode = temp.data.code;
            this.form.discountChartOfAccountName = temp.data.name;
          } else {
            this.form.discountChartOfAccountCode = null;
            this.form.discountChartOfAccountName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Currency', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'vendor':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookUpPaymentTerm, {
            props: { header: 'Search Master Payment Term', style: { width: '50vw' }, modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
                this.setDueDate();
              }
            },
          });
          break;
        case 'coa-summary':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'chartOfAccountCode':
          temp = await this.master.dataMaster('chart-of-account', { code: newValue });
          data['chartOfAccountCode'] = this.detail[index].discountTypeCode = temp.data.code;
          data['chartOfAccountName'] = this.detail[index].chartOfAccountName = temp.data.name;
          break;
        case 'departmentCode':
          temp = await this.master.dataMaster('department', { code: newValue });
          data['departmentCode'] = this.detail[index].departmentCode = temp.data.code;
          data['departmentName'] = this.detail[index].departmentName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    setDueDate() {
      let transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        tomorrow = moment(transactionDate).add(this.form.paymentTermDays, 'days'),
        dueDate = moment(tomorrow, 'YYYY-MM-DD').format('DD/MM/YYYY');
      this.form.dueDate = dueDate;
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          this.detail[index].quantity = data['quantity'];
          this.detail[index].totalAmount = data['quantity'] * data['price'];
          this.calculationSummary();
          break;
        case 'remark':
          this.detail[index].remark = data['remark'];
          break;
        case 'price':
          this.detail[index].price = data['price'];
          this.detail[index].totalAmount = data['price'] * data['quantity'];
          this.calculationSummary();
          break;
        default:
          break;
      }
      this.calculationSummary();
    },
    resetSummary() {
      this.totalTransactionAmount = 0;
      this.discountPercent = 0;
      this.discountAmount = 0;
      this.taxBaseAmount = 0;
      this.vatPercent = 0;
      this.vatAmount = 0;
      this.grandTotalAmount = 0;
    },
    calculationSummary() {
      this.form.totalTransactionAmount = 0;

      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.price * datas.quantity;
      });
      this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
      this.form.discountAmount = decimalCurrency(this.form.discountAmount);
      this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
    },
    onChangeSummaryAmount(type) {
      switch (type) {
        case 'percent':
          if (this.form.discountPercent !== 0) {
            this.form.discountPercent = decimalCurrency(this.form.discountPercent);
            this.form.discountAmount = (this.form.totalTransactionAmount * this.form.discountPercent) / 100;
            this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;

            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
            this.form.discountAmount = decimalCurrency(this.form.discountAmount);
          } else {
            this.form.discountPercent = 0;
            this.form.discountAmount = 0;
          }
          break;
        case 'vat':
          if (this.form.vatPercent !== 0) {
            this.form.vatPercent = decimalCurrency(this.form.vatPercent);
            this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
            this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
          } else {
            this.form.vatPercent = 0;
            this.form.vatAmount = 0;
          }
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    formatDate(val) {
      if (val == '') {
        return '';
      }
      return moment(val, 'DD/MM/YYYY').format('DD/MM/YYYY');
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
