<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Bank Payment" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>BR No *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="LookUp('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Vendor</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="Enter Vendor" @change="searchChange('vendor')" :class="{ 'p-invalid': isError && form.vendorCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="LookUp('vendor')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Bank Account *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.bankAccountCode" placeholder="Enter Bank Account" @change="searchChange('bank-account')" :class="{ 'p-invalid': isError && form.bankAccountName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="LookUp('bank-account')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.bankAccountName" placeholder="Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-8">
                    <InputText v-model="form.bankAccountBBMVoucherNo" placeholder="BBMVoucherNo" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b></b></label>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.bankAccountChartOfAccountCode" placeholder="BBM Chart Of Account Code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.bankAccountChartOfAccountName" placeholder="BBM Chart Of Account Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Type *</b></label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton name="type" value="1" v-model="form.transactionType" />
                      <label for="1">Regular</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton name="type" value="0" v-model="form.transactionType" />
                      <label for="0">Deposit</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="LookUp('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">ExchangeRate</label>
                  <div class="col-6 md:col-4">
                    <!-- <InputText type="number" v-model="form.exchangeRate" placeholder="0.00" class="p-inputtext-sm" /> -->
                    <InputNumber
                      v-model="form.exchangeRate"
                      inputId="minmaxfraction"
                      mode="decimal"
                      :minFractionDigits="2"
                      :maxFractionDigits="5"
                      class="p-inputnumber-sm"
                      inputClass="text-right"
                      :disabled="this.form.currencyCode == 'IDR' ? true : false"
                    />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Amount</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup"><InputText :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" v-model="form.totalTransactionAmount" disabled="true" /><span>(Credit)</span></div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Type *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <Dropdown v-model="selectedPaymentType" :options="listPaymentType" optionLabel="name" placeholder="Select a City" />
                    </div>
                  </div>
                </div>
                <Fieldset class="mb-2" :style="selectedPaymentType.code == 'GIRO' ? 'display: none;' : ''">
                  <template #legend><b>Transferr / Other</b></template>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4"><b>Payment Date *</b></label>
                    <div class="col-6 md:col-8">
                      <Calendar id="icon" v-model="form.transferPaymentDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transferPaymentDate == '' }" />
                    </div>
                    <label class="col-12 mb-2 md:col-4">Payment Refno</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.transferPaymentNo" placeholder="Transfer Ref No" />
                    </div>
                    <label class="col-12 mb-2 md:col-4">Payment Bank</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.transferBankName" placeholder="Transfer Name Bank" />
                    </div>
                  </div>
                </Fieldset>
                <Fieldset class="mb-2" :style="selectedPaymentType.code != 'GIRO' ? 'display: none;' : ''">
                  <template #legend><b>Giro</b></template>
                  <div class="field grid">
                    <label class="col-12 mb-2 md:col-4"><b>Giro No *</b></label>
                    <div class="col-6 md:col-4">
                      <div class="p-inputgroup">
                        <InputText v-model="form.giroPaymentCode" placeholder="Enter Giro" @change="searchChange('giro-payment')" :class="{ 'p-invalid': isError && form.giroPaymentCode != '' }" />
                        <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="LookUp('giro-payment')" />
                      </div>
                    </div>
                    <div class="col-6 md:col-4">
                      <InputText v-model="form.giroBankCode" placeholder="Bank" disabled="true" />
                    </div>
                    <label class="col-12 mb-2 md:col-4">Giro Due Date</label>
                    <div class="col-6 md:col-8 mt-1">
                      <InputText v-model="form.giroDueDate" placeholder="Due Date" disabled="true" />
                    </div>
                  </div>
                </Fieldset>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 p-0 m-0"
            :lazy="true"
            ref="dt"
            selectionMode="single"
            :rowHover="true"
            :scrollable="true"
            :value="detailPrq"
            :loading="loadingPrqDetails"
          >
            <template #header>
              <div class="table-header">
                <Button icon="pi pi-search" label="Search Payment Request" class="p-button-sm p-button-warning" style="width: 20rem" @Click="lookupAddPrq" />
                <!-- &nbsp;
                <Button icon="pi pi-plus" label="addRow" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addrow" /> -->
              </div>
            </template>
            <Column header="#" style="min-width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="removePrq(index)" />
              </template>
            </Column>
            <Column field="Index" header="No" style="min-width: 7em">
              <template #body="{ index }">{{ index + 1 }}</template>
            </Column>
            <!-- <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column> -->
            <Column field="branchCode" header="Branch" style="min-width: 15em"></Column>
            <Column field="paymentRequestCode" header="PYM-RQ No" style="min-width: 15em"></Column>
            <Column field="transactionDate" header="Transaction Date" style="min-width: 12em"></Column>
            <Column field="currencyCode" header="Currecny" style="min-width: 10em"></Column>
            <Column field="totalTransactionAmount" header="Total Transaction" style="min-width: 12em"></Column>
            <Column field="transactionType" header="Type" style="min-width: 10em"></Column>
            <Column field="refNo" header="Ref No" style="min-width: 10em"></Column>
            <Column field="remark" header="Remark" style="min-width: 10em"></Column>
          </DataTable>

          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">DOCUMENT DETAIL</label>
                &nbsp;
                <Button icon="pi pi-plus" label="AddRow Other" class="p-button-sm p-button-warning" style="width: 10rem" @Click="addrow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column field="Index" header="No" style="min-width: 8rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <!-- <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column> -->
            <!-- <Column field="paymentRequestDetailCode" header="PYM Detail" style="min-width: 12rem"></Column> -->
            <Column field="documentCode" header="Document No" style="min-width: 12rem"></Column>
            <Column field="documentType" header="document Type" style="min-width: 12rem" :hidden="true"></Column>
            <Column field="chartOfAccountCode" header="Chart Of Account Code" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCoaDetail(data, field, index)" />
                </div>
              </template>
            </Column>
            <Column field="chartOfAccountName" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="currencyCode" header="Currency Code" style="min-width: 12rem"></Column>
            <Column field="exchangeRate" header="ExchangeRate" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.exchangeRate < 1 }">{{ decimalCurrency(slotProps.data.exchangeRate) }}</span>
              </template>
            </Column>
            <Column field="amountForeign" header="Amount (Foreign)" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.amountForeign < 1 }">{{ decimalCurrency(slotProps.data.amountForeign) }}</span>
              </template>
            </Column>
            <Column field="amountIDR" header="Amount (IDR)" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.amountIDR < 1 }">{{ decimalCurrency(slotProps.data.amountIDR) }}</span>
              </template>
            </Column>
            <Column field="balanceForeign" header="Balance(Foreign)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceForeign) }}</template>
            </Column>
            <Column field="balanceIDR" header="Balance(IDR)" style="white-space: nowrap; width: 10rem; text-align: right">
              <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceIDR) }}</template>
            </Column>
            <Column field="transactionStatus" header="TransactionStatus" style="white-space: nowrap; width: 15rem; text-align: center"></Column>
            <Column field="debit" header="Debit (Foreign)" style="min-width: 12rem">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.debit < 1 }">{{ decimalCurrency(slotProps.data.debit) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="debitIDR" header="Debit (IDR)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.debitIDR < 1 }">{{ decimalCurrency(slotProps.data.debitIDR) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="credit" header="Credit (Foreign)" style="min-width: 12rem">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.credit < 1 }">{{ decimalCurrency(slotProps.data.credit) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="creditIDR" header="Credit (IDR)" style="white-space: nowrap; width: 15rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.creditIDR < 1 }">{{ decimalCurrency(slotProps.data.creditIDR) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" mode="decimal" class="text-right" @keyup="onCellEditInit(data, field, index)" />
              </template>
            </Column>
            <Column field="remarkDetail" header="Description" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-4 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="saveDisable" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-8" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-8 m-0 p-0">
                <div class="field grid m-0 p-0">
                  <Divider />
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.debitForeign)" style="text-align: right" v-model="form.debitForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.debitIDR)" style="text-align: right" v-model="form.debitIDR" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.creditForeign)" style="text-align: right" v-model="form.creditForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.creditIDR)" style="text-align: right" v-model="form.creditIDR" disabled="true" />
                  </div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-2 mt-1" style="text-align: right; font-weight: bold">Ballance</label>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.balanceForeign)" style="text-align: right" v-model="form.balanceForeign" disabled="true" />
                  </div>
                  <div class="col-12 md:col-5 pr-0">
                    <InputText :value="decimalCurrency(form.balanceIDR)" style="text-align: right" v-model="form.balanceIDR" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-4 m-0 p-0">
                <div class="field grid m-0 p-0">
                  <Divider />
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0" />
                <div class="col-12 md:col-12 field grid m-0 p-0" />
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 mt-1" style="text-align: right; font-weight: bold">Forex Gain / Loss</label>
                  <div class="col-12">
                    <InputText :value="decimalCurrency(form.totalTransactionAmountForex)" style="text-align: right" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpGiroPayment from '@/components/lookup/finance/LookUpGiroPayment';
import LookUpPaymentRequest from '@/components/lookup/finance/LookUpPaymentRequest';
import { getParam, decimalCurrency, removeCommas, uniqueElementsBy, removeElementsBy, removeElementsFor } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
// import LookUpFinanceRequest from '@/components/lookup/finance/LookUpFinanceRequest';
// import LookUpFinanceDestination from '@/components/lookup/master/LookUpFinanceDestination';
export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    finance: new FinanceControllers(),
    code: null,
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingPrqDetails: false,
    loadingVdpDetails: false,
    selectedPaymentType: { name: 'GIRO', code: 'GIRO' },
    listPaymentType: [
      { name: 'GIRO', code: 'GIRO' },
      { name: 'TRANSFER', code: 'TRANSFER' },
      { name: 'OTHER', code: 'OTHER' },
    ],
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      transferPaymentDate: store.state.currentDate,
      dueDate: store.state.currentDate,
      branchCode: store.state.defaultBranchCode,
      branchName: store.state.defaultBranchName,
      transferPaymentNo: null,
      transferBankName: null,
      bankAccountCode: null,
      bankAccountName: null,
      vendorCode: '',
      vendorName: '',
      bankAccountBBMVoucherNo: null,
      bankAccountChartOfAccountCode: null,
      bankAccountChartOfAccountName: null,
      exchangeRate: 1,
      currencyCode: store.state.defaultCurrencyCode,
      currencyName: null,
      giroPaymentCode: null,
      giroBankCode: null,
      giroDueDate: null,
      transactionType: '1',
      refNo: null,
      remark: null,
      discountChartOfAccountCode: '',
      discountChartOfAccountName: '',
      totalTransactionAmount: 0,
      totalTransactionAmountForex: 0,

      creditForeign: 0,
      creditIDR: 0,
      debitForeign: 0,
      debitIDR: 0,
      balanceForeign: 0,
      balanceIDR: 0,
    },
    detail: [],
    detailPrq: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  computed: {
    // confirmDisable() {
    //   return !this.form.branchCode || !this.form.bankAccountCode || !this.form.currencyCode;
    // },
    saveDisable() {
      return !this.detail.length;
    },
  },
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (!this.form.branchCode) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch Code can't be null!", life: 3000 });
          throw BreakException;
        }
        if (!this.form.bankAccountCode) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Bank Account can't be null!", life: 3000 });
          throw BreakException;
        }
        if (!this.form.currencyCode) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "currency can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.selectedPaymentType.name == 'GIRO' && !this.form.giroPaymentCode) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Giro can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.clear();
          this.detailPrq = [];
          this.detail = [];
        } else {
          if (getParam('code')) {
            this.form.code = getParam('code');
            this.getListPrqDetail();
            this.getListDetail();
            this.calculationSummary();
          }
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
      // let BreakException = [];
      // try {
      //   if (this.form.branchName == '' || this.form.branchName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.paymentTermName == '' || this.form.paymentTermName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.currencyName == '' || this.form.currencyName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.vendorName == '' || this.form.vendorName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Vendor can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.billToName == '' || this.form.billToName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Bill To can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.form.shipToName == '' || this.form.shipToName == null) {
      //     this.isConfirm = false;
      //     this.$toast.add({ severity: 'warn', summary: "Ship To can't be null!", life: 3000 });
      //     throw BreakException;
      //   }
      //   if (this.isConfirm == false) {
      //     this.clear();
      //     this.detail = [];
      //     this.detailPrq = [];
      //     this.detailVdp = [];
      //   } else {
      //     if (getParam('code')) {
      //       this.form.code = getParam('code');
      //       this.getData(getParam('code'));
      //       this.getListPrqDetail();
      //       this.getListVdpDetail();
      //       this.getListDetail();
      //     }
      //   }
      // } catch (e) {
      //   if (e !== BreakException) throw e;
      // }
    },
    lookupAddPrq() {
      this.$dialog.open(LookUpPaymentRequest, {
        props: { header: 'Search Payment Request', style: { width: '85vw' }, modal: true },
        data: { vendorCode: this.form.vendorCode, transactionType: this.form.transactionType === '1' ? 'Regular' : 'Deposit', module: 'bank-payment/look-up-prq' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let prq = {
                code: '',
                paymentRequestCode: datas.code,
                branchCode: datas.branchCode,
                transactionDate: datas.transactionDate,
                currencyCode: datas.currencyCode,
                totalTransactionAmount: datas.totalTransactionAmount,
                transactionType: datas.transactionType,
                refNo: datas.refNo,
                remark: datas.remark,
                amountForeign: 0,
                amountIDR: 0,
                balanceForeign: 0,
                balanceIDR: 0,
                debit: 0,
                debitIDR: 0,
                credit: 0,
                creditIDR: 0,
              };
              // this.checkExistingItem(prq)
              this.detailPrq.push(prq);
            });
            this.detailPrq = uniqueElementsBy(this.detailPrq, (a, b) => a.paymentRequestCode == b.paymentRequestCode);
            this.getTotaTransactionAmount();
            this.getNewListItemPrq();
          }
        },
      });
    },
    getTotaTransactionAmount() {
      if (!this.form.giroPaymentCode) {
        console.log('masuk');
        this.form.totalTransactionAmount = 0;
        this.detailPrq.forEach((datas) => {
          this.form.totalTransactionAmount += datas.totalTransactionAmount;
        });
      }
    },
    checkExistingItem(selected) {
      this.detailPrq.forEach((datas) => {
        if (selected.paymentRequestCode == datas.paymentRequestCode) {
          let add = {
            code: '',
            paymentRequestCode: selected.code,
            branchCode: selected.branchCode,
            transactionDate: selected.transactionDate,
            currencyCode: selected.currencyCode,
            totalTransactionAmount: selected.totalTransactionAmount,
            transactionType: selected.transactionType,
            remark: selected.remark,
            refNo: selected.refNo,
            amountForeign: 0,
            amountIDR: 0,
            balanceForeign: 0,
            balanceIDR: 0,
            debit: 0,
            debitIDR: 0,
            credit: 0,
            creditIDR: 0,
          };
          this.detail.replace(add);
        }
      });
    },
    lookUpCoaDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
        data: { module: 'chart-of-account/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].chartOfAccountCode = data.code;
            this.detail[index].chartOfAccountName = data.name;
          }
        },
      });
    },
    addrow() {
      let detail = {
        documentCode: '',
        chartOfAccountCode: '',
        chartOfAccountName: '',
        currencyCode: this.form.currencyCode,
        exchangeRate: 1,
        amountForeign: 0,
        amountIDR: 0,
        balanceForeign: 0,
        balanceIDR: 0,
        transactionStatus: 'Other',
        debit: 0,
        debitIDR: 0,
        credit: 0,
        creditIDR: 0,
        remark: '',
      };
      this.detail.push(detail);
    },
    removePrq(row) {
      this.detail = removeElementsBy(this.detail, this.detailPrq[row], (a, b) => a.headerCode != b.paymentRequestCode);
      this.detailPrq.splice(row, 1);
      this.calculationSummary();
      this.getTotaTransactionAmount();
    },
    remove(row) {
      this.detail.splice(row, 1);
      this.detailPrq = removeElementsFor(this.detailPrq, this.detail, (a, b) => a.paymentRequestCode == b.headerCode);
      this.calculationSummary();
      this.getTotaTransactionAmount();
    },
    clear() {
      this.form.totalTransactionAmountForex = 0;
      this.form.creditForeign = 0;
      this.form.creditIDR = 0;
      this.form.debitForeign = 0;
      this.form.debitIDR = 0;
      this.form.balanceForeign = 0;
      this.form.balanceIDR = 0;
    },
    async getData(data) {
      let temp = await this.finance.dataFinance('bank-payment', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.transferPaymentDate = moment(temp.data.transferPaymentDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.transactionType = temp.data.transactionType === '1' ? '1' : '0';
    },

    // GET ITEM PRQ NEW
    async getNewListItemPrq() {
      this.detail = [];
      this.loadingDetails = true;

      let prmCode = [];
      this.detailPrq.forEach((datas) => {
        prmCode.push(datas.paymentRequestCode);
      });

      // alert(prmCode);
      let prm = {
        detailCode: prmCode,
        page: 0,
        size: 1000,
        sort: 'paymentRequestDetailCode,ASC',
      };

      let temp = await this.finance.searchFinance('bank-payment/detail-prq', prm);
      this.loadingDetails = false;
      this.detail = temp.data;
      // console.log(this.detail)
      this.calculationSummary();
    },
    // GET ITEM PRQ NEW

    async getListPrqDetail() {
      this.detailPrq = [];
      this.loadingPrqDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('bank-payment/prq', field);
      // let temp = await this.finance.searchFinance('payment-request/prq', field);
      this.selectedRows = null;
      this.loadingPrqDetails = false;
      return (this.detailPrq = temp.data);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.finance.searchFinance('bank-payment/detail', field);
      this.loadingDetails = false;
      this.detail = temp.data;
      this.calculationSummary();
      return (this.detail = temp.data);
    },
    async submit() {
      // let index = 1;
      // let BreakException = {};
      // this.isError = false;
      // try {
      //   this.detail.forEach((datas) => {
      //     if (datas.itemCode == '') {
      //       this.isError = true;
      //       this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
      //       throw BreakException;
      //     }
      //     if (datas.quantity < 1) {
      //       this.isError = true;
      //       this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
      //       throw BreakException;
      //     }
      //     index = index + 1;
      //   });
      // } catch (e) {
      //   if (e !== BreakException) throw e;
      // }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transferPaymentDate = moment(this.form.transferPaymentDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.transactionType = this.form.transactionType === '1' ? 'Regular' : 'Deposit';
        //Add Grid Detail
        formSubmit.listBankPaymentDetail = this.detail;
        formSubmit.listBankPaymentJnPaymentRequest = this.detailPrq;
        if (this.submitted) {
          await this.finance.updateFinance('bank-payment', formSubmit);
        } else {
          await this.finance.saveFinance('bank-payment', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'vendor':
          temp = await this.master.dataMaster(master, { code: this.form.vendorCode });
          if (temp) {
            this.form.vendorCode = temp.data.code;
            this.form.vendorName = temp.data.name;
            this.setDueDate();
          } else {
            this.form.vendorCode = null;
            this.form.vendorName = null;
          }
          break;
        case 'bank-account':
          temp = await this.master.dataMaster(master, { code: this.form.bankAccountCode });
          if (temp) {
            this.form.bankAccountCode = temp.data.code;
            this.form.bankAccountName = temp.data.name;
            this.form.bankAccountBBMVoucherNo = temp.data.bbmVoucherNo;
            this.form.bankAccountChartOfAccountCode = temp.data.chartOfAccountCode;
            this.form.bankAccountChartOfAccountName = temp.data.chartOfAccount.name;
          } else {
            this.form.bankAccountCode = null;
            this.form.bankAccountName = null;
            this.form.bankAccountBBMVoucherNo = null;
            this.form.bankAccountChartOfAccountCode = null;
            this.form.bankAccountChartOfAccountName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'chart-of-account':
          temp = await this.master.dataMaster(master, { code: this.form.discountChartOfAccountCode });
          if (temp) {
            this.form.discountChartOfAccountCode = temp.data.code;
            this.form.discountChartOfAccountName = temp.data.name;
          } else {
            this.form.discountChartOfAccountCode = null;
            this.form.discountChartOfAccountName = null;
          }
          break;
        case 'giro-payment':
          temp = await this.finance.dataFinance(master, { code: this.form.giroPaymentCode });
          if (temp) {
            this.form.giroPaymentCode = temp.data.code;
            this.form.giroBankCode = temp.data.bankCode;
            this.form.giroDueDate = temp.data.dueDate;
          } else {
            this.form.giroPaymentCode = null;
            this.form.giroBankCode = null;
            this.form.giroDueDate = null;
          }
          break;
        default:
          break;
      }
    },
    LookUp(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', style: { width: '50vw' }, modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'vendor':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Vendor', style: { width: '50vw' }, modal: true },
            data: { module: 'vendor' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.vendorCode = data.code;
                this.form.vendorName = data.name;
                this.setDueDate();
              }
            },
          });
          break;
        case 'bank-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Bank Account', style: { width: '50vw' }, modal: true },
            data: { module: 'bank-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.bankAccountCode = data.code;
                this.form.bankAccountName = data.name;
                this.form.bankAccountBBMVoucherNo = data.bbmVoucherNo;
                this.form.bankAccountChartOfAccountCode = data.chartOfAccountCode;
                this.form.bankAccountChartOfAccountName = data.chartOfAccount.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
                this.form.exchangeRate = data.code == 'IDR' ? 1 : 0;
              }
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Chart Of Account', style: { width: '50vw' }, modal: true },
            data: { module: 'chart-of-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.discountChartOfAccountCode = data.code;
                this.form.discountChartOfAccountName = data.name;
              }
            },
          });
          break;
        case 'giro-payment':
          this.$dialog.open(LookUpGiroPayment, {
            props: { header: 'Search Giro Payment', style: { width: '75vw' }, modal: true },
            data: { module: 'giro-payment/lookUp' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.giroPaymentCode = data.code;
                this.form.giroBankCode = data.bankCode;
                this.form.giroDueDate = data.dueDate;
                this.form.totalTransactionAmount = data.amount;
                this.form.currencyCode = data.currencyCode;
                this.form.currencyName = data.currencyName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'debit':
          this.detail[index].debit = data['debit'];
          this.detail[index].debitIDR = data['debit'] * this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'debitIDR':
          this.detail[index].debitIDR = data['debitIDR'];
          this.detail[index].debit = data['debitIDR'] * this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'credit':
          this.detail[index].credit = data['credit'];
          this.detail[index].creditIDR = data['credit'] * this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        case 'creditIDR':
          this.detail[index].creditIDR = data['creditIDR'];
          this.detail[index].credit = data['creditIDR'] * this.detail[index].exchangeRate;
          this.calculationSummary();
          break;
        default:
          break;
      }
      // this.calculationSummary();
    },
    calculationSummary() {
      this.form.totalTransactionAmountForex = 0;
      this.form.creditForeign = 0;
      this.form.creditIDR = 0;
      this.form.debitForeign = 0;
      this.form.debitIDR = 0;
      this.form.creditForeign = this.form.totalTransactionAmount;
      this.form.creditIDR = this.form.totalTransactionAmount * this.form.exchangeRate;
      this.detail.forEach((datas) => {
        this.form.debitForeign += parseFloat(datas.debit);
        this.form.debitIDR += parseFloat(datas.debitIDR);
        this.form.creditForeign += parseFloat(datas.credit);
        this.form.creditIDR += parseFloat(datas.creditIDR);
      });

      this.form.balanceForeign = this.form.creditForeign - this.form.debitForeign;
      this.form.balanceIDR = this.form.creditIDR - this.form.debitIDR;
      this.form.totalTransactionAmountForex = this.form.balanceForeign - this.form.balanceIDR;
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
