<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Bank Payment</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <template v-slot:end>
              <div class="col-6 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="printData" /></div>
              <div class="col-6 p-1 m-0"><Button label="Export" icon="pi pi-upload" class="p-button-warning text-center" @click="printData" /></div>
							<!-- <div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
							<div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div> -->
						</template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">BP No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Cash Payment" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                  <div class="col-5 md:col-5 m-0 p-1">
                    <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                  </div>
                </div>
                <div class="col-12 md:col-8 field grid m-0 p-0"></div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="col-5 md:col-4 m-0 p-1">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="min-width: 7em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="branchCode" header="Branch" style="min-width: 15em" :sortable="true"></Column>
              <Column field="code" header="BP No" style="min-width: 15em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="currencyCode" header="Currency" style="min-width: 6em" :sortable="true"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="min-width: 8em; justify-content: right" :sortable="true">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
              </Column>
              <Column field="totalTransactionAmount" header="Amount" style="min-width: 10em; justify-content: right" :sortable="true">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalTransactionAmount) }}</template>
              </Column>
              <Column field="totalTransactionAmountIDR" header="AmountIDR" style="min-width: 10em; justify-content: right" :sortable="true">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalTransactionAmountIDR) }}</template>
              </Column>
              <Column field="transactionType" header="Type" style="min-width: 10em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listPrqDetail"
              :loading="loadingPrqDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">PAYMENT REQUEST</label></div>
              </template>
              <Column field="Index" header="No" style="min-width: 5rem"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="paymentRequestCode" header="PYM-RQ No" style="min-width: 13rem" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12rem" :sortable="true"></Column>
              <Column field="totalTransactionAmount" header="Total Transaction" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalTransactionAmount) }}</template>
              </Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
            </DataTable>

            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">DOCUMENT DETAIL</label></div>
              </template>
              <Column field="Index" header="No" style="min-width: 4rem"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="paymentRequestDetailCode" header="PYQ Detail" style="min-width: 15rem" :sortable="true"></Column>
              <Column field="documentNo" header="Document No" style="min-width: 12rem" :sortable="true"></Column>
              <Column field="documentBranchCode" header="Document Branch" style="min-width: 8rem" :sortable="true"></Column>
              <Column field="documentDate" header="Document Date" style="min-width: 8rem" :sortable="true"></Column>
              <Column field="chartOfAccountCode" header="Chart Of Account Code" style="min-width: 12rem"></Column>
              <Column field="chartOfAccountName" header="Chart Of Account Name" style="min-width: 12rem"></Column>
              <Column field="currencyCode" header="Currency" style="min-width: 6rem" :sortable="true"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="min-width: 8rem; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
              </Column>
              <Column field="transactionStatus" header="Transaction Status" style="min-width: 8rem"></Column>
              <Column field="amountForeign" header="Amount (Foreign)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.amountForeign) }}</template>
              </Column>
              <Column field="amountIDR" header="Amount (IDR)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.amountIDR) }}</template>
              </Column>
              <Column field="balanceForeign" header="Balance (Foreign)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.balanceForeign) }}</template>
              </Column>
              <Column field="balanceIDR" header="Balance (IDR)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.balanceIDR) }}</template>
              </Column>
              <Column field="debit" header="Debit (Foreign)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.debit) }}</template>
              </Column>
              <Column field="credit" header="Credit (Foreign)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.credit) }}</template>
              </Column>
              <Column field="debitIDR" header="Debit (IDR)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.debitIDR) }}</template>
              </Column>
              <Column field="creditIDR" header="Credit (IDR)" style="min-width: 12rem; justify-content: right">
                <template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.creditIDR) }}</template>
              </Column>
              <Column field="remark" header="Remark" style="min-width: 12rem"></Column>
            </DataTable>

            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 md:col-7 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Debit</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(debitForeign)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(debitIDR)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Credit</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(creditForeign)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(creditIDR)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Balance</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(balanceForeign)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(balanceIDR)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <div class="col-4 md:col-4 m-0 p-0 px-1"></div>
                  <label class="col-4 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold"></label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><label class="col-4 md:col-1 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Forex Gain / Loss</label></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-4 md:col-4 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Amount (IDR)</label>
                  <div class="col-8 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(forexGainLoss)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
// import EventBus from '@/setting/event-bus';
import { BaseFinanceUrl } from '@/api/endpoint/base';
import { FinanceControllers } from '@/controllers/finance/FinanceControllers';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    finance: new FinanceControllers(),
    baseImport: BaseFinanceUrl() + '/bank-payment/imports?',
    baseExport: BaseFinanceUrl() + '/bank-payment/exports?',
    basePrint: BaseFinanceUrl() + '/bank-payment/print?',
    code: null,
    list: [],
    listDetail: [],
    listPrqDetail: [],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchRefNo: '',
    searchRemark: '',
    searchPaymentTo: '',

    totalTransactionAmount: 0,
    totalTransactionAmountIDR: 0,
    debitForeign: 0,
    creditForeign: 0,
    debitIDR: 0,
    creditIDR: 0,
    balanceForeign: 0,
    balanceIDR: 0,
    forexGainLoss: 0,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    isdelete: false,
    selectedRows: false,
    loadingDetails: false,
    loadingPrqDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      this.listPrqDetail = [];
      const field = {
        code: this.searchCode,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('bank-payment', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      this.resetSummary();
      return (this.list = temp.data);
    },
    async getListPrqDetail() {
      this.listPrqDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingPrqDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: 1000,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('bank-payment/prq', field);
      this.loadingPrqDetails = false;
      this.getListDetail();
      return (this.listPrqDetail = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: 1000,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.finance.searchFinance('bank-payment/detail', field);
      this.loadingDetails = false;
      this.listDetail = temp.data;
      this.calculationSummary();
      return this.listDetail;
    },
    calculationSummary() {
      console.log('hitung');
      console.log(this.listDetail);
      let totalCreditForeign = 0;
      let totalDebitForeign = 0;
      let totalCreditIDR = 0;
      let totalDebitIDR = 0;
      this.listDetail.forEach((datas) => {
        totalCreditForeign += datas.credit;
        totalDebitForeign += datas.debit;
        totalCreditIDR += datas.creditIDR;
        totalDebitIDR += datas.debitIDR;
      });
      this.creditForeign = totalCreditForeign + this.totalTransactionAmount;
      this.creditIDR = totalCreditIDR + this.totalTransactionAmountIDR;
      this.debitForeign = totalDebitForeign;
      this.debitIDR = totalDebitIDR;
      this.balanceForeign = this.creditForeign - this.debitForeign;
      this.balanceIDR = this.creditIDR - this.debitIDR;
    },
    createData() {
      this.$router.push({ path: '/finance/bank-payment/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/finance/bank-payment/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.finance.deleteFinance('bank-payment', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    async printData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      const param = {
        code: this.code,
      };
      let url = await this.finance.printFinance('bank-payment/pdf', param);
      if (url.data?.data) {
        window.open(url.data.data);
      }
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.totalTransactionAmount = event.data.totalTransactionAmount;
        this.totalTransactionAmountIDR = event.data.totalTransactionAmount;

        this.getListPrqDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      this.listPrqDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    resetSummary() {
      this.debitForeign = 0;
      this.creditForeign = 0;
      this.debitIDR = 0;
      this.creditIDR = 0;
      this.balanceForeign = 0;
      this.balanceIDR = 0;
      this.forexGainLoss = 0;
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
