<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
          <Panel header="Purchase Request Approval" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-8">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">PRQ No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.transactionDate" placeholder="dd/mm/yyyy" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-3">
                    <InputText v-model="form.branchCode" placeholder="branch code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Division</label>
                  <div class="col-6 md:col-3">
                    <InputText v-model="form.divisionCode" placeholder="division code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.divisionName" placeholder="division name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Department</label>
                  <div class="col-6 md:col-3">
                    <InputText v-model="form.departmentCode" placeholder="department code" disabled="true" />
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.departmentName" placeholder="department name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Requset By</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.requestBy" placeholder="request by" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ref No</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.refNo" placeholder="ref No" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" disabled="true"/>
                  </div>
                </div>
                <div class="field grid pt-3">
                  <label class="col-12 md:col-4">Approval Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="APPROVED" name="status" value="APPROVED" v-model="form.approvalStatus" />
                      <label for="APPROVED">Approve</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="REJECT" name="status" value="REJECT" v-model="form.approvalStatus" />
                      <label for="REJECT">Reject</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Reason</label>
                  <div class="col-6 md:col-3">
                    <div class="p-inputgroup">
                      <InputText v-model="form.approvalReasonCode" placeholder="Enter reason" @change="searchChange('reason')" :class="{ 'p-invalid': isError && form.approvalReasonName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('reason')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-5">
                    <InputText v-model="form.approvalReasonName" placeholder="reason name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Approval Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.approvalRemark" rows="3" cols="20"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="md:col-4"></label>
                  <div class="col-6 md:col-3"><Button label="Approve" class="p-button-warning" @Click="submit"></Button></div>
                  <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
                </div>
              </div>
            </div>
          </Panel>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="listDetail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">ITEM DETAIL</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="onHandStock" header="OnHand Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="minStock" header="Min Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.minStock) }}</template>
            </Column>
            <Column field="maxStock" header="Max Stock" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.maxStock) }}</template>
            </Column>
            <Column field="quantity" header="QTY" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import {PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    purchase: new PurchaseControllers(),
    isError: false,
    submitted: false,
    loadingDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: null,
      branchName: null,
      divisionCode: null,
      divisionName: null,
      departmentCode: null,
      departmentName: null,
      requestBy: null,
      refNo: null,
      remark: null,
      approvalStatus: 'APPROVED',
      approvalReasonCode: null,
      approvalReasonName: null,
      approvalRemark: null,
    },
    listDetail: [
      {
        code: '',
        itemCode: '',
        itemName: '',
        onHandStock: 0,
        minStock: 0,
        maxStock: 0,
        quantity: 0,
        unitOfMeasureCode: '',
        remark:''
      },
    ],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.purchase.dataPurchase('purchase-request', { code: data });
      this.form = temp.data;
      this.form.transactionDate = moment(temp.data.transactionDate, 'DD-MM-YYYY').format('DD/MM/YYYY');
      this.form.approvalStatus = 'APPROVED';

    },
    async getListDetail() {
      this.listDetail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-request/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
          if (this.form.approvalStatus == 'REJECT' && this.form.approvalReasonCode =="") {
              this.isError = true;
              this.$toast.add({ severity: 'warn', summary: " Approval Reason can't be null!", life: 3000 });
              throw BreakException;
          }

        this.listDetail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate,'DD/MM/YYYY').format("YYYY-MM-DD");
        formSubmit.approvalStatus = this.form.approvalStatus === 'APPROVED' ? 'APPROVED' : 'REJECT';
        //Add Grid Detail
        formSubmit.listPurchaseRequestDetail = this.listDetail;
        if (this.submitted) {
          await this.purchase.updatePurchase('purchase-request/approve', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'reason':
          temp = await this.master.dataMaster(master, {code:this.form.approvalReasonCode});
          if (temp) {
            this.form.approvalReasonCode = temp.data.code;
            this.form.approvalReasonName = temp.data.name;
          }else{
            this.form.approvalReasonCode = null;
            this.form.approvalReasonName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'reason':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Reason', style: { width: '50vw' }, modal: true },
            data: { module: 'approval-reason' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.approvalReasonCode = data.code;
                this.form.approvalReasonName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
